<!-- <div class="row mb-4">
    <div class="col text-left">
        <a class="text-primary back" (click)="regresar()">Regresar</a>
    </div>
</div> -->

<div class="card col-md-6 mx-auto px-0">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <h4 class="text-primary">Ver Geometría</h4>
    </div>
    <hr class="line" />
    <h5>
      <b>{{ geometry.text }}</b>
    </h5>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-borderless">
          <tbody>
            <tr *ngFor="let item of geometry.measures">
              <th scope="row">{{ item.name }}</th>
              <td>{{ "{" + item.measure + "}" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <img
          [src]="geometry.image"
          onerror="this.src='../../../../../../assets/images/nofound.png'"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </div>
  <div class="card-footer">
    <h6 class="text-center">Fórmula de volúmen</h6>
    <span> {{ geometry.weight_formula }} </span>
  </div>
</div>
