.imagen {
    width: 60px !important;
    height: 60px !important;
    padding: 1px;
}

.imagen2 {
    width: 40px !important;
    height: 40px !important;
    padding: 1px;
}
.border-3 {
    border-width: 3px !important;
}

.rounded-bottom {
    border-bottom-right-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}
