<div class="card">
    <div class="card-body">
        <div class="card-title">
            <button class="btn btn-sm btn-primary" style="float: right;" (click)="openModal()">
               <i class="fa fa-plus"></i> Agregar
           </button>
            <h5 class="text-primary">Licencias de Conducción</h5>
        </div>
        <hr class="bg-primary">
        <table class="table table-borderless table-striped mt-4" *ngIf="!loading && licenses.length > 0; else notData">
            <thead class="bg-light">
                <tr>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let license of licenses" [ngClass]="{'bg-danger text-white': (license.state == 'Inactivo')}">
                    <td> {{ license.type }} </td>
                    <td> {{ license.description }} </td>
                    <td>
                        <div class="text-center">
                            <div ngbDropdown class="dropdown-primary">
                                <button ngbDropdownToggle class="btn btn-primary btn-sm waves-effect waves-light " type="button">
                                    <i class="mdi mdi-chevron-down"></i>
                                </button>
                                <div ngbDropdownMenu>
                                    <a class="dropdown-item waves-light text-info waves-effect caja-botones" (click)="getDrivingLicense(license); modal.show()">
                                        <i class="far fa-edit"></i> Editar
                                    </a>
                                    <a *ngIf="license.state == 'Inactivo'" (click)="activateOrInactivate(license, 'Activo')" class="dropdown-item waves-light text-success waves-effect">
                                        <i class="fas fa-check"></i> Activar
                                    </a>
                                    <a *ngIf="license.state == 'Activo'" (click)="activateOrInactivate(license, 'Inactivo')" class="dropdown-item waves-light text-danger waves-effect">
                                        <i class="fas fa-trash-alt"></i> Anular
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination class="d-flex justify-content-center pagination-rounded pagination-sm" [collectionSize]="pagination.collectionSize" [pageSize]="pagination.pageSize" [(page)]="pagination.page" (pageChange)="getDrivingLicenses($event)" aria-label="Default pagination"
            maxSize="5" rotate="true" ellipses="false" boundaryLinks="true" rotate="true" ellipses="false" boundaryLinks="true">
        </ngb-pagination>
    </div>
</div>
<app-modal-basic #modal [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <h5 class="modal-title"> {{ title }} </h5>
        <button type="button" class="close basic-close" (click)="modal.hide(); form.reset()">
            <span aria-hidden="true">
              <i class="fas fa-times" (click)="modal.hide(); form.reset()"></i>
            </span>
        </button>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="form">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="custom-label" for="">Tipo</label>
                    <input type="text" class="form-control form-control-sm" formControlName="type">
                </div>
                <div class="form-group col-md-12">
                    <label class="custom-label" for="">Descripción</label>
                    <input type="text" class="form-control form-control-sm" formControlName="description">
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="form-group text-right">
            <button (click)="modal.hide(); form.reset()" type="button" class="btn btn-danger raised mr-2 btn-sm">Cerrar</button>
            <button type="submit" class="btn btn-primary btn-sm raised" [disabled]="!form.valid" (click)="save()">Guardar</button>
        </div>
    </div>
</app-modal-basic>
<ng-template #notData>
    <app-not-data [loading]="loading"></app-not-data>
</ng-template>