<div class="card">
    <div class="card-body">
        <div class="card-title">
            <button class="btn btn-primary btn-sm" style="float: right;" (click)="openModalM()">Agregar nuevo Municipio</button>
            <h5>Municipios</h5>
            <p>Municipios del País</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input type="number" placeholder="Código del Municipio" class="form-control form-control-sm" (change)="getAllMunicipalities()" [(ngModel)]="filtro.code">
            </div>
            <div class="col-sm-4">
                <input type="text" placeholder="Nombre del Municipio" class="form-control form-control-sm" (change)="getAllMunicipalities()" [(ngModel)]="filtro.name">
            </div>
            <div class="col-sm-4">
                <input type="text" placeholder="Nombre del Departamento" class="form-control form-control-sm" (change)="getAllMunicipalities()" [(ngModel)]="filtro.department">
            </div>
        </div>
        <table class="table table-bordered table-striped table-sm mt-4" *ngIf="!loading && municipios.length > 0; else notData">
            <thead class="bg-light">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Departamento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let municipio of municipios">
                    <th scope="row"> {{ municipio.code }} </th>
                    <th> {{ municipio.name }} </th>
                    <th> {{ municipio.department.name }} </th>
                </tr>
            </tbody>
        </table>
    </div>
    <ngb-pagination class="d-flex justify-content-center pagination-rounded pagination-sm" [collectionSize]="pagination.collectionSize" (pageChange)="getAllMunicipalities($event)" [pageSize]="pagination.pageSize" maxSize="5" rotate="true" ellipses="false"
        boundaryLinks="true" [(page)]="pagination.page" aria-label="Default pagination">
    </ngb-pagination>
</div>
<app-modal-basic #modal [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <h5 class="modal-title"> Nuevo Municipio </h5>
        <button type="button" class="close basic-close" (click)="modal.hide()">
          <span aria-hidden="true">
            <i class="fas fa-times" (click)="modal.hide()"></i>
          </span>
        </button>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="form">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="custom-label" for="municipality_name">Nombre</label>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="municipality.name" [class.is-invalid]="name_municipality" formControlName="name" id="municipality_name" required>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="name_municipality"> Es necesario el nombre del Municipio 
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="custom-label" for="municipality_code">Código</label>
                    <input type="number" class="form-control form-control-sm" [(ngModel)]="municipality.code" [class.is-invalid]="code_municipality" formControlName="code" id="municipality_code" required>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="code_municipality"> Es necesario el código del Municipio 
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="custom-label" for="municipality_department">Departamento</label>
                    <ng-select [items]="munic" id="municipality_department" [(ngModel)]="municipality.department_id" [class.is-invalid]="department_municipality" formControlName="department_id" bindLabel="text" bindValue="value" loadingText="loading " ngDefaultControl>
                    </ng-select>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="department_municipality"> Es necesario el departamento 
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="custom-label" for="municipality_code_dane">Código Dane</label>
                    <input type="number" class="form-control form-control-sm" [(ngModel)]="municipality.codigo_dane" [class.is-invalid]="code_dane_municipality" formControlName="code_dane" id="municipality_code_dane" required>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="code_dane_municipality"> Es necesario el código dane 
                        </small>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="form-group text-right">
            <button (click)="modal.hide()" type="button" class="btn btn-danger raised mr-2 btn-sm">Cerrar</button>
            <button type="submit" class="btn btn-primary btn-sm raised" (click)="createNewMunicipality()" [disabled]="!form.valid">Guardar Municipio</button>
        </div>
    </div>
</app-modal-basic>
<!-- End municipalities -->
<ng-template #notData>
    <app-not-data [loading]="loading"></app-not-data>
</ng-template>