.funcionario-fila {
  padding:10px;
}

.img-funcionario {
  width: 38px;
  border-radius: 50%;
  padding: 5px;
  border:1px solid #ccc;
}
.centro-nombre {
  font-weight: bold;
  text-transform: uppercase;
}
.container-spinner {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dependency{
  border-bottom: 1px solid #c0c0c0;
}

img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
