<div class="card" *ngIf="form">
  <div class="card-body">
    <app-cabecera [datosCabecera]="datosCabecera"></app-cabecera>
    <hr class="line" />
    <ng-container [formGroup]="form">
      <div class="row">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Nombre de la solicitud</mat-label>
          <input
            matInput
            id="request_name"
            type="text"
            placeholder="Ingresa el nombre"
            formControlName="name"
            name="solicitud"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Fecha de entrega</mat-label>
          <input
            matInput
            id="date"
            type="date"
            [min]="today"
            formControlName="date"
            name="plazo"
            required
            autocomplete="off"
          />
        </mat-form-field>
        <div class="col mb-4">
          <ng-select
            [items]="companies"
            formControlName="third_party_id"
            placeholder="Tercero *"
            [appendTo]="'body'"
            appearance="outline"
            [clearable]="false"
            [class.is-invalid]="form.get('third_party_id').invalid"
            bindValue="value"
            bindLabel="text"
            required
          >
          </ng-select>
        </div>
        <div class="col mb-4">
          <ng-select
            [items]="contacts"
            formControlName="third_party_person_id"
            placeholder="Contacto *"
            bindLabel="text"
            [appendTo]="'body'"
            [clearable]="false"
            [class.is-invalid]="form.get('third_party_person_id').invalid"
            appearance="outline"
            bindValue="value"
            notFoundText="No hay registros"
          >
          </ng-select>
        </div>
        <div class="col mb-4">
          <ng-select
            [items]="countries"
            formControlName="country_id"
            placeholder="País *"
            (change)="filterDepartments($event.value)"
            [clearable]="false"
            [class.is-invalid]="form.get('country_id').invalid"
            bindLabel="text"
            [appendTo]="'body'"
            appearance="outline"
            bindValue="value"
            ngDefaultControl
            notFoundText="No hay registros"
          >
          </ng-select>
        </div>
        <div class="col mb-4">
          <ng-select
            [items]="cities"
            formControlName="city_id"
            [clearable]="false"
            [class.is-invalid]="form.get('city_id').invalid"
            bindLabel="text"
            bindValue="value"
            ngDefaultControl
            [appendTo]="'body'"
            appearance="outline"
            placeholder="Ciudad *"
            notFoundText="No hay registros"
          >
          </ng-select>
        </div>
        <mat-form-field
          class="col-md-12 mat-form-field-no-padding textarea"
          appearance="outline"
        >
          <mat-label>Descripción</mat-label>
          <textarea
            matInput
            placeholder="Ingrese la descripción"
            rows="5"
            formControlName="description"
            id="descripcion"
            name="description"
            [cdkTextareaAutosize]="true"
          ></textarea>
        </mat-form-field>
      </div>
      <hr />
      <div class="mt-3">
        <div class="row">
          <div class="col-md mb-3">
            <h6>Presupuestos disponibles</h6>
          </div>
          <div class="col-md mb-3 text-right">
            <div class="btn-group rounded w-sm-100">
              <button
                class="btn btn-primary btn-sm"
                type="button"
                (click)="openNewTab('/crm/presupuesto/crear')"
              >
                <i class="fa fa-plus"></i> Nuevo
              </button>
              <button
                class="btn btn-info btn-sm"
                (click)="openClose(matPanelPresupuesto)"
              >
                <i class="fas fa-sliders-h"></i> Filtros
              </button>
            </div>
          </div>
        </div>
        <mat-expansion-panel
          #matPanelPresupuesto="matExpansionPanel"
          class="mat-elevation-z0"
        >
          <div class="row">
            <ng-container [formGroup]="formFiltersBudgets">
              <div class="col-md-3 mat-form-field-wrapper">
                <ng-select
                  [items]="people"
                  formControlName="person_id"
                  bindLabel="text"
                  appearance="outline"
                  [appendTo]="'body'"
                  [clearable]="false"
                  placeholder="Quién elabora"
                  bindValue="value"
                >
                </ng-select>
              </div>
              <mat-form-field class="col" appearance="outline">
                <mat-label>Código</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Busca por código"
                  formControlName="code"
                  autocomplete="off"
                />
              </mat-form-field>
              <!-- <mat-form-field class="col" appearance="outline">
                <mat-label>Cliente</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Busca por cliente"
                  formControlName="customer"
                  autocomplete="off"
                />
              </mat-form-field> -->
              <mat-form-field class="col" appearance="outline">
                <mat-label>Destino</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Busca por destino"
                  formControlName="municipality_id"
                  autocomplete="off"
                />
              </mat-form-field>
              <mat-form-field class="col" appearance="outline">
                <mat-label>Línea</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Busca por línea"
                  formControlName="line"
                  autocomplete="off"
                />
              </mat-form-field>
            </ng-container>
          </div>
        </mat-expansion-panel>

        <ng-container
          *ngIf="!loadingBudgets && budgets.length > 0; else notDataBudgets"
        >
          <ng-container *ngIf="budgets.length > 0; else notDataAd">
            <div class="rounded-top table-responsive">
              <table
                class="table table-bordered table-striped table-sm mt-2"
                style="font-size: smaller"
              >
                <thead class="bg-light">
                  <tr class="text-center text-uppercase">
                    <th>Código</th>
                    <th>Fecha</th>
                    <th>Destino</th>
                    <th>Linea</th>
                    <th>Quien elabora</th>
                    <th>Total COP</th>
                    <th>Total USD</th>
                    <th><i class="mdi mdi-chevron-down"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let item of budgets"
                    class="text-center"
                    [ngClass]="{
                      'text-danger font-weight-bold': item.state == 'Inactivo'
                    }"
                  >
                    <td class="align-middle pb-0 text-left">
                      <mat-checkbox
                        color="primary"
                        (change)="guardarPresupuesto($event, item)"
                        >{{ item.code }}</mat-checkbox
                      >
                    </td>
                    <td class="align-middle">
                      {{ item.created_at | date : "longDate" }}
                    </td>
                    <td class="align-middle">{{ item.destiny.name }}</td>
                    <td class="align-middle">{{ item.line }}</td>
                    <td class="align-middle">
                      {{ item.user.person.first_name }}
                      {{ item.user.person.first_surname }}
                    </td>
                    <td class="align-middle">
                      ${{ item.total_cop | number : "1.2-2" }}
                    </td>
                    <td class="align-middle">
                      ${{ item.total_usd | number : "1.2-2" }}
                    </td>
                    <td class="align-middle">
                      <div
                        ngbDropdown
                        container="body"
                        class="d-inline-block dropdown-primary"
                      >
                        <button
                          ngbDropdownToggle
                          class="btn btn-primary btn-sm"
                          type="button"
                          id="dropdownBasic1"
                        >
                          <i class="mdi mdi-chevron-down"></i>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <a
                            class="dropdown-item waves-light text-success caja-botones"
                            href="javascript: void(0);"
                            (click)="
                              openNewTab('/crm/presupuesto/ver', item.id);
                              _modal.close()
                            "
                          >
                            <i class="far fa-eye"></i> Ver
                          </a>
                          <a
                            class="dropdown-item waves-light text-info caja-botones"
                            href="javascript: void(0);"
                            (click)="
                              openNewTab('/crm/presupuesto/editar', item.id);
                              _modal.close()
                            "
                          >
                            <i class="far fa-edit"></i> Editar
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ngb-pagination
              class="d-flex justify-content-center pagination-rounded pagination-sm"
              [collectionSize]="paginationBudgets.collectionSize"
              [pageSize]="paginationBudgets.pageSize"
              [(page)]="paginationBudgets.page"
              (pageChange)="getBudgets($event)"
              maxSize="5"
              rotate="true"
              ellipses="false"
              boundaryLinks="true"
            >
            </ngb-pagination>
          </ng-container>
        </ng-container>
      </div>
      <hr />
      <div class="mt-3">
        <div class="row">
          <div class="col-md mb-3">
            <h6>Cotizaciones disponibles</h6>
          </div>
          <div class="col-md mb-3 text-right">
            <div class="btn-group rounded w-sm-100">
              <button
                class="btn btn-primary btn-sm"
                (click)="openNewTab('/crm/cotizacion/crear')"
              >
                <i class="fa fa-plus"></i> Nuevo
              </button>
              <button
                class="btn btn-info btn-sm"
                (click)="openClose(matPanelCotizaciones)"
              >
                <i class="fas fa-sliders-h"></i> Filtros
              </button>
            </div>
          </div>
        </div>
        <mat-expansion-panel
          #matPanelCotizaciones="matExpansionPanel"
          class="mat-elevation-z0"
        >
          <div class="row">
            <ng-container [formGroup]="form_filters_quotations">
              <mat-form-field class="col" appearance="outline">
                <mat-label>Ciudad</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="city"
                  autocomplete="off"
                  placeholder="Busca por ciudad"
                />
              </mat-form-field>
              <mat-form-field class="col" appearance="outline">
                <mat-label>Código</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="code"
                  autocomplete="off"
                  placeholder="Busca por código"
                />
              </mat-form-field>
              <mat-form-field class="col" appearance="outline">
                <mat-label>Línea</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="line"
                  autocomplete="off"
                  placeholder="Busca por línea"
                />
              </mat-form-field>
              <!-- <mat-form-field class="col" appearance="outline">
                <mat-label>Cliente</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="client"
                  autocomplete="off"
                  placeholder="Busca por cliente"
                />
              </mat-form-field> -->
              <mat-form-field class="col" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="description"
                  autocomplete="off"
                  placeholder="Busca por descripción"
                />
              </mat-form-field>
            </ng-container>
          </div>
        </mat-expansion-panel>

        <ng-container
          *ngIf="
            !loadingQuotations && quotations.length > 0;
            else notDataQuotations
          "
        >
          <ng-container *ngIf="quotations.length > 0; else notDataAd">
            <div class="rounded-top table-responsive">
              <table
                class="table table-bordered table-striped table-sm mt-2"
                style="font-size: smaller"
              >
                <thead class="bg-light">
                  <tr class="text-center text-uppercase">
                    <th>Código</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Destino</th>
                    <th>Total COP</th>
                    <th>Total USD</th>
                    <th><i class="mdi mdi-chevron-down"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of quotations" class="text-center">
                    <td class="align-middle pb-0 text-left">
                      <mat-checkbox
                        color="primary"
                        (change)="guardarCotizacion($event, item)"
                        >{{ item.code }}</mat-checkbox
                      >
                    </td>
                    <td class="align-middle">
                      {{ item.created_at | date : "longDate" }}
                    </td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.municipality.name }}</td>
                    <td class="align-middle">
                      ${{ item.total_cop | number : "1.2-2" }}
                    </td>
                    <td class="align-middle">
                      ${{ item.total_usd | number : "1.2-2" }}
                    </td>
                    <td>
                      <div
                        ngbDropdown
                        container="body"
                        class="dropdown-primary"
                      >
                        <button
                          ngbDropdownToggle
                          class="btn btn-primary btn-sm waves-light"
                          type="button"
                        >
                          <i class="mdi mdi-chevron-down"></i>
                        </button>
                        <div ngbDropdownMenu>
                          <a
                            class="dropdown-item waves-light text-success caja-botones"
                            href="javascript: void(0);"
                            (click)="
                              openNewTab('/crm/cotizacion/ver/', item.id);
                              _modal.close()
                            "
                          >
                            <i class="fas fa-eye"></i> Ver</a
                          >
                          <a
                            class="dropdown-item waves-light text-primary caja-botones"
                            href="javascript: void(0);"
                            (click)="
                              openNewTab('/crm/cotizacion/copiar/', item.id);
                              _modal.close()
                            "
                            ><i class="fas fa-copy"></i> Copiar</a
                          >
                          <a
                            class="dropdown-item waves-light text-info caja-botones"
                            href="javascript: void(0);"
                            (click)="
                              openNewTab('/crm/cotizacion/editar/', item.id);
                              _modal.close()
                            "
                            ><i class="fas fa-edit"></i> Editar</a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ngb-pagination
              class="d-flex justify-content-center pagination-rounded pagination-sm"
              [collectionSize]="paginationQuotations.collectionSize"
              [pageSize]="paginationQuotations.pageSize"
              [(page)]="paginationQuotations.page"
              (pageChange)="getQuotations($event)"
              maxSize="5"
              rotate="true"
              ellipses="false"
              boundaryLinks="true"
            >
            </ngb-pagination>
          </ng-container>
        </ng-container>
      </div>
      <hr />
      <div class="mt-3">
        <div class="row">
          <div class="col-md mb-3">
            <h6>APU seleccionados</h6>
          </div>
          <div class="col-md mb-3 text-right">
            <div class="btn-group rounded w-sm-100">
              <button
                class="btn btn-primary btn-sm"
                (click)="openNewTab('/crm/apus')"
              >
                <i class="fa fa-plus"></i> Nuevo
              </button>
              <button class="btn btn-warning btn-sm" (click)="findApus()">
                <i class="fas fa-plus"></i> Agregar
              </button>
            </div>
          </div>
        </div>
        <ng-container *ngIf="apuSelected.length > 0; else alertAPU">
          <div class="rounded-top table-responsive">
            <table
              class="table table-bordered table-striped table-sm mt-2"
              style="font-size: smaller"
            >
              <thead class="bg-light">
                <tr class="text-center text-uppercase">
                  <th scope="col">Código</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Línea</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Costo unitario</th>
                  <th><i class="mdi mdi-chevron-down"></i></th>
                  <th><i class="fas fa-trash"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of apuSelected" class="text-center">
                  <td>{{ item.code }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.line }}</td>
                  <td>{{ item.type_name }}</td>
                  <td>${{ item.unit_cost | number : "1.2-2" }}</td>
                  <td class="align-middle">
                    <div ngbDropdown container="body" class="dropdown-primary">
                      <button
                        ngbDropdownToggle
                        class="btn btn-primary btn-sm waves-light"
                        type="button"
                      >
                        <i class="mdi mdi-chevron-down"></i>
                      </button>
                      <div ngbDropdownMenu>
                        <a
                          *ngIf="item.type == 'S'"
                          class="dropdown-item waves-light text-success caja-botones"
                          href="javascript: void(0);"
                          (click)="
                            openNewTab('/crm/apu/ver-apu-servicio', item.apu_id)
                          "
                        >
                          <i class="far fa-eye"></i> Ver
                        </a>
                        <a
                          *ngIf="item.type == 'P'"
                          class="dropdown-item waves-light text-success caja-botones"
                          href="javascript: void(0);"
                          (click)="
                            openNewTab('/crm/apu/ver-apu-pieza', item.apu_id)
                          "
                        >
                          <i class="far fa-eye"></i> Ver
                        </a>
                        <a
                          *ngIf="item.type == 'C'"
                          class="dropdown-item waves-light text-success caja-botones"
                          href="javascript: void(0);"
                          (click)="
                            openNewTab('/crm/apu/ver-apu-conjunto', item.apu_id)
                          "
                        >
                          <i class="far fa-eye"></i> Ver
                        </a>
                        <a
                          *ngIf="item.type == 'S'"
                          class="dropdown-item waves-light text-info caja-botones"
                          href="javascript: void(0);"
                          (click)="
                            openNewTab(
                              '/crm/apu/editar-apu-servicio',
                              item.apu_id
                            )
                          "
                        >
                          <i class="far fa-edit"></i> Editar
                        </a>
                        <a
                          *ngIf="item.type == 'P'"
                          class="dropdown-item waves-light text-info caja-botones"
                          href="javascript: void(0);"
                          (click)="
                            openNewTab('/crm/apu/editar-apu-pieza', item.apu_id)
                          "
                        >
                          <i class="far fa-edit"></i> Editar
                        </a>
                        <a
                          *ngIf="item.type == 'C'"
                          class="dropdown-item waves-light text-info caja-botones"
                          href="javascript: void(0);"
                          (click)="
                            openNewTab(
                              '/crm/apu/editar-apu-conjunto',
                              item.apu_id
                            )
                          "
                        >
                          <i class="far fa-edit"></i> Editar
                        </a>
                        <a
                          *ngIf="item.type == 'P'"
                          class="dropdown-item waves-light text-primary caja-botones"
                          href="javascript: void(0);"
                          (click)="
                            openNewTab('/crm/apu/copiar-apu-pieza', item.apu_id)
                          "
                          ><i class="fas fa-copy"></i> Copiar</a
                        >
                        <a
                          *ngIf="item.type == 'C'"
                          class="dropdown-item waves-light text-primary caja-botones"
                          href="javascript: void(0);"
                          (click)="
                            openNewTab(
                              '/crm/apu/copiar-apu-conjunto',
                              item.apu_id
                            )
                          "
                          ><i class="fas fa-copy"></i> Copiar</a
                        >
                        <a
                          *ngIf="item.type == 'S'"
                          class="dropdown-item waves-light text-primary caja-botones"
                          href="javascript: void(0);"
                          (click)="
                            openNewTab(
                              '/crm/apu/copiar-apu-servicio',
                              item.apu_id
                            )
                          "
                          ><i class="fas fa-copy"></i> Copiar</a
                        >
                      </div>
                    </div>
                  </td>
                  <td>
                    <button type="button" (click)="deleteApu(item)" class="btn btn-danger btn-sm">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <ng-template #alertAPU>
          <div class="alert alert-warning" role="alert">
            Ningún APU agregado a este negocio
          </div>
        </ng-template>
        <mat-expansion-panel
          #matPanelAPU="matExpansionPanel"
          class="mat-elevation-z0"
        >
          FILTROS
        </mat-expansion-panel>
      </div>
    </ng-container>
    <button
      type="submit"
      (click)="saveBusiness()"
      class="btn btn-primary btn-block"
    >
      Guardar
    </button>
  </div>
</div>

<ng-template #notDataAd>
  <div class="alert alert-warning" role="alert">
    {{
      form.controls.third_party_id.valid &&
      (quotations.length || budgets.length)
        ? "No hemos encontrado información para este cliente"
        : "Selecciona un cliente para listar la información"
    }}
  </div>
</ng-template>

<app-get-apus #apus (sendApus)="getApus($event)"> </app-get-apus>

<ng-template #notDataBudgets>
  <app-not-data [loading]="loadingBudgets"></app-not-data>
</ng-template>

<ng-template #notDataQuotations>
  <app-not-data [loading]="loadingQuotations"></app-not-data>
</ng-template>

<!-- <div class="row">
          <ng-container [formGroup]="form_filters_quotations">
            <mat-form-field class="col" appearance="outline">
              <mat-label>Ciudad</mat-label>
              <input
                type="text"
                matInput
                formControlName="city"
                autocomplete="off"
                placeholder="Busca por ciudad"
              />
            </mat-form-field>
            <mat-form-field class="col" appearance="outline">
              <mat-label>Código</mat-label>
              <input
                type="text"
                matInput
                formControlName="code"
                autocomplete="off"
                placeholder="Busca por código"
              />
            </mat-form-field>
            <mat-form-field class="col" appearance="outline">
              <mat-label>Línea</mat-label>
              <input
                type="text"
                matInput
                formControlName="line"
                autocomplete="off"
                placeholder="Busca por línea"
              />
            </mat-form-field>
            <mat-form-field class="col" appearance="outline">
              <mat-label>Cliente</mat-label>
              <input
                type="text"
                matInput
                formControlName="client"
                autocomplete="off"
                placeholder="Busca por cliente"
              />
            </mat-form-field>
            <mat-form-field class="col" appearance="outline">
              <mat-label>Descripción</mat-label>
              <input
                type="text"
                matInput
                formControlName="description"
                autocomplete="off"
                placeholder="Busca por descripción"
              />
            </mat-form-field>
          </ng-container>
        </div>
        <ng-container
          *ngIf="
            !loadingQuotations && quotations.length > 0;
            else notDataQuotations
          "
        >
          <ng-container *ngIf="quotations.length > 0; else notDataAd">
            <div class="rounded-top table-responsive">
              <table
                class="table table-bordered table-striped table-sm mt-2"
                style="font-size: smaller"
              >
                <thead class="bg-light">
                  <tr class="text-center text-uppercase">
                    <th>Código</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Destino</th>
                    <th>Linea</th>
                    <th>Total COP</th>
                    <th>Total USD</th>
                    <th><i class="mdi mdi-chevron-down"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of quotations" class="text-center">
                    <td class="align-middle pb-0">
                      <mat-checkbox
                        color="primary"
                        (change)="guardarCotizacion($event, item)"
                        [id]="item.id"
                        >{{ item.code }}</mat-checkbox
                      >
                    </td>
                    <td class="align-middle">
                      {{ item.created_at | date : "longDate" }}
                    </td>
                    <td class="align-middle">{{ item.client.full_name }}</td>
                    <td>{{ item.municipality.name }}</td>
                    <td class="align-middle">{{ item.line }}</td>
                    <td class="align-middle">
                      ${{ item.total_cop | number : "1.2-2" }}
                    </td>
                    <td class="align-middle">
                      ${{ item.total_usd | number : "1.2-2" }}
                    </td>
                    <td>
                      <div
                        ngbDropdown
                        container="body"
                        class="dropdown-primary"
                      >
                        <button
                          ngbDropdownToggle
                          class="btn btn-primary btn-sm waves-light"
                          type="button"
                        >
                          <i class="mdi mdi-chevron-down"></i>
                        </button>
                        <div ngbDropdownMenu>
                          <a
                            class="dropdown-item waves-light text-success caja-botones"
                            href="javascript: void(0);"
                            [routerLink]="['/crm/cotizacion/ver/', item.id]"
                            (click)="_modal.close()"
                          >
                            <i class="fas fa-eye"></i> Ver</a
                          >
                          <a
                            class="dropdown-item waves-light text-primary caja-botones"
                            href="javascript: void(0);"
                            [routerLink]="['/crm/cotizacion/copiar/', item.id]"
                            (click)="_modal.close()"
                            ><i class="fas fa-copy"></i> Copiar</a
                          >
                          <a
                            class="dropdown-item waves-light text-info caja-botones"
                            href="javascript: void(0);"
                            [routerLink]="['/crm/cotizacion/editar/', item.id]"
                            (click)="_modal.close()"
                            ><i class="fas fa-edit"></i> Editar</a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ngb-pagination
              class="d-flex justify-content-center pagination-rounded pagination-sm"
              [collectionSize]="paginationQuotations.collectionSize"
              [pageSize]="paginationQuotations.pageSize"
              [(page)]="paginationQuotations.page"
              (pageChange)="getQuotations($event)"
              maxSize="5"
              rotate="true"
              ellipses="false"
              boundaryLinks="true"
            >
            </ngb-pagination>
          </ng-container>
        </ng-container> -->
