<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">
          Diseño
          <span style="font-size: smaller" *ngIf="paginationMaterial"
            ><small class="pb-2 text-secondary text-muted"
              >pág. {{ paginationMaterial.current_page }}</small
            ></span
          >
        </h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-expansion-panel #matPanel="matExpansionPanel" class="mat-elevation-z0">
      <ng-container [formGroup]="formFilters">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Código</mat-label>
            <input
              type="text"
              matInput
              formControlName="code"
              autocomplete="off"
              placeholder="Busca por código"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="status">
              <mat-option value="">Todas</mat-option>
              <mat-option value="pendiente">Pendiente</mat-option>
              <mat-option value="proceso">En proceso</mat-option>
              <mat-option value="completado">Completado</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
    </mat-expansion-panel>
    <div class="alert alert-info" *ngIf="active_filters" role="alert">
      <strong
        >Hay filtros de búsqueda activos, para mostrar todos los resultados haz
        click
      </strong>
      <a href="javascript: void(0)" (click)="resetFiltros()" class="alert-link"
        >aquí</a
      >
    </div>
    <ng-container *ngIf="!loading && work_orders.length > 0; else notData">
      <div class="rounded-top table-responsive">
        <table class="table table-bordered table-striped table-sm">
          <thead class="bg-light">
            <tr class="text-center text-uppercase">
              <th scope="col">Código</th>
              <th scope="col">Fecha de asignación</th>
              <th scope="col">Tiempo previsto</th>
              <th scope="col">Asignada por</th>
              <th scope="col">Inicio</th>
              <th scope="col">Fin</th>
              <th scope="col">Transcurrido</th>
              <th scope="col">Estado</th>
              <th><i class="mdi mdi-chevron-down"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor="let item of work_orders">
              <td>{{ item.work_order.code }}</td>
              <td>{{ item.created_at | date }}</td>
              <td>{{ item.hours }}h. {{ item.minutes }}m.</td>
              <td>{{ item.allocator_person.person }}</td>
              <td>{{ (item.start_time | date: 'MMM d, y, h:mm a') || 'SIN INFORMACIÓN' }}</td>
              <td>{{ (item.end_time | date: 'MMM d, y, h:mm a') || 'SIN INFORMACIÓN' }}</td>
              <td>{{ item.duration || "Espera..." }}</td>
              <td>
                <span
                  class="badge"
                  [class]="
                    item.status == 'pendiente'
                      ? 'badge-danger'
                      : item.status == 'proceso'
                      ? 'badge-warning'
                      : item.status == 'completado'
                      ? 'badge-success'
                      : ''
                  "
                  >{{ item.status | titlecase }}</span
                >
              </td>
              <td>
                <div ngbDropdown container="body" class="dropdown-primary">
                  <button
                    ngbDropdownToggle
                    class="btn btn-primary btn-sm waves-light"
                    type="button"
                  >
                    <i class="mdi mdi-chevron-down"></i>
                  </button>
                  <div ngbDropdownMenu>
                    <a
                      class="dropdown-item waves-light text-success caja-botones"
                      href="javascript: void(0);"
                      [routerLink]="['/manufactura/diseño/ver', item.id]"
                    >
                      <i class="fas fa-eye"></i> Ver</a
                    >
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <mat-paginator
        *ngIf="paginationMaterial"
        [length]="paginationMaterial.total"
        [pageSize]="paginationMaterial.per_page"
        [pageIndex]="paginationMaterial.current_page - 1"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="handlePageEvent($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </ng-container>
  </div>
</div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
