<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Tipos de activos fijos</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button
            class="btn btn-primary btn-sm"
            (click)="openConfirm(add, 'Nuevo tipo de activo fijo')"
          >
            <i class="fa fa-plus"></i> Agregar
          </button>
          <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input
              type="text"
              matInput
              [(ngModel)]="filtros.name"
              (input)="getFixedAssetTypes()"
              name="name"
              autocomplete="off"
              placeholder="Busca por nombre"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Categorías</mat-label>
            <mat-select
              [(ngModel)]="filtros.category"
              (selectionChange)="getFixedAssetTypes()"
            >
              <mat-option value="Tangible">Tangible</mat-option>
              <mat-option value="Intangible">Intangible</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Vida útil</mat-label>
            <input
              type="text"
              matInput
              [(ngModel)]="filtros.useful_life_niif"
              (input)="getFixedAssetTypes()"
              name="useful_life_niif"
              autocomplete="off"
              placeholder="Busca por vida útil"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Depreciación</mat-label>
            <input
              type="text"
              matInput
              [(ngModel)]="filtros.depreciation"
              (input)="getFixedAssetTypes()"
              name="depreciation"
              autocomplete="off"
              placeholder="Busca por depreciación"
            />
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="!loading && fixedAssets.length > 0; else notData"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th class="align-middle">Tipo Activo</th>
            <th class="align-middle">Categoría</th>
            <th class="align-middle">Vida Util</th>
            <th class="align-middle">% Depreciación</th>
            <th class="align-middle">Cuenta Depreciación NIIF</th>
            <th class="align-middle">Cuenta Depreciación PCGA</th>
            <th class="align-middle">Cuenta NIIF</th>
            <th class="align-middle">Cuenta PCGA</th>
            <th class="align-middle">Cuenta Credito NIIF</th>
            <th class="align-middle">Cuenta Credito PCGA</th>
            <th class="align-middle col-1">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of fixedAssets"
            class="text-center"
            [ngClass]="{
              'text-danger font-weight-bold': item.state == 'Inactivo'
            }"
          >
            <td class="align-middle">{{ item.name }}</td>
            <td class="align-middle">{{ item.category }}</td>
            <td class="align-middle">{{ item.useful_life_niif }} mes(es)</td>
            <td class="align-middle">
              {{ item.annual_depreciation_percentage_niif }} %
            </td>
            <td class="align-middle">
              {{ item.niif_account_plan_debit_depreciation }}
            </td>
            <td class="align-middle">
              {{ item.pcga_account_plan_debit_depreciation }}
            </td>
            <td class="align-middle">{{ item.niif_account_plan }}</td>
            <td class="align-middle">{{ item.pcga_account_plan }}</td>
            <td class="align-middle">
              {{ item.niif_account_plan_credit_depreciation }}
            </td>
            <td class="align-middle">
              {{ item.pcga_account_plan_credit_depreciation }}
            </td>
            <td class="align-middle">
              <div ngbDropdown container="body" class="dropdown-primary">
                <button
                  ngbDropdownToggle
                  class="btn btn-primary btn-sm waves-light"
                  type="button"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a
                    class="dropdown-item waves-light text-info caja-botones"
                    href="javascript: void(0);"
                    (click)="
                      getFixedAsset(item);
                      openConfirm(add, 'Editar tipo de activo fijo')
                    "
                  >
                    <i class="far fa-edit"></i> Editar</a
                  >
                  <a
                    *ngIf="item.state == 'Activo'"
                    href="javascript: void(0);"
                    class="dropdown-item waves-light text-danger caja-botones"
                    (click)="activateOrInactivate(item, 'Inactivo')"
                  >
                    <i class="far fa-trash-alt"></i> Anular</a
                  >
                  <a
                    *ngIf="item.state == 'Inactivo'"
                    href="javascript: void(0);"
                    class="dropdown-item waves-light text-success caja-botones"
                    (click)="activateOrInactivate(item, 'Activo')"
                  >
                    <i class="fa fa-check"></i> Activar</a
                  >
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="pagination.collectionSize"
      [pageSize]="pagination.pageSize"
      [(page)]="pagination.page"
      (pageChange)="getFixedAssetTypes($event)"
      aria-label="Default pagination"
      maxSize="5"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
    >
    </ngb-pagination>
  </div>
</div>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">{{ title }}</h4>
    <button
      type="button"
      class="btn btn-sm btn-flash-border-primary ri-close-fill"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa el nombre"
            formControlName="name"
            required
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Categoría</mat-label>
          <mat-select formControlName="category">
            <mat-option value="Tangible">Tangible</mat-option>
            <mat-option value="Intangible">Intangible</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Vida útil PCGA (meses)</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ingresa la vida útil"
            formControlName="useful_life_pcga"
            required
            (change)="calculateDepreciationPercentage('pcga')"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Vida útil NIIF (meses)</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ingresa la vida útil"
            formControlName="useful_life_niif"
            required
            (change)="calculateDepreciationPercentage('niif')"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Porcentaje de depreciación PCGA mensual</mat-label>
          <input
            matInput
            type="text"
            formControlName="annual_depreciation_percentage_pcga"
            required
            readonly
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Porcentaje de depreciación NIIF mensual</mat-label>
          <input
            matInput
            type="text"
            formControlName="annual_depreciation_percentage_niif"
            required
            readonly
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Cuenta activo PCGA</mat-label>
          <input
            matInput
            type="text"
            formControlName="pcga_account_plan_id"
            required
            [ngbTypeahead]="search"
            [inputFormatter]="inputFormatBandListValue"
            [resultFormatter]="resultFormatBandListValue"
            [editable]="false"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Cuenta activo NIIF</mat-label>
          <input
            matInput
            type="text"
            formControlName="niif_account_plan_id"
            required
            [ngbTypeahead]="searchNiif"
            [inputFormatter]="inputFormatListValueNiif"
            [resultFormatter]="resultFormatListValueNiif"
            [editable]="false"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Cuenta débito depreciación PCGA</mat-label>
          <input
            matInput
            type="text"
            formControlName="pcga_account_plan_debit_depreciation_id"
            required
            [ngbTypeahead]="search"
            [inputFormatter]="inputFormatBandListValue"
            [resultFormatter]="resultFormatBandListValue"
            [editable]="false"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Cuenta débito depreciación NIIF</mat-label>
          <input
            matInput
            type="text"
            formControlName="niif_account_plan_debit_depreciation_id"
            required
            [ngbTypeahead]="searchNiif"
            [inputFormatter]="inputFormatListValueNiif"
            [resultFormatter]="resultFormatListValueNiif"
            [editable]="false"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Cuenta crédito depreciación PCGA</mat-label>
          <input
            matInput
            type="text"
            formControlName="pcga_account_plan_credit_depreciation_id"
            required
            [ngbTypeahead]="search"
            [inputFormatter]="inputFormatBandListValue"
            [resultFormatter]="resultFormatBandListValue"
            [editable]="false"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Cuenta crédito depreciación NIIF</mat-label>
          <input
            matInput
            type="text"
            formControlName="niif_account_plan_credit_depreciation_id"
            required
            [ngbTypeahead]="searchNiif"
            [inputFormatter]="inputFormatListValueNiif"
            [resultFormatter]="resultFormatListValueNiif"
            [editable]="false"
            autocomplete="off"
          />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-default"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      (click)="save()"
      [disabled]="!form.valid"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
