//
// Fonts
//

// Nunito - Google Font
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../../fonts/inter-light.woff2?v=3.13") format("woff2"),
    url("../../../fonts/inter-light.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../fonts/inter-regular.woff2?v=3.13") format("woff2"),
    url("../../../fonts/inter-regular.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../../fonts/inter-medium.woff2?v=3.13") format("woff2"),
    url("../../../fonts/inter-medium.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  // src: url("../../../../fonts/inter-bold.woff2?v=3.13") format("woff2"),
  //      url("../../../../fonts/iter-bold.woff?v=3.13") format("woff");
}
