<div class="row" *ngIf="!loading && negocio; else notData">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 d-flex justify-content-center">
            <img
              [src]="negocio?.third_party.image | image"
              id="imageOutput"
              onerror="this.src='../../../../assets/images/noprofile.png'"
              class="d-block img-thumbnail rounded-circle img-fluid"
            />
          </div>

          <div class="col-md-3">
            <span class="badge badge-pill badge-primary">{{
              negocio?.code
            }}</span>
            <h6>
              {{
                negocio?.third_party.social_reason
                  ? negocio?.third_party.social_reason
                  : negocio?.third_party.full_name
              }}
            </h6>
            <small>
              <p>
                {{ negocio?.third_party_person.name | uppercase }} <br />
                {{ negocio?.date | date | uppercase }} <br />
                {{ negocio?.name | uppercase }} <br />
                {{ negocio?.country.name | uppercase }} <br />
              </p>
            </small>
          </div>
          <div class="col-md-5">
            <h6>Detalles:</h6>
            <p>
              <small>{{ negocio?.description }}</small>
            </p>
          </div>
          <div class="col-md-2">
            <img
              class="img-fluid"
              [src]="qr.changingThisBreaksApplicationSecurity"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="row card-title d-flex justify-content-between">
          <div class="col-md-6 px-0">
            <h4 class="text-primary">Presupuestos</h4>
          </div>
          <div class="col-md-6 px-0 text-right">
            <div class="btn-group rounded w-sm-100">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                (click)="openConfirm(add); getPresupuestos()"
              >
                <i class="fa fa-plus"></i> Agregar
              </button>
            </div>
          </div>
        </div>
        <div
          class="rounded-top table-responsive"
          *ngIf="!loading && negocio.business_budget.length > 0; else notData"
        >
          <table class="table table-bordered table-striped table-sm">
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th class="col-md-3">Código</th>
                <th class="col-md-3">Fecha</th>
                <th class="col-md-3">Valor</th>
                <th class="col-md-3">Estado</th>
                <th><i class="mdi mdi-chevron-down"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let pres of negocio?.business_budget"
                class="text-center"
              >
                <th class="align-middle" scope="row">
                  {{ pres?.budget.code }}
                </th>
                <td class="align-middle">
                  {{ pres?.budget.created_at | date }}
                </td>
                <td class="align-middle">
                  $ {{ pres?.budget.total_cop | number }}
                </td>

                <td class="align-middle">
                  <span
                    class="badge"
                    [class]="
                      pres?.status == 'Pendiente'
                        ? 'badge-warning'
                        : pres?.status == 'Rechazado'
                        ? 'badge-danger'
                        : pres?.status == 'Aprobado'
                        ? 'badge-success'
                        : ''
                    "
                    >{{ pres?.status }}</span
                  >
                </td>
                <td>
                  <div ngbDropdown container="body" class="dropdown-primary">
                    <button
                      ngbDropdownToggle
                      class="btn btn-primary btn-sm waves-light"
                      type="button"
                    >
                      <i class="mdi mdi-chevron-down"></i>
                    </button>
                    <div ngbDropdownMenu>
                      <a
                        class="dropdown-item waves-light text-success caja-botones"
                        href="javascript: void(0);"
                        [routerLink]="[
                          '/crm/presupuesto/ver/',
                          pres?.budget.id
                        ]"
                      >
                        <i class="fas fa-eye"></i> Ver</a
                      >
                      <ng-container
                        *ngIf="pres?.status == 'Pendiente'; else pendiente2"
                      >
                        <a
                          class="dropdown-item waves-light text-success caja-botones"
                          href="javascript: void(0);"
                          (click)="
                            changeStatusInBusiness('Aprobado', pres, 'budget')
                          "
                        >
                          <i class="fas fa-thumbs-up"></i> Aprobar</a
                        >
                        <a
                          class="dropdown-item waves-light text-danger caja-botones"
                          href="javascript: void(0);"
                          (click)="
                            changeStatusInBusiness('Rechazado', pres, 'budget')
                          "
                        >
                          <i class="fas fa-thumbs-down"></i> Rechazar</a
                        >
                      </ng-container>
                      <ng-template #pendiente2>
                        <a
                          class="dropdown-item waves-light text-warning caja-botones"
                          href="javascript: void(0);"
                          (click)="
                            changeStatusInBusiness('Pendiente', pres, 'budget')
                          "
                        >
                          <i class="fas fa-clock"></i> Pendiente</a
                        >
                      </ng-template>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row card-title d-flex justify-content-between">
          <div class="col-md-6 px-0">
            <h4 class="text-primary">Cotizaciones</h4>
          </div>
          <div class="col-md-6 px-0 text-right">
            <div class="btn-group rounded w-sm-100">
              <button
                class="text-center btn btn-primary btn-sm"
                role="button"
                (click)="openConfirm(addCotizaciones); getQuotations()"
              >
                <i class="fa fa-plus"></i> Agregar
              </button>
            </div>
          </div>
        </div>
        <div
          class="rounded-top table-responsive"
          *ngIf="!loading && negocio?.quotations.length > 0; else notData"
        >
          <table class="table table-bordered table-striped table-sm">
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th>Código</th>
                <th>Fecha</th>
                <th>Valor</th>
                <th>Presupuesto</th>
                <th>Estado</th>
                <th><i class="mdi mdi-chevron-down"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of negocio?.quotations" class="text-center">
                <th scope="row">{{ item.code }}</th>
                <td>{{ item.created_at | date }}</td>
                <td>$ {{ item.total_cop | number }}</td>
                <td
                  [role]="item.budget_included == 'si' ? 'button' : ''"
                  [class]="item.budget_included == 'si' ? 'text-primary' : ''"
                  [routerLink]="
                    item.budget_included == 'si'
                      ? ['/crm/presupuesto/ver/' + item.budgets.id]
                      : null
                  "
                >
                  {{
                    item.budget_included == "si"
                      ? item.budgets.code
                      : "No incluye"
                  }}
                </td>
                <td>
                  <span
                    class="badge"
                    [class]="
                      item.pivot.status == 'Pendiente'
                        ? 'badge-warning'
                        : item.pivot.status == 'Rechazada'
                        ? 'badge-danger'
                        : item.pivot.status == 'Aprobada'
                        ? 'badge-success'
                        : ''
                    "
                    >{{ item.pivot.status }}</span
                  >
                </td>
                <td>
                  <div ngbDropdown container="body" class="dropdown-primary">
                    <button
                      ngbDropdownToggle
                      class="btn btn-primary btn-sm waves-light"
                      type="button"
                    >
                      <i class="mdi mdi-chevron-down"></i>
                    </button>
                    <div ngbDropdownMenu>
                      <a
                        class="dropdown-item waves-light text-success caja-botones"
                        href="javascript: void(0);"
                        [routerLink]="[
                          '/crm/cotizacion/ver/',
                          item.pivot.quotation_id
                        ]"
                      >
                        <i class="fas fa-eye"></i> Ver</a
                      >
                      <ng-container
                        *ngIf="item.pivot.status == 'Pendiente'; else pendiente"
                      >
                        <a
                          class="dropdown-item waves-light text-success caja-botones"
                          href="javascript: void(0);"
                          (click)="
                            changeStatusInBusiness(
                              'Aprobada',
                              item,
                              'quotation'
                            )
                          "
                        >
                          <i class="fas fa-thumbs-up"></i> Aprobar</a
                        >
                        <a
                          class="dropdown-item waves-light text-danger caja-botones"
                          href="javascript: void(0);"
                          (click)="
                            changeStatusInBusiness(
                              'Rechazada',
                              item,
                              'quotation'
                            )
                          "
                        >
                          <i class="fas fa-thumbs-down"></i> Rechazar</a
                        >
                      </ng-container>
                      <ng-template #pendiente>
                        <a
                          class="dropdown-item waves-light text-warning caja-botones"
                          href="javascript: void(0);"
                          (click)="
                            changeStatusInBusiness(
                              'Pendiente',
                              item,
                              'quotation'
                            )
                          "
                        >
                          <i class="fas fa-clock"></i> Pendiente</a
                        >
                      </ng-template>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="text-primary">Notas</h4>
        <ng-container
          *ngIf="!loading && negocio?.notes.length > 0; else notData"
        >
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item flex-column align-items-start"
              *ngFor="let item of negocio?.notes"
            >
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">
                  {{ item.person.person }}
                </h6>
              </div>
              <div class="card-text">{{ item.note }}</div>
              <small class="text-muted">{{
                item.created_at | date : "MMM d, y, h:mm a"
              }}</small>
            </li>
          </ul>
        </ng-container>
        <form [formGroup]="form_notes">
          <div class="row">
            <mat-form-field
              class="col-md-12 mat-form-field-no-padding textarea"
              appearance="outline"
            >
              <mat-label>Publicar nueva nota</mat-label>
              <textarea
                matInput
                placeholder="Ingresa la nota"
                rows="5"
                required
                formControlName="note"
                [cdkTextareaAutosize]="true"
              ></textarea>
              <mat-hint>Max. 500 caracteres</mat-hint>
            </mat-form-field>
          </div>
          <button
            type="button"
            (click)="saveNote()"
            class="btn btn-primary btn-block"
          >
            Publicar
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body body-custom">
        <ul
          ngbNav
          #nav="ngbNav"
          [(activeId)]="active"
          class="nav nav-tabs justify-content-center"
          role="tablist"
        >
          <li [ngbNavItem]="1" class="nav-item flex-sm-fill">
            <a
              ngbNavLink
              data-toggle="tab"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              class="nav-link border-0 text-uppercase font-weight-bold"
              >Tareas</a
            >
            <ng-template ngbNavContent>
              <app-tareas-negocio
                [tareas]="tareas"
                [business_budget_id]="business_budget_id"
                (updateListTask)="updateListTask($event)"
              >
              </app-tareas-negocio>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" class="nav-item flex-sm-fill">
            <a
              ngbNavLink
              data-toggle="tab"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              class="nav-link border-0 text-uppercase font-weight-bold"
              >Historial</a
            >
            <ng-template ngbNavContent>
              <app-historial-negocio [id]="filtros.id"></app-historial-negocio>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">
      Seleccionar presupuestos disponibles
    </h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <ng-container [formGroup]="form_filters_budget">
        <div class="col-md-3 mat-form-field-wrapper">
          <ng-select
            [items]="people"
            formControlName="person_id"
            bindLabel="text"
            appearance="outline"
            [appendTo]="'body'"
            [clearable]="false"
            placeholder="Quién elabora"
            bindValue="value"
          >
          </ng-select>
        </div>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Código</mat-label>
          <input
            type="text"
            matInput
            placeholder="Busca por código"
            formControlName="code"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Fecha</mat-label>
          <input
            type="text"
            matInput
            placeholder="Busca por fecha"
            formControlName="date"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Cliente</mat-label>
          <input
            type="text"
            matInput
            placeholder="Busca por cliente"
            formControlName="customer"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Destino</mat-label>
          <input
            type="text"
            matInput
            placeholder="Busca por destino"
            formControlName="municipality_id"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Línea</mat-label>
          <input
            type="text"
            matInput
            placeholder="Busca por línea"
            formControlName="line"
          />
        </mat-form-field>
      </ng-container>
    </div>
    <div
      class="rounded-top table-responsive"
      *ngIf="!loadingBudgets && presupuestos.length > 0; else notDataBudgets"
    >
      <table class="table table-bordered table-striped table-sm">
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Código</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Destino</th>
            <th>Linea</th>
            <th>Quien elabora</th>
            <th>Total COP</th>
            <th>Total USD</th>
            <th><i class="mdi mdi-chevron-down"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of presupuestos"
            class="text-center"
            [ngClass]="{
              'text-danger font-weight-bold': item.state == 'Inactivo'
            }"
          >
            <td class="align-middle pb-0">
              <mat-checkbox
                color="primary"
                (change)="guardarPresupuesto(item.id, item.total_cop)"
                [id]="item.id"
                >{{ item.code }}</mat-checkbox
              >
            </td>
            <td class="align-middle">
              {{ item.created_at | date : "longDate" }}
            </td>
            <td class="align-middle">{{ item.customer.name }}</td>
            <td class="align-middle">{{ item.destiny.name }}</td>
            <td class="align-middle">{{ item.line }}</td>
            <td class="align-middle">
              {{ item.user.person.first_name }}
              {{ item.user.person.first_surname }}
            </td>
            <td class="align-middle">
              ${{ item.total_cop | currency : "" : "" }}
            </td>
            <td class="align-middle">
              ${{ item.total_usd | currency : "" : "" }}
            </td>
            <td class="align-middle">
              <div
                ngbDropdown
                container="body"
                class="d-inline-block dropdown-primary"
              >
                <button
                  ngbDropdownToggle
                  class="btn btn-primary btn-sm"
                  type="button"
                  id="dropdownBasic1"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a
                    class="dropdown-item waves-light text-success caja-botones"
                    [routerLink]="['/crm/presupuesto/ver', item.id]"
                    (click)="_modal.close()"
                  >
                    <i class="far fa-eye"></i> Ver
                  </a>
                  <a
                    class="dropdown-item waves-light text-info caja-botones"
                    [routerLink]="['/crm/presupuesto/editar', item.id]"
                    (click)="_modal.close()"
                  >
                    <i class="far fa-edit"></i> Editar
                  </a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="100%">
              <div class="float-right">
                <button
                  class="btn btn-primary btn-sm"
                  type="button"
                  (click)="_modal.close()"
                  [routerLink]="['/crm/presupuesto/crear']"
                >
                  <i class="fa fa-plus"></i> Agregar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm mb-0"
      [collectionSize]="paginationBudgets.collectionSize"
      [pageSize]="paginationBudgets.pageSize"
      [(page)]="paginationBudgets.page"
      (pageChange)="getPresupuestos($event)"
      maxSize="5"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
    >
    </ngb-pagination>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>

    <button type="submit " class="btn btn-primary" (click)="saveBudget()">
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #addCotizaciones let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">
      Seleccionar cotizaciones disponibles
    </h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="_modal.close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <ng-container [formGroup]="form_filters_quotations">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Ciudad</mat-label>
          <input
            type="text"
            matInput
            formControlName="city"
            autocomplete="off"
            placeholder="Busca por ciudad"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Código</mat-label>
          <input
            type="text"
            matInput
            formControlName="code"
            autocomplete="off"
            placeholder="Busca por código"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Línea</mat-label>
          <input
            type="text"
            matInput
            formControlName="line"
            autocomplete="off"
            placeholder="Busca por línea"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Cliente</mat-label>
          <input
            type="text"
            matInput
            formControlName="client"
            autocomplete="off"
            placeholder="Busca por cliente"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Descripción</mat-label>
          <input
            type="text"
            matInput
            formControlName="description"
            autocomplete="off"
            placeholder="Busca por descripción"
          />
        </mat-form-field>
      </ng-container>
    </div>
    <div
      class="rounded-top table-responsive"
      *ngIf="!loadingQuotation && quotations.length > 0; else notDataQuotations"
    >
      <table class="table table-bordered table-striped table-sm">
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Código</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Destino</th>
            <th>Linea</th>
            <th>Total COP</th>
            <th>Total USD</th>
            <th><i class="mdi mdi-chevron-down"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of quotations" class="text-center">
            <td class="pb-0">
              <mat-checkbox
                color="primary"
                (change)="guardarCotizacion(item.id, item.total_cop)"
                [id]="item.id"
                >{{ item.code }}</mat-checkbox
              >
            </td>
            <td>{{ item.created_at | date : "longDate" }}</td>
            <td>
              {{
                item.client.social_reason
                  ? item.client.social_reason
                  : item.client.full_name
              }}
            </td>
            <td>{{ item.municipality.name }}</td>
            <td>{{ item.line }}</td>
            <td>${{ item.total_cop | currency : "" : "" }}</td>
            <td>${{ item.total_usd | currency : "" : "" }}</td>
            <td>
              <div ngbDropdown container="body" class="dropdown-primary">
                <button
                  ngbDropdownToggle
                  class="btn btn-primary btn-sm waves-light"
                  type="button"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a
                    class="dropdown-item waves-light text-success caja-botones"
                    href="javascript: void(0);"
                    [routerLink]="['/crm/cotizacion/ver/', item.id]"
                    (click)="_modal.close()"
                  >
                    <i class="fas fa-eye"></i> Ver</a
                  >
                  <a
                    class="dropdown-item waves-light text-primary caja-botones"
                    href="javascript: void(0);"
                    [routerLink]="['/crm/cotizacion/copiar/', item.id]"
                    (click)="_modal.close()"
                    ><i class="fas fa-copy"></i> Copiar</a
                  >
                  <a
                    class="dropdown-item waves-light text-info caja-botones"
                    href="javascript: void(0);"
                    [routerLink]="['/crm/cotizacion/editar/', item.id]"
                    (click)="_modal.close()"
                    ><i class="fas fa-edit"></i> Editar</a
                  >
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="100%">
              <div class="float-right">
                <button
                  class="btn btn-primary btn-sm"
                  (click)="_modal.close()"
                  [routerLink]="['/crm/cotizacion/crear']"
                >
                  <i class="fa fa-plus"></i> Agregar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="paginationQuotations.collectionSize"
      [pageSize]="paginationQuotations.pageSize"
      [(page)]="paginationQuotations.page"
      (pageChange)="getQuotations($event)"
      maxSize="5"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
    >
    </ngb-pagination>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="_modal.close()">
      Cancelar
    </button>
    <button
      type="button"
      (click)="addCotizacion(); closeModalCotizaciones()"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>
<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
<ng-template #notDataBudgets>
  <app-not-data [loading]="loadingBudgets"></app-not-data>
</ng-template>
<ng-template #notDataQuotations>
  <app-not-data [loading]="loadingQuotation"></app-not-data>
</ng-template>
