<ng-template #placeholder>
  <app-placeholder-form></app-placeholder-form>
</ng-template>
<ng-container *ngIf="!loading; else placeholder">
  <div class="card">
    <div class="card-body">
      <div class="row card-title d-flex justify-content-between">
        <app-cabecera
          class="col"
          [datosCabecera]="datosCabecera"
        ></app-cabecera>
      </div>
      <hr class="line" />
      <div class="alert alert-info" role="alert">
        Recuerda que solo podrás agregar productos que pertenencen a una misma
        categoría.
      </div>
      <ng-container [formGroup]="formCategories">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Categoría</mat-label>
            <mat-select
              formControlName="category_id"
              [disableOptionCentering]="true"
              #selectCategories
            >
              <mat-select-filter
                *ngIf="selectCategories.focused"
                [placeholder]="'Buscar categoría'"
                [array]="Categorias"
                [displayMember]="'Nombre'"
                (filteredReturn)="filteredCategories = $event"
              ></mat-select-filter>

              <mat-option
                *ngFor="let item of filteredCategories"
                [value]="item.Id_Categoria_Nueva"
                >{{ item.Nombre }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
      <ng-container [formGroup]="formCompra">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Tipo de compra</mat-label>
            <mat-select name="Tipo" formControlName="Tipo" matInput required>
              <mat-option value="Recurrente" selected>Recurrente</mat-option>
              <mat-option value="Ocasional">Ocasional</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Fecha de entrega probable</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [min]="today"
              formControlName="Fecha_Entrega_Probable"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Bodega</mat-label>
            <mat-select
              formControlName="Id_Bodega_Nuevo"
              [disableOptionCentering]="true"
              #selectBodegas
              required
            >
              <mat-select-filter
                *ngIf="selectBodegas.focused"
                [placeholder]="'Buscar bodega'"
                [array]="bodegas"
                [displayMember]="'Nombre'"
                (filteredReturn)="filteredBodega = $event"
              ></mat-select-filter>
              <mat-option
                *ngFor="let item of filteredBodega"
                [value]="item.Id_Bodega_Nuevo"
              >
                {{ item.Nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Proveedor</mat-label>
            <mat-select
              formControlName="Id_Proveedor"
              [disableOptionCentering]="true"
              #selectProveedor
              required
            >
              <mat-select-filter
                *ngIf="selectProveedor.focused"
                [placeholder]="'Buscar proveedor'"
                [array]="proveedores"
                [displayMember]="'text'"
                (filteredReturn)="filteredProveedor = $event"
              ></mat-select-filter>
              <mat-option
                *ngFor="let item of filteredProveedor"
                [value]="item.value"
              >
                {{ item.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            class="col-md-12 mat-form-field-no-padding textarea"
            appearance="outline"
          >
            <mat-label>Observaciones</mat-label>
            <textarea
              formControlName="Observaciones"
              placeholder="Digite detalles importantes de la orden de compra"
              type="text"
              rows="5"
              matInput
            ></textarea>
          </mat-form-field>
        </div>

        <ng-container formArrayName="Productos">
          <div
            class="rounded-top table-responsive"
            *ngIf="products.controls.length > 0; else notDataProducts"
          >
            <table class="table table-bordered table-striped table-sm">
              <thead class="bg-light">
                <tr class="text-center text-uppercase">
                  <th>#</th>
                  <th class="col-4">Producto</th>
                  <th>Embalaje</th>
                  <th class="col-1">Presentación</th>
                  <th class="col-1" *ngIf="Rotativo">Rotativo</th>
                  <th class="col-1">Cantidad</th>
                  <th class="col-2">Costo</th>
                  <th class="col-1">IVA %</th>
                  <th class="col-2">Subtotal</th>
                  <th class="col-2">IVA $</th>
                  <th class="col-2">Total</th>
                  <th>
                    <i
                      role="button"
                      class="fa fa-trash text-danger"
                      (click)="deleteProduct()"
                    ></i>
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  [formGroupName]="i"
                  *ngFor="let item of products.controls; let i = index"
                >
                  <tr class="text-center">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.get("Nombre_Comercial").value }}</td>
                    <td>{{ item.get("Embalaje_nombre").value }}</td>
                    <td>{{ item.get("Presentacion").value }}</td>
                    <td *ngIf="Rotativo">
                      <input
                        readonly
                        id="Rotativo{{ i }}"
                        name="Rotativo{{ i }}"
                        [value]="item.Rotativo"
                        type="number"
                        class="form-control form-control-sm text-right f-9"
                      />
                    </td>
                    <td class="py-0">
                      <input
                        formControlName="Cantidad"
                        currencyMask
                        [options]="masks.maskNumbers"
                        appInputPositionInitial
                        matInput
                        class="form-control form-control-sm text-right f-9"
                      />
                    </td>
                    <td>
                      <input
                        (blur)="item.editCosto = false"
                        formControlName="Costo"
                        currencyMask
                        [options]="masks.maskCOP"
                        appInputPosition
                        matInput
                        class="form-control form-control-sm text-right f-9"
                      />
                    </td>
                    <td class="py-0">
                      <select
                        formControlName="impuesto_id"
                        class="form-control form-control-sm"
                        style="border: 0"
                      >
                        <option
                          *ngFor="let Impuesto of Impuestos; let i = index"
                          [value]="Impuesto.Id_Impuesto"
                        >
                          {{ Impuesto.Valor }}
                        </option>
                      </select>
                    </td>
                    <td class="text-right">
                      ${{ item.get("Subtotal").value | number : "1.2-2" }}
                    </td>
                    <td class="text-right">
                      ${{ item.get("Valor_Iva").value | number : "1.2-2" }}
                    </td>
                    <td class="text-right">
                      ${{ item.get("Total").value | number : "1.2-2" }}
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        (click)="deleteProduct(i, $event)"
                        *ngIf="item.producto != ''"
                      >
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </ng-container>
        <div class="row">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label> Productos </mat-label>
            <input
              matInput
              #inputProduct
              type="text"
              id="typeahead-http"
              [class.is-invalid]="searchFailed"
              [ngbTypeahead]="search"
              [inputFormatter]="formatter"
              [resultFormatter]="formatter"
              (selectItem)="addProduct($event.item, $event, inputProduct)"
              placeholder="Busca producto por nombre"
              autocomplete="off"
            />
            <mat-hint *ngIf="searching"> Buscando </mat-hint>
          </mat-form-field>
        </div>
        <ng-container *ngIf="products.controls.length > 0">
          <app-list-items
            title1="SUBTOTAL"
            [var1]="formCompra.get('Subtotal').value"
            type1="cop"
            title2="IVA"
            [var2]="formCompra.get('Iva').value"
            type2="cop"
            title3="Total"
            [var3]="formCompra.get('Total').value"
            type3="cop"
            mt="mt-2"
          >
          </app-list-items>
        </ng-container>
        <button
          class="btn btn-primary btn-block mt-3"
          (click)="GuardarCompra()"
        >
          Realizar compra
        </button>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #notData>
  <app-not-data [loading]="Cargando"></app-not-data>
</ng-template>
<ng-template #notDataProducts>
  <div class="alert alert-warning text-center" role="alert">
    ¡No has agregado productos!
  </div>
</ng-template>
