.tabla-funcionarios {
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
  }
  
  .img-funcionario {
    width: 38px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
  .icono-descargables {
    font-weight: 600;
    font-size: 1rem;
  }
  
  .alert-light {
    background-color: #e8e7e7 !important;
    border-color: transparent !important;
  }
  #editPayroll {
    color: #9370db;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
  }