<div class="card-title d-flex justify-content-between">
  <h6>Bonificación recurrente</h6>
  <button class="btn btn-link btn-sm" (click)="openModal()">
    <i class="fas fa-plus"></i>
  </button>
</div>
<div class="rounded-top table-responsive" *ngIf="!loading && bonu.length > 0; else notData">
  <table
    class="table table-bordered table-striped table-sm"
    
  >
    <thead class="bg-light">
      <tr class="text-center text-uppercase">
        <th scope="col">Tipo de bono</th>
        <th scope="col">Valor</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let bon of bonu"
        class="text-center"
        [ngClass]="{ 'text-danger font-weight-bold': bon.status == 0 }"
      >
        <th>{{ bon.concept }}</th>
        <td>{{ bon.value }}</td>
        <td>
          <button
            class="btn btn-danger btn-sm"
            *ngIf="bon.status == 1"
            (click)="anular(bon, 0)"
          >
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Nueva bonificación</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Tipo de bono</mat-label>
          <mat-select
            (selectionChange)="getBonusList($event.value)"
            id="type_of_bonus" required
          >
            <mat-option
              *ngFor="let bonusType of bonusTypes"
              [value]="bonusType.valor"
            >
              {{ bonusType.clave }}</mat-option
            >
          </mat-select>
          <mat-hint>Selecciona para obtener bonos</mat-hint>
          <!-- <div class="col-md-7 offset-4">
            <small class="invalid text-danger" *ngIf="bonus_type_valid">
              Es necesario el tipo de bono
            </small>
          </div> -->
        </mat-form-field>
        <div class="col" [ngClass]="bonus_type_valid ? 'mb-0' : 'mb-4'">
          <ng-select
            class="col-md-12 p-0"
            [items]="bonus"
            formControlName="countable_income_id"
            placeholder="Bono"
            appearance="outline"
            [appendTo]="'body'"
            bindLabel="text"
            bindValue="value"
            loadingText="loading"
            ngDefaultControl
          >
          </ng-select>
          <div class="ml-2">
            <small class="text-danger" *ngIf="bonus_type_valid">
              Campo obligatorio
            </small>
          </div>
        </div>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Valor</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ingresa el valor"
            [class.is-invalid]="value_valid"
            formControlName="value"
            id="valor"
            required
            autocomplete="off"
          />
          <mat-error  *ngIf="value_valid">
            Campo obligatorio
          </mat-error>
        </mat-form-field>
        
      </div>
      
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      (click)="addBonus()"
      [disabled]="!form.valid"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>

