<hr />
<div class="text-center">
  <h5>Hospedaje</h5>
</div>
<div class="rounded-top table-responsive">
  <table
    class="table table-bordered table-striped table-sm"

  >
    <thead class="bg-light">
      <tr class="text-center text-uppercase">
        <th class="align-middle">Tipo</th>
        <th class="align-middle">Hotel</th>
        <th class="align-middle" *ngIf="!legal">Dirección</th>
        <th class="align-middle">Teléfono</th>
        <th class="align-middle">T. Alojam.</th>
        <th class="align-middle">Tarifa</th>
        <th class="align-middle"># Días</th>
        <th class="align-middle" *ngIf="!legal">Desayuno</th>
        <th class="align-middle">R. Pago</th>
        <th class="align-middle">total</th>
        <th class="align-middle" *ngIf="legal">Legalizar</th>
        <th class="align-middle" *ngIf="legal">Archivo</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="hotels.length">
        <tr *ngFor="let item of hotels; let i = index" class="text-center">
          <td>
            {{ item.type }}
          </td>
          <td>
            {{ item.name }}
          </td>
          <td *ngIf="!legal">
            {{ item.address }}
          </td>
          <td>
            {{ item.phone }}
          </td>
          <td>
            {{ item.pivot.accommodation }}
          </td>
          <td>
            {{ item.pivot.rate }}
          </td>
          <td>
            {{ item.pivot.n_night }}
          </td>
          <td *ngIf="!legal">
            {{ item.pivot.breakfast }}
          </td>
          <td>
            {{ item.pivot.who_cancels }}
          </td>

          <td class="text-right">
            {{ item.pivot.total }}
          </td>
          <td *ngIf="legal">
            <input
              type="number"
              class="form-control form-control-sm"
              placeholder="valor reportado"
              name=""
              [(ngModel)]="item.reported"
              id=""
            />
          </td>
          <td *ngIf="legal">
            <div class="image-upload">
              <label for="file-input{{ i }}" class="text-right">
                <i class="fas fa-cloud-upload-alt text-primary"></i>
              </label>
              <input
                #file
                (change)="onFileChanged($event, i, item)"
                id="file-input{{ i }}"
                type="file"
              />
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
