.table-items {
  font-size: 0.9em;
  th {
    text-align: center;
    font-weight: 900;
  }

  thead > tr > th {
    border: 1px solid gainsboro;
    border-radius: 2px;
  }

  i {
    font-size: 15px;
  }
}

.fa,
.fas,
.far {
  cursor: pointer;
}

.items {
  /*   border: 1px solid green;
    border-radius: 20px;
    padding: 8px 12px; */
}

/* .t1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
} */

.detachable{
  cursor: pointer;
  
}

.form-control-plaintext{
  background-color: transparent  ;
}