<div class="card">
  <div class="card-body">
    <ng-container *ngIf="!loading; else notDataLoading">
      <app-cabecera [datosCabecera]="datosCabecera"></app-cabecera>
      <hr class="line" />
      <form [formGroup]="forma" (submit)="save()">
        <div class="row">
          <div class="col-md-3 mb-4">
            <ng-select
              bindLabel="text"
              [items]="clients"
              placeholder="Cliente *"
              appearance="outline"
              bindValue="value"
              loadingText="loading"
              [class.is-invalid]="forma.get('customer_id').invalid"
              ngDefaultControl
              formControlName="customer_id"
              [appendTo]="'body'"
            ></ng-select>
          </div>
          <div class="col-md-2 mb-4">
            <ng-select
              [items]="cities"
              placeholder="Destino *"
              [class.is-invalid]="forma.get('destinity_id').invalid"
              appearance="outline"
              bindLabel="text"
              bindValue="value"
              [appendTo]="'body'"
              formControlName="destinity_id"
            ></ng-select>
          </div>
          <mat-form-field class="col-md-3" appearance="outline">
            <mat-label>Línea</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ingresa la línea"
              formControlName="line"
              required
              autocomplete="off"
            />
          </mat-form-field>

          <mat-form-field class="col-md-3" appearance="outline">
            <mat-label>Proyecto</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ingresa proyecto"
              formControlName="project"
              required
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field class="col-md-1 pl-0" appearance="outline">
            <mat-label>TRM</mat-label>
            <input
              matInput
              currencyMask
              [options]="masksMoney.maskCOP"
              placeholder="Ingresa TRM"
              required
              formControlName="trm"
              autocomplete="off"
            />
          </mat-form-field>
        </div>
        <!-- END HEADER -->
        <div class="row">
          <mat-form-field
            class="col-md-12 mat-form-field-no-padding textarea"
            appearance="outline"
          >
            <mat-label>Observaciones</mat-label>
            <textarea
              matInput
              placeholder="Ingresa las observaciones"
              rows="5"
              formControlName="observation"
              [cdkTextareaAutosize]="true"
            ></textarea>
          </mat-form-field>
        </div>
        <!-- ITEMS -->
        <hr />
        <app-items
          [forma]="forma"
          [dataEdit]="dataEdit"
          [indirectCosts]="indirectCosts"
          [calculationBase]="calculationBase"
          [cities]="cities"
        >
        </app-items>
        <!-- Configuracion presupuestal -->
        <h6 class="text-center">Porcentaje de configuración presupuestal</h6>
        <div class="rounded-top table-responsive">
          <table class="table table-striped table-sm">
            <tbody>
              <ng-container formArrayName="indirect_costs">
                <ng-container
                  *ngFor="let item of indirecCostList.controls; let i = index"
                >
                  <tr [formGroupName]="i">
                    <td class="col-10">{{ item.controls.name.value }}</td>
                    <td class="col-2">
                      <input
                        currencyMask
                        [options]="masksMoney.maskPorcentaje"
                        class="form-control form-control-sm"
                        formControlName="percentage"
                      />
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
        <!--  END  Configuracion presupuestal -->
        <div *ngIf="hasItems">
          <h5 class="text-center">PRESUPUESTO TOTAL</h5>
          <div class="rounded-top table-responsive">
            <table class="table table-sm table-hover">
              <tbody>
                <tr>
                  <td class="col-10">TOTAL COP</td>
                  <td class="col-2 text-right">
                    ${{ total_cop | number : "1.2-2" }}
                  </td>
                </tr>
                <tr>
                  <td class="col-10">TOTAL USD</td>
                  <td class="text-right col-2">
                    ${{ total_usd | number : "1.2-2" }}
                  </td>
                </tr>
                <tr>
                  <td class="col-10">V/U VENTA PRORRATEADO COP</td>
                  <td class="text-right">
                    ${{ unit_value_prorrateado_cop | number : "1.2-2" }}
                  </td>
                </tr>
                <tr>
                  <td class="col-10">V/U VENTA PRORRATEADO USD</td>
                  <td class="col-2 text-right">
                    ${{ unit_value_prorrateado_usd | number : "1.2-2" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- END ITEMS -->
        <!--  -->
        <button class="btn btn-block btn-primary" type="submit">Guardar</button>
      </form>
    </ng-container>
  </div>
</div>

<ng-template #notData>
  <div class="alert alert-warning" role="alert">¡Aquí no hay datos!</div>
</ng-template>

<ng-template #notDataLoading>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>

<!-- <div class="col-sm-10">
  <ng-select
    [items]="custumer$ | async"
    bindLabel="text"
    bindValue="value"
    [loading]="custumerLoading"
    [typeahead]="custumerInput$"
    formControlName="customer_id"
    typeToSearchText="Por favor escriba para buscar"
  ></ng-select>
</div>
 -->
