<div class="card">
  <div class="card-body">
    <app-cabecera [datosCabecera]="datosCabecera"></app-cabecera>
    <hr class="line" />
    <div class="d-flex justify-content-end">
      <div class="btn-group rounded w-sm-100" *ngIf="!Cargando">
        <button
          class="btn btn-primary btn-sm"
          title="Recargar datos iniciales (Terceros, PUC, Centros Costos)"
          (click)="reloadData()"
        >
          <i class="fa fa-refresh"></i> Recargar
        </button>
      </div>
    </div>
    <form #FormEgreso="ngForm" class="mt-2">
      <input hidden name="Id_Borrador" [(ngModel)]="idBorrador" />
      <div class="row">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Fecha</mat-label>
          <input
            matInput
            type="date"
            name="Fecha_Documento"
            id="Fecha_Nota_Contable"
            [(ngModel)]="Fecha_Nota_Contable"
            (keyup)="tab($event, 'Cliente')"
            (change)="getCodigoEgreso($event.target.value)"
            required
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Beneficiario</mat-label>
          <input
            matInput
            type="text"
            name="Cliente"
            id="Cliente"
            [(ngModel)]="Nom_Cliente"
            [ngbTypeahead]="search"
            [resultTemplate]="rt"
            (blur)="validarCampo(Nom_Cliente, $event, 'Beneficiario')"
            (keyup)="tab($event, 'Centro_Costo')"
            (ngModelChange)="BuscarDatosCliente(Nom_Cliente)"
            [inputFormatter]="formatter"
            required
            placeholder="Busca beneficiario"
            autocomplete="off"
          />
          <input
            hidden
            matInput
            [(ngModel)]="Id_Cliente"
            name="Beneficiario"
            id="Beneficiario"
            class="form-control form-control-sm"
            required
          />
          <input
            hidden
            matInput
            [(ngModel)]="Tipo_Beneficiario"
            name="Tipo_Beneficiario"
            id="Tipo_Beneficiario"
            class="form-control form-control-sm"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Centro costo</mat-label>
          <input
            matInput
            type="text"
            name="Nom_Centro_Costo"
            [(ngModel)]="Nom_Centro_Costo"
            id="Centro_Costo"
            [ngbTypeahead]="search2"
            [resultTemplate]="rt2"
            [inputFormatter]="formatter2"
            (keyup)="tab($event, 'Documento')"
            (ngModelChange)="BuscarDatosCentro(Nom_Centro_Costo)"
            (blur)="validarCampo(Nom_Centro_Costo, $event, 'Centro de costo')"
            required
            placeholder="Busca centro de costo"
            autocomplete="off"
          />
          <input
            hidden
            matInput
            name="Id_Centro_Costo"
            [(ngModel)]="Centro_Costo"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Documento</mat-label>
          <input
            matInput
            type="text"
            name="Documento"
            id="Documento"
            (keyup)="tab($event, 'Concepto')"
            [(ngModel)]="Documento"
            required
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Forma de pago</mat-label>
          <mat-select
            name="Forma_Pago"
            id="forma_pago"
            [(ngModel)]="Forma_Pago"
            (selectionChange)="formaPagoChange($event)"
          >
            <mat-option value="Cheque">Cheque</mat-option>
            <mat-option value="Transferencia">Transferencia</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          *ngIf="transferCodeView"
          class="col"
          appearance="outline"
        >
          <mat-label>Código de transferencia</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field *ngIf="chequeNumber" class="col" appearance="outline">
          <mat-label>Número de cheque</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field
          class="col-md-12 mat-form-field-no-padding textarea"
          appearance="outline"
        >
          <mat-label>Concepto</mat-label>
          <textarea
            matInput
            placeholder="Ingresa el concepto"
            rows="5"
            name="Concepto"
            id="Concepto"
            (keyup)="tab($event, 'Cuenta0')"
            [(ngModel)]="Concepto"
            [cdkTextareaAutosize]="true"
          ></textarea>
        </mat-form-field>
        <!-- <div class="col-12">
          <app-borradorcomprobantes
            [Tipo_Comprobante]="Tipo_Comprobante"
            (Borrador)="setDatosBorrador($event)"
          ></app-borradorcomprobantes>
        </div> -->
      </div>
    </form>

    <ng-container *ngIf="Mostrar_Facturas">
      <h6 class="text-center">Facturas</h6>
      <ng-container
        *ngIf="Lista_Facturas.length > 0 && !Cargando; else notData"
      >
        <div class="rounded-top table-responsive">
          <table class="table table-bordered table-striped table-sm">
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th></th>
                <th>Cuenta</th>
                <th>Fecha</th>
                <th>Documento</th>
                <th>Vlr. Factura</th>
                <th>Vlr. Abono</th>
                <th>Vlr. Saldo</th>
                <th>Abono</th>
                <th>Nat</th>
                <th>Movimiento Debito</th>
                <th>Movimiento_Credito</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of Lista_Facturas; let i = index"
                id="fila{{ i }}"
              >
                <td class="text-center">
                  <input
                    type="checkbox"
                    name="Factura{{ i }}"
                    id="Factura{{ i }}"
                    (change)="addListInvoice(item, i)"
                  />
                </td>
                <td>{{ item.Codigo }}</td>
                <td>{{ item.Fecha }}</td>
                <td>{{ item.Factura }}</td>
                <td class="text-right">
                  ${{ item.Valor_Factura | number : "1.2-2" }}
                </td>
                <td class="text-right">
                  ${{ item.Valor_Abono | number : "1.2-2" }}
                </td>
                <td class="text-right">
                  ${{ item.Valor_Saldo | number : "1.2-2" }}
                </td>
                <td class="text-right">
                  <input
                    type="number"
                    name="abono{{ i }}"
                    id="abono{{ i }}"
                    [(ngModel)]="item.Abono"
                    (blur)="validarSaldoFactura(i, $event)"
                  />
                </td>
                <td>{{ item.Nat }}</td>
                <td class="text-right">
                  ${{ item.Movimiento_Debito | number : "1.2-2" }}
                </td>
                <td class="text-right">
                  ${{ item.Movimiento_Credito | number : "1.2-2" }}
                </td>
              </tr>
              <tr *ngIf="Lista_Facturas.length > 0">
                <td colspan="7"></td>
                <td class="text-right">
                  <b>Total: ${{ Total_Abono | number : "1.2-2" }}</b>
                </td>
                <td colspan="3"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
      <button
        class="btn btn-primary btn-block btn-sm"
        (click)="addInvoicesToAccount()"
      >
        Confirmar
      </button>
    </ng-container>

    <hr />
    <div class="rounded-top table-responsive">
      <table class="table table-bordered table-striped table-sm">
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Cuenta</th>
            <th>Nit</th>
            <th>Centro Costo</th>
            <th>Documento</th>
            <th></th>
            <th>Concepto</th>
            <th>Base</th>
            <th>Débito</th>
            <th>Crédito</th>
            <th class="p-0"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of Cuentas_Contables; let i = index"
            id="fila{{ i }}"
          >
            <td>
              <input
                [(ngModel)]="item.Cuenta"
                type="text"
                name="Cuenta"
                id="Cuenta{{ i }}"
                class="form-control form-control-sm"
                [ngbTypeahead]="search1"
                [resultTemplate]="rt3"
                [inputFormatter]="formatter1"
                placeholder="Busca cuenta"
                (keyup)="tab($event, 'Nit' + i)"
                (ngModelChange)="BuscarCuenta(item.Cuenta, i)"
                [required]="Cuentas_Contables.length - 1 != i"
                (blur)="validarCampo(item.Cuenta, $event, 'Cuenta')"
              />
            </td>
            <td>
              <input
                [(ngModel)]="item.Nit"
                type="text"
                name="Nit{{ i }}"
                id="Nit{{ i }}"
                (keyup)="tab($event, 'Centro_Costo' + i)"
                class="form-control form-control-sm f-9"
                [ngbTypeahead]="search"
                [resultTemplate]="rt"
                placeholder="Busca NIT"
                [inputFormatter]="formatter"
                (ngModelChange)="BuscarDatosCliente(item.Nit, i)"
                (blur)="validarCampo(item.Nit, $event, 'Nit')"
              />
            </td>
            <td>
              <input
                [(ngModel)]="item.Centro_Costo"
                type="text"
                name="Centro_Costo{{ i }}"
                id="Centro_Costo{{ i }}"
                class="form-control form-control-sm f-9"
                [ngbTypeahead]="search2"
                [resultTemplate]="rt2"
                placeholder="Busca centro costo"
                [inputFormatter]="formatter2"
                (ngModelChange)="BuscarDatosCentro(item.Centro_Costo, i)"
                (keyup)="tab($event, 'Documento' + i)"
                (blur)="
                  validarCampo(item.Centro_Costo, $event, 'Centro de Costo')
                "
              />
            </td>
            <td>
              <input
                name="Documento{{ i }}"
                id="Documento{{ i }}"
                (keyup)="tab($event, 'Concepto' + i)"
                [(ngModel)]="item.Documento"
                placeholder="Ingresa documento"
                class="form-control form-control-sm text-right input-document"
                type="text"
              />
            </td>
            <td>
              <a href="javascript:;" (click)="showFacturas(item.Nit_Cuenta, i)">
                <i style="font-weight: bold" class="fa fa-search"></i>
              </a>
            </td>
            <td>
              <input
                name="Concepto{{ i }}"
                id="Concepto{{ i }}"
                placeholder="Ingresa concepto"
                (keyup)="tab($event, 'Base' + i)"
                [(ngModel)]="item.Concepto"
                class="form-control form-control-sm"
              />
            </td>

            <td class="pr-0">
              <input
                name="Base{{ i }}"
                id="Base{{ i }}"
                (keyup)="tab($event, 'Debito' + i)"
                (change)="calcularBase(i, $event.target.value)"
                [(ngModel)]="item.Base"
                currencyMask
                [options]="masks.maskCOP"
                class="form-control form-control-sm text-right"
                readonly
                style="border: 0"
              />
            </td>
            <td>
              <input
                name="Deb_Niif{{ i }}"
                id="Deb_Niif{{ i }}"
                (keyup)="tab($event, 'Cred_Niif' + i)"
                (change)="validarDebCred(i, 'Debito')"
                [(ngModel)]="item.Deb_Niif"
                currencyMask
                [options]="masks.maskCOP"
                appInputPosition
                class="form-control form-control-sm text-right"
              />
            </td>
            <td>
              <input
                name="Cred_Niif{{ i }}"
                id="Cred_Niif{{ i }}"
                (keyup)="tab($event, 'Cuenta' + (i + 1))"
                (change)="validarDebCred(i, 'Credito')"
                [(ngModel)]="item.Cred_Niif"
                class="form-control form-control-sm text-right"
                currencyMask
                [options]="masks.maskCOP"
                appInputPosition
              />
            </td>
            <td class="text-center p-0">
              <a
                *ngIf="Cuentas_Contables.length - 1 != i"
                href="javascript:;"
                (click)="EliminarCuenta(i)"
              >
                <span>
                  <i class="fa fa-trash-o text-danger"></i>
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="rounded-top table-responsive">
      <table class="table table-bordered table-striped table-sm">
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Total Debito</th>
            <th>Total Credito</th>
            <th>Diferencia</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>${{ Total_Debito | number : "1.2-2" }}</td>
            <td>${{ Total_Credito | number : "1.2-2" }}</td>
            <td>${{ Total_Debito - Total_Credito | number : "1.2-2" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button
      type="button"
      class="btn btn-primary btn-block"
      [swal]="confirmacionGuardar"
    >
      Guardar
    </button>
  </div>
</div>

<ng-template #rt let-r="result" let-t="term">
  <span class="f-9"
    ><strong>{{ r.Nombre }}</strong>
  </span>
</ng-template>
<swal #confirmacionSwal title="" text="" type=""></swal>

<swal #confirmacionGuardar [swalOptions]="alertOption"></swal>

<ng-template #rt1 let-r="result" let-t="term">
  <span class="f-9">{{ r.Codigo }} </span>
</ng-template>

<ng-template #rt2 let-r="result" let-t="term">
  <span class="f-9">{{ r.Nombre }} </span>
</ng-template>
<ng-template #rt3 let-r="result" let-t="term">
  <span class="f-9">{{ r.label }} </span>
</ng-template>

<ng-template #notData>
  <app-not-data [loading]="Cargando"></app-not-data>
</ng-template>
