<!-- <div class="body">
  <div class="text-wrapper">
    <div class="title" data-content="404">ACCESO DENEGADO</div>

    <div class="subtitle">Oops, no tienes acceso a esta página.</div>
    <div class="isi">
      Intentaste acceder a una página de la cual no tienes permisos. <br> Si crees
      que es un error comunícate con el administrador
    </div>

    <div class="buttons">
      <a class="button" [routerLink]="['/']">Volver al inicio</a>
    </div>
  </div>
</div>
 -->

<div class="card col-md-4 mx-auto">
  <img
    class="card-img-top img-fluid"
    src="../../../assets/images/noautorizado.jpg"
    alt=""
  />
  <div class="card-body">
    <h5 class="card-title text-primary text-center">
      Oops, no tienes acceso a esta página.
    </h5>
   
  </div>
</div>
