<div class="card border border-3 border-light">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <h5>Datos básicos</h5>
      <button class="btn btn-link pt-0 edit" (click)="openConfirm(add)">
        <i class="fas fa-pencil-alt"></i>
      </button>
    </div>
    <div class="rounded-top table-responsive">
      <table class="table table-sm">
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Logo</th>
            <th>Razón social</th>
            <th>NIT</th>
            <th>Constitución</th>
            <th>Correo electrónico</th>
            <th>Teléfono</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>
              <img
                [src]="company.logo"
                onerror="this.src='../../../../../../assets/images/logo2.png'"
                alt=""
              />
            </td>
            <td>{{ company.social_reason }}</td>
            <td>{{ company.document_number }}</td>
            <td>{{ company.constitution_date }}</td>
            <td>{{ company.email_contact }}</td>
            <td>{{ company.phone }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Datos básicos</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <img
        [src]="company.logo"
        class="img-form d-block m-auto"
        alt=""
        onerror="this.src='../../../../../../assets/images/logo2.png'"
      />
      <!-- <label for="image" class="subir-archivo mt-3">Cargar imagen</label>
        <input
          type="file"
          accept="image/*"
          name="image"
          (change)="onImageChanged($event)"
          class="form-control-file text-center"
          id="image"
          placeholder="Imagen"
        /> -->
      <div class="row mt-4">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Razón social</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa la razón social"
            formControlName="social_reason"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Tipo de documento</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa el tipo de documento"
            formControlName="document_type"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Número de documento</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ingresa el número de documento"
            formControlName="document_number"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Dígito de verificación</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ingresa el dígito de verificación"
            formControlName="verification_digit"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Fecha de constitución</mat-label>
          <input
            matInput
            type="date"
            formControlName="constitution_date"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Correo elctrónico</mat-label>
          <input
            matInput
            placeholder="Ingresa el correo electrónico"
            type="email"
            formControlName="email_contact"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Teléfono de contacto</mat-label>
          <input
            matInput
            placeholder="Ingresa el teléfono de contacto"
            type="number"
            formControlName="phone"
            autocomplete="off"
            required
          />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-default"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      [disabled]="!form.valid"
      (click)="saveBasicData()"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>
