<div class="card">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <h4 class="text-primary">Órdenes de Compras</h4>
      <div class="btn-group rounded">
        <button class="btn btn-primary btn-sm" style="float: right;" [routerLink]="['/compras/crear-nacional']">
          <i class="fa fa-plus"></i> Agregar
        </button>
        <button class="btn btn-info btn-sm" style="float: right;" (click)="openClose()">
          <i class="fas fa-sliders-h"></i> Filtros
        </button>
      </div>
    </div>
    <hr class="line">
    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <div class="container">
          <div class="row">
            <mat-form-field class="col-lg-2 col-md-3 col-sm-4 pl-0" appearance="outline">
              <mat-label>Funcionario</mat-label>
              <input type="text" matInput name="nit" [(ngModel)]="filtro_func" autocomplete="off"
                placeholder="Busca por funcionario" (blur)="filtros()">
            </mat-form-field>
            <mat-form-field class="col-lg-2 col-md-3 col-sm-4 pl-0" appearance="outline">
              <mat-label>Fecha de inicio</mat-label>
              <input matInput type="date" [(ngModel)]="fechita" (input)="fechitaF($event)" autocomplete="off"
                placeholder="Busca por fecha">
            </mat-form-field>
            <mat-form-field class="col-lg-2 col-md-3 col-sm-4 pl-0" appearance="outline">
              <mat-label>Fecha de fin</mat-label>
              <input matInput type="date" [(ngModel)]="fechita2" (input)="fechitaF2($event)" autocomplete="off"
                placeholder="Busca por fecha">
            </mat-form-field>
            <mat-form-field class="col-lg-2 col-md-3 col-sm-4 pl-0" appearance="outline">
              <mat-label>Código</mat-label>
              <input matInput type="text" [(ngModel)]="filtro_cod" (blur)="filtros()" autocomplete="off"
                placeholder="Busca por código">
            </mat-form-field>
            <mat-form-field class="col-lg-2 col-md-3 col-sm-4 pl-0" appearance="outline">
              <mat-label>Proveedor</mat-label>
              <input type="text" matInput name="nit" [(ngModel)]="filtro_prov" (blur)="filtros()" autocomplete="off"
                placeholder="Busca por proveedor">
            </mat-form-field>
            <mat-form-field class="col-md-2 pl-0" appearance="outline">
              <mat-label>Estado</mat-label>
              <mat-select [(ngModel)]="filtro_est" (selectionChange)="filtros()">
                <mat-option value="">Todos</mat-option>
                <mat-option value="Pendiente">Pendiente</mat-option>
                <mat-option value="No conforme">No Conforme</mat-option>
                <mat-option value="Anulada">Anulada</mat-option>
                <mat-option value="Recibida">Recibida</mat-option>
                <mat-option value="Devuelta">Devuelta</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <table class="table table-bordered table-striped table-sm table-responsive-sm" style="font-size: small;"
      *ngIf="comprasnacionales.length > 0; else notData">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Funcionario</th>
          <th>Fecha</th>
          <th>Código</th>
          <th>Proveedor</th>
          <th>Estado</th>
          <th>Aprobación</th>
          <th class="col-sm-1">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngIf="comprasnacionales.length == 0">

            <td colspan="8" class="text-center">
              <div class="container py-5">
                <i class="fa fa-exclamation-circle fa-5x"></i>
                <h5>
                  No existen órdenes de compras nacionales para mostrar.
                </h5>
                <a class="btn btn-primary btn-sm" [routerLink]="['/compras/crear-nacional']">
                  <i class="fa fa-plus"></i> Agregar
                </a>
              </div>
            </td>


          </tr> -->
        <tr *ngFor="let compra of comprasnacionales">
          <td>
            <img *ngIf="imageProfile != null" class="img-thumbnail rounded-circle header-profile-user mx-auto d-block"
              [src]="imageProfile" alt="Header Avatar" />
            <img *ngIf="imageProfile == null" class="img-thumbnail rounded-circle header-profile-user mx-auto d-block"
              src="../../../../assets/images/noprofile.png" alt="Header Avatar" />
          </td>
          <td>{{ compra.Funcionario }}</td>
          <td>{{ compra.Fecha | date: "dd/MM/yyyy" }}</td>
          <td>{{ compra.Codigo }}</td>

          <td>
            <div class="text-center">
              {{ compra.Proveedor }}
            </div>
          </td>
          <td>
            <div class="text-center">
              <span class="label {{
                            compra.Estado == 'Anulada' ? 'label-danger' : ''
                          }} {{
                            compra.Estado == 'Recibida' ? 'label-inverse' : ''
                          }} {{
                            compra.Estado == 'Pendiente' ? 'label-warning' : ''
                          }}">{{ compra.Estado }}
              </span>
            </div>
          </td>
          <td>
            <div class="text-center">
              <span class="label label-success">{{
                compra.Aprobacion
                }}</span>
            </div>
          </td>
          <td>
            <div class="text-center">
              <div ngbDropdown class="dropdown-primary">
                <button ngbDropdownToggle class="
                    btn btn-primary btn-sm waves-effect waves-light
                            " type="button">
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a *ngIf="
                                compra.Estado != 'Anulada' &&
                                compra.Estado != 'Recibida' &&
                                compra.Estado_Aprobacion == 'Rechazada'
                              " class="
                                dropdown-item
                                waves-light waves-effect
                                caja-botones
                              " href="" [routerLink]="[
                                '/comprasnacionaleseditar',
                                compra.Id_Orden_Compra_Nacional
                              ]">
                    <i class="ti-pencil"></i>Editar</a>
                  <a class="
                                dropdown-item
                                waves-light waves-effect
                                caja-botones
                              " href="" [routerLink]="[
                                '/compras/ver-nacional',
                                compra.Id_Orden_Compra_Nacional
                              ]">
                    <i class="ti-eye"></i>Ver</a>
                  <!-- TODO Imprimir Orden Compra -->
                  <!--  <a
                              class="
                                dropdown-item
                                waves-light waves-effect
                                caja-botones
                              "
                              href="{{
                                environment.ruta
                              }}php/comprasnacionales/descarga_pdf.php?tipo=Orden_Compra_Nacional&id={{
                                compra.Id_Orden_Compra_Nacional
                              }}"
                              target="_blank"
                            >
                              <i class="ti-printer"></i>Imprimir</a
                            > -->
                  <a *ngIf="compra.Estado != 'Anulada'" class="
                                dropdown-item
                                waves-light waves-effect
                                caja-botones
                              " href="" [swal]="anulacion" (confirm)="
                                anularCompra(
                                  compra.Id_Orden_Compra_Nacional,
                                  $event
                                )
                              ">
                    <i class="fa fa-times"></i>Anular</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination *ngIf="comprasnacionales.length > 0" class="pull-right" [collectionSize]="TotalItems"
      [(page)]="page" [maxSize]="maxSize" [pageSize]="20" size="sm" (pageChange)="paginacion()" [boundaryLinks]="true">
    </ngb-pagination>
  </div>
  <!-- {{ page * maxSize - maxSize + 1 }} al {{ page * maxSize }} de
  {{ TotalItems }} -->

</div>


<swal #anulacion title="¿Está Seguro?" text="Ingrese la causal de anulación" input="text" type="warning"
  showCancelButton="true" confirmButtonText="Si, Eliminar" cancelButtonText="No, Dejame Comprobar!"></swal>

<swal #deleteSwal title="Orden de Compra Anulada" text="Se ha Anulado Correctamente la Orden de Compra" type="success">
</swal>

<swal #infoSwal title="" text="" type=""> </swal>

<ng-template #Message>No existe precompras en este momento </ng-template>

<app-modal-basic #configuracion>
  <div class="app-modal-header">
    <h4>Configuración</h4>
    <button type="button" class="close basic-close" (click)="configuracion.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <h5>Caducidad en la compra</h5>
    <p>
      Según el número de días que escriba se anularán las compras sin acta de
      recepción.
    </p>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="dias"> Modifique los dias: </label>
          <input type="number" pattern="[0-9]+" [(ngModel)]="dias_anulacion" placeholder="numero de días"
            class="form-control mb-4" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="responsable"> Modifique el responsable: </label>
          <select class="form-control" [(ngModel)]="funcionario_anulacion" id="responsable">
            <option *ngFor="let func of funcionarios_anulacion" [value]="func.Identificacion_Funcionario">
              {{ func.Funcionario }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button class="btn btn-sm btn-success" (click)="setDiasAnulacion()">
      Actualizar
    </button>
    <button class="btn btn-sm btn-danger" (click)="configuracion.hide()">
      Cerrar
    </button>
  </div>
</app-modal-basic>
<ng-template #notData>
  <app-not-data></app-not-data>
</ng-template>