<div class="row card-title d-flex justify-content-between">
  <div class="col-md-6 px-0">
    <form [formGroup]="form">
      <mat-form-field class="col px-0 edit pb-0" appearance="outline">
        <mat-label>Agregar nuevo valor</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ingresa el valor"
          formControlName="value"
          autocomplete="off"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="save()"
          [disabled]="!form.valid"
          [attr.aria-label]="'Hide password'"
        >
          <mat-icon>save</mat-icon>
        </button>
      </mat-form-field>
      <!-- <div class="form-group col-md-6">
          <label class="custom-label" for="funcionario_id">Descripción</label>
          <textarea
            class="form-control form-control-sm"
            rows="3"
            formControlName="description"
          ></textarea>
        </div> -->
    </form>
  </div>
  <!-- <div class="col-md-6 px-0 text-right">
    <div class="btn-group rounded w-sm-100">
      <button
        class="btn btn-primary btn-sm"
        (click)="save()"
        [disabled]="!form.valid"
      >
        <i class="fa fa-plus"></i> Agregar
      </button>
      <button class="btn btn-info btn-sm" (click)="openClose()">
        <i class="fas fa-sliders-h"></i> Filtros
      </button>
    </div>
  </div> -->
</div>
<mat-accordion multi>
  <mat-expansion-panel class="mat-elevation-z0">
    <div class="row">
      <mat-form-field class="col" appearance="outline">
        <mat-label>Valor</mat-label>
        <input
          (input)="getValues()"
          [(ngModel)]="filtro.value"
          type="text"
          matInput
          placeholder="Busca por valor"
        />
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<div class="rounded-top table-responsive">
  <table
    class="table table-bordered table-striped table-sm"
    *ngIf="!loading && values.length > 0; else notData"
  >
    <thead class="bg-light">
      <tr class="text-center text-uppercase">
        <th scope="col">Valor</th>
        <th scope="col">Fecha C.</th>
        <th scope="col"><i class="mdi mdi-chevron-down"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let value of values"
        class="text-center"
        [ngClass]="{
          'text-danger font-weight-bold': value.state === 'Inactivo'
        }"
      >
        <td class="align-middle" scope="row">
          {{ value.value | currency: "":"" }}
        </td>
        <td class="align-middle">{{ value.created_at | date }}</td>
        <td class="align-middle">
          <div ngbDropdown container="body" class="dropdown-primary">
            <button
              ngbDropdownToggle
              class="btn btn-primary btn-sm waves-light"
              type="button"
            >
              <i class="mdi mdi-chevron-down"></i>
            </button>
            <div ngbDropdownMenu>
              <a
                class="dropdown-item waves-light text-info caja-botones"
                href="javascript: void(0);"
                (click)="getValue(value); openConfirm(add, 'Editar valor')"
              >
                <i class="far fa-edit"></i> Editar</a
              >
              <a
                *ngIf="value.state === 'Activo'"
                href="javascript: void(0);"
                class="dropdown-item text-danger waves-light caja-botones"
                (click)="anularOActivar(value, 'Inactivo')"
              >
                <i class="far fa-trash-alt"></i> Anular</a
              >
              <a
                *ngIf="value.state === 'Inactivo'"
                href="javascript: void(0);"
                class="dropdown-item text-success waves-light caja-botones"
                (click)="anularOActivar(value, 'Activo')"
              >
                <i class="fas fa-check"></i> Activar</a
              >
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ngb-pagination
  class="d-flex justify-content-center pagination-rounded pagination-sm"
  [collectionSize]="pagination.collectionSize"
  (pageChange)="getValues($event)"
  [pageSize]="pagination.pageSize"
  [(page)]="pagination.page"
  aria-label="Default pagination"
  maxSize="5"
  rotate="true"
  ellipses="false"
  boundaryLinks="true"
>
</ngb-pagination>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">{{ title }}</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      (click)="save()"
      [disabled]="!form.valid"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
