<div class="margins">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h5 class="text-primary">Valor de Almuerzos</h5>
            </div>
            <hr class="line">
        </div>
        <form #formP="ngForm" (submit)="guardar(formP)">
            <div class="row mx-2 my-2">
                <div class="col-8">
                    Valor de Almuerzo
                </div>
                <div class="col-4">
                    <input [(ngModel)]="data.value" #admin="ngModel" name="value" placeholder="0" class="form-control form-control-sm" type="number" required>
                </div>
                <div class="p-3 col-12">
                    <button [disabled]="formP.invalid" class="btn btn-primary btn-sm btn-block" type="submit">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>