<table class="table table-borderless table-striped">
    <thead class="bg-light">
        <tr>
            <th>Fecha</th>
            <th>Nombre Adición</th>
            <th>Concepto</th>
            <th>Base</th>
            <th>IVA</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12/14/01</td>
            <td>Prueba</td>
            <td>Asdasdas</td>
            <td>asdas</td>
            <td>111</td>
            <td></td>
        </tr>
    </tbody>
</table>