.simple-icon-pencil,
.simple-icon-check {
  font-size: 18px;
  color: #2a93d5;
}
.extra {
  background-color: #d7eefd;
  margin-right: 0px;
}
.row {
  margin-right: 0px;
}

.toCheck{
    font-size: 20px;
    cursor: pointer;
}