table thead,
tbody {
  font-size: 0.95rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.9;
}
.fila-total {
  background-color: #eeeeee;
  font-weight: bold;
  color: #1b1a1a;
}
p i {
  font-size: 28px;
}