<div class="card">
    <div class="card-body">
        <div class="card-title d-flex justify-content-between">
            <h4 class="text-primary">Perfiles laborales</h4>
            <button class="btn btn-sm btn-primary" style="float: right;" (click)="openConfirm(add,'Nuevo Perfil laboral')">
                <i class="fa fa-plus"></i> Agregar
            </button>            
        </div>
        <hr class="line">
        <table class="table table-bordered table-striped table-sm table-responsive-sm" style="font-size: small;" *ngIf="!loading && profiles.length > 0; else notData">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Perfil</th>
                    <th>$/Hora Desplazamiento Diurna</th>
                    <th>$/Hora Desplazamiento Nocturna</th>
                    <th>$/Hora Ordinaria Diurna</th>
                    <th>$/Hora Ordinaria Nocturna</th>
                    <th>$/Hora Dominical Diurna</th>
                    <th>$/Hora Dominical Nocturna</th>
                    <th class="text-center col-1">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of profiles" [ngClass]="{'text-danger font-weight-bold': (item.state == 'Inactivo')}">
                    <td> {{ 'P' + item.id }} </td>
                    <td> {{ item.profile }} </td>
                    <td> {{ item.value_time_daytime_displacement | currency: 'COP' }} </td>
                    <td> {{ item.value_time_night_displacement | currency: 'COP' }} </td>
                    <td> {{ item.daytime_ordinary_hour_value | currency: 'COP' }} </td>
                    <td> {{ item.night_ordinary_hour_value | currency: 'COP' }} </td>
                    <td> {{ item.sunday_daytime_value | currency: 'COP' }} </td>
                    <td> {{ item.sunday_night_time_value | currency: 'COP' }} </td>
                    <td>
                        <div class="text-center">
                            <div ngbDropdown class="dropdown-primary">
                                <button ngbDropdownToggle class="btn btn-primary btn-sm waves-effect waves-light " type="button">
                                    <i class="mdi mdi-chevron-down"></i>
                                </button>
                                <div ngbDropdownMenu>
                                    <a class="dropdown-item waves-light text-info waves-effect caja-botones" (click)="getProfile(item); openConfirm(add,'Actualizar Perfil laboral')">
                                        <i class="far fa-edit"></i> Editar
                                    </a>
                                    <a *ngIf="item.state == 'Inactivo'" class="dropdown-item waves-light text-success waves-effect caja-botones" (click)="activateOrInactivate(item, 'Activo')">
                                        <i class="far fa-thumbs-up"></i> Activar
                                    </a>
                                    <a *ngIf="item.state == 'Activo'" class="dropdown-item waves-light text-danger waves-effect caja-botones" (click)="activateOrInactivate(item, 'Inactivo')">
                                        <i class="far fa-trash-alt"></i> Anular
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination class="d-flex justify-content-center pagination-rounded pagination-sm" [collectionSize]="pagination.collectionSize" [pageSize]="pagination.pageSize" [(page)]="pagination.page" (pageChange)="getProfiles($event)" aria-label="Default pagination"
            maxSize="5" rotate="true" ellipses="false" boundaryLinks="true" rotate="true" ellipses="false" boundaryLinks="true">
        </ngb-pagination>
    </div>
</div>

<ng-template #add let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-primary modal-title">{{ title }}</h4>
        <button type="button" class="btn btn-sm btn-flash-border-primary ri-close-fill" aria-label="Close"
          (click)="modal.dismiss('Cross click');form.reset()"></button>
      </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-12">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="">Perfil</label>
                            <input type="text" class="form-control form-control-sm" formControlName="profile">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Valor Hora Desplazamiento Diuerna</label>
                            <input type="number" class="form-control form-control-sm" formControlName="value_time_daytime_displacement">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Valor Hora Desplazamiento Nocturna</label>
                            <input type="number" class="form-control form-control-sm" formControlName="value_time_night_displacement">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Valor Hora Ordinaria Diurna</label>
                            <input type="number" class="form-control form-control-sm" formControlName="daytime_ordinary_hour_value">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Valor Hora Ordinaria Nocturna</label>
                            <input type="number" class="form-control form-control-sm" formControlName="night_ordinary_hour_value">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Valor Hora Dominical Diurna</label>
                            <input type="number" class="form-control form-control-sm" formControlName="sunday_daytime_value">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Valor Hora Dominical Nocturna</label>
                            <input type="number" class="form-control form-control-sm" formControlName="sunday_night_time_value">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="modal.dismiss('Cross click');form.reset()">
        Cancelar
      </button>
      <button type="button" [disabled]="!form.valid" (click)="save()" class="btn btn-primary">
        Guardar
      </button>
    </div>
  </ng-template>

<ng-template #notData>
    <app-not-data [loading]="loading"></app-not-data>
</ng-template>