.nav-pills .nav-link.active,
.show>.nav-pills .nav-link {
    background: #1d2266 !important
}

hr.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #232247, #232247, #f0f0f0);
}
