<ng-template #placeholder>
  <app-placeholder-form></app-placeholder-form>
</ng-template>
<ng-container *ngIf="!loading && form; else placeholder">
  <div class="card">
    <div class="card-body">
      <app-cabecera [datosCabecera]="datosCabecera"></app-cabecera>
      <hr class="line" />
      <ng-container [formGroup]="form">
        <div class="row">
          <mat-form-field class="col-md-6" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              type="text"
              formControlName="name"
              placeholder="Ingresa el nombre"
              autocomplete="off"
              required
            />
            <mat-error>Campo obligatorio</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-3" appearance="outline">
            <mat-label>Órden de pedido</mat-label>
            <input
              matInput
              type="text"
              formControlName="purchase_order"
              autocomplete="off"
              required
            />
            <mat-error>Campo obligatorio</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-3" appearance="outline">
            <mat-label>Fecha de entrega</mat-label>
            <input
              formControlName="expected_delivery_date"
              matInput
              [matDatepicker]="dp_delivery"
              [min]="today"
              [required]="true"
            />
            <mat-hint
              >{{
                (form.get("expected_delivery_date").value
                  | date : "fullDate") || "DD/MM/YYYY"
              }}
            </mat-hint>
            <mat-error>Campo obligatorio</mat-error>
            <mat-datepicker-toggle
              matSuffix
              [for]="dp_delivery"
            ></mat-datepicker-toggle>
            <mat-datepicker #dp_delivery></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-md-3" appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="type" required>
              <mat-option value="V">V</mat-option>
              <mat-option value="Y">I</mat-option>
              <mat-option value="G">G</mat-option>
            </mat-select>
            <mat-error>Campo obligatorio</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-3" appearance="outline">
            <mat-label>Clase</mat-label>
            <mat-select formControlName="class" required>
              <mat-option value="Interna">Interna</mat-option>
              <mat-option value="Proyecto">Proyecto</mat-option>
              <mat-option value="Repuesto">Repuesto</mat-option>
              <mat-option value="Servicio">Servicio</mat-option>
            </mat-select>
            <mat-error>Campo obligatorio</mat-error>
          </mat-form-field>
          <div class="col-md-6 mat-form-field-wrapper">
            <ng-select
              formControlName="municipality_id"
              [items]="cities"
              bindLabel="text"
              [class.is-invalid]="form.get('municipality_id')?.invalid"
              appearance="outline"
              [appendTo]="'body'"
              [clearable]="false"
              placeholder="Destino *"
              bindValue="value"
              loadingText="loading"
            >
            </ng-select>
          </div>
          <div
            class="col-md-6 mat-form-field-wrapper"
            *ngIf="form.get('third_party_id').enabled"
          >
            <ng-select
              formControlName="third_party_id"
              [items]="thirds"
              [clearable]="false"
              bindLabel="text"
              appearance="outline"
              [class.is-invalid]="form.get('third_party_id')?.invalid"
              [appendTo]="'body'"
              placeholder="Cliente *"
              bindValue="value"
              loadingText="loading"
              ngDefaultControl
            >
            </ng-select>
          </div>
          <div
            class="col-md-6 mat-form-field-wrapper"
            *ngIf="form.get('third_party_person_id').enabled"
          >
            <ng-select
              formControlName="third_party_person_id"
              [items]="third_people"
              [clearable]="false"
              bindLabel="text"
              appearance="outline"
              [class.is-invalid]="form.get('third_party_person_id')?.invalid"
              [appendTo]="'body'"
              placeholder="Contacto *"
              bindValue="value"
              loadingText="loading"
              ngDefaultControl
            >
            </ng-select>
          </div>
          <mat-form-field
            class="col-12 mat-form-field-no-padding textarea"
            appearance="outline"
          >
            <mat-label>Observaciones</mat-label>
            <textarea
              matInput
              placeholder="Ingresa las observaciones"
              rows="5"
              formControlName="observations"
              [cdkTextareaAutosize]="true"
            ></textarea>
          </mat-form-field>
          <div class="col-12">
            <div class="btn-group btn-block mb-2" role="group">
              <button
                class="btn btn-info"
                type="button"
                (click)="modalPresupuesto.openModal()"
              >
                <i class="fas fa-file-invoice-dollar"></i> Presupuesto
              </button>
              <button
                class="btn btn-info"
                type="button"
                (click)="modalCotizacion.openModal()"
              >
                <i class="fas fa-file-alt"></i> Cotización
              </button>
              <button
                class="btn btn-info"
                type="button"
                (click)="modalNegocio.openModal()"
              >
                <i class="fas fa-building"></i> Negocio
              </button>
              <button
                class="btn btn-info"
                type="button"
                (click)="modalPieza.openConfirm()"
              >
                <i class="fas fa-cogs"></i> Pieza
              </button>
              <button
                class="btn btn-info"
                type="button"
                (click)="modalConjunto.openConfirm()"
              >
                <i class="fas fa-puzzle-piece"></i> Conjunto
              </button>
              <button
                class="btn btn-info"
                type="button"
                (click)="modalServicio.openConfirm()"
              >
                <i class="fas fa-tools"></i> Servicio
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <ng-container *ngIf="budgets.value.length > 0">
            <div class="col-md-4">
              <h6>Presupuestos</h6>
              <div class="rounded-top table-responsive">
                <table class="table table-bordered table-striped table-sm">
                  <thead class="bg-light">
                    <tr class="text-center text-uppercase">
                      <th>Código</th>
                      <th><i class="mdi mdi-chevron-down"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let budget of budgets.value; let i = index"
                      class="text-center"
                    >
                      <td>
                        <a
                          role="button"
                          [routerLink]="['/crm/presupuesto/ver/', budget.id]"
                          target="_blank"
                          >{{ budget.code }}</a
                        >
                      </td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          (click)="deleteBudget(i)"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="quotations.value.length > 0">
            <div class="col-md-4">
              <h6>Cotizaciones</h6>
              <div class="rounded-top table-responsive">
                <table class="table table-bordered table-striped table-sm">
                  <thead class="bg-light">
                    <tr class="text-center text-uppercase">
                      <th>Código</th>
                      <th><i class="mdi mdi-chevron-down"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let quotation of quotations.value; let i = index"
                      class="text-center"
                    >
                      <td>
                        <a
                          role="button"
                          [routerLink]="['/crm/cotizacion/ver/', quotation.id]"
                          target="_blank"
                          >{{ quotation.code }}</a
                        >
                      </td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          (click)="deleteQuotation(i)"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="business.value.length > 0">
            <div class="col-md-4">
              <h6>Negocios</h6>
              <div class="rounded-top table-responsive">
                <table class="table table-bordered table-striped table-sm">
                  <thead class="bg-light">
                    <tr class="text-center text-uppercase">
                      <th>Código</th>
                      <th><i class="mdi mdi-chevron-down"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let busines of business.value; let i = index"
                      class="text-center"
                    >
                      <td>
                        <a
                          role="button"
                          [routerLink]="['/crm/negocios/', busines.id]"
                          target="_blank"
                          >{{ busines.code }}</a
                        >
                      </td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          (click)="deleteBusiness(i)"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="apu_parts.value.length > 0">
            <div class="col-md-4">
              <h6>Piezas</h6>
              <div class="rounded-top table-responsive">
                <table class="table table-bordered table-striped table-sm">
                  <thead class="bg-light">
                    <tr class="text-center text-uppercase">
                      <th>Código</th>
                      <th><i class="mdi mdi-chevron-down"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let apu_part of apu_parts.value; let i = index"
                      class="text-center"
                    >
                      <td>
                        <a
                          role="button"
                          [routerLink]="[
                            '/crm/apu/ver-apu-pieza/',
                            apu_part.id
                          ]"
                          target="_blank"
                          >{{ apu_part.code }}</a
                        >
                      </td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          (click)="deleteApuPart(i)"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="apu_sets.value.length > 0">
            <div class="col-md-4">
              <h6>Conjuntos</h6>
              <div class="rounded-top table-responsive">
                <table class="table table-bordered table-striped table-sm">
                  <thead class="bg-light">
                    <tr class="text-center text-uppercase">
                      <th>Código</th>
                      <th><i class="mdi mdi-chevron-down"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let apu_set of apu_sets.value; let i = index"
                      class="text-center"
                    >
                      <td>
                        <a
                          role="button"
                          [routerLink]="[
                            '/crm/apu/ver-apu-conjunto/',
                            apu_set.id
                          ]"
                          target="_blank"
                          >{{ apu_set.code }}</a
                        >
                      </td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          (click)="deleteApuSet(i)"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="apu_services.value.length > 0">
            <div class="col-md-4">
              <h6>Servicios</h6>
              <div class="rounded-top table-responsive">
                <table class="table table-bordered table-striped table-sm">
                  <thead class="bg-light">
                    <tr class="text-center text-uppercase">
                      <th>Código</th>
                      <th><i class="mdi mdi-chevron-down"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let apu_service of apu_services.value;
                        let i = index
                      "
                      class="text-center"
                    >
                      <td>
                        <a
                          role="button"
                          [routerLink]="[
                            '/crm/apu/ver-apu-servicio/',
                            apu_service.id
                          ]"
                          target="_blank"
                          >{{ apu_service.code }}</a
                        >
                      </td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          (click)="deleteApuService(i)"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-container>
        </div>

        <div class="mb-4">
          <div>Descripcion</div>
          <ckeditor
            [editor]="_texteditor.Editor"
            (ready)="_texteditor.onReady($event)"
            [config]="_texteditor.configEditor"
            formControlName="description"
          ></ckeditor>
        </div>
        <div class="mb-4">
          <div>Requisitos técnicos, funcionales y desempeño</div>
          <ckeditor
            [editor]="_texteditor.Editor"
            (ready)="_texteditor.onReady($event)"
            [config]="_texteditor.configEditor"
            formControlName="technical_requirements"
          ></ckeditor>
        </div>
        <div class="mb-4">
          <div>Requisitos legales o reglamentos aplicables</div>
          <ckeditor
            [editor]="_texteditor.Editor"
            (ready)="_texteditor.onReady($event)"
            [config]="_texteditor.configEditor"
            formControlName="legal_requirements"
          ></ckeditor>
        </div>
      </ng-container>
      <button type="button" class="btn btn-primary btn-block" (click)="save()">
        Guardar y enviar
      </button>
    </div>
  </div>
</ng-container>

<ng-template #rt_quotation let-r="result" let-t="term">
  <div>{{ r.name }}</div>
</ng-template>
<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>

<app-modal-buscar-presupuesto
  #modalPresupuesto
  (update)="newBudget($event)"
  [create]="true"
  [third_party_id]="' '"
></app-modal-buscar-presupuesto>

<app-modal-buscar-cotizacion
  (update)="newQuotation($event)"
  [create]="true"
  #modalCotizacion
  [third_party_id]="' '"
>
</app-modal-buscar-cotizacion>

<app-get-apus
  (sendApus)="newApuPart($event)"
  #modalPieza
  [filter]="filterPart"
></app-get-apus>

<app-get-apus
  (sendApus)="newApuSet($event)"
  #modalConjunto
  [filter]="filterSet"
>
</app-get-apus>

<app-get-apus
  (sendApus)="newApuService($event)"
  #modalServicio
  [filter]="filterService"
>
</app-get-apus>

<app-get-business
  (update)="newBusiness($event)"
  #modalNegocio
></app-get-business>
