<div class="card">
  <div class="card-header p-0">
    <ul
      ngbNav
      #nav="ngbNav"
      [(activeId)]="active"
      class="nav nav-pills nav-justified border border-primary rounded"
    >
      <li [ngbNavItem]="1">
        <a ngbNavLink class="h-100">Materiales</a>
        <ng-template ngbNavContent>
          <!-- <app-productos [user]="_user.user" [type]="'Material'"></app-productos>-->
          <app-materiales [cardBorder]="true"></app-materiales>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink class="h-100">Activos fijos</a>
        <ng-template ngbNavContent>
          <app-activo-fijo-catalogo [user]="_user.user">
          </app-activo-fijo-catalogo>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink class="h-100">Dotacion EPP</a>
        <ng-template ngbNavContent>
          <app-dotacion-crear [user]="_user.user"></app-dotacion-crear>
        </ng-template>
      </li>
      <!-- <li [ngbNavItem]="4">
        <a ngbNavLink>Servicios</a>
        <ng-template ngbNavContent>

          <app-table-inventary></app-table-inventary>

        </ng-template>
      </li>
      <li [ngbNavItem]="5">
        <a ngbNavLink>CUPS</a>
        <ng-template ngbNavContent>

          <app-table-inventary></app-table-inventary>

        </ng-template>
      </li> -->
    </ul>
  </div>
  <div [ngbNavOutlet]="nav" class="mx-0"></div>
</div>
<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>

<ng-template #notDataTable>
  <tr>
    <td colspan="10">
      <app-not-data [loading]="loading"></app-not-data>
    </td>
  </tr>
</ng-template>
