/* .nav-pills .nav-link.active,
.show>.nav-pills .nav-link {
    background: #1d2266 !important
} */

hr.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #95c11f, #95c11f, #f0f0f0);
}