/* .nav-pills .nav-link.active,
.show>.nav-pills .nav-link {
    background: #1d2266 !important
} */

.img-product {
  height: 3rem;
  width: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5px;
}