<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Cesantías</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button
            class="btn btn-sm btn-primary"
            [disabled]="severancePaymentValid"
            (click)="redirect('pago')"
          >
            <i class="fas fa-money-bill"></i> Pagar cesantías
          </button>
          <button
            class="btn btn-sm btn-warning"
            [disabled]="severanceInterestPaymentValid"
            (click)="redirect('pago-intereses')"
          >
            <i class="fas fa-money-bill"></i> Pagar intereses
          </button>
          <button class="btn btn-info btn-sm" (click)="mepFilters.toggle()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion multi>
      <mat-expansion-panel #mepFilters class="mat-elevation-z0">
        <ng-container [formGroup]="formFilters">
          <div class="row">
            <mat-form-field class="col" appearance="outline">
              <mat-label>Año</mat-label>
              <input
                matInput
                type="text"
                formControlName="year"
                autocomplete="off"
                placeholder="Busca por año"
              />
            </mat-form-field>
            <mat-form-field class="col" appearance="outline">
              <mat-label>Tipo</mat-label>
              <mat-select formControlName="type">
                <mat-option value="">Todos</mat-option>
                <mat-option value="Pago a fondo de cesantías"
                  >Pago a fondo de cesantías</mat-option
                >
                <mat-option value="Pago de intereses"
                  >Pago de intereses</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="!severancePaymentValid">
      <div class="alert alert-danger text-center" role="alert">
        El pago de cesantías solo podrá ser realizado entre el 1 de enero y el
        14 de febrero del presente año.
      </div>
    </ng-container>
    <ng-container *ngIf="!severanceInterestPaymentValid">
      <div class="alert alert-danger text-center" role="alert">
        El pago de intereses de cesantías solo podrá ser realizado entre el 1 y
        31 de enero.
      </div>
    </ng-container>
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="!loading && severancePayments.length > 0; else notData"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Año</th>
            <th>Responsable</th>
            <th>Total pagado</th>
            <th>Total de empleados</th>
            <th>Tipo</th>
            <th><i class="mdi mdi-chevron-down"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of severancePayments" class="text-center">
            <td>{{ item.year }}</td>
            <td>{{ item.user.person_name.complete_name }}</td>
            <td>${{ item.total | number : "1.2-2" }}</td>
            <td>{{ item.total_employees }}</td>
            <td>{{ item.type }}</td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                (click)="severanceView(item)"
                placement="right"
                ngbTooltip="Ver"
              >
                <i class="far fa-eye fa-sm"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <mat-paginator
      *ngIf="paginationMaterial"
      [length]="paginationMaterial.total"
      [pageSize]="paginationMaterial.per_page"
      [pageIndex]="paginationMaterial.current_page - 1"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
