<div class="row">
  <div class="col-lg-6">
    <div class="card text-left">
      <img class="card-img-top" alt="" />
      <div class="card-body">
        <div class="row card-title d-flex justify-content-between">
          <div class="col-md-6 px-0">
            <h4 class="text-primary">Grupos de estibas</h4>
          </div>
          <div class="col-md-6 px-0 text-right">
            <div class="btn-group rounded w-sm-100">
              <button
                class="btn btn-sm btn-warning m-0"
                (click)="openConfirm(mapaBodega, alertOptionMapa.title)"
              >
                <i class="fa fa-map"></i> Ver mapa
              </button>
              <button
                class="btn btn-sm btn-primary"
                (click)="openConfirm(addGrupo, 'Agregar', 'grupo')"
              >
                <i class="fa fa-plus"></i> Agregar
              </button>
              <button class="btn btn-info btn-sm" (click)="openCloseGrupo()">
                <i class="fas fa-sliders-h"></i> Filtros
              </button>
            </div>
          </div>
        </div>
        <hr class="line" />
        <mat-accordion multi #accordionGrupo="matAccordion">
          <mat-expansion-panel class="mat-elevation-z0">
            <div class="row">
              <mat-form-field class="col" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input
                  type="text"
                  [(ngModel)]="filtrosGrupos.Nombre"
                  (input)="getGrupos()"
                  matInput
                  autocomplete="off"
                  placeholder="Busca por nombre"
                />
              </mat-form-field>
              <mat-form-field class="col" appearance="outline">
                <mat-label>Fecha de vencimiento?</mat-label>
                <mat-select
                  (selectionChange)="getGrupos()"
                  [(ngModel)]="filtrosGrupos.Fecha_Vencimiento"
                  matInput
                  placeholder="Busca por fecha de vencimiento"
                >
                  <mat-option value="">Todos</mat-option>
                  <mat-option value="Si">Sí</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col" appearance="outline">
                <mat-label>Presentación?</mat-label>
                <mat-select
                  (selectionChange)="getGrupos()"
                  [(ngModel)]="filtrosGrupos.Presentacion"
                  matInput
                  placeholder="Busca por Presentación"
                >
                  <mat-option value="">Todos</mat-option>
                  <mat-option value="Si">Sí</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <h5 class="text-dark">Bodega {{ bodega.Nombre | lowercase }}</h5>
        <div class="rounded-top table-responsive">
          <table
            class="table table-bordered table-striped table-sm"
            *ngIf="!loadingGrupos && grupos.length > 0; else notDataGrupos"
          >
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th>Nombre</th>
                <th>Fecha de vencimiento</th>
                <th>Presentación</th>
                <th class="col-1">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr
                role="button"
                class="text-center"
                #grupoEstiba
                *ngFor="let grupo of grupos"
                (click)="
                  grupoSelected = {
                    id: grupo.Id_Grupo_Estiba,
                    nombre: grupo.Nombre
                  };
                  createFormEstiba();
                  selected(grupos, grupo.Id_Grupo_Estiba);
                  getEstibas(grupo.Id_Grupo_Estiba)
                "
                [ngClass]="
                  grupo.selected && grupo.Estado === 'Activo'
                    ? 'bg-secondary text-white font-weight-bold'
                    : grupo.selected && grupo.Estado === 'Inactivo'
                    ? 'bg-danger text-white font-weight-bold'
                    : !grupo.selected && grupo.Estado === 'Inactivo'
                    ? 'text-danger font-weight-bold '
                    : ''
                "
              >
                <td class="align-middle">{{ grupo.Nombre }}</td>
                <td class="align-middle">{{ grupo.Fecha_Vencimiento }}</td>
                <td class="align-middle">{{ grupo.Presentacion }}</td>
                <td class="align-middle">
                  <div class="text-center">
                    <div ngbDropdown container="body" class="dropdown-primary">
                      <button
                        ngbDropdownToggle
                        class="btn btn-primary btn-sm"
                        type="button"
                      >
                        <!-- [ngClass]="{ 'bg-white text-primary': grupo.selected }" -->
                        <i class="mdi mdi-chevron-down"></i>
                      </button>
                      <div ngbDropdownMenu>
                        <a
                          role="button"
                          class="dropdown-item text-info"
                          href="javascript: void(0);"
                          (click)="
                            openConfirm(addGrupo, 'Editar', 'grupo');
                            getGrupo(grupo)
                          "
                        >
                          <i class="fas fa-edit"></i> Editar</a
                        >
                        <a
                          role="button"
                          [ngClass]="{
                            'text-danger': grupo.Estado == 'Activo',
                            'text-success': grupo.Estado == 'Inactivo'
                          }"
                          class="dropdown-item text-success"
                          (click)="
                            cambiarEstado(
                              grupo,
                              grupo.Estado == 'Activo' ? 'Inactivo' : 'Activo'
                            )
                          "
                        >
                          <i
                            class="fas"
                            [ngClass]="{
                              'fa-trash-alt': grupo.Estado == 'Activo',
                              'fa-check': grupo.Estado == 'Inactivo'
                            }"
                          ></i>
                          {{
                            grupo.Estado == "Activo" ? " Inactivar" : " Activar"
                          }}
                        </a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ngb-pagination
          *ngIf="pagination.grupos.collectionSize > 0"
          #paginationGrupos
          class="d-flex justify-content-center pagination-rounded pagination-sm"
          [collectionSize]="pagination.grupos.collectionSize"
          (pageChange)="getGrupos($event)"
          maxSize="5"
          rotate="true"
          ellipses="false"
          boundaryLinks="true"
          [pageSize]="pagination.grupos.pageSize"
          [(page)]="pagination.grupos.page"
          aria-label="Default pagination"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card text-left">
      <img class="card-img-top" alt="" />
      <div class="card-body">
        <div class="row card-title d-flex justify-content-between">
          <div class="col-md-6 px-0">
            <h4 class="text-primary">Estibas</h4>
          </div>
          <div
            class="col-md-6 px-0 text-right"
            *ngIf="grupoSelected.id != null"
          >
            <div class="btn-group rounded w-sm-100">
              <button
                class="btn btn-sm btn-primary"
                (click)="openConfirm(addEstiba, 'Agregar', 'estiba')"
              >
                <i class="fa fa-plus"></i> Agregar
              </button>
              <button class="btn btn-info btn-sm" (click)="openCloseEstiba()">
                <i class="fas fa-sliders-h"></i> Filtros
              </button>
            </div>
          </div>
        </div>
        <hr class="line" />
        <mat-accordion multi #accordionEstiba="matAccordion">
          <mat-expansion-panel class="mat-elevation-z0">
            <div class="row">
              <mat-form-field class="col" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input
                  type="text"
                  [(ngModel)]="filtrosEstibas.Nombre"
                  (input)="getEstibas(grupoSelected.id)"
                  matInput
                  autocomplete="off"
                  placeholder="Busca por nombre"
                />
              </mat-form-field>
              <mat-form-field class="col" appearance="outline">
                <mat-label>Código de barras</mat-label>
                <input
                  type="text"
                  [(ngModel)]="filtrosEstibas.Codigo_Barras"
                  (input)="getEstibas(grupoSelected.id)"
                  matInput
                  autocomplete="off"
                  placeholder="Busca por código de barras"
                />
              </mat-form-field>
              <mat-form-field class="col" appearance="outline">
                <mat-label>Estado?</mat-label>
                <mat-select
                  (selectionChange)="getEstibas(grupoSelected.id)"
                  [(ngModel)]="filtrosEstibas.Estado"
                  matInput
                  placeholder="Busca por Estado"
                >
                  <mat-option value="">Todos</mat-option>
                  <mat-option value="Disponible">Disponible</mat-option>
                  <mat-option value="Inactiva">Inactiva</mat-option>
                  <mat-option value="Inventario">Inventario</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <h5 class="text-dark" *ngIf="grupoSelected.nombre">
          Grupo {{ grupoSelected.nombre | lowercase }}
        </h5>
        <div class="rounded-top table-responsive">
          <table
            class="table table-bordered table-striped table-sm"
            *ngIf="!loadingEstibas && estibas.length > 0; else notDataEstibas"
          >
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th>Nombre</th>
                <th>Código de barras</th>
                <th>Estado</th>
                <th class="col-1">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr
                role="button"
                class="text-center"
                *ngFor="let estiba of estibas"
                [ngClass]="{
                  'text-danger font-weight-bold': estiba.Estado == 'Inactivo'
                }"
              >
                <td class="align-middle">{{ estiba.Nombre }}</td>
                <td class="align-middle">{{ estiba.Codigo_Barras }}</td>
                <td class="align-middle">{{ estiba.Estado }}</td>
                <td class="align-middle">
                  <div class="text-center">
                    <div ngbDropdown container="body" class="dropdown-primary">
                      <button
                        ngbDropdownToggle
                        class="btn btn-primary btn-sm"
                        type="button"
                      >
                        <i class="mdi mdi-chevron-down"></i>
                      </button>
                      <div ngbDropdownMenu>
                        <a
                          role="button"
                          class="dropdown-item text-info"
                          href="javascript: void(0);"
                          (click)="
                            openConfirm(addEstiba, 'Editar', 'estiba');
                            getEstiba(estiba)
                          "
                        >
                          <i class="fas fa-edit"></i> Editar</a
                        >
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ngb-pagination
          *ngIf="pagination.estibas.collectionSize > 0"
          #paginationEstibas
          class="d-flex justify-content-center pagination-rounded pagination-sm"
          [collectionSize]="pagination.estibas.collectionSize"
          (pageChange)="getEstibas(grupoSelected.id, $event)"
          maxSize="5"
          rotate="true"
          ellipses="false"
          boundaryLinks="true"
          [pageSize]="pagination.estibas.pageSize"
          [(page)]="pagination.estibas.page"
          aria-label="Default pagination"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>

  <!-- Modals -->

  <ng-template #addGrupo let-modal>
    <div class="modal-header">
      <h4 class="text-primary modal-title">
        {{ tituloFormulario }} grupo de estibas
      </h4>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="_modal.close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formGrupo">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Nombre grupo bodega</mat-label>
            <input
              matInput
              type="text"
              formControlName="nombre"
              placeholder="Nombre del grupo de la bodega"
              autocomplete="off"
              required
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label for="Aplica_Separacion_Categorias"
              >Fecha de vencimiento?</mat-label
            >
            <mat-select
              formControlName="fechaVencimiento"
              placeholder="Fecha de vencimiento?"
              required
            >
              <mat-option value="Si">Sí</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label for="Aplica_Separacion_Categorias"
              >Presentación?</mat-label
            >
            <mat-select
              formControlName="presentacion"
              placeholder="Presentación?"
              required
            >
              <mat-option value="Si">Sí</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="_modal.close()">
        Cancelar
      </button>
      <button
        type="button"
        (click)="createGrupo()"
        [disabled]="formGrupo.invalid"
        class="btn btn-primary"
      >
        Guardar
      </button>
    </div>
  </ng-template>

  <ng-template #addEstiba let-modal>
    <div class="modal-header">
      <h4 class="text-primary modal-title">{{ tituloFormulario }} Estiba</h4>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="_modal.close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formEstiba">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Nombre estiba</mat-label>
            <input
              type="text"
              formControlName="nombre"
              matInput
              placeholder="Nombre de la estiba"
              required
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Código de barras</mat-label>
            <input
              type="text"
              formControlName="codigoBarras"
              matInput
              placeholder="Código de barras"
              required
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label for="Aplica_Separacion_Categorias">Estado?</mat-label>
            <mat-select
              formControlName="estado"
              id="Estado"
              placeholder="Estado"
              required
            >
              <mat-option value="Disponible">Disponible</mat-option>
              <mat-option value="Inactiva">Inactiva</mat-option>
              <mat-option value="Inventario">Inventario</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="_modal.close()">
        Cancelar
      </button>
      <button
        type="button"
        (click)="createEstiba()"
        [disabled]="formEstiba.invalid"
        class="btn btn-primary"
      >
        Guardar
      </button>
    </div>
  </ng-template>

  <ng-template #mapaBodega let-modal>
    <div class="modal-header">
      <h4 class="text-primary modal-title">
        {{ tituloFormulario }}
      </h4>
    </div>
    <div class="modal-body">
      <img [src]="alertOptionMapa.imageUrl" alt="" class="w-100 h-100" />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="_modal.close()">
        Cerrar
      </button>
    </div>
  </ng-template>

  <swal #deleteSwal title="" text="" type=""> </swal>

  <ng-template #notDataGrupos>
    <app-not-data [loading]="loadingGrupos"></app-not-data>
  </ng-template>

  <ng-template #notDataEstibas>
    <app-not-data
      *ngIf="grupoSelected.id != null"
      [loading]="loadingEstibas"
    ></app-not-data>
    <app-not-data
      *ngIf="grupoSelected.id == null"
      text="Seleccione un grupo para ver las estibas en ese grupo"
    ></app-not-data>
  </ng-template>
</div>
