.f-9 {
    font-size: 9px !important;
}

.img-fluid {
    max-width: 100% !important;
}
hr.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #95c11f, #95c11f, #f0f0f0);
}
::ng-deep .mat-form-field-infix {
    height: 40px;
    font-size: 12px;
}