.scroller {
    position: relative;
    /* relative or absolute positioning required by Perfect Scrollbar */
    max-height: 100px;
    /* height must be limited to induce scrolling behavior */
}

img {
    width: 50px;
    height: 40px;
}