.scroller {
    position: relative;
    /* relative or absolute positioning required by Perfect Scrollbar */
    max-height: 100px;
    /* height must be limited to induce scrolling behavior */
}

img {
    max-width: 2rem;
    max-height: 2rem;
}
