.task-contain{ 
    h6{
        background-color: #FF8124!important;
        margin-top: 0px!important;
        margin:0px!important;
    }
}
.form-group{
    margin: 0!important;
    margin-top: 9px!important;
    .input-sm{
        font-size: 11px;
        height: auto;
        padding: 2px 5px;      
        max-width: 100px;
    }
}
.texto{
    font-size: 11px!important;
    margin-left: 9px !important;
}
.destino{
    color: #919aa3 !important;
    font-size: 12px !important;
    margin-top: 6px !important;
    
}
.fase{
   h6{
   
    margin-top: 5px!important;
    margin:0px!important;
   }
}
.text-muted{
    p{
        margin-bottom: 6px!important;
        font-size: 10px !important;
    }
}
.card-header {
    padding: 15px!important;
}
.btn-group{
    margin-top: 0px!important;
    margin-bottom: 5px!important;
    .btn-mini{
        padding:4px!important;
        margin-top: 0px!important;
        margin-top: -8px !important;
        
     
    }
}
.btn-mini{
    padding: 4px 6px 2px 6px !important;
    vertical-align: middle!important;
}
.dropdown-menu{
    min-width: 5rem!important;
}
.caja-botones{
    padding: 3px 9px !important; 
    font-size: 10px!important;
}
.btn-sm {
    padding: 6px 6px 5px 6px!important;
    line-height: 14px !important;
    font-size: 10px !important;
}

.ngx-datatable{
    overflow: visible !important ;
}
.form-control-sm{
    font-size: 11px !important;
    padding: 2px 5px !important;
    height: 22px !important;
    border-radius: 5px !important;
}
.imagen{
    width: 50px !important;
    height: 50px !important;
    padding: 1px;  
}
.project-task tbody tr td {
    vertical-align: middle !important;
}
.marguen{
   p{
    margin-top: 10px!important;
   } 
}
.text-muted{
    word-break: break-word;
    white-space: normal;
    padding: 0;
    margin: 0;
    line-height: 1 !important;
}
.mydrp, .mydrp .headerclearbtn, .mydrp .headerokbtn{
    border:0 !important;
    
     .selection{
        padding: 0 45px 0 6px !important;
    }
}  
.table{
    thead{
        th{
            padding:2px;
            .input-sm, .input-sm:focus{ 
                font-size: 10px;
                height: auto !important;
                padding: 2px 5px; 
                line-height: 1 !important;
                border:0 !important;   
                outline: none !important;
            }
        }
        .tabla-filtro{
            padding:0 !important;
        }
    }
    font-size: 10px;
    td{
        padding: 2px;
        vertical-align: middle;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
    }
}