.form-control{
    font-size: 11px !important;
    padding: 2px 5px !important;
    height: 22px !important;
    border-radius: 5px !important;
}
.form-control-sm{
    font-size: 11px !important;
    padding: 2px 5px !important;
    height: 22px !important;
    border-radius: 5px !important;
}

label{
    font-size: 11px!important;
}
.table{
    td{
        border: dotted #ccc !important;
        white-space: inherit !important;
        text-align: left !important;
        p{
            text-align: center !important;
        }
    }
    width: 100% !important;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #73b4ff; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bcc9d4;
    border-radius: 12px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0b6bd8; 
  }