<!-- <app-modal-basic #modalActualizarEstiba [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <h4 class="modal-title">{{tipo}} Estiba</h4>
        <h6 class="text-secondary">{{estiba.Nombre}}</h6>
        <button type="button" class="close basic-close" (click)="cerrarModal()">
              <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="app-modal-body">
        <form #formEstiba="ngForm">

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre</label>
                        <input type="text" name="Cum" required class="form-control" [(ngModel)]="estiba.Nombre">
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="form-group ">
                        <label for="exampleFormControlInput1 ">Código de barras</label>
                        <input type="number " name="Precio " required class="form-control " [(ngModel)]="estiba.Codigo_Barras">
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="form-group ">
                        <label for="exampleFormControlInput1 ">Estado</label>
                        <select name=" " [(ngModel)]="estiba.Estado" required class="form-control " id=" ">
                        <option value="Disponible">Disponible</option>
                        <option value="Inventario">Inventario</option>
                        <option value="Inactiva">Inactiva</option>
                      </select>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="app-modal-footer ">
        <div class="text-right ">
            <button type="button " class="btn btn-default btn-sm btn-danger " (click)="cerrarModal() ">Salir</button>
            <button type="button " class="btn btn-default btn-sm btn-success " [disabled]="formEstiba.invalid " [swal]="alertConfirm ">Guardar</button>

        </div>
    </div>

</app-modal-basic>

<swal #alert title="" text="" type="" [options]="{ confirmButtonText: 'Ok'} "></swal>
<swal #alertConfirm [options]="alertOption "></swal> -->