<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Horas extras/recargos</h4>
    <button
      type="button"
      class="btn btn-sm btn-flash-border-primary ri-close-fill"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <table
      class="table table-bordered table-striped table-sm table-responsive-lg"
      style="font-size: small"
    >
      <thead class="bg-light">
        <tr class="text-center text-uppercase">
          <th>Tipo</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of horasExtras | ObjToArrayKeysPipe"
          class="text-center"
        >
          <td>{{ item }}</td>
          <td>{{ horasExtras[item] }} h</td>
        </tr>
        <!-- <tr v-for="(extra, index) in horasExtras" :key="index">
          <td class="custom-label text-left">{{ NombresExtras[index] }}</td>
          <td class="custom-label text-center">{{ extra }} h</td>
        </tr> -->
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-default"
      (click)="modal.dismiss('Cross click')"
    >
      Cerrar
    </button>
  </div>
</ng-template>
