<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Corte láser - Materiales</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button
            class="btn btn-sm btn-primary"
            (click)="openConfirm(add, 'Nuevo material')"
          >
            <i class="fa fa-plus"></i> Agregar
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="!loading && materials.length > 0; else notData"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Nombre</th>
            <th>F. Creación</th>
            <th class="col-1">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of materials" class="text-center">
            <td class="align-middle">{{ item.name | uppercase }}</td>
            <td class="align-middle">
              {{ item.created_at | date: "longDate" }}
            </td>
            <td class="align-middle">
              <div ngbDropdown container="body" class="dropdown-primary">
                <button
                  ngbDropdownToggle
                  class="btn btn-primary btn-sm waves-light"
                  type="button"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a
                    class="dropdown-item waves-light text-success caja-botones"
                    href="javascript: void(0);"
                    (click)="getMaterial(item); openConfirm2(modalVer)"
                  >
                    <i class="far fa-eye"></i> Ver
                  </a>
                  <a
                    class="dropdown-item waves-light text-info caja-botones"
                    href="javascript: void(0);"
                    (click)="
                      getMaterial(item); openConfirm(add, 'Editar material')
                    "
                  >
                    <i class="far fa-edit"></i> Editar
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="pagination.collectionSize"
      [pageSize]="pagination.pageSize"
      [(page)]="pagination.page"
      (pageChange)="getMaterials($event)"
      aria-label="Default pagination"
      maxSize="5"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
    >
    </ngb-pagination>
  </div>
</div>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">{{ title }}</h4>
    <button
      type="button"
      class="btn btn-sm btn-flash-border-primary ri-close-fill"
      aria-label="Close"
      (click)="
        modal.dismiss('Cross click'); form.reset(); materialsList.clear()
      "
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-lg-5">
          <div class="row">
            <mat-form-field class="col" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input
                matInput
                type="text"
                placeholder="Ingresa el nombre"
                formControlName="name"
                autocomplete="off"
              />
            </mat-form-field>
          </div>
          <div class="rounded-top table-responsive">
            <table class="table table-bordered table-striped table-sm">
              <thead class="bg-light">
                <tr class="text-center text-uppercase">
                  <th class="align-middle">Espesor</th>
                  <th class="align-middle">Valor Unitario</th>
                  <th class="align-middle">Velocidad Real</th>
                  <th class="align-middle">Seg. Percing</th>
                  <th class="align-middle"><i class="fas fa-trash-alt"></i></th>
                </tr>
              </thead>
              <tbody formArrayName="materials">
                <ng-container
                  *ngIf="materialsList.controls.length; else sinDatos"
                >
                  <ng-container
                    *ngFor="let item of materialsList.controls; let i = index"
                  >
                    <tr [formGroupName]="i">
                      <td>
                        <input
                          type="number"
                          class="form-control form-control-sm"
                          formControlName="thickness"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control form-control-sm"
                          formControlName="unit_value"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control form-control-sm"
                          formControlName="actual_speed"
                        />
                      </td>
                      <td>
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          formControlName="seconds_percing"
                        />
                      </td>
                      <td>
                        <button
                          class="btn btn-outline-danger btn-sm"
                          type="button"
                          (click)="deleteMaterial(i)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
            <div class="d-flex justify-content-end">
              <button
                class="btn btn-primary btn-sm"
                type="button"
                (click)="newMaterial()"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <h6 class="text-center">Variables</h6>
          <hr />
          <div class="row">
            <div
              class="form-group col-md-3 mb-0"
              *ngFor="let item of variables"
            >
              <label for="">{{ item.label }}</label>
              <p class="text-info">{{ "{" + item.var + "}" }}</p>
            </div>
            <mat-form-field
              class="col-md-12 mat-form-field-no-padding textarea"
              appearance="outline"
            >
              <mat-label>Fórmula</mat-label>
              <textarea
                matInput
                placeholder="Ingrese la fórmula"
                rows="5"
                formControlName="formula"
                name="formula"
                required
                [cdkTextareaAutosize]="true"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="
        modal.dismiss('Cross click'); form.reset(); materialsList.clear()
      "
    >
      Cancelar
    </button>
    <button
      type="button"
      [disabled]="!form.valid"
      (click)="save()"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #modalVer let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Ver material</h4>
    <button
      type="button"
      class="btn btn-sm btn-flash-border-primary ri-close-fill"
      aria-label="Close"
      (click)="modal.dismiss('Cross click'); closeModalVer()"
    ></button>
  </div>
  <div class="modal-body">
    <h5 class="text-center">{{ material.name | titlecase }}</h5>
    <div class="rounded-top table-responsive">
      <table class="table table-sm table-striped">
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Espesor</th>
            <th>Valor Unitario</th>
            <th>Velocidad Real</th>
            <th>Seg. Percing</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of material.cut_laser_material_value"
            class="text-center"
          >
            <td>{{ item.thickness }}</td>
            <td>{{ item.unit_value }}</td>
            <td>{{ item.actual_speed }}</td>
            <td>{{ item.seconds_percing }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click'); closeModalVer()"
    >
      Cerrar
    </button>
  </div>
</ng-template>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
<ng-template #si>
  <p>Si</p>
</ng-template>
<ng-template #no>
  <p>No</p>
</ng-template>
<ng-template #sinDatos>
  <tr>
    <td colspan="100%" class="text-center">
      <div class="alert alert-warning" role="alert">Sin datos agregados</div>
    </td>
  </tr>
</ng-template>
