.table-items {
  font-size: smaller;

  input {
    font-size: smaller;
  }

  th {
    text-align: center;
    font-weight: 900;
  }

  thead>tr>th {
    color: black;
    border: 1px solid gainsboro;
    border-radius: 2px;
  }

  i {
    font-size: 15px;
  }
}

/* .values {
    padding: 5px 0px;
    margin: 0!important;
  
    text-align: right;
  } */
.fa,
.fas,
.far {
  cursor: pointer;
}

.detachable {
  cursor: pointer;
}

.form-control-plaintext {
  background-color: transparent;
}

$principal: #232247;

.header-item {
  background-color: rgb(255, 255, 255);
  color: $principal;
}

.card {
  ::-webkit-scrollbar {
    height: 7px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
    border: black;
  }

  ::-webkit-scrollbar-thumb {
    background: #95c11f;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #96c11f94;
  }
}