<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">
      Lista de <strong>APU</strong> registrados
    </h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <ng-container [formGroup]="form_filters">
        <mat-form-field class="col-md-3" appearance="outline">
          <mat-label>Rango de fechas</mat-label>
          <input
            matInput
            [satDatepicker]="picker"
            [value]="date"
            (dateChange)="selectedDate($event)"
            name="daterange"
            autocomplete="off"
          />
          <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
          <sat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></sat-datepicker-toggle>
        </mat-form-field>
        <mat-form-field class="col-md-3" appearance="outline">
          <mat-label>Código</mat-label>
          <input
            matInput
            type="text"
            placeholder="Busca por código"
            formControlName="code"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col-md-3" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            placeholder="Busca por nombre"
            name="name"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col-md-3" appearance="outline">
          <mat-label>Conjunto</mat-label>
          <input
            matInput
            type="text"
            formControlName="set_name"
            placeholder="Busca por conjunto"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col-md-3" appearance="outline">
          <mat-label>Máquina</mat-label>
          <input
            matInput
            type="text"
            formControlName="machine_name"
            placeholder="Busca por máquina"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col-md-3" appearance="outline">
          <mat-label>Ciudad</mat-label>
          <input
            matInput
            type="text"
            formControlName="city"
            placeholder="Busca por ciudad"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col-md-3" appearance="outline">
          <mat-label>Cliente</mat-label>
          <input
            matInput
            type="text"
            formControlName="client"
            placeholder="Busca por cliente"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col-md-3" appearance="outline">
          <mat-label>Línea</mat-label>
          <input
            matInput
            type="text"
            formControlName="line"
            placeholder="Busca por línea"
            name="line"
            autocomplete="off"
          />
        </mat-form-field>

        <mat-form-field class="col" appearance="outline" *ngIf="!filter">
          <mat-label>Tipo</mat-label>
          <mat-select name="type" formControlName="type">
            <mat-option value="">Todos</mat-option>
            <mat-option value="Pieza">Pieza</mat-option>
            <mat-option value="Conjunto">Conjunto</mat-option>
            <mat-option value="Servicio">Servicio</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Descripción</mat-label>
          <input
            matInput
            type="text"
            formControlName="description"
            placeholder="Busca por descripción"
            autocomplete="off"
          />
        </mat-form-field>
      </ng-container>
    </div>
    <ng-container *ngIf="apus?.length && !loading; else notData">
      <div class="rounded-top table-responsive">
        <table class="table table-bordered table-striped table-sm">
          <thead class="bg-light">
            <tr class="text-center text-uppercase">
              <th><i class="fas fa-check"></i></th>
              <th>Código</th>
              <th>Fecha</th>
              <th>Cliente</th>
              <th>Nombre</th>
              <th>Conjunto</th>
              <th>Máquina</th>
              <th>Ciudad</th>
              <th>Linea</th>
              <th>Tipo</th>
              <th>Costo unitario</th>
              <th><i class="mdi mdi-chevron-down"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let apu of apus" class="text-center">
              <td class="align-middle pb-0">
                <mat-checkbox
                  [(ngModel)]="apu.selected"
                  color="primary"
                  (change)="setState(apu, $event)"
                ></mat-checkbox>
              </td>
              <td class="text-nowrap">{{ apu?.code | uppercase }}</td>
              <td class="align-middle">
                {{ apu?.created_at | date : "MMM d, y" }}
              </td>
              <td class="align-middle">
                {{ apu?.third_party?.full_name | uppercase }}
              </td>
              <td class="align-middle">{{ apu?.name | capitalLetter }}</td>
              <td>{{ item?.set_name || "Sin información" | capitalLetter }}</td>
              <td>
                {{ item?.machine_name || "Sin información" | capitalLetter }}
              </td>
              <td class="align-middle">{{ apu?.city?.name | uppercase }}</td>
              <td class="align-middle">{{ apu?.line | capitalLetter }}</td>
              <td class="align-middle">{{ apu?.type_name | capitalLetter }}</td>
              <td class="align-middle">
                ${{ apu?.unit_cost | number : "1.2-2" }}
              </td>
              <td class="align-middle">
                <div ngbDropdown container="body" class="dropdown-primary">
                  <button
                    ngbDropdownToggle
                    class="btn btn-primary btn-sm"
                    type="button"
                  >
                    <i class="mdi mdi-chevron-down"></i>
                  </button>
                  <div ngbDropdownMenu>
                    <a
                      role="button"
                      class="dropdown-item text-success"
                      (click)="openNewTab(apu?.type, apu?.apu_id)"
                    >
                      <i class="fas fa-eye"></i> Ver
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
    <mat-paginator
      *ngIf="paginationMaterial"
      [length]="paginationMaterial?.total"
      [pageSize]="paginationMaterial?.per_page"
      [pageIndex]="paginationMaterial?.current_page - 1"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close()">
      Cancelar
    </button>
    <button type="button" (click)="send()" class="btn btn-primary">
      Agregar
    </button>
  </div>
</ng-template>

<ng-template #notData>
  <app-not-data
    [loading]="loading"
    [text]="'No hay resultados de APU'"
  ></app-not-data>
</ng-template>
