<ng-container *ngIf="personData" class="text-center">
  <ng-container *ngFor="let diario of personData.daysWork">
    <app-rotativo
      *ngIf="turnType == 'rotativo'"
      [person]="person"
      (updateDates)="getData()"
      [diario]="diario[0] != undefined ? diario[0].day : {}"
      [info]="personData"
      [day]="diario"
    ></app-rotativo>

    <app-fijo
      *ngIf="turnType == 'fijo'"
      [person]="person"
      (updateDates)="getData()"
      [diario]="diario"
      [info]="personData"
      [day]="diario"
    ></app-fijo>
  </ng-container>
</ng-container>
