<div class="rounded-top table-responsive">
  <table class="table table-bordered table-striped table-sm small-text">
    <thead>
      <tr class="table-primary text-uppercase">
        <th colspan="4"></th>
        <th colspan="3" class="text-center">Desplazamiento</th>
        <th colspan="3" class="text-center">Ordinarias</th>
        <th colspan="3" class="text-center">Festivas</th>
      </tr>
    </thead>
    <thead class="bg-light">
      <tr class="text-center text-uppercase">
        <th>Item</th>
        <th>Perfil</th>
        <th>Tipo Desplaza</th>
        <th>N. Persona</th>
        <th>N. Días</th>
        <th>Jornada</th>
        <th>Horas</th>
        <th>N. Días</th>
        <th>Jornada</th>
        <th>Horas</th>
        <th>N. Días</th>
        <th>Jornada</th>
        <th>Horas</th>
      </tr>
    </thead>
    <ng-container *ngFor="let item of accompaniments_c; let i = index">
      <tbody>
        <tr class="text-center">
          <td>{{ i + 1 }}</td>
          <td>{{ item.profiles.profile }}</td>
          <td>{{ getDesplazamiento(item.displacement_type) }}</td>
          <td>{{ item.people_number }}</td>
          <td>{{ item.days_number_displacement }}</td>
          <td>{{ item.workind_day_displacement }}</td>
          <td>{{ item.hours_displacement }}</td>
          <td>{{ item.days_number_ordinary }}</td>
          <td>{{ item.working_day_ordinary }}</td>
          <td>{{ item.hours_ordinary }}</td>
          <td>{{ item.days_number_festive }}</td>
          <td>{{ item.working_day_festive }}</td>
          <td>{{ item.hours_festive }}</td>
        </tr>
      </tbody>
    </ng-container>
  </table>
</div>
<h6>Viáticos</h6>
<div class="row">
  <ng-container *ngFor="let item of accompaniments_c; let i = index">
    <div class="col-md-4">
      <div class="rounded-top table-responsive">
        <table class="table table-bordered table-striped table-sm small-text">
          <thead>
            <tr class="table-primary text-center text-uppercase">
              <th>Perfil</th>
              <th>{{ item.profiles.profile }}</th>
              <th colspan="3">Viáticos</th>
            </tr>
          </thead>
          <thead class="bg-light">
            <tr class="text-center text-uppercase">
              <th>Descripción</th>
              <th>Unidad</th>
              <th>Cantidad</th>
              <th>Valor Unitario</th>
              <th>Valor Total</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="text-center"
              *ngFor="
                let itemx of item.travel_estimation_accompaniment_c;
                let j = index
              "
            >
              <td>{{ itemx.description }}</td>
              <td>{{ itemx.unit }}</td>
              <td>{{ itemx.amount }}</td>
              <td class="text-right">
                ${{ itemx.unit_value | number : "1.2-2" }}
              </td>
              <td class="text-right">
                ${{ itemx.total_value | number : "1.2-2" }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="4" class="text-right text-uppercase">Subtotal</th>
              <th class="text-right">
                ${{ item.subtotal | number : "1.2-2" }}
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </ng-container>
</div>
<div class="row d-flex justify-content-start mt-3">
  <div class="col-md-6">
    <h6 class="d-flex justify-content-between">
      SUBTOTAL VIÁTICOS
      <span class="badge badge-success badge-pill">
        ${{ subtotal_travel_expense_apm_c | number : "1.2-2" }}</span
      >
    </h6>
    <h6 class="d-flex justify-content-between">
      SUBTOTAL ACOMPAÑAMIENTO Y PUESTA EN MARCHA
      <span class="badge badge-success badge-pill"
        >${{ subtotal_accompaniment_c | number : "1.2-2" }}</span
      >
    </h6>
  </div>
</div>
