::ng-deep .mat-form-field.pb-0 .mat-form-field-wrapper {
    padding-bottom: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    height: 15px;
    width: 15px;
}