<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Nueva caja</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="forma">
      <div class="row">
        <mat-form-field class="col-md-6" appearance="outline">
          <mat-label>Plan de cuenta</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa el plan de cuenta"
            id="typeahead-format"
            formControlName="account_plan"
            [ngbTypeahead]="searchAccount"
            [inputFormatter]="formatter"
            [resultFormatter]="formatter"
            [editable]="false"
            autocomplete="off"
          />
        </mat-form-field>
        <div class="col-md-4 d-flex align-items-center">
          <h6>${{ forma.get("initial_balance").value | currency: "":"" }}</h6>
          <input
            id="typeahead-format"
            type="hidden"
            formControlName="initial_balance"
            class="form-control form-control-sm form-control-plaintext"
          />
        </div>
        <mat-form-field class="col-md-6" appearance="outline">
          <mat-label>Funcionario responsable</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa el nombre"
            id="typeahead-format"
            formControlName="person"
            [ngbTypeahead]="searchPerson"
            [inputFormatter]="formatter"
            [resultFormatter]="formatter"
            [editable]="false"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col-md-6" appearance="outline">
          <mat-label>Nombre de caja</mat-label>
          <input
            matInput
            type="text"
            formControlName="description"
            placeholder="Ingresa el nombre de la caja"
            autocomplete="off"
          />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-default"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="save()"
      [disabled]="!forma.valid"
    >
      Guardar
    </button>
  </div>
</ng-template>
