<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Alertas y comunicaciones</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button
            class="btn btn-primary btn-sm"
            (click)="openConfirm(add)"
            ngbTooltip="Enviar"
          >
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="!loading && datas.length > 0; else notData"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th class="align-middle" scope="col">Fecha</th>
            <th class="align-middle" scope="col">Tipo</th>
            <th class="align-middle" scope="col">Persona que Recibe</th>
            <th class="align-middle" scope="col">Detalles</th>
            <th class="align-middle" scope="col">Ver</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of datas" class="text-center">
            <td class="align-middle" scope="row">
              {{ data.created_at | date }}
            </td>
            <td class="align-middle">{{ data.type }}</td>
            <td class="align-middle">
              {{ data.first_name }} {{ data.first_surname }}
            </td>
            <td class="align-middle">{{ data.description }}</td>
            <td class="align-middle">
              <a
                *ngIf="data.url"
                type="button"
                class="btn btn-primary btn-sm"
                [routerLink]="data.url"
              >
                <i class="fas fa-eye"></i>
              </a>
              <a *ngIf="!data.url" type="button" class="btn btn-danger btn-sm">
                <i class="fas fa-ban"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="pagination.collectionSize"
      [pageSize]="pagination.pageSize"
      [(page)]="pagination.page"
      (pageChange)="getAlerts($event)"
      aria-label="Default pagination"
      maxSize="5"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
    >
    </ngb-pagination>
  </div>
</div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Alertas y comunicaciones</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Grupo</mat-label>
          <mat-select
            formControlName="group_id"
            (selectionChange)="getDependencies($event.value)"
          >
            <mat-option *ngFor="let item of groups" [value]="item.value">{{
              item.text
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Dependencia</mat-label>
          <mat-select
            (selectionChange)="getPeople($event.value)"
            formControlName="dependency_id"
          >
            <mat-option
              *ngFor="let item of dependencies"
              [value]="item.value"
              >{{ item.text }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Funcionarios</mat-label>
          <mat-select formControlName="user_id">
            <mat-option *ngFor="let item of people" [value]="item.value">{{
              item.text
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Tipo</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa el tipo"
            formControlName="type"
            required
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field
          class="col-12 mat-form-field-no-padding textarea"
          appearance="outline"
        >
          <mat-label>Detalle del mensaje</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="Ingrese el detalle"
            rows="5"
            id="descripcion"
            name="notas"
            [cdkTextareaAutosize]="true"
          ></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      (click)="createAlert()"
      [disabled]="!form.valid"
      class="btn btn-primary"
    >
      Enviar
    </button>
  </div>
</ng-template>
