

img {
  width: 38px;
  border-radius: 50%;
}
.turno {
  color: #2a93d5;
  font-size: 13px;
  padding: 0px 5px;
  border: 1px solid #2a93d5;
}
.item-hora {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
}
input[type="week"] {
  border-color: #2a93d5;
  background-color: #2a93d5;
  padding: 0;
  color: #fff;
  text-align: center;
}
input[type="week"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
