<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Bodegas</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button
            class="btn btn-sm btn-primary"
            (click)="openConfirm(add, 'Agregar')"
          >
            <i class="fa fa-plus"></i> Agregar
          </button>
          <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input
              type="text"
              [(ngModel)]="filtros.Nombre"
              (input)="getBodegas()"
              matInput
              placeholder="Busca por nombre"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Dirección</mat-label>
            <input
              type="text"
              [(ngModel)]="filtros.Direccion"
              (input)="getBodegas()"
              matInput
              placeholder="Busca por dirección"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input
              type="text"
              [(ngModel)]="filtros.Telefono"
              (input)="getBodegas()"
              matInput
              placeholder="Busca por teléfono"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Compra Internacional</mat-label>
            <mat-select
              (selectionChange)="getBodegas()"
              [(ngModel)]="filtros.Compra_Internacional"
              matInput
              placeholder="Busca por Compra Internacional"
            >
              <mat-option value="">Todos</mat-option>
              <mat-option value="Sí">Sí</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="!loading && bodegas.length > 0; else notData"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Bodega</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Compra Internacional</th>
            <th class="col-1">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="text-center"
            *ngFor="let bodega of bodegas"
            [ngClass]="{
              'text-danger font-weight-bold': bodega.Estado == 'Inactivo'
            }"
          >
            <td class="align-middle">{{ bodega.Nombre }}</td>
            <td class="align-middle">{{ bodega.Direccion }}</td>
            <td class="align-middle">{{ bodega.Telefono }}</td>
            <td class="align-middle">{{ bodega.Compra_Internacional }}</td>
            <td class="align-middle">
              <div class="text-center">
                <div ngbDropdown container="body" class="dropdown-primary">
                  <button
                    ngbDropdownToggle
                    class="btn btn-primary btn-sm waves-light"
                    type="button"
                  >
                    <i class="mdi mdi-chevron-down"></i>
                  </button>
                  <div ngbDropdownMenu>
                    <a
                      class="dropdown-item waves-light caja-botones text-info"
                      href="javascript: void(0);"
                      (click)="openConfirm(add, 'Editar'); getBodega(bodega)"
                    >
                      <i class="far fa-edit"></i> Editar</a
                    >
                    <a
                      class="dropdown-item waves-light waves-effect caja-botones"
                      [routerLink]="[
                        'grupoestiba',
                        bodega.Id_Bodega_Nuevo
                      ]"
                    >
                      <i class="fa fa-cubes"></i> Grupos - Estibas</a
                    >
                    <a
                      [ngClass]="{
                        'text-danger': bodega.Estado == 'Activo',
                        'text-success': bodega.Estado == 'Inactivo'
                      }"
                      class="dropdown-item waves-light caja-botones text-success"
                      (click)="
                        cambiarEstado(
                          bodega,
                          bodega.Estado == 'Activo' ? 'Inactivo' : 'Activo'
                        )
                      "
                      (confirm)="eliminarBodega(bodega.Id_Bodega_Nuevo)"
                    >
                      <i
                        class="fas"
                        [ngClass]="{
                          'fa-trash-alt': bodega.Estado == 'Activo',
                          'fa-check': bodega.Estado == 'Inactivo'
                        }"
                      ></i
                      >{{
                        bodega.Estado == "Activo" ? " Inactivar" : " Activar"
                      }}</a
                    >
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="pagination.collectionSize"
      (pageChange)="getBodegas($event)"
      maxSize="5"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
      [pageSize]="pagination.pageSize"
      [(page)]="pagination.page"
      aria-label="Default pagination"
    >
    </ngb-pagination>
  </div>
</div>

<!-- Modals -->

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">{{ selected }} bodega</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formBodega">
      <div class="row">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Nombre bodega</mat-label>
          <input
            type="text"
            formControlName="nombre"
            matInput
            placeholder="Nombre de la bodega"
            required
          />
        </mat-form-field>

        <mat-form-field class="col" appearance="outline">
          <mat-label>Direccion</mat-label>
          <input
            type="text"
            formControlName="direccion"
            matInput
            placeholder="Dirección de la bodega"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input
            type="text"
            formControlName="telefono"
            matInput
            placeholder="Teléfono de la bodega"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label for="Aplica_Separacion_Categorias"
            >¿Compras internacionales?</mat-label
          >
          <mat-select
            formControlName="compraInternacional"
            id="Aplica_Separacion_Categorias"
            placeholder="Compras internacionales?"
            required
          >
            <mat-option value="Sí">Sí</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 px-0">
        <div class="form-group text-center">
          <div class="custom-input-file w-100 ">
            <input
              type="file"
              formControlName="mapa"
              placeholder="Mapa de la Bodega"
              #Mapa
              class="input-file"
              container="body"
              (change)="onFileChanged($event)"
              accept=".png, .jpg, .jpeg"
            /><!-- [required]="tipo == 'Crear'" -->
            Cargar <span *ngIf="bodega.Mapa">nuevo</span> mapa de la bodega.
          </div>
          <div class="col-md-12 text-center">
            <small *ngIf="file" class="text-success">Documento cargado</small>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      (click)="createBodega()"
      [disabled]="formBodega.invalid"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>

<!-- <swal #deleteSwal title="" text="" type=""> </swal> -->

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
