.card-header{
    .ti{
        color: white;
    }
}
.t-10{
    font-size: 10px!important;
}
.form-control-sm{
    height: 22px !important;
    font-size: 10px;
    line-height: 10px;
}
.form-group{
    margin: 0!important;
    margin-top: 11px!important;
    .input-sm{
        font-size: 11px;
        height: auto;
        padding: 2px 5px;
        max-width: 90px;
    }
}

.notify-cont{
    padding: 10px 0 !important;
    p{
        line-height: 1!important;

    }
    h4{
        margin: 0!important;
    }
}
.btn-group{
    .btn-mini{
        padding:2px;
    }
}

.imagen{
    width: 43px;
    height: 43px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 2px;

}
table {
    font-size: 11px!important;
    text-align: center;
  td{
    padding: 0.5rem;
    vertical-align: middle;
    word-wrap: break-word;
    white-space: normal;
  }
}


.btn-mini{
    padding: 4px 6px 2px 6px !important;
    vertical-align: middle!important;
}
.dropdown-menu{
    min-width: 120px !important;
    height: auto !important;
}
.caja-botones{
    padding: 3px 9px !important;
    font-size: 10px!important;
}
.btn-group{
    .btn-sm {
        padding: 5px 10px !important;
        line-height: 14px !important;
        font-size: 10px !important;
    }
}

.btn-sm {
    padding: 5px 10px 5px 10px!important;
    line-height: 14px !important;
    font-size: 10px !important;
}

.table{
    thead{
        th{
            padding:2px;
            .input-sm, .input-sm:focus{
                font-size: 10px;
                height: auto !important;
                padding: 2px 5px;
                line-height: 1 !important;
                border:0 !important;
                outline: none !important;
            }
        }
        .tabla-filtro{
            padding:0 !important;
            text-align: center;
        }
    }
    font-size: 10px;
    td{
        padding: 0.5rem;
        vertical-align: middle;
        word-wrap: break-word;
        white-space: normal;
    }
}
.tooltip-content4 {
    background: #27766a !important;
    border-bottom: 55px solid #27966a !important;

}
.tooltip-item2 {
    color: #424446 !important;
    font-size: 12px !important;


}
.mytooltip:hover .tooltip-item2 {
    color: #fff !important;
}
.table th, .table td {
    word-break: normal !important;
  }