hr.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #95c11f, #95c11f, #f0f0f0);
}
.fc .fc-today-button,
.fc .fc-nextMonth-button {
  font-size: 9px;
  height: 34px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    height: 15px;
    width: 15px;
}
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    height: 15px;
    width: 15px;
}