.fc .fc-today-button,
.fc .fc-nextMonth-button {
  font-size: 9px;
  height: 34px;
}

table,
tr,
td,
thead,
tbody {
  display: block !important;
}

tr {
  float: left !important;
  width: 50% !important;
}