<ng-template #ModalPlanes let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Cierre {{ tipoCierre }}</h4>
    <button
      type="button"
      class="btn btn-sm btn-flash-border-primary ri-close-fill"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <mat-form-field class="col-md-4" appearance="outline">
        <mat-label>Código</mat-label>
        <input
          matInput
          type="text"
          placeholder="Busca por código"
          [(ngModel)]="filtros.codigo"
          (input)="buscarPlanes()"
          autocomplete="off"
        />
      </mat-form-field>
      <mat-form-field class="col-md-4" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          type="text"
          placeholder="Busca por nombre"
          [(ngModel)]="filtros.nombre"
          (input)="buscarPlanes()"
          autocomplete="off"
        />
      </mat-form-field>
      <mat-form-field class="col-md-4" appearance="outline">
        <mat-label>Tipo de cierre</mat-label>
        <mat-select
          name="Tipo_C"
          [(ngModel)]="filtros.tipoCierre"
          (selectionChange)="buscarPlanes()"
        >
          <mat-option value="">Todos</mat-option>
          <mat-option value="Sin Asignar">Sin Asignar</mat-option>
          <mat-option value="Costos">Costos</mat-option>
          <mat-option value="Gastos">Gastos</mat-option>
          <mat-option value="Ingresos">Ingresos</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        
        *ngIf="!loading && Planes_Cuentas.length > 0; else notData"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th></th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th class="col-md-3">Tipo de cierre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Plan of Planes_Cuentas" class="text-center">
            <td class="align-middle">
              <i
                class="fas fa-2x"
                [ngClass]="{
                  'text-danger fa-money-bill':
                    Plan['Tipo_Cierre_' + tipoCierre] == 'Costos',
                  'text-warning fa-reply ':
                    Plan['Tipo_Cierre_' + tipoCierre] == 'Gastos',
                  'text-success fa-share':
                    Plan['Tipo_Cierre_' + tipoCierre] == 'Ingresos',
                  'text-danger fa-ban':
                    Plan['Tipo_Cierre_' + tipoCierre] == 'Sin Asignar'
                }"
              ></i>
            </td>
            <td class="align-middle">{{ Plan.Codigo }}</td>
            <td class="align-middle">{{ Plan.Nombre }}</td>
            <td class="align-middle">
              <select
                class="form-control input-sm"
                name="Tipo"
                [(ngModel)]="Plan['Tipo_Cierre_' + tipoCierre]"
                (ngModelChange)="setTipoPlan(Plan)"
              >
                <option value="Sin Asignar">Sin Asignar</option>
                <option value="Costos">Costos</option>
                <option value="Gastos">Gastos</option>
                <option value="Ingresos">Ingresos</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-default"
      (click)="modal.dismiss('Cross click')"
    >
      Cerrar
    </button>
  </div>
</ng-template>
<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
<!-- <swal #confirmacionGuardar [options]="alertOption"></swal> -->
