<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Profesiones</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button class="btn btn-primary btn-sm" (click)="openConfirm(add)">
            <i class="fa fa-plus"></i> Agregar
          </button>
          <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <div class="alert alert-danger" role="alert">
          Aún no tenemos filtros para esta sección.
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="!loading && professions.length > 0; else notData"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Profesión</th>
            <th ><i class="mdi mdi-chevron-down"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let profession of professions"
            class="text-center"
            [ngClass]="{
              'text-danger font-weight-bold': profession.state === 'Inactivo'
            }"
          >
            <td class="align-middle">{{ profession.name }}</td>
            <td class="align-middle">
              <div ngbDropdown container="body" class="dropdown-primary">
                <button
                  ngbDropdownToggle
                  class="btn btn-primary btn-sm waves-light"
                  type="button"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a
                    *ngIf="profession.state == 'Inactivo'"
                    class="dropdown-item waves-light text-success caja-botones"
                    href="javascript: void(0);"
                    (click)="activateOrInactivate(profession, 'Activo')"
                  >
                    <i class="fas fa-check"></i> Activar
                  </a>
                  <a
                    *ngIf="profession.state == 'Activo'"
                    class="dropdown-item waves-light text-danger caja-botones"
                    href="javascript: void(0);"
                    (click)="activateOrInactivate(profession, 'Inactivo')"
                  >
                    <i class="far fa-trash-alt"></i> Anular
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="pagination.collectionSize"
      [pageSize]="pagination.pageSize"
      [(page)]="pagination.page"
      (pageChange)="getProfessions($event)"
      aria-label="Default pagination"
      maxSize="5"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
    >
    </ngb-pagination>
  </div>
</div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Nueva profesión</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa el nombre"
            formControlName="name"
            required
            autocomplete="off"
          />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      (click)="createProfession()"
      [disabled]="!form.valid"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>
