<div class="row">
 
    <div class="form-group col-12 pl-0 d-flex justify-content-end">
     <!--  <app-turno [turnos]="turnos"></app-turno>
      <button
        class="btn btn-link"
        (click)="asignarHorariosMasivo()"
        style="padding: 0 10px !important"
      >
        Asignar
      </button> -->
    </div>
    <div class="col-12">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th class="text-center">Funcionario</th>
            <th class="text-center" *ngFor="let dia of diasSemana">
              {{ dia.dia }}
              <br />
              {{ formatFecha(dia.fecha) }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of people">
            <td class="funcionario-td" style="width: 70px">
              <img
                [src]="person?.image | image"
                height="45"
                class="mr-3 rounded-circle avatar-xs"
              />
              <span>{{ person.first_name }} {{ person.second_name }}</span>
            </td>
            <td
              class="text-center custom-label fecha-td"
              *ngFor="let dia of person.diasSemana"
            >
	    <select  class="form-control" [(ngModel)]="dia.horaExtra" name="">
	      <option value="">0 Hrs.</option>
	      <option value="1">1 Hr.</option>
	      <option value="2">2 Hrs.</option>
	      <option value="3">3 Hrs.</option>
	      <option value="4">4 Hrs.</option>
	      <option value="5">5 Hrs.</option>
	      <option value="6">5 Hrs.</option>
	    </select>              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="form-group col-12 mt-3">
      <button class="btn btn-info btn-sm btn-block" (click)="makeHorario()">
        Guardar
      </button>
    </div>
  </div>
  
