img {
    width: 50px;
    height: 40px;
}

.drop-zone:hover {
    background-color: rgb(243, 239, 239);
}


.mat-toolbar-single-row {
    max-height: 12px !important;
    background: transparent;
    font-size: 12px;
    padding: 0%;
    color: currentColor;
}