img {
    width: 50px;
}

.drop-zone:hover {
    background-color: rgb(243, 239, 239);
}

input.form-control-edit {
    width: auto;
    max-width: 100px;
}

.mat-toolbar-single-row {
    max-height: 12px !important;
    background: transparent;
    font-size: 12px;
    padding: 0%;
    color: currentColor;
}

input {
    min-width: 3rem;
}