.card {
    ::-webkit-scrollbar {
        height: 7px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 5px;
        border: black;
    }

    ::-webkit-scrollbar-thumb {
        background: #95c11f;
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #96c11f94;
    }
}

.mat-toolbar-single-row {
    max-height: 12px !important;
    background: transparent;
    font-size: 12px;
    padding: 0%;
    color: currentColor;
}