<ng-container [formGroup]="forma">
  <div formArrayName="items">
    <h5 class="text-center">Elementos del presupuesto</h5>
    <ng-container *ngIf="items.controls.length; else notData">
      <div *ngFor="let item of items.controls; let i = index">
        <div class="d-flex align-items-center justify-content-between">
          <h4 class="h4-custom">
            <span class="badge badge-primary badge-custom">{{ i + 1 }}</span>
          </h4>
          <div class="text-center w-100" [formGroupName]="i">
            <input
              appAutoFocusDirective
              type="text"
              class="input-custom w-100"
              formControlName="name"
            />
          </div>
          <div class="text-center span-custom">
            <i
              ngbTooltip="Eliminar Item"
              (click)="deleteItem(i)"
              class="text-white fas fa-trash fa-xs"
            ></i>
          </div>
        </div>
        <div class="rounded-top table-responsive">
          <table
            [formGroupName]="i"
            class="table table-bordered table-sm text-nowrap table-custom"
          >
            <thead>
              <tr class="text-center text-uppercase table-primary">
                <th class="align-middle" colspan="10">Costos Directos</th>
                <th
                  class="align-middle"
                  [DynamicColspan]="'indirect_cost'"
                  min="1"
                  [max]="indirectCosts.length + 1"
                  role="button"
                  (click)="changeView(item, 'indirect_cost')"
                >
                  <ng-container
                    *ngIf="item.controls.shows.value.indirect_cost; else down"
                  >
                    <i class="fas fa-chevron-right text-primary"></i>
                  </ng-container>
                  Costos Indirectos
                </th>
                <th
                  class="align-middle"
                  DynamicColspan
                  min="1"
                  [max]="7"
                  role="button"
                  (click)="changeView(item, 'sum_others')"
                >
                  <ng-container
                    *ngIf="item.controls.shows.value.sum_others; else down"
                  >
                    <i class="fas fa-chevron-right text-primary"></i>
                  </ng-container>
                  ADM + IMP + UTI
                </th>
                <th
                  class="align-middle"
                  DynamicColspan
                  min="4"
                  (click)="changeView(item, 'total_sale')"
                  [max]="6"
                  role="button"
                >
                  <ng-container
                    *ngIf="item.controls.shows.value.total_sale; else down"
                  >
                    <i class="fas fa-chevron-right text-primary"></i>
                  </ng-container>
                  Valor Venta
                </th>
                <th
                  class="align-middle"
                  (click)="changeView(item, 'prorrateo')"
                  role="button"
                  *ngIf="item.controls.shows.value.prorrateo"
                  colspan="4"
                >
                  <ng-container
                    *ngIf="item.controls.shows.value.prorrateo; else down"
                  >
                    <i class="fas fa-chevron-right text-primary"></i>
                  </ng-container>
                  Prorrateo de Valores
                </th>
                <th colspan="2"></th>
              </tr>
              <tr class="text-center text-uppercase bg-light">
                <th></th>
                <th class="align-middle">#</th>
                <th class="align-middle">Tipo</th>
                <th></th>
                <th class="align-middle">Descripción</th>
                <th></th>
                <th class="align-middle">Unidad</th>
                <th class="align-middle">Cantidad</th>
                <th class="align-middle">Costo unitario</th>
                <th class="align-middle" title="Valor Total Costo">
                  Valor total costo
                </th>
                <ng-container *ngIf="item.controls.shows.value.indirect_cost">
                  <th class="align-middle" *ngFor="let item of indirectCosts">
                    {{ item.text }}
                  </th>
                </ng-container>
                <th class="align-middle" title="Subtotal Indirectos">
                  Subtotal indirectos
                </th>
                <ng-container *ngIf="item.controls.shows.value.sum_others">
                  <th class="align-middle">%</th>
                  <th class="align-middle">AMD</th>
                  <th class="align-middle">%</th>
                  <th class="align-middle">Imprevistos</th>
                  <th class="align-middle">%</th>
                  <th class="align-middle">Utilidad</th>
                </ng-container>
                <th class="align-middle">ADM+IMP+UTI</th>
                <th class="align-middle">Otros Cargos</th>
                <ng-container *ngIf="item.controls.shows.value.total_sale">
                  <th class="align-middle">Subtotal</th>
                  <th class="align-middle">Retención</th>
                </ng-container>
                <th class="align-middle">%</th>
                <th class="align-middle">V/U Venta COP</th>
                <th class="align-middle">V/U Venta USD</th>
                <ng-container *ngIf="item.controls.shows.value.prorrateo">
                  <th class="align-middle">V. Prorr. COP</th>
                  <th class="align-middle">V. Prorr. USD</th>
                  <th class="align-middle">V/U Venta Prorr. COP</th>
                  <th class="align-middle">V/U Venta Prorr. USD</th>
                </ng-container>
                <th class="align-middle">Observaciones</th>
                <th class="align-middle">
                  <i class="mdi mdi-chevron-down"></i>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngIf="item.controls.subItems.controls.length; else notData2"
              >
                <ng-container formArrayName="subItems">
                  <ng-container
                    [formGroupName]="y"
                    *ngFor="
                      let subItem of item.controls.subItems.controls;
                      let y = index;
                      let last = last
                    "
                  >
                    <tr>
                      <a
                        nohref=""
                        (click)="findApus(item, true, subItem, y)"
                        class="btn_agregar_tr"
                      ></a>
                      <td class="align-middle">{{ i + 1 }}.{{ y + 1 }}</td>
                      <td class="align-middle">
                        <select
                          formControlName="type"
                          style="width: 4rem"
                          class="form-control form-control-sm"
                        >
                          <option
                            [value]="type.value"
                            *ngFor="let type of types"
                          >
                            {{ type.name }}
                          </option>
                        </select>
                        <ng-template #type>
                          {{ subItem.controls.type.value | capitalLetter }}
                        </ng-template>
                      </td>
                      <td>
                        <i
                          class="fas"
                          [class]="
                            subItem.get('type_module').value == 'apu_part'
                              ? 'fa-wrench'
                              : subItem.get('type_module').value == 'apu_set'
                              ? 'fa-cogs'
                              : subItem.get('type_module').value ==
                                'apu_service'
                              ? 'fa-headset'
                              : 'fa-box'
                          "
                        ></i>
                      </td>
                      <td class="align-middle">
                        <input
                          style="width: 11rem"
                          type="text"
                          class="form-control form-control-sm text-uppercase"
                          placeholder="Ingresa la descripción"
                          [readonly]="subItem.get('type_module').value"
                          [ngClass]="{
                            'form-control-plaintext':
                              subItem.get('type_module').value
                          }"
                          formControlName="description"
                        />
                      </td>
                      <td>
                        <div class="btn-group btn-group-sm" role="group">
                          <button
                            type="button"
                            *ngIf="last"
                            (click)="addSubItem(item)"
                            class="btn btn-success btn-sm"
                          >
                            <i class="fas fa-plus"></i>
                          </button>
                          <button
                            type="button"
                            *ngIf="!subItem.get('apu_id').value"
                            (click)="findApus(item, false, subItem, y)"
                            class="btn btn-info btn-sm"
                          >
                            <i class="fas fa-search"></i>
                          </button>
                          <button
                            type="button"
                            *ngIf="subItem.get('apu_id').value"
                            (click)="
                              openNewTab(
                                subItem.get('type_module').value,
                                subItem.get('apu_id').value
                              )
                            "
                            class="btn btn-primary btn-sm"
                          >
                            <i class="fas fa-eye"></i>
                          </button>
                          <!-- llega aqui -->
                        </div>
                      </td>
                      <td class="align-middle">
                        <input
                          type="text"
                          formControlName="unit"
                          class="form-control form-control-sm"
                        />
                      </td>
                      <td class="align-middle">
                        <input
                          currencyMask
                          [options]="masksMoney.maskNumbers"
                          formControlName="cuantity"
                          class="form-control form-control-sm"
                        />
                      </td>
                      <td class="align-middle">
                        <input
                          currencyMask
                          [options]="masksMoney.maskCOP"
                          formControlName="unit_cost"
                          class="form-control form-control-sm"
                        />
                      </td>
                      <td class="align-middle table-info">
                        <div class="values">
                          ${{
                            subItem.controls.total_cost.value | number : "1.2-2"
                          }}
                        </div>
                      </td>
                      <!-- Costos directos -->
                      <ng-container
                        formArrayName="indirect_costs"
                        *ngIf="item.controls.shows.value.indirect_cost"
                      >
                        <ng-container
                          [formGroupName]="indirecIndex"
                          *ngFor="
                            let indirect of subItem.controls.indirect_costs
                              .controls;
                            let indirecIndex = index
                          "
                        >
                          <td>
                            <div class="values">
                              ${{
                                indirect.controls.value.value | number : "1.2-2"
                              }}
                            </div>
                          </td>
                        </ng-container>
                      </ng-container>
                      <td class="align-middle table-success">
                        <div class="values">
                          ${{
                            subItem.controls.subtotal_indirect_cost.value
                              | number : "1.2-2"
                          }}
                        </div>
                      </td>
                      <!-- end Costos directos -->
                      <!-- Variables AMD IMPREVISTOS UTILIDAD -->
                      <ng-container
                        *ngIf="item.controls.shows.value.sum_others"
                      >
                        <td class="align-middle">
                          <input
                            formControlName="percentage_amd"
                            currencyMask
                            style="width: 2.7rem"
                            [options]="masksMoney.maskPorcentaje"
                            class="form-control form-control-sm"
                          />
                        </td>
                        <td class="align-middle">
                          <div class="values">
                            ${{
                              subItem.controls.value_amd.value
                                | number : "1.2-2"
                            }}
                          </div>
                        </td>
                        <td class="align-middle">
                          <input
                            formControlName="percentage_unforeseen"
                            currencyMask
                            style="width: 2.7rem"
                            [options]="masksMoney.maskPorcentaje"
                            class="form-control form-control-sm"
                          />
                        </td>
                        <td class="align-middle">
                          <div class="values">
                            ${{
                              subItem.controls.value_unforeseen.value
                                | number : "1.2-2"
                            }}
                          </div>
                        </td>
                        <td class="align-middle">
                          <input
                            formControlName="percentage_utility"
                            currencyMask
                            style="width: 2.7rem"
                            [options]="masksMoney.maskPorcentaje"
                            class="form-control form-control-sm"
                          />
                        </td>
                        <td class="align-middle">
                          <div class="values">
                            ${{
                              subItem.controls.value_utility.value
                                | number : "1.2-2"
                            }}
                          </div>
                        </td>
                      </ng-container>
                      <td class="align-middle table-danger">
                        <div class="values">
                          ${{
                            subItem.controls.total_amd_imp_uti.value
                              | number : "1.2-2"
                          }}
                        </div>
                      </td>
                      <!-- END Variables AMD IMPREVISTOS UTILIDAD -->
                      <!-- Variables TOTAl Venta -->
                      <td class="align-middle">
                        <input
                          currencyMask
                          [options]="masksMoney.maskCOP"
                          formControlName="another_values"
                          class="form-control form-control-sm"
                        />
                      </td>
                      <ng-container
                        *ngIf="item.controls.shows.value.total_sale"
                      >
                        <td class="align-middle">
                          <div class="values">
                            ${{
                              subItem.controls.subTotal.value | number : "1.2-2"
                            }}
                          </div>
                        </td>
                        <td class="align-middle">
                          <div class="values">
                            ${{
                              subItem.controls.retention.value
                                | number : "1.2-2"
                            }}
                          </div>
                        </td>
                      </ng-container>
                      <td class="align-middle">
                        <div class="values text-center">
                          {{ subItem.controls.percentage_sale.value | number }}%
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="values">
                          ${{
                            subItem.controls.value_cop.value | number : "1.2-2"
                          }}
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="values">
                          USD
                          {{
                            subItem.controls.value_usd.value | number : "1.2-2"
                          }}
                        </div>
                      </td>
                      <!-- END Variables TOTAl Venta -->
                      <ng-container *ngIf="item.controls.shows.value.prorrateo">
                        <td class="align-middle">
                          <div class="values">
                            ${{
                              subItem.controls.value_prorrota_cop.value
                                | number : "1.2-2"
                            }}
                          </div>
                        </td>
                        <td class="align-middle">
                          <div class="values">
                            USD
                            {{
                              subItem.controls.value_prorrota_usd.value
                                | number : "1.2-2"
                            }}
                          </div>
                        </td>
                        <td class="align-middle">
                          <div class="values">
                            ${{
                              subItem.controls.unit_value_prorrateado_cop.value
                                | number : "1.2-2"
                            }}
                          </div>
                        </td>
                        <td class="align-middle">
                          <div class="values">
                            USD
                            {{
                              subItem.controls.unit_value_prorrateado_usd.value
                                | number : "1.2-2"
                            }}
                          </div>
                        </td>
                      </ng-container>
                      <!-- VARIABLES -->
                      <td class="align-middle">
                        <input
                          type="text"
                          style="width: 5rem"
                          placeholder="Ingresa las observaciones"
                          formControlName="observation"
                          class="form-control form-control-sm"
                        />
                      </td>
                      <td class="text-center align-middle">
                        <i
                          ngbTooltip="Prorrateo de valores"
                          (click)="changeView(item, 'prorrateo')"
                          class="text-primary fas fa-hand-holding-usd mr-2"
                        ></i>
                        <i
                          ngbTooltip="Eliminar subitem"
                          (click)="deleteSubItem(item, y)"
                          class="text-danger far fa-trash-alt"
                        ></i>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
                <tr class="table-warning">
                  <th class="align-middle text-center" colspan="9">SUBTOTAL</th>
                  <td class="align-middle">
                    <div class="values">
                      ${{ item.controls.total_cost.value | number : "1.2-2" }}
                    </div>
                  </td>
                  <!-- TOTALS COSTOS INDIRECTOS -->
                  <ng-container
                    formArrayName="subtotal_indirect_cost_dynamic"
                    *ngIf="item.controls.shows.value.indirect_cost"
                  >
                    <!-- FOREACH indirect COSTS -->
                    <ng-container
                      [formGroupName]="indirecTotalIndex"
                      *ngFor="
                        let subtIndirect of item.controls
                          .subtotal_indirect_cost_dynamic.controls;
                        let indirecTotalIndex = index
                      "
                    >
                      <td class="align-middle">
                        <div class="values">
                          ${{
                            subtIndirect.controls.sub_total.value
                              | number : "1.2-2"
                          }}
                        </div>
                      </td>
                    </ng-container>
                  </ng-container>
                  <td class="align-middle">
                    <div class="values">
                      ${{
                        item.controls.subtotal_indirect_cost.value
                          | number : "1.2-2"
                      }}
                    </div>
                  </td>
                  <!-- END TOTALS COSTOS INDIRECTOS  -->
                  <!-- OTHERS -->
                  <ng-container *ngIf="item.controls.shows.value.sum_others">
                    <td class="align-middle"></td>
                    <td class="align-middle">
                      <div class="values">
                        ${{ item.controls.value_amd.value | number : "1.2-2" }}
                      </div>
                    </td>
                    <td class="align-middle"></td>
                    <td class="align-middle">
                      <div class="values">
                        ${{
                          item.controls.value_unforeseen.value
                            | number : "1.2-2"
                        }}
                      </div>
                    </td>
                    <td class="align-middle"></td>
                    <td class="align-middle">
                      <div class="values">
                        ${{
                          item.controls.value_utility.value | number : "1.2-2"
                        }}
                      </div>
                    </td>
                  </ng-container>
                  <td class="align-middle">
                    <div class="values">
                      ${{
                        item.controls.total_amd_imp_uti.value | number : "1.2-2"
                      }}
                    </div>
                  </td>
                  <!-- END OTHERS -->
                  <!-- TOTAL VALOR VENTA -->
                  <td class="align-middle">
                    <div class="values">
                      ${{
                        item.controls.another_values.value | number : "1.2-2"
                      }}
                    </div>
                  </td>
                  <ng-container *ngIf="item.controls.shows.value.total_sale">
                    <td class="align-middle">
                      <div class="values">
                        ${{ item.controls.subTotal.value | number : "1.2-2" }}
                      </div>
                    </td>
                    <td class="align-middle">
                      <div class="values">
                        ${{ item.controls.retention.value | number : "1.2-2" }}
                      </div>
                    </td>
                  </ng-container>
                  <td class="align-middle">
                    <div class="values text-center">
                      {{ item.controls.percentage_sale.value }}%
                    </div>
                  </td>
                  <td class="align-middle">
                    <div class="values">
                      ${{ item.controls.value_cop.value | number : "1.2-2" }}
                    </div>
                  </td>
                  <td class="align-middle">
                    <div class="values">
                      ${{ item.controls.value_usd.value | number : "1.2-2" }}
                    </div>
                  </td>
                  <!-- END TOTAL VALOR VENTA -->
                  <!-- TOTAL PRORRATEO -->
                  <ng-container *ngIf="item.controls.shows.value.prorrateo">
                    <td class="align-middle">
                      <input
                        currencyMask
                        [options]="masksMoney.maskCOP"
                        formControlName="value_prorrota_cop"
                        class="form-control form-control-sm"
                      />
                    </td>
                    <td class="align-middle">
                      <input
                        currencyMask
                        [options]="masksMoney.maskUSD"
                        formControlName="value_prorrota_usd"
                        class="form-control form-control-sm"
                      />
                    </td>
                    <td class="align-middle">
                      <div class="values">
                        ${{
                          item.controls.unit_value_prorrateado_cop.value
                            | number : "1.2-2"
                        }}
                      </div>
                    </td>
                    <td class="align-middle">
                      <div class="values">
                        USD
                        {{
                          item.controls.unit_value_prorrateado_usd.value
                            | number : "1.2-2"
                        }}
                      </div>
                    </td>
                  </ng-container>
                  <!-- TOTAL PRORRATEO -->
                  <td class="align-middle" colspan="2"></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>

    <div class="my-3 text-right">
      <button
        (click)="addItems()"
        class="btn btn-primary btn-sm"
        type="button"
        ngbTooltip="Agregar item"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
</ng-container>

<ng-template #notData>
  <div class="alert alert-warning text-center" role="alert">
    ¡No hay datos aquí!
  </div>
</ng-template>

<ng-template #down>
  <i class="fas fa-chevron-down text-primary"></i>
</ng-template>

<ng-template #notData2>
  <tr>
    <td colspan="100%" class="text-center p-0">
      <div class="alert alert-warning text-center" role="alert">
        ¡No hay datos aquí!
      </div>
    </td>
  </tr>
</ng-template>

<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.text" [term]="t"></ngb-highlight>
</ng-template>

<app-get-apus #apus (sendApus)="getApus($event)"> </app-get-apus>
<!-- <input
                          type="text"
                          style="width: 280px"
                          formControlName="description"
                          class="form-control form-control-sm"
                        /> -->
<!-- <input
                          id="typeahead-focus"
                          type="text"
                          class="form-control"
                          [(ngModel)]="model"
                          [ngbTypeahead]="search"
                          (focus)="focus$.next($any($event).target.value)"
                          (click)="click$.next($any($event).target.value)"
                          #instance="ngbTypeahead"
                        /> -->
<!-- [class.is-invalid]="(subItem.get('apu_id').invalid && subItem.get('description').touched)" -->
<!-- <small *ngIf="searching" class="form-text text-muted"
                          >searching...</small
                        > -->
