<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-10 px-0">
        <h6 class="text-dark">
          <i class="fas fa-money-bill"></i> Datos de nómina
        </h6>
      </div>
      <div class="col-md-2 px-0 text-right">
        <button class="btn btn-link" (click)="openModal(modal)">
          <i class="fas fa-pencil-alt"></i>
        </button>
      </div>
    </div>
    <div class="row" *ngIf="!loading && nomina; else notData">
      <div class="col-lg-6 text-lg-right text-center text-primary">
        Máximas de horas extras
      </div>
      <div class="col-lg-6 text-lg-left text-center">
        {{ nomina.max_extras_hours }}
      </div>
      <div class="col-lg-6 text-lg-right text-center text-primary">
        Máximos de festivos legales
      </div>
      <div class="col-lg-6 text-lg-left text-center">
        {{ nomina.max_holidays_legal }}
      </div>
      <div class="col-lg-6 text-lg-right text-center text-primary">
        Máximas llegadas tardes
      </div>
      <div class="col-lg-6 text-lg-left text-center">
        {{ nomina.max_late_arrival }}
      </div>
      <div class="col-lg-6 text-lg-right text-center text-primary">
        Salario base mensual
      </div>
      <div class="col-lg-6 text-lg-left text-center">
        $ {{ nomina.base_salary | number }}
      </div>
      <div class="col-lg-6 text-lg-right text-center text-primary">
        Auxilio de transporte
      </div>
      <div class="col-lg-6 text-lg-left text-center">
        $ {{ nomina.transportation_assistance | number }}
      </div>
      <div class="col-lg-6 text-lg-right text-center text-primary">
        Hora de inicio nocturna
      </div>
      <div class="col-lg-6 text-lg-left text-center">
        {{ nomina.night_start_time }}
      </div>
      <div class="col-lg-6 text-lg-right text-center text-primary">
        Hora de fin nocturna
      </div>
      <div class="col-lg-6 text-lg-left text-center">
        {{ nomina.night_end_time }}
      </div>
    </div>
  </div>
</div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Datos de nómina</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Máximo de horas extra</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ingresa el número máximo"
            formControlName="max_extras_hours"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Máximo de festivos legales</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ingresa el número máximo"
            formControlName="max_holidays_legal"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Máximo de llegadas tarde</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ingresa el número máximo"
            formControlName="max_late_arrival"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Salario base mensual</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ingresa el salario base"
            formControlName="base_salary"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Auxilio de transporte</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ingresa el valor"
            formControlName="transportation_assistance"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Inicio hora nocturna</mat-label>
          <input
            matInput
            type="time"
            formControlName="night_start_time"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Fin hora nocturna</mat-label>
          <input
            matInput
            type="time"
            formControlName="night_end_time"
            autocomplete="off"
            required
          />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      [disabled]="!form.valid"
      (click)="saveNominaData()"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>


