<h4 class="card-title mb-4">Certificados laborales</h4>
<div *ngIf="!loading && certificates.length > 0; else notData">
  <ul class="list-unstyled activity-wid">
    <li class="activity-list pb-1" *ngFor="let item of certificates">
      <div class="activity-icon">
        <img
          src="{{ item.image | image : 'users' }}"
          class="img-thumbnail rounded-circle header-profile-user mx-auto d-block"
          [title]="item.first_name + item.first_surname"
          onerror="this.src='../../../../../assets/images/noprofile.png'"
        />
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <div class="card-title font-weight-bold">
            {{ item.first_name }}
            {{ item.first_surname }}
          </div>
          <div class="card-text">
            {{ item.created_at | date : "longDate" }}
            <small class="text-muted"
              >{{ item.created_at | date : "hh:mm aa" }}
            </small>
          </div>
          <span class="text-muted">{{ item.reason }}</span>
        </div>
        <div>
          <i
            role="button"
            (click)="download(item.id)"
            class="text-info h3"
            [class]="
              !donwloading
                ? 'fa fa-cloud-download-alt'
                : 'fas fa-spinner fa-spin'
            "
          ></i>
        </div>
      </div>
    </li>
  </ul>
  <ngb-pagination
    class="d-flex justify-content-center pagination-rounded pagination-sm"
    [collectionSize]="pagination.collectionSize"
    (pageChange)="getWorkCertificates($event)"
    [pageSize]="pagination.pageSize"
    [(page)]="pagination.page"
    aria-label="Default pagination"
    maxSize="5"
    rotate="true"
    ellipses="false"
    boundaryLinks="true"
  >
  </ngb-pagination>
</div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
