<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-10 px-0">
        <h6 class="text-dark">
          <i class="fas fa-piggy-bank"></i> Datos de pago
        </h6>
      </div>
      <div class="col-md-2 px-0 text-right">
        <button class="btn btn-link" (click)="openModal(modal)">
          <i class="fas fa-pencil-alt"></i>
        </button>
      </div>
    </div>
    <div class="row" *ngIf="!loading && payments; else notData">
      <div class="col-lg-6 text-lg-right text-center text-primary">
        Frecuencia de pago
      </div>
      <div class="col-lg-6 text-lg-left text-center">
        {{ payments.payment_frequency }}
      </div>
      <div class="col-lg-6 text-lg-right text-center text-primary">
        Medio de pago
      </div>
      <div class="col-lg-6 text-lg-left text-center">
        {{ payments.payment_method }}
      </div>
      <div class="col-lg-6 text-lg-right text-center text-primary">Banco</div>
      <div class="col-lg-6 text-lg-left text-center">
        {{ bank }}
      </div>
      <div class="col-lg-6 text-lg-right text-center text-primary">
        Tipo de cuenta
      </div>
      <div class="col-lg-6 text-lg-left text-center">
        {{ payments.account_type }}
      </div>
      <div class="col-lg-6 text-lg-right text-center text-primary">
        Número de cuenta
      </div>
      <div class="col-lg-6 text-lg-left text-center">
        {{ payments.account_number }}
      </div>
    </div>
  </div>
</div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Datos de pago</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Frecuencia de pago</mat-label>
          <mat-select formControlName="payment_frequency" required>
            <mat-option
              *ngFor="let payment_frequency of payment_frequencys"
              [value]="payment_frequency.valor"
            >
              {{ payment_frequency.clave }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Medio de pago</mat-label>
          <mat-select formControlName="payment_method" required>
            <mat-option
              *ngFor="let payment of payment_method"
              [value]="payment.valor"
            >
              {{ payment.clave }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Banco para los pagos</mat-label>
          <mat-select formControlName="bank_id" required>
            <mat-option *ngFor="let bank of banks" [value]="bank.value">
              {{ bank.text }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Tipo de cuenta</mat-label>
          <mat-select formControlName="account_type" required>
            <mat-option
              *ngFor="let account_type of account_types"
              [value]="account_type.valor"
            >
              {{ account_type.clave }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Número de cuenta</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ingresa el número de cuenta"
            formControlName="account_number"
            autocomplete="off"
            required
          />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      [disabled]="!form.valid"
      (click)="savePaymentData()"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>
