<div class="row mb-3">
  <div class="col-md-6">
    <h5 class="text-secondary">Lista de turnos rotativos</h5>
  </div>
  <div class="col-md-6 text-right">
    <a class="btn btn-link btn-sm mr-1" (click)="modal.show()">
      <i class="fa fa-plus"></i> Crear Nuevo turno rotativo
    </a>
  </div>
</div>

<div class="card" *ngIf="turnosRotativo.length && !loading; else notData">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-2">
          <div class="collapse d-md-block" id="displayOptions ">
            <div
              class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top"
            >
              <input
                placeholder="Buscar... "
                class="form-control form-control-sm"
              />
            </div>
          </div>
        </div>
        <div class="separator mb-5"></div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered table-striped table-sm">
              <thead class="bg-light">
                <tr>
                  <th>Nombre</th>
                  <th class="text-center">Horario Semana</th>
                  <th class="text-center" style="width: 30px">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let turnoFijo of turnosFijos">
                  <td class="custom-label">{{ turnoFijo.text }}</td>
                  <td class="text-center">
                    <button
                      type="button "
                      class="btn btn-link btn-xs"
                      (click)="findHours(turnoFijo.value); hourModal.show()"
                    >
                      <i class="fa fa-eye"></i>
                    </button>
                  </td>
                  <td class="">
                    <div ngbDropdown class="dropdown-primary">
                      <button
                        ngbDropdownToggle
                        class="
                          btn btn-secondary btn-sm
                          waves-effect waves-light
                        "
                        type="button"
                      >
                        <i class="mdi mdi-chevron-down"></i>
                      </button>
                      <div ngbDropdownMenu>
                        <a
                          [routerLink]="['crear', turnoFijo.value]"
                          class="
                            dropdown-item
                            waves-light waves-effect
                            caja-botones
                          "
                        >
                          <i class="fa fa-pencil-alt"></i> Editar
                        </a>
                        <a
                          class="
                            dropdown-item
                            waves-light waves-effect
                            caja-botones
                          "
                        >
                          <i class="fa fa-times"></i> Anular
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>

<app-modal-basic #modal [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4>Asignar horas masivamente</h4>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="forma">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label class="custom-label" for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="name"
            [class.is-invalid]="invalid_name"
            placeholder="Nombre del Turno"
          />
          <ng-container *ngIf="invalid_name">
            <small
              *ngFor="let item of forma.get('name').errors | ObjToArrayPipe"
              class="text-danger"
            >
              {{ item?.msj }}
            </small>
          </ng-container>
        </div>
        <div class="form-group col-md-3">
          <label class="custom-label">Tolerancia de Entrada</label>
          <input
            type="number"
            formControlName="entry_tolerance"
            [class.is-invalid]="invalid_entry_tolerance"
            class="form-control form-control-sm"
          />
          <ng-container *ngIf="invalid_entry_tolerance">
            <small
              *ngFor="
                let item of forma.get('entry_tolerance').errors | ObjToArrayPipe
              "
              class="text-danger"
            >
              {{ item?.msj }}
            </small>
          </ng-container>
        </div>
        <div class="form-group col-md-3">
          <label class="custom-label">Tolerancia de Salida</label>
          <input
            type="number"
            formControlName="leave_tolerance"
            [class.is-invalid]="invalid_leave_tolerance"
            class="form-control form-control-sm"
          />
          <ng-container *ngIf="invalid_leave_tolerance">
            <small
              *ngFor="
                let item of forma.get('leave_tolerance').errors | ObjToArrayPipe
              "
              class="text-danger"
            >
              {{ item?.msj }}
            </small>
          </ng-container>
        </div>
        <div class="form-group col-md-2">
          <label class="custom-label" for="extras">Horas Extras</label>
          <select name="extras" class="form-control form-control-sm">
            <option value="0">No</option>
            <option value="1">Si</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="custom-label" for="dia">HORA DE ENTRADA </label>
          <input
            type="time"
            class="form-control"
            [class.is-invalid]="invalid_entry_time"
            formControlName="entry_time"
          />
          <ng-container *ngIf="invalid_entry_time">
            <small
              *ngFor="
                let item of forma.get('entry_time').errors | ObjToArrayPipe
              "
              class="text-danger"
            >
              {{ item?.msj }}
            </small>
          </ng-container>
        </div>
        <div class="form-group col-md-6">
          <label class="custom-label" for="dia">HORA DE SALIDA </label>
          <input
            type="time"
            class="form-control"
            [class.is-invalid]="invalid_leave_time"
            formControlName="leave_time"
          />
          <ng-container *ngIf="invalid_leave_time">
            <small
              *ngFor="
                let item of forma.get('leave_time').errors | ObjToArrayPipe
              "
              class="text-danger"
            >
              {{ item?.msj }}
            </small>
          </ng-container>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 form-check">
          <div class="form-group form-check">
            <input
              type="checkbox"
              formControlName="launch"
              id="acceptTerms"
              class="form-check-input"
            />
            <label class="custom-label">Aplica launch </label>
          </div>
        </div>
        <div class="form-group col-md-6 form-check">
          <div class="form-group form-check">
            <input
              type="checkbox"
              formControlName="breack"
              id="acceptTerms"
              class="form-check-input"
            />
            <label class="custom-label">Aplica breack </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="custom-label" for="dia">HORA DE LAUNCH </label>
          <input
            type="time"
            class="form-control"
            formControlName="launch_time"
          />
          <ng-container
            *ngIf="
              forma.get('launch_time').invalid &&
              forma.get('launch_time').touched
            "
          >
            <small
              *ngFor="
                let item of forma.get('launch_time').errors | ObjToArrayPipe
              "
              class="text-danger"
            >
              {{ item?.msj }}
            </small>
          </ng-container>
        </div>
        <div class="form-group col-md-6">
          <label class="custom-label" for="dia">HORA DE BREACK </label>
          <input
            type="time"
            class="form-control"
            formControlName="breack_time"
          />
          <ng-container
            *ngIf="
              forma.get('breack_time').invalid &&
              forma.get('breack_time').touched
            "
          >
            <small
              *ngFor="
                let item of forma.get('breack_time').errors | ObjToArrayPipe
              "
              class="text-danger"
            >
              {{ item?.msj }}
            </small>
          </ng-container>
        </div>
      </div>
    </form>
  </div>

  <div class="app-modal-footer">
    <div class="text-right">
      <button
        type="button"
        (click)="modal.hide()"
        class="btn btn-danger btn-sm mr-2"
      >
        Cerrar
      </button>
      <button type="submit" (click)="save()" class="btn btn-success btn-sm">
        Generar Horario
      </button>
    </div>
  </div>
</app-modal-basic>
