/* ng-select select-dropdown > div {
    z-index: 2;
}

.ng-dropdown-panel { display: block !important; } */
::ng-deep .mat-form-field-infix {
    height: 45px;
    font-size: 14px;
}
::ng-deep label{
    font-weight: 100 !important;
}