.text-uppercase {
    letter-spacing: 0.1em;
  }
  
  .nav-tabs {
    margin-bottom: 1rem;
    border-bottom: 0;
  }
  
  .nav-tabs > li {
    float: none;
    display: inline;
  }
  
  .nav-tabs li {
    margin-right: 15px;
  }
  
  .nav-tabs li:last-child {
    margin-right: 0;
  }
  
  .nav-tabs {
    position: relative;
    z-index: 1;
    display: inline-block;
  }
  
  .nav-tabs:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    z-index: -1;
  }
  
  .nav-tabs > li a {
    display: inline-block;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    color: #000;
    padding: 5px 30px;
  }
  
  .nav-tabs > li > a.active,
  .nav-tabs > li a.active > :focus,
  .nav-tabs > li > a.active:hover,
  .nav-tabs > li > a:hover {
    border: none;
    background-color: #008def;
    color: #fff;
  }