<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h5 class="text-primary">Subcategorías</h5>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100" *ngIf="!restriccionDesdeCatalogo">
          <button class="btn btn-primary btn-sm" (click)="openModal(add,'Agregar')">
            <i class="fa fa-plus"></i>
            Agregar
          </button>
          <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Categoría</mat-label>
            <mat-select
              [(ngModel)]="filters.categoria"
              (selectionChange)="getSubcategories()"
            >
              <mat-option value="">Todos</mat-option>
              <mat-option
                *ngFor="let categoria of categorias_filtro"
                [value]="categoria.value">{{ categoria.text }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input
              type="text"
              [(ngModel)]="filters.nombre"
              (input)="getSubcategories()"
              matInput
              autocomplete="off"
              placeholder="Busca por nombre"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Separable?</mat-label>
            <mat-select
              [(ngModel)]="filters.separable"
              (selectionChange)="getSubcategories()"
            >
              <mat-option value="">Todos</mat-option>
              <mat-option value="Si">Sí</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div
      class="rounded-top table-responsive"
      *ngIf="!Cargando && Sucategories.length > 0; else notData"
    >
      <table class="table table-bordered table-striped table-sm">
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th></th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>¿Es Separable?</th>
            <th><i class="mdi mdi-chevron-down"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Sucategories" class="text-center"
            [ngClass]="{
              'text-danger': (item.Activo==0),
              'font-weight-bold': (item.Fijo==1)
            }"
          >
            <td><span class="badge badge-dark" *ngIf="item.Fijo==1">Fija</span></td>
            <td class="text-left">{{ item.Nombre }}</td>
            <td class="text-left">{{ item.categoria }}</td>
            <td>{{ item.Separable }}</td>
            <td>
              <div ngbDropdown container="body" class="dropdown-primary">
                <button
                  ngbDropdownToggle
                  class="btn btn-primary btn-sm waves-light"
                  type="button"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a
                    class="dropdown-item text-info waves-light"
                    href="javascript: void(0);"
                    (click)="openModal(add,'Editar',item)"
                  >
                    <i class="far fa-edit"></i> Editar
                  </a>
                  <a *ngIf="item.Activo==1 && item.Fijo == 0 && !restriccionDesdeCatalogo"
                    class="dropdown-item text-danger waves-light"
                    href="javascript: void(0);"
                    (click)="activateSubcategory(item.Id_Subcategoria,0)"
                  >
                    <i class="far fa-trash-alt"></i> Anular</a
                  >
                  <a *ngIf="item.Activo==0 && item.Fijo == 0 && !restriccionDesdeCatalogo"
                    class="dropdown-item text-primary waves-light"
                    href="javascript: void(0);"
                    (click)="activateSubcategory(item.Id_Subcategoria,1)"
                  >
                    <i class="far fa-trash-alt"></i> Reactivar</a
                  >
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="pagination.collectionSize"
      [pageSize]="pagination.pageSize"
      [(page)]="pagination.page"
      (pageChange)="getSubcategories($event)"
      aria-label="Default pagination"
      maxSize="5"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
    ></ngb-pagination>
  </div>
</div>

<ng-template #notData>
  <app-not-data [loading]="Cargando"></app-not-data>
</ng-template>

<ng-template #add let-modalSubategoria>
  <div class="modal-header">
    <h4 class="text-primary modal-title">{{ title }}</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modalSubategoria.close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="form">
      <!-- <input
        name="company_id"
        type="hidden"
        placeholder=""
        class="form-control"
        [(ngModel)]="company_id"
      /> -->

      <div class="row">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa el nombre"
            formControlName="Nombre"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>¿Es separable?</mat-label>
          <mat-select formControlName="Separable"
            matInput required>
            <mat-option value="Si">Sí</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col mat-form-field-wrapper">
          <ng-select
            appearance="outline"
            [appendTo]="'body'"
            placeholder="Categorías asociadas"
            formControlName="Id_Categoria_Nueva"
            bindLabel="text"
            bindValue="value"
            [items]="categorias_filtro"
            [multiple]="false"
            loadingText="loading"
            ngDefaultControl
          ></ng-select>
        </div>
      </div>
      <div class="row justify-content-center" *ngIf="permission.permissions.approve_product_categories">
        <div class="col-auto">
          <mat-slide-toggle
            color="primary"
            formControlName="Fijo">
            Categoría fija
          </mat-slide-toggle>
        </div>
      </div>
      <div class="row d-flex justify-content-between">
        <div class="col-md-6">
          <span class="text-primary">Campos de la subcategoría</span>
        </div>
        <div class="col-md-6 text-right">
          <div class="btn-group rounded w-sm-100 mat-form-field-wrapper">
            <button type="button" class="btn btn-primary btn-sm" (click)="newField()">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <hr class="line" />
      <div class="row" formArrayName="dynamic">
        <ng-container *ngIf="fieldDinamic.controls.length; else sinDatos">
          <ng-container
            *ngFor="let item of fieldDinamic.controls; let i = index"
          >
            <div class="col-md-11" [formGroupName]="i">
              <div class="row">
                <mat-form-field class="col-4" appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Ingresa el nombre"
                    formControlName="label"
                    autocomplete="off"
                    required
                  />
                </mat-form-field>
                <mat-form-field class="col-4" appearance="outline">
                  <mat-label>Tipo</mat-label>
                  <mat-select formControlName="type" required>
                    <mat-option value="number">Number</mat-option>
                    <mat-option value="text">Text</mat-option>
                    <mat-option value="date">Date</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-4" appearance="outline">
                  <mat-label>Requerido</mat-label>
                  <mat-select formControlName="required" required>
                    <mat-option value="Si">Sí</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-1 d-flex justify-content-end align-items-center">
              <div class="btn-group rounded w-sm-100 mat-form-field-wrapper">
                <button type="button"
                  class="btn btn-danger btn-sm"
                  (click)="deleteField(i, item)"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modalSubategoria.close()">
      Cancelar
    </button>
    <button
      type="button"
      (click)="SaveSubcategory()"
      class="btn btn-primary"
      [disabled]="form.invalid"
    >
      Guardar
    </button>
  </div>
</ng-template>

<swal #confirmacionSwal title="" text="" type=""></swal>
<ng-template #rt1 let-r="result" let-t="term">
  <span class="f-9">{{ r.Codigo }} </span>
</ng-template>

<ng-template #sinDatos>
  <div class="col-12">
    <div class="alert alert-warning text-center" role="alert">
      Sin datos agregados
    </div>
  </div>
</ng-template>
