.bg-gray {
  background-color: #ccc;
}

.table-custom-quotation {
  td {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    input {
      border: 0;
      text-align: end;
      width: 100%;
      background-color: transparent;
    }

    input:focus {
      outline: none;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number] {
      -moz-appearance: textfield;
    }
  }
}
