<div *ngIf="data">
  <div class="row ml-0 mb-4">
    <div class="col text-left">
      <a style="cursor: pointer" class="text-primary back" (click)="regresar()"
        >Regresar</a
      >
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <div class="row">
          <div class="col-6 mt-3">
            <h5 class="t">
              Formato de Estimación de Viaticos <br />
              Maquinados y Montajes SAS
            </h5>
          </div>
          <div class="col-6">
            <div class="row mt-3 mb-3 mr-4" style="float: right">
              <div class="ml-4">
                <label for="ot">Orden de Trabajo</label>
                <select id="ot" class="form-control form-control-sm">
                  <option>Pendiente</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body" *ngIf="!loading">
      <app-viaticos-viaje *ngIf="data" [data]="data"></app-viaticos-viaje>
      <app-hospedaje [legal]="true" *ngIf="data.hotels.length"></app-hospedaje>
      {{ validHotel }}
      <br />
      <app-transporte-terrestre
        *ngIf="data.transports.length"
        [legal]="true"
      ></app-transporte-terrestre>
      {{ validTransport }}
 
      <app-viaticos-taxis
        *ngIf="data.expense_taxi_cities.length" 
        [legal]="true"
      ></app-viaticos-taxis>
      {{validTaxi}}
      
      <app-viaticos-alimentacion
        *ngIf="data.feedings.length"
        [feedings]="data.feedings"
      ></app-viaticos-alimentacion>
      <app-viaticos-totales [data]="data"></app-viaticos-totales>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-12">
      <button
        (click)="download()"
        [disabled]="!validHotel"
        class="btn btn-primary btn-sm btn-block"
      >
        <i class="fas fa-file-download"></i> Descargar
      </button>
    </div>
  </div>
</div>
