.datos {
    margin: 20px 20px 50px;
}

.edit {
    font-size: 1.1rem;
    color: #2a93d5;
    font-weight: bold;
}

.edit:hover {
    text-decoration: none;
    color: #4eb4f8;
}

.item-subtitle {
    text-align: right;
    /* font-family: "Lato"; */
    color: #275c9c;
}

.item-subtitle2 {
    /* font-family: "Lato"; */
    color: #275c9c;
}

.item-data p {
    font-size: 0.8rem;
}