<ng-template #placeholder>
  <app-placeholder-form></app-placeholder-form>
</ng-template>
<div class="card" *ngIf="!loading; else placeholder">
  <div class="card-body">
    <app-cabecera [datosCabecera]="datosCabecera"></app-cabecera>
    <hr class="line" />
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field class="col-md-3" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            type="text"
            required
            placeholder="Ingresa el nombre"
            formControlName="name"
          />
        </mat-form-field>
        <div class="col-md-3 mat-form-field-wrapper">
          <ng-select
            formControlName="city_id"
            [items]="cities"
            bindLabel="text"
            appearance="outline"
            [class.is-invalid]="form.get('city_id').invalid"
            [appendTo]="'body'"
            [clearable]="false"
            placeholder="Destino *"
            bindValue="value"
            loadingText="loading"
            ngDefaultControl
          >
          </ng-select>
        </div>
        <div class="col-md-3 mat-form-field-wrapper">
          <ng-select
            formControlName="third_party_id"
            [items]="clients"
            bindLabel="text"
            [clearable]="false"
            appearance="outline"
            [appendTo]="'body'"
            [class.is-invalid]="form.get('third_party_id').invalid"
            placeholder="Cliente *"
            bindValue="value"
            loadingText="loading"
            ngDefaultControl
          >
          </ng-select>
        </div>
        <mat-form-field class="col-md-3" appearance="outline">
          <mat-label>Línea</mat-label>
          <input
            matInput
            type="text"
            required
            placeholder="Ingresa la línea"
            formControlName="line"
          />
        </mat-form-field>
        <mat-form-field
          class="col-md-12 mat-form-field-no-padding textarea"
          appearance="outline"
        >
          <mat-label>Observaciones</mat-label>
          <textarea
            matInput
            placeholder="Ingrese las observaciones"
            rows="5"
            formControlName="observation"
            [cdkTextareaAutosize]="true"
          ></textarea>
        </mat-form-field>
      </div>
      <h5 class="mt-2 text-center">Costos directos</h5>
      <hr class="line" />
      <app-planos-conjunto
        *ngIf="planos.length > 0 && title == 'Editar conjunto'"
        (actualizar)="refreshData()"
        [data]="planos"
        [info]="'editar'"
      ></app-planos-conjunto>
      <h6>Subir planos</h6>
      <ngx-dropzone
        class="drop-zone"
        (change)="onSelect($event)"
        accept="image/jpeg, image/jpg, image/png, application/pdf"
      >
        <ngx-dropzone-label>
          <span><i class="fas fa-cloud-download-alt"></i></span> Arrastre y
          suelte el archivo
        </ngx-dropzone-label>
        <ngx-dropzone-preview
          *ngFor="let f of files"
          [removable]="true"
          (removed)="onRemove(f)"
        >
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
      <h6 class="mt-3">Listado de piezas</h6>
      <div class="alert alert-warning" role="alert">
        Todas las piezas deben estar ligadas a un APU existente
      </div>
      <ng-container *ngIf="piecesSetsList.controls.length; else notData">
        <div class="rounded-top">
          <table class="table table-bordered table-striped table-sm">
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th class="align-middle">Item</th>
                <th class="align-middle">Tipo</th>
                <th class="align-middle">Descripción</th>
                <th class="align-middle">Unidad</th>
                <th class="align-middle">Cantidad</th>
                <th class="align-middle">Costo Unitario</th>
                <th class="align-middle">Total</th>
                <th class="align-middle">
                  <i class="fas fa-trash-alt"></i>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="list_pieces_sets">
              <ng-container
                *ngFor="let item of piecesSetsList.controls; let i = index"
              >
                <tr [formGroupName]="i" class="text-center">
                  <td class="align-middle">
                    {{ i + 1 }}
                  </td>
                  <td class="align-middle">
                    <select
                      *ngIf="
                        !item.get('apu_part_id').value &&
                          !item.get('apu_set_child_id').value;
                        else apuType
                      "
                      class="form-control form-control-sm"
                      id="descripcion"
                      formControlName="apu_type"
                    >
                      <option value="P">Pieza</option>
                      <option value="C">Conjunto</option>
                    </select>
                    <ng-template #apuType>
                      {{
                        item.controls.apu_type.value == "P"
                          ? "Pieza"
                          : item.controls.apu_type.value == "C"
                          ? "Conjunto"
                          : ""
                      }}
                    </ng-template>
                  </td>
                  <td class="align-middle">
                    <div class="position-relative">
                      <input
                        *ngIf="
                          item['controls']['apu_type']['value'] == 'P' &&
                          !item.get('apu_part_id').value
                        "
                        style="min-width: 13rem"
                        id="typeahead-http"
                        type="text"
                        class="form-control form-control-sm"
                        [ngbTypeahead]="search"
                        [resultTemplate]="rt"
                        [inputFormatter]="formatter"
                        placeholder="Escribe para buscar pieza"
                        formControlName="description"
                        (change)="select(item, 'description', 'apu_part_id')"
                      />
                      <input
                        *ngIf="
                          item['controls']['apu_type']['value'] == 'C' &&
                          !item.get('apu_set_child_id').value
                        "
                        style="min-width: 13rem"
                        id="typeahead-httpp"
                        type="text"
                        class="form-control form-control-sm"
                        [ngbTypeahead]="searchSet"
                        [resultTemplate]="rt"
                        [inputFormatter]="formatterSet"
                        placeholder="Escribe para buscar conjunto"
                        formControlName="description"
                        (change)="
                          select(item, 'description', 'apu_set_child_id')
                        "
                      />
                    </div>
                    <ng-container
                      *ngIf="
                        item.get('apu_part_id').value ||
                        item.get('apu_set_child_id').value
                      "
                    >
                      {{ item.get("description").value.name | capitalLetter }}
                    </ng-container>
                    <!-- <ng-select
                      [items]="apuPart$ | async"
                      bindLabel="name"
                      bindValue="id"
                      [loading]="apuPartLoading"
                      [typeahead]="apuPartInput$"
                      typeToSearchText="Por favor para buscar"
                      formControlName="apu_part_id"
                    >
                    </ng-select> -->
                  </td>
                  <!-- <td>
                    <ng-select
                      [items]="apuSets$ | async"
                      bindLabel="name"
                      bindValue="id"
                      [loading]="apuSetsLoading"
                      [typeahead]="apuSetsInput$"
                      typeToSearchText="Por favor para buscar"
                      formControlName="apu_set_child_id"
                    >
                    </ng-select>
                  </td> -->
                  <td class="align-middle">
                    <select
                      class="form-control form-control-sm"
                      formControlName="unit_id"
                    >
                      <option value="" disabled selected hidden>
                        Selecciona
                      </option>
                      <option *ngFor="let item of units" [value]="item.value">
                        {{ item.text }}
                      </option>
                    </select>
                  </td>
                  <td class="align-middle">
                    <input
                      currencyMask
                      appInputPositionInitial
                      [options]="masksMoney.maskNumbers2Decimal"
                      class="form-control form-control-sm"
                      id="costo_unitario_maquinas_herra"
                      formControlName="amount"
                    />
                  </td>
                  <td class="align-middle">
                    ${{ item.controls.unit_cost.value | number : "1.2-2" }}
                  </td>
                  <td class="align-middle">
                    ${{ item.controls.total.value | number : "1.2-2" }}
                  </td>
                  <td class="align-middle">
                    <button
                      class="btn btn-danger btn-sm"
                      placement="bottom"
                      type="button"
                      ngbTooltip="Borrar"
                      (click)="deletePiecesSets(i)"
                    >
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </ng-container>
      <div class="btn-group btn-block">
        <!-- <button
          class="btn btn-primary btn-sm"
          placement="bottom"
          type="button"
          ngbTooltip="Agregar"
          (click)="newPiecesSets()"
        >
          <i class="fas fa-plus"></i>
          Agregar item
        </button> -->
        <button
          class="btn btn-info btn-sm"
          placement="bottom"
          type="button"
          ngbTooltip="Buscar"
          (click)="findApus()"
        >
          <i class="fas fa-search"></i>
          Asignar APU
        </button>
      </div>
      <ng-container *ngIf="piecesSetsList.controls.length">
        <app-list-items
          title1="SUBTOTAL"
          [var1]="this.form.get('list_pieces_sets_subtotal').value"
          type1="cop"
          mt="mt-2"
        ></app-list-items>
      </ng-container>
      <hr />
      <h6 class="mt-3">Máquinas herramientas</h6>
      <ng-container *ngIf="machineToolList.controls.length; else notData">
        <div class="rounded-top table-responsive">
          <table class="table table-bordered table-striped table-sm">
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th class="align-middle">Item</th>
                <th class="align-middle">Descripción</th>
                <th class="align-middle">Unidad</th>
                <th class="align-middle col-1">Cantidad</th>
                <th class="align-middle">Costo Unitario</th>
                <th class="align-middle">Total</th>
                <th class="align-middle">
                  <button
                    class="btn btn-danger btn-sm"
                    placement="bottom"
                    type="button"
                    ngbTooltip="Borrar todo"
                    (click)="deleteAllMachineTool()"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="machine_tools">
              <ng-container
                *ngFor="let item of machineToolList.controls; let i = index"
              >
                <tr [formGroupName]="i" class="text-center">
                  <td class="align-middle">
                    {{ i + 1 }}
                  </td>
                  <td class="align-middle">
                    {{ item.value.name_description | capitalLetter }}
                    <!-- <select
                      class="form-control form-control-sm"
                      formControlName="description"
                      (change)="machineSet(item, $event)"
                    >
                      <option value="" disabled selected hidden>
                        Selecciona
                      </option>
                      <option
                        *ngFor="let maquina of maquinas_herramientas"
                        [value]="maquina.value"
                      >
                        {{ maquina.text }}
                      </option>
                    </select> -->
                  </td>
                  <td class="align-middle">
                    {{ item.value.unit_name | capitalLetter }}
                    <!-- <select
                      class="form-control form-control-sm"
                      formControlName="unit_id"
                    >
                      <option value="" disabled selected hidden>
                        Selecciona
                      </option>
                      <option *ngFor="let item of units" [value]="item.value">
                        {{ item.text }}
                      </option>
                    </select> -->
                  </td>
                  <td class="align-middle">
                    <input
                      currencyMask
                      appInputPositionInitial
                      [options]="masksMoney.maskNumbers2Decimal"
                      class="form-control form-control-sm"
                      id="costo_unitario_maquinas_herra"
                      formControlName="amount"
                    />
                  </td>
                  <td class="align-middle">
                    ${{ item.value.unit_cost | number : "1.2-2" }}
                    <!-- <input
                      currencyMask
                      appInputPosition
                      [options]="masksMoney.maskCOP"
                      class="form-control form-control-sm"
                      id="costo_unitario_maquinas_herra"
                      formControlName="unit_cost"
                    /> -->
                  </td>
                  <td class="align-middle">
                    ${{ item.value.total | number : "1.2-2" }}
                    <!-- <input
                      currencyMask
                      appInputPosition
                      [options]="masksMoney.maskCOP"
                      class="form-control form-control-sm"
                      id="total_maquinas_herra"
                      formControlName="total"
                    /> -->
                  </td>
                  <td class="align-middle">
                    <button
                      class="btn btn-danger btn-sm"
                      placement="bottom"
                      type="button"
                      ngbTooltip="Borrar"
                      (click)="deleteMachineTool(i)"
                    >
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </ng-container>
      <button
        class="btn btn-primary btn-block btn-sm"
        placement="bottom"
        type="button"
        ngbTooltip="Agregar"
        (click)="newMachineTool()"
      >
        <i class="fas fa-plus"></i>
        Agregar máquinas herramientas
      </button>
      <ng-container *ngIf="machineToolList.controls.length">
        <app-list-items
          title1="SUBTOTAL"
          [var1]="this.form.get('machine_tools_subtotal').value"
          type1="cop"
          mt="mt-2"
        ></app-list-items>
      </ng-container>
      <hr />
      <h6 class="mt-3">Procesos internos</h6>
      <ng-container *ngIf="internalProcessList.controls.length; else notData">
        <div class="rounded-top table-responsive">
          <table class="table table-bordered table-striped table-sm">
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th class="align-middle">Item</th>
                <th class="align-middle">Descripción</th>
                <th class="align-middle">Unidad</th>
                <th class="align-middle col-1">Cantidad</th>
                <th class="align-middle">Costo Unitario</th>
                <th class="align-middle">Total</th>
                <th class="align-middle">
                  <button
                    class="btn btn-danger btn-sm"
                    placement="bottom"
                    type="button"
                    ngbTooltip="Borrar todo"
                    (click)="deleteAllInternalProccess()"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="internal_processes">
              <ng-container
                *ngFor="let item of internalProcessList.controls; let i = index"
              >
                <tr [formGroupName]="i" class="text-center">
                  <td class="align-middle">{{ i + 1 }}</td>
                  <td class="align-middle">
                    {{ item.value.name_description | capitalLetter }}
                    <!-- <select
                      class="form-control form-control-sm"
                      formControlName="description"
                      (change)="internalSet(item, $event)"
                    >
                      <option value="" disabled selected hidden>
                        Selecciona
                      </option>
                      <option
                        *ngFor="let interno of procesos_internos"
                        [value]="interno.value"
                      >
                        {{ interno.text }}
                      </option>
                    </select> -->
                  </td>
                  <td class="align-middle">
                    {{ item.value.unit_name | capitalLetter }}
                    <!-- <select
                      class="form-control form-control-sm"
                      formControlName="unit_id"
                    >
                      <option value="" disabled selected hidden>
                        Selecciona
                      </option>
                      <option *ngFor="let item of units" [value]="item.value">
                        {{ item.text }}
                      </option>
                    </select> -->
                  </td>
                  <td class="align-middle">
                    <input
                      currencyMask
                      appInputPositionInitial
                      [options]="masksMoney.maskNumbers2Decimal"
                      class="form-control form-control-sm"
                      id="costo_unitario_proceso_interno"
                      formControlName="amount"
                    />
                  </td>
                  <td class="align-middle">
                    ${{ item.value.unit_cost | number : "1.2-2" }}
                    <!-- <input
                      currencyMask
                      appInputPosition
                      [options]="masksMoney.maskCOP"
                      class="form-control form-control-sm"
                      id="costo_unitario_proceso_interno"
                      formControlName="unit_cost"
                    /> -->
                  </td>
                  <td class="align-middle">
                    ${{ item.value.total | number : "1.2-2" }}
                    <!-- <input
                      currencyMask
                      appInputPosition
                      [options]="masksMoney.maskCOP"
                      class="form-control form-control-sm"
                      id="total_proceso_interno"
                      formControlName="total"
                    /> -->
                  </td>
                  <td class="align-middle">
                    <button
                      class="btn btn-danger btn-sm"
                      placement="bottom"
                      type="button"
                      ngbTooltip="Borrar"
                      (click)="deleteInternalProccess(i)"
                    >
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </ng-container>
      <button
        class="btn btn-primary btn-block btn-sm"
        placement="bottom"
        type="button"
        ngbTooltip="Agregar"
        (click)="newInternalProccesses()"
      >
        <i class="fas fa-plus"></i>
        Agregar procesos internos
      </button>
      <ng-container *ngIf="internalProcessList.controls.length">
        <app-list-items
          title1="SUBTOTAL"
          [var1]="this.form.get('internal_processes_subtotal').value"
          type1="cop"
          mt="mt-2"
        ></app-list-items>
      </ng-container>
      <hr />
      <h6 class="mt-3">Procesos externos</h6>
      <ng-container *ngIf="externalProcessList.controls.length; else notData">
        <div class="rounded-top table-responsive">
          <table class="table table-bordered table-striped table-sm">
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th class="align-middle">Item</th>
                <th class="align-middle">Descripción</th>
                <th class="align-middle">Unidad</th>
                <th class="align-middle col-1">Cantidad</th>
                <th class="align-middle">Costo Unitario</th>
                <th class="align-middle">Total</th>
                <th class="align-middle">
                  <button
                    class="btn btn-danger btn-sm"
                    placement="bottom"
                    type="button"
                    ngbTooltip="Borrar todo"
                    (click)="deleteAllExternalProccess()"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="external_processes">
              <ng-container
                *ngFor="let item of externalProcessList.controls; let i = index"
              >
                <tr [formGroupName]="i" class="text-center">
                  <td class="align-middle">
                    {{ i + 1 }}
                  </td>
                  <td class="align-middle">
                    {{ item.value.name_description | capitalLetter }}
                    <!--  <select
                      class="form-control form-control-sm"
                      formControlName="description"
                      (change)="externalSet(item, $event)"
                    >
                      <option value="" disabled selected hidden>
                        Selecciona
                      </option>
                      <option
                        *ngFor="let externo of procesos_externos"
                        [value]="externo.value"
                      >
                        {{ externo.text }}
                      </option>
                    </select> -->
                  </td>
                  <td class="align-middle">
                    {{ item.value.unit_name | capitalLetter }}
                    <!-- <select
                      class="form-control form-control-sm"
                      formControlName="unit_id"
                    >
                      <option value="" disabled selected hidden>
                        Selecciona
                      </option>
                      <option *ngFor="let item of units" [value]="item.value">
                        {{ item.text }}
                      </option>
                    </select> -->
                  </td>
                  <td class="align-middle">
                    <input
                      currencyMask
                      appInputPositionInitial
                      [options]="masksMoney.maskNumbers2Decimal"
                      class="form-control form-control-sm"
                      id="q_unitaria_proceso_externo"
                      formControlName="amount"
                    />
                  </td>
                  <td class="align-middle">
                    ${{ item.value.unit_cost | number : "1.2-2" }}
                    <!-- <input
                      currencyMask
                      appInputPosition
                      [options]="masksMoney.maskCOP"
                      class="form-control form-control-sm"
                      id="costo_unitario_proceso_externo"
                      formControlName="unit_cost"
                    /> -->
                  </td>
                  <td class="align-middle">
                    ${{ item.value.total | number : "1.2-2" }}
                    <!-- <input
                      currencyMask
                      appInputPosition
                      [options]="masksMoney.maskCOP"
                      class="form-control form-control-sm"
                      id="total_proceso_externo"
                      formControlName="total"
                    /> -->
                  </td>
                  <td class="align-middle">
                    <button
                      class="btn btn-danger btn-sm"
                      placement="bottom"
                      type="button"
                      ngbTooltip="Borrar"
                      (click)="deleteExternalProccess(i)"
                    >
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </ng-container>
      <button
        class="btn btn-primary btn-block btn-sm"
        placement="bottom"
        type="button"
        ngbTooltip="Agregar"
        (click)="newExternalProccesses()"
      >
        <i class="fas fa-plus"></i>
        Agregar procesos externos
      </button>
      <ng-container *ngIf="externalProcessList.controls.length">
        <app-list-items
          title1="SUBTOTAL"
          [var1]="this.form.get('external_processes_subtotal').value"
          type1="cop"
          mt="mt-2"
        ></app-list-items>
      </ng-container>
      <hr />
      <h6>Otros</h6>
      <ng-container *ngIf="othersList.controls.length; else notData">
        <div class="rounded-top table-responsive">
          <table class="table table-bordered table-striped table-sm">
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th class="align-middle">Item</th>
                <th class="align-middle">Descripción</th>
                <th class="align-middle">Unidad</th>
                <th class="align-middle">Cantidad</th>
                <th class="align-middle">Costo Unitario</th>
                <th class="align-middle">Total</th>
                <th class="align-middle">
                  <i class="fas fa-trash-alt"></i>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="others">
              <ng-container
                *ngFor="let item of othersList.controls; let i = index"
              >
                <tr [formGroupName]="i" class="text-center">
                  <td class="align-middle">
                    {{ i + 1 }}
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="descripcion_otros"
                      placeholder="Ingresa descripción"
                      formControlName="description"
                    />
                  </td>
                  <td class="align-middle">
                    <select
                      class="form-control form-control-sm"
                      formControlName="unit_id"
                    >
                      <option value="" disabled selected hidden>
                        Selecciona
                      </option>
                      <option *ngFor="let item of units" [value]="item.value">
                        {{ item.text }}
                      </option>
                    </select>
                  </td>
                  <td class="align-middle">
                    <input
                      currencyMask
                      appInputPositionInitial
                      [options]="masksMoney.maskNumbers2Decimal"
                      class="form-control form-control-sm"
                      id="q_unitaria_otros"
                      formControlName="amount"
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      currencyMask
                      appInputPosition
                      [options]="masksMoney.maskCOP"
                      class="form-control form-control-sm"
                      id="costo_unitario_otros"
                      formControlName="unit_cost"
                    />
                  </td>
                  <td class="align-middle">
                    ${{ item.controls.total.value | number : "1.2-2" }}
                  </td>
                  <td class="align-middle">
                    <button
                      style="float: right"
                      class="btn btn-danger btn-sm"
                      placement="bottom"
                      type="button"
                      ngbTooltip="Borrar"
                      (click)="deleteOthers(i)"
                    >
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </ng-container>
      <button
        class="btn btn-primary btn-block btn-sm"
        placement="bottom"
        type="button"
        ngbTooltip="Agregar"
        (click)="newOthersList()"
      >
        <i class="fas fa-plus"></i>
        Agregar otro
      </button>
      <ng-container *ngIf="othersList.controls.length">
        <app-list-items
          title1="SUBTOTAL"
          [var1]="this.form.get('others_subtotal').value"
          type1="cop"
          mt="mt-2"
        ></app-list-items>
      </ng-container>
      <hr />
      <app-list-items
        title1="COSTO DIRECTO TOTAL"
        [var1]="this.form.get('total_direct_cost').value"
        type1="cop"
      ></app-list-items>
      <div class="row mt-3">
        <div class="col-md-6">
          <a
            class="h6"
            data-toggle="collapse"
            data-target="#collapseIndirecto"
            role="button"
            aria-expanded="true"
            (click)="indirectCollapsed = !indirectCollapsed"
            aria-controls="collapseIndirecto"
          >
            <i
              class="fas"
              [class]="
                indirectCollapsed ? 'fa-chevron-right' : 'fa-chevron-down'
              "
            ></i>
            Costos indirectos
          </a>
          <hr />
          <div class="collapse show" id="collapseIndirecto">
            <div class="rounded-top table-responsive">
              <table class="table table-borderless">
                <tbody class="text-uppercase">
                  <ng-container formArrayName="indirect_cost">
                    <ng-container
                      *ngFor="
                        let item of indirecCostList.controls;
                        let i = index
                      "
                    >
                      <tr [formGroupName]="i">
                        <td class="col-7 align-middle">
                          {{ item.controls.name.value }}
                        </td>
                        <td class="col-2 align-middle">
                          <input
                            currencyMask
                            appInputPositionInitial
                            [options]="masksMoney.maskPorcentaje"
                            step=".1"
                            class="form-control form-control-sm"
                            formControlName="percentage"
                          />
                        </td>
                        <td class="col-3 text-right align-middle">
                          ${{ item.controls.value.value | number : "1.2-2" }}
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                  <tr>
                    <th colspan="2" class="text-uppercase align-middle col-10">
                      Costos Indirectos
                    </th>
                    <th class="text-right align-middle">
                      ${{
                        form.controls.indirect_cost_total.value
                          | number : "1.2-2"
                      }}
                    </th>
                  </tr>
                  <tr>
                    <th colspan="2" class="col-10 align-middle">
                      Costos directos + costos indirectos totales
                    </th>
                    <th class="text-right align-middle">
                      ${{
                        form.controls.direct_costs_indirect_costs_total.value
                          | number : "1.2-2"
                      }}
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <a
            class="h6"
            data-toggle="collapse"
            data-target="#collapseAUI"
            role="button"
            aria-expanded="true"
            (click)="auiCollapsed = !auiCollapsed"
            aria-controls="collapseAUI"
          >
            <i
              class="fas"
              [class]="auiCollapsed ? 'fa-chevron-right' : 'fa-chevron-down'"
            ></i>
            AIU
          </a>
          <hr />
          <div class="collapse show" id="collapseAUI">
            <div class="rounded-top table-responsive">
              <table class="table table-borderless">
                <tbody class="text-uppercase">
                  <tr>
                    <td class="col-7 align-middle">Administrativos</td>
                    <td class="col-2 align-middle">
                      <input
                        currencyMask
                        appInputPositionInitial
                        [options]="masksMoney.maskPorcentaje"
                        step=".1"
                        class="form-control form-control-sm"
                        formControlName="administrative_percentage"
                      />
                    </td>
                    <td class="col-3 text-right align-middle">
                      ${{
                        form.controls.administrative_value.value
                          | number : "1.2-2"
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-7">Imprevistos</td>
                    <td class="col-2">
                      <input
                        currencyMask
                        appInputPositionInitial
                        [options]="masksMoney.maskPorcentaje"
                        class="form-control form-control-sm"
                        formControlName="unforeseen_percentage"
                      />
                    </td>
                    <td class="col-3 text-right">
                      ${{
                        form.controls.unforeseen_value.value | number : "1.2-2"
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" class="col-9">
                      SubTotal + Administrativos + Imprevistos
                    </td>
                    <td class="col-3 text-right">
                      ${{
                        form.controls.administrative_unforeseen_subtotal.value
                          | number : "1.2-2"
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" class="col-9">Utilidad</td>
                    <td class="col-3">
                      <input
                        currencyMask
                        appInputPositionInitial
                        [options]="masksMoney.maskPorcentaje"
                        class="form-control form-control-sm"
                        formControlName="utility_percentage"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" class="col-9">
                      SubTotal + Admin + Imprevisto + Utilidad
                    </td>
                    <td class="col-3 text-right">
                      ${{
                        form.controls.admin_unforeseen_utility_subtotal.value
                          | number : "1.2-2"
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr class="text-uppercase table-primary">
                  <th class="col-9 align-middle">
                    Precio venta total COP + Retención
                  </th>
                  <th class="col-3 align-middle text-right">
                    <h6>
                      <span>
                        $
                        {{
                          form.get("sale_price_cop_withholding_total").value
                            | number : "1.2-2"
                        }}
                      </span>
                    </h6>
                  </th>
                </tr>
                <tr class="text-uppercase">
                  <td class="col-9">TRM</td>
                  <td class="col-3">
                    <input
                      currencyMask
                      appInputPosition
                      [options]="masksMoney.maskCOP"
                      class="form-control form-control-sm"
                      formControlName="trm"
                    />
                  </td>
                </tr>
                <tr class="text-uppercase table-primary">
                  <th class="col-9 align-middle">
                    Precio venta total USD + Retención
                  </th>
                  <th class="col-3 align-middle text-right">
                    <h6>
                      <span>
                        USD
                        {{
                          form.get("sale_price_usd_withholding_total").value
                            | number : "1.2-2"
                        }}
                      </span>
                    </h6>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <button class="btn-block btn btn-primary" type="button" (click)="save()">
        Guardar
      </button>
    </form>
  </div>
</div>

<ng-template #notData>
  <div class="alert alert-warning text-center" role="alert">
    ¡No hay datos aquí!
  </div>
</ng-template>

<app-get-apus
  #apus
  [filter]="filters_apu"
  (sendApus)="getApus($event)"
></app-get-apus>

<ng-template #rt let-r="result" let-t="term">
  <span class="f-9">{{ r.name }} </span>
</ng-template>
<ng-template #wait>
  <div class="card">
    <div class="card-body">
      <div class="container p-4 text-center">
        <i class="fas fa-sync fa-spin fa-7x text-info"></i>
      </div>
    </div>
  </div>
</ng-template>

<app-reload-button
  [reload]="reload"
  (reloadData)="reloadData()"
></app-reload-button>
