<div class="card-body">
    <div class="card-title d-flex justify-content-between">
        <h5>Afiliaciones</h5>
        <button class="btn btn-link pt-0 edit" style="float: right;" (click)="openConfirm(add)">
            <i class="fas fa-pencil-alt"></i>
        </button>
    </div>
    <p class="text-mute font-weight-bold item-subtitle2">
        EPS
    </p>

    <p class="font-weight-bold">
        {{ afiliations.eps_name }}
    </p>
    <p class="text-mute font-weight-bold item-subtitle2">
        Fondo de pensiones
    </p>

    <p class="font-weight-bold">
        {{ afiliations.pension_fund_name }}
    </p>
    <p class="text-mute font-weight-bold item-subtitle2">
        Fondo de cesantias
    </p>

    <p class="font-weight-bold">
        {{ afiliations.severance_fund_name }}
    </p>
    <p class="text-mute font-weight-bold item-subtitle2">
        Caja de compensación
    </p>

    <p class="font-weight-bold">
        {{ afiliations.compensation_fund_name }}
    </p>
    <p class="text-mute font-weight-bold item-subtitle2">
        ARL
    </p>

    <p class="font-weight-bold">
        {{ afiliations.arl_name }}
    </p>
</div>

<ng-template #add let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-primary modal-title">Edición datos Afiliaciones</h4>
        <button type="button" class="btn btn-sm btn-flash-border-primary ri-close-fill" aria-label="Close"
          (click)="modal.dismiss('Cross click')"></button>
      </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="custom-label" for="esps">EPS</label>
                    <ng-select [items]="eps" id="esps" [class.is-invalid]="eps_valid" formControlName="eps_id"
                        bindLabel="text" bindValue="value" loadingText="loading " ngDefaultControl>
                    </ng-select>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="eps_valid"> Es necesario la eps
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="custom-label" for="pension_fund">Fondo de pensiones</label>
                    <ng-select [items]="pensions" id="pension_fund" [class.is-invalid]="pension_found_valid"
                        formControlName="pension_fund_id" bindLabel="text" bindValue="value" loadingText="loading "
                        ngDefaultControl>
                    </ng-select>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="pension_found_valid"> Es necesario el fondo de pensión
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="custom-label" for="cesantias_fund">Fondo de cesantias</label>
                    <ng-select [items]="severances" id="pension_fund" [class.is-invalid]="severance_found_valid"
                        formControlName="severance_fund_id" bindLabel="text" bindValue="value" loadingText="loading "
                        ngDefaultControl>
                    </ng-select>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="severance_found_valid"> Es necesario el fondo de
                            cesantias
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="custom-label" for="compesation">C. Compensación</label>
                    <ng-select [items]="compensations" id="compensation" [class.is-invalid]="compensation_valid"
                        formControlName="compensation_fund_id" bindLabel="text" bindValue="value" loadingText="loading "
                        ngDefaultControl>
                    </ng-select>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="compensation_valid"> Es necesario la compensación
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="custom-label" for="arl">Arl</label>
                    <ng-select [items]="arls" id="arl" [class.is-invalid]="arl_valid" formControlName="arl_id"
                        bindLabel="text" bindValue="value" loadingText="loading " ngDefaultControl>
                    </ng-select>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="arl_valid"> Es necesario la Arl
                        </small>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="modal.dismiss('Cross click')">
        Cancelar
      </button>
      <button type="button" (click)="updateAfiliation()" class="btn btn-primary">
        Agregar
      </button>
    </div>
  </ng-template>
