<div class="card-body">
    <div class="card-body">
        <div class="card-title">
            <div class="row">
                <div class="col-6">
                    <h5>Afiliaciones</h5>
                </div>
                <div class="col-6">
                    <button class="btn btn-link pt-0 edit" style="float: right;" (click)="openModal()">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </div>
            </div>
        </div>
        <p class="text-mute font-weight-bold item-subtitle2">
            EPS
        </p>

        <p class="font-weight-bold">
            {{ afiliations.eps_name }}
        </p>

        <p class="text-mute font-weight-bold item-subtitle2">
            Fecha de ingreso
        </p>

        <p class="font-weight-bold">
            2021-03-03
        </p>

        <p class="text-mute font-weight-bold item-subtitle2">
            Fecha de retiro
        </p>
        <p class="font-weight-bold">
            2021-09-02
        </p>
        <p class="ml-1 text-mute font-weight-bold item-subtitle2">
            Periodo de pago
        </p>
        <p class="ml-1 font-weight-bold titulo">Mensual</p>
    </div>
</div>

<app-modal-basic #modal [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <div class="row">
            <div class="col">
                <h5>Edición datos afiliaciones</h5>
            </div>
            <div class="col" style="float: right;">
                <i class="fas fa-times iconoXModalSalario" (click)="modal.hide()"></i>
            </div>
        </div>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="form">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="custom-label" for="esps">EPS</label>
                    <ng-select [items]="eps" id="esps" [class.is-invalid]="eps_valid" formControlName="eps_id" bindLabel="name" bindValue="id" loadingText="loading " ngDefaultControl>
                    </ng-select>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="eps_valid"> Es necesario la eps
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="custom-label" for="pension_fund">Fondo de pensiones</label>
                    <select [class.is-invalid]="pension_found_valid" formControlName="pension_found" class="form-select form-control custom-control col-md-12" id="pension_fund">
                        <option selected>Seleccionar</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="pension_found_valid"> Es necesario el fondo de pensión 
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="custom-label" for="cesantias_fund">Fondo de cesantias</label>
                    <select [class.is-invalid]="severance_found_valid" formControlName="severance_found" class="form-select form-control custom-control col-md-12" id="cesantias_fund">
                        <option selected>Seleccionar</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="severance_found_valid"> Es necesario el fondo de cesantias 
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="custom-label" for="compesation">C. Compensación</label>
                    <select [class.is-invalid]="compensation_valid" formControlName="compensation" class="form-select form-control custom-control col-md-12" id="compensation">
                        <option selected>Seleccionar</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="compensation_valid"> Es necesario la compensación 
                        </small>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="form-group text-right">
            <button (click)="modal.hide()" type="button" class="btn btn-danger raised mr-2 btn-sm">Cerrar</button>
            <button type="submit" class="btn btn-primary btn-sm raised" (click)="updateAfiliation()">Actualizar</button>
        </div>
    </div>
</app-modal-basic>