<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Hoteles</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button
            class="btn btn-sm btn-primary"
            (click)="openConfirm(add, 'Nuevo hotel')"
          >
            <i class="fa fa-plus"></i> Agregar
          </button>
          <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select
              name="third"
              [(ngModel)]="filtro.tipo"
              (selectionChange)="getHotels()"
            >
              <mat-option value="Nacional">Nacional</mat-option>
              <mat-option value="Internacional">Internacional</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="!loading && hotels.length > 0; else notData"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Tipo</th>
            <th>Hotel</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Tel. Fijo</th>
            <th>Acomodación</th>
            <th>T. Sencilla</th>
            <th>T. Doble</th>
            <th ><i class="mdi mdi-chevron-down"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hotel of hotels" class="text-center">
            <td class="align-middle">{{ hotel.type }}</td>
            <td class="align-middle">{{ hotel.name }}</td>
            <td class="align-middle">{{ hotel.address }}</td>
            <td class="align-middle">{{ hotel.phone }}</td>
            <td class="align-middle">{{ hotel.landline }}</td>
            <td class="align-middle">{{ hotel.accommodation }}</td>
            <td class="align-middle">
              {{ hotel.simple_rate | currency: "COP" }}
            </td>
            <td class="align-middle">
              {{ hotel.double_rate | currency: "COP" }}
            </td>
            <td class="align-middle">
              <div ngbDropdown container="body" class="dropdown-primary">
                <button
                  ngbDropdownToggle
                  class="btn btn-primary btn-sm waves-light"
                  type="button"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a
                    class="dropdown-item waves-light text-info caja-botones"
                    href="javascript: void(0);"
                    (click)="getHotel(hotel); openConfirm(add, 'Editar hotel')"
                  >
                    <i class="far fa-edit"></i> Editar
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="pagination.collectionSize"
      [pageSize]="pagination.pageSize"
      [(page)]="pagination.page"
      (pageChange)="getHotels($event)"
      aria-label="Default pagination"
      maxSize="5"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
    >
    </ngb-pagination>
  </div>
</div>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">{{ title }}</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="type" required>
            <mat-option value="Nacional">Nacional</mat-option>
            <mat-option value="Internacional">Internacional</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa el nombre"
            formControlName="name"
            required
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Ciudad</mat-label>
          <mat-select formControlName="city_id" required>
            <mat-option *ngFor="let item of cities" [value]="item.value">
              {{ item.text }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Teléfono fijo</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa el teléfono fijo"
            formControlName="landline"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Teléfono de contacto</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa el teléfono de contacto"
            formControlName="phone"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Dirección</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa la dirección"
            formControlName="address"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Desayuno</mat-label>
          <mat-select formControlName="breakfast" required>
            <mat-option value="Si">Sí</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Tipo de acomodacióm</mat-label>
          <mat-select formControlName="accommodation" required>
            <mat-option value="Sencilla">Sencilla</mat-option>
            <mat-option value="Doble">Doble</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Tasa simple</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ingresa la tasa simple"
            formControlName="simple_rate"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Tasa doble</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa la tasa doble"
            formControlName="double_rate"
            autocomplete="off"
          />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      (click)="save()"
      [disabled]="!form.valid"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
