<div class="row">
    <div class="col-6">
        <app-paises></app-paises>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <button class="btn btn-sm btn-primary" style="float: right;" (click)="openModal()">
                       <i class="fa fa-plus"></i> Nueva Ciudad
                    </button>
                    <h5 class="text-primary">Ciudades</h5>
                    <p>Ciudades Registradas en nuestra base datos.</p>
                    <hr class="bg-primary">
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="">Filtro ciudad</label>
                            <input type="text" class="form-control" [(ngModel)]="filtro.name" (change)="getCities()" name="name" autocomplete="off">
                        </div>
                        <div class="form-group col-4">
                            <label for="">Filtro País</label>
                            <ng-select [(ngModel)]="filtro.country" (change)="getCities()" [items]="countries" bindLabel="text" bindValue="value" loadingText="loading" ngDefaultControl>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <table class="table table-sm table-borderless table-striped" *ngIf="!loading && cities.length > 0; else notData">
                    <thead class="bg-light">
                        <tr>
                            <th>Ciudad</th>
                            <th>País</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cities" [ngClass]="{'bg-danger text-white': (item.state == 'Inactivo')}">
                            <td> {{ item.name }} </td>
                            <td> {{ item.country }} </td>
                            <td>
                                <div class="text-center">
                                    <div ngbDropdown class="dropdown-primary">
                                        <button ngbDropdownToggle class="btn btn-primary btn-sm waves-effect waves-light " type="button">
                                            <i class="mdi mdi-chevron-down"></i>
                                        </button>
                                        <div ngbDropdownMenu>
                                            <a class="dropdown-item waves-light text-info waves-effect" (click)="getCity(item); modal.show()">
                                                <i class="far fa-edit"></i> Editar
                                            </a>
                                            <a *ngIf="item.state == 'Inactivo'" class="dropdown-item waves-light text-success waves-effect" (click)="activateOrInactivate(item, 'Activo')">
                                                <i class="fas fa-check"></i> Activar
                                            </a>
                                            <a *ngIf="item.state == 'Activo'" class="dropdown-item waves-light text-danger waves-effect" (click)="activateOrInactivate(item, 'Inactivo')">
                                                <i class="fas fa-trash-alt"></i> Anular
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ngb-pagination class="d-flex justify-content-center pagination-rounded pagination-sm" [collectionSize]="pagination.collectionSize" [pageSize]="pagination.pageSize" [(page)]="pagination.page" (pageChange)="getCities($event)" aria-label="Default pagination"
                    maxSize="5" rotate="true" ellipses="false" boundaryLinks="true" rotate="true" ellipses="false" boundaryLinks="true">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
<app-modal-basic #modal [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <h5 class="modal-title"> {{ title }} </h5>
        <button type="button" class="close basic-close" (click)="modal.hide(); form.reset()">
            <span aria-hidden="true">
              <i class="fas fa-times" (click)="modal.hide(); form.reset()"></i>
            </span>
          </button>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-12">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="">Pais</label>
                            <ng-select formControlName="country_id" [items]="countries" bindLabel="text" bindValue="value" loadingText="loading " ngDefaultControl>
                            </ng-select>
                        </div>
                        <div class="form-group col-12">
                            <label for="">Nombre</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="form-group text-right">
            <button (click)="modal.hide(); form.reset()" type="button" class="btn btn-danger raised mr-2 btn-sm">Cerrar</button>
            <button type="submit" class="btn btn-primary btn-sm raised" (click)="save()" [disabled]="!form.valid">Guardar</button>
        </div>
    </div>
</app-modal-basic>
<ng-template #notData>
    <app-not-data [loading]="loading"></app-not-data>
</ng-template>