<div class="card">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <h4 class="text-primary">Reporte de Horarios</h4>
      <div class="btn-group rounded">
        <button
          class="btn btn-info btn-sm"
          style="float: right"
          (click)="openClose()"
        >
          <i class="fas fa-sliders-h"></i> Filtros
        </button>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <form [formGroup]="forma" (ngSubmit)="getDiaries()">
          <mat-form-field
            class="col-md-2 pl-0"
            appearance="outline"
            *ngIf="companies.length > 2"
          >
            <mat-label>Empresa</mat-label>
            <mat-select formControlName="company_id">
              <mat-option *ngFor="let item of companies" [value]="item.value">{{
                item.text
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-2 pl-0" appearance="outline">
            <mat-label>Grupo</mat-label>
            <mat-select formControlName="group_id">
              <mat-option *ngFor="let item of groupList" [value]="item.value">{{
                item.text
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-2 pl-0" appearance="outline">
            <mat-label>Dependencia</mat-label>
            <mat-select formControlName="dependency_id">
              <mat-option
                *ngFor="let item of dependencyList"
                [value]="item.value"
                >{{ item.text }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-2 pl-0" appearance="outline">
            <mat-label>Fecha de inicio</mat-label>
            <input
              matInput
              type="date"
              formControlName="first_day"
              required
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field class="col-md-2 pl-0" appearance="outline">
            <mat-label>Fecha de fin</mat-label>
            <input
              matInput
              type="date"
              formControlName="last_day"
              required
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field class="col-md-2 pl-0" appearance="outline">
            <mat-label>Funcionario</mat-label>
            <mat-select formControlName="person_id">
              <mat-option *ngFor="let item of people" [value]="item.value">{{
                item.text
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-2 pl-0" appearance="outline">
            <mat-label>Tipo de turno</mat-label>
            <mat-select formControlName="turn_type" name="tipo_turno">
              <mat-option value="Rotativo">Turno Rotativo</mat-option>
              <mat-option value="Fijo">Turno Fijo</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="row mb-3">
            <div class="col-md-6">
              <button type="submit" class="btn btn-info btn-sm btn-block">
                <i class="fa fa-search"></i> Filtrar
              </button>
            </div>
            <div class="col-md-6">
              <button
                type="button"
                class="btn btn-success btn-sm btn-block"
                (click)="download()"
              >
                <i class="fas fa-file-download"></i>

                <span *ngIf="!donwloading; else status"> Descargar</span>
                <ng-template #status>
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  Generando...
                </ng-template>
              </button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
    <app-detalle-reporte
      [type]="turn_type_value"
      [reporteHorarios]="reporteHorarios"
      *ngIf="reporteHorarios.length && !loading; else notData"
    >
    </app-detalle-reporte>
  </div>
</div>
<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
