<hr />
<div>
  <div class="text-center text-uppercase card-title mt-2">
    <i class="fas fa-plane"></i>
    Cálculo días de vacaciones
  </div>
  <small
    ><b>
      El valor 4.17% corresponde a 15 días hábiles de descanso remunerado por
      cada año cumplido de labor (15 días / 360 días = 0.041666667 = 4.17 % )
    </b></small
  >
  <table
    class="table table-bordered table-striped table-sm table-responsive-sm"
  >
    <thead class="bg-light">
      <tr class="text-uppercase">
        <th class="text-center align-middle">Días base vacaciones</th>
        <th class="text-center align-middle">% vacaciones = 15 días / 360</th>
        <th class="text-center align-middle">
          Días hábiles de vacaciones disfrutadas o compensadas en dinero
        </th>
        <th class="text-center align-middle">
          x = ((Días trabajados * %) - Días hábiles de vacaciones disfrutadas o
          compensadas en dinero)
        </th>
        <th class="text-center align-middle">
          Vacaciones acumuladas en el periodo
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">{{ diasVacaciones.dias_base_vacaciones }}</td>
        <td class="text-center">4.17%</td>
        <td class="text-center">
          {{ diasVacaciones.dias_habiles_vacaciones }}
        </td>
        <td class="text-center">
          ({{ diasVacaciones.dias_base_vacaciones }} * 4.17%) -
          {{ diasVacaciones.dias_habiles_vacaciones }}
        </td>
        <td class="text-center">
          {{ diasVacaciones.vacaciones_acumuladas_periodo }}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="alert alert-warning text-center" role="alert">
    <h4 class="alert-heading">Tener en cuenta</h4>
    <p>
      <small>
        <i class="simple-icon-arrow-right"></i> Todos los meses tienen 30 días y
        un año tiene 360 días.
      </small>
      <small
        >Se toman los días trabajados (o en vacaciones o incapacidades) sin
        incluir los días de suspensión, licencia remunerada, no remunerada o
        abandono del puesto de trabajo ya que estas novedades no se tienen en
        cuenta para el cálculo de las vacaciones.</small
      >
    </p>
    <p>
      <small>
        <i class="simple-icon-arrow-right"></i> Los días hábiles de las
        vacaciones que empezaron en este periodo que el empleado haya disfrutado
        o le hayan sido compensadas en dinero, se descontarán de sus vacaciones
        acumuladas.
      </small>
    </p>
  </div>
</div>
