<div class="row mt-3 mb-3">
    <div class="col-12 text-center">
        <h3>Estructura de la empresa</h3>
      <hr>
    </div>
</div>
<div class="row">

    <div class="col-4 ">
        <div class="card">
            <div class="card-body">
                <div class="col-12 mb-4  d-flex justify-content-between">
                    <strong>Grupos</strong>
                    <button class="btn btn-primary btn-sm" (click)="openModal('grupos')"><i class="fa fa-plus"></i></button>
                </div>

                <div class="col-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="tabla-filtro">
                                    Nombre
                                </th>
                                <th class="tabla-filtro"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let grupo of grupos " [ngClass]="{'bg-light': grupo.selected}">
                                <td style="width: 90%;" (click)="getDependencies(grupo.value);selected(grupos,grupo.value)">
                                    {{grupo.text}}
                                </td>

                                <td class="text-right">
                                    <div class="text-center">
                                        <div ngbDropdown class="dropdown-primary">
                                            <button ngbDropdownToggle class="btn btn-primary btn-sm waves-effect waves-light " type="button">
                                                <i class="mdi mdi-chevron-down "></i>
                                            </button>
                                            <div ngbDropdownMenu>
                                                <a class="dropdown-item waves-light waves-effect caja-botones" (click)="editar('grupos',grupo)">
                                                    <i class="ti-pencil"></i> Editar</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 ">

        <div class="card">
            <div class="card-body">
                <div class="col-12 mb-4 d-flex justify-content-between">
                    <strong>Dependen</strong>
                    <button class="btn btn-primary btn-sm" (click)="openModal('dependencias')"><i class="fa fa-plus"></i></button>
                </div>

                <div class="col-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="tabla-filtro">
                                    Nombre
                                </th>
                                <th class="tabla-filtro"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dependency of dependecies " [ngClass]="{'bg-light': dependency.selected}">
                                <td style="width: 90%;" (click)="getPosition(dependency.value);selected(dependecies,dependency.value)">
                                    {{dependency.text}}
                                </td>

                                <td class="text-right">
                                    <div class="text-center">
                                        <div ngbDropdown class="dropdown-primary">
                                            <button ngbDropdownToggle class="btn btn-primary btn-sm waves-effect waves-light " type="button">
                                                <i class="mdi mdi-chevron-down "></i>
                                            </button>
                                            <div ngbDropdownMenu>
                                                <a class="dropdown-item waves-light waves-effect caja-botones" (click)="editar('dependencias',dependency)">
                                                    <i class="ti-pencil"></i> Editar</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 mb-4 d-flex justify-content-between">
                    <strong>Cargos</strong>
                    <button class="btn btn-primary btn-sm" (click)="openModal('cargos')"><i class="fa fa-plus"></i></button>
                </div>

                <div class="col-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="tabla-filtro">
                                    Nombre
                                </th>
                                <th class="tabla-filtro"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let position of positions">
                                <td style="width: 90%;">
                                    {{position.text}}
                                </td>

                                <td class="text-right">
                                    <div class="text-center">
                                        <div ngbDropdown class="dropdown-primary">
                                            <button ngbDropdownToggle class="btn btn-primary btn-sm waves-effect waves-light " type="button">
                                                <i class="mdi mdi-chevron-down "></i>
                                            </button>
                                            <div ngbDropdownMenu>
                                                <a class="dropdown-item waves-light waves-effect caja-botones" (click)="editar('cargos',position)">
                                                    <i class="ti-pencil"></i> Editar</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<app-modal-basic #modal [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <div class="row">
            <h5 class=" text text-center justify-content-center modal-title   p-1">Agregar nuevo a la lista de {{tipo}}
            </h5>
        </div>
    </div>
    <div class="app-modal-body">
        <form changeForm="ngForm">
            <div class="row mt-3 ">
                <div class="form-group col-12">
                    <label for="new-password"></label>
                    <input type="text" name="name" [(ngModel)]="name" class="form-control" id="new-password" autocomplete="on" placeholder="Nombre">
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer ">
        <div class="text-right ">
            <button type="button " (click)="modal.hide()" class="btn btn-danger btn-sm mr-4 ">Cerrar
             </button>
            <button type="button " class="btn btn-success btn-sm " (click)="save()">Guardar</button>
        </div>
    </div>
</app-modal-basic>