.ver{
    background: #e9eef0!important;
    border-radius: 5px 5px!important;
  
    font-size: 11px !important;
    h6{
        margin-top: 5px!important;
    }
} 
.space thead {
    background: #c1c1c1;
}

.space tbody {
    background: #f3f3f3;
}

.space{ th, td, p, strong {
    white-space: normal;
    font-size: 10px;      
    }
    
}
.tabla{
    thead {
        background: #cecece;
        th{
            border:1px solid #ccc;
            text-align: left!important;
            padding:3px; 
        }
    }
    tbody {
        background: #f3f3f3;
    }
    td{
        border:1px solid #ccc;
        text-align: left!important;
        padding:3px;
    }
    th, td, p, strong {
        white-space: normal;
        font-size: 10px; 
        margin: 0;     
        }
}
.contenido2{
   span,h6,p{
    font-size: 12px !important;
   } 
}
.label-1{
    background: linear-gradient(45deg, #313131, #9fb9b4);
}
.label-2{
    background: linear-gradient(45deg, #962cb1, #9817ce);
}