/* .card {
    border: 1px solid rgb(0 0 0 / 8%);
    box-shadow: 5px 5px 1px rgb(0 0 0 / 4%);
} */
.border-3 {
  border-width: 3px !important;
}

::ng-deep .mat-slide-toggle.font-weight-bold .mat-slide-toggle-label .mat-slide-toggle-content {
  font-weight: 700;
}
