<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Llegadas tarde</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <!-- <button class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> Agregar
          </button> -->
          <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <div class="row">
          <ng-container [formGroup]="formFilters">
            <div class="col-md-2 mb-4" *ngIf="companyList.length > 1">
              <ng-select
                [items]="companyList"
                (change)="getCompanies()"
                bindLabel="text"
                bindValue="value"
                appearance="outline"
                [appendTo]="'body'"
                placeholder="Empresa"
                name="company"
                [clearable]="false"
                formControlName="company_id"
                ngDefaultControl
              >
              </ng-select>
            </div>
            <div class="col-md-2 mb-4">
              <ng-select
                [items]="groupList"
                (change)="getDependencies($event.value);"
                bindLabel="text"
                bindValue="value"
                appearance="outline"
                [appendTo]="'body'"
                placeholder="Grupo"
                name="group"
                [clearable]="false"
                formControlName="group_id"
                ngDefaultControl
              >
              </ng-select>
            </div>
            <div class="col-md-2 mb-4">
              <ng-select
                [items]="dependencyList"
                bindLabel="text"
                bindValue="value"
                appearance="outline"
                [appendTo]="'body'"
                [clearable]="false"
                placeholder="Dependencia"
                formControlName="dependency_id"
                ngDefaultControl
              >
              </ng-select>
            </div>
            <div class="col-md-4 mb-4">
              <ng-select
                [items]="people"
                bindLabel="text"
                bindValue="value"
                appearance="outline"
                [appendTo]="'body'"
                [clearable]="false"
                placeholder="Funcionario"
                formControlName="people_id"
                ngDefaultControl
              >
              </ng-select>
            </div>
            <mat-form-field appearance="outline" class="col">
              <mat-label>Rango de fechas</mat-label>
              <input
                matInput
                [satDatepicker]="picker"
                [value]="date"
                (dateChange)="selectedDate($event)"
                name="daterange"
                autocomplete="off"
              />
              <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
              <sat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></sat-datepicker-toggle>
            </mat-form-field>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="alert alert-info" *ngIf="active_filters" role="alert">
      <strong
        >Hay filtros de búsqueda activos, para mostrar todos los resultados haz
        click
      </strong>
      <a href="javascript: void(0)" (click)="resetFiltros()" class="alert-link"
        >aquí</a
      >
    </div>
    <div *ngIf="companies.length && !loading; else notData">
      <div class="row">
        <div class="col-md-6">
          <div class="card text-white bg-warning">
            <div class="card-body stats align-items-center d-flex">
              <div class="col-md-1">
                <i class="fa text-info fa-stopwatch"></i>
              </div>
              <div class="col-md-10 text-center">
                <h4 class="text-white">
                  {{ dataDiary.time_diff_total }}
                </h4>
                <span>Horas/minutos de tiempo acumulado</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card text-white bg-danger">
            <div class="card-body stats align-items-center d-flex">
              <div class="col-md-1">
                <i class="fa text-info fa-user-clock"></i>
              </div>
              <div class="col-md-10 text-center">
                <h4 class="text-white">{{ dataDiary.total }}</h4>
                <span>Número total de llegadas tarde</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card border border-3 border-light w-100">
            <div class="card-body">
              <h4 class="weight-bold text-center">
                Llegadas tarde en los últimos 15 días
              </h4>
              <div class="row">
                <div class="col-md-1 d-flex m-0 p-0">
                  <div class="texto-vertical text-center">#LLegadas tarde</div>
                </div>
                <div class="col-md-11 ml-0 pl-0">
                  <canvas
                    baseChart
                    height="200"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [colors]="lineChartColors"
                    [chartType]="'line'"
                    [options]="options"
                  ></canvas>
                  <p class="text-center font-weight-bolder">- Días del mes -</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card border border-3 border-light w-100">
            <div class="card-body">
              <h4 class="d-block weight-bold mb-3 text-center">Estadisticas</h4>
              <div #studentChart>
                <canvas
                  baseChart
                  [labels]="donutChart.labels"
                  [datasets]="donutChart.datasets"
                  chartType="doughnut"
                  [options]="donutChart.options"
                  height="260"
                >
                </canvas>
              </div>
              <div class="card-footer bg-transparent mt-2">
                <h5 class="weight-bold mb-2 text-center">
                  Áreas de la empresa
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card border border-3 border-light">
            <div class="card-body">
              <div class="row card-title d-flex justify-content-between">
                <div class="col-md-6 px-0">
                  <h6>
                    <i class="fa fa-users text-primary"></i> Funcionarios que
                    llegaron tarde
                  </h6>
                </div>
                <div class="col-md-6 px-0 text-right">
                  <div class="btn-group rounded w-sm-100">
                    <button
                      type="button"
                      (click)="downloadLateArrivals()"
                      class="btn btn-success btn-sm"
                    >
                      <span
                        ><i
                          class="fas"
                          [class]="
                            !donwloading
                              ? 'fa-file-download'
                              : 'fa-spinner fa-spin'
                          "
                        ></i>
                        {{ !donwloading ? "Descargar" : "Descargando" }}</span
                      >
                    </button>
                  </div>
                </div>
              </div>
              <hr class="line" />
              <div *ngFor="let company of companies">
                <h4 *ngIf="companies.length > 1">{{ company.name }}</h4>
                <div *ngFor="let group of company.groups">
                  <h5 class="text-uppercase font-weight-bold text-primary">
                    Grupo:
                    <span class="text-secondary">{{ group.name }}</span>
                  </h5>
                  <div *ngFor="let dependency of group.dependencies">
                    <h6 class="font-weight-bold text-center text-uppercase">
                      {{ dependency.name }}
                    </h6>
                    <div
                      class="mb-3"
                      *ngIf="dependency.people.length > 0; else alertNoData"
                    >
                      <mat-accordion class="mb-3">
                        <mat-expansion-panel
                          class="mat-elevation-z0"
                          *ngFor="let person of dependency.people"
                        >
                          <mat-expansion-panel-header>
                            <div class="col-1">
                              <img
                                src="{{ person?.image | image : 'users' }}"
                                onerror="this.src='../../../../assets/images/noprofile.png'"
                                class="rounded-circle mx-auto header-profile-user"
                              />
                            </div>
                            <div class="col d-flex align-items-center">
                              {{ person.first_name | uppercase }}
                              {{ person.first_surname | uppercase }}
                            </div>
                            <div class="col d-flex align-items-center">
                              <div class="font-weight-bold">
                                <i class="fas fa-clock"></i>
                                {{ person?.late_arrivals?.length }} -
                                <strong>
                                  ACUMULADO: {{ person.averageTime }}
                                </strong>
                              </div>
                            </div>
                          </mat-expansion-panel-header>
                          <app-detalle-llegada
                            [person]="person"
                          ></app-detalle-llegada>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #notData>
  <app-not-data
    [loading]="loading"
    [text]="'No hay registro de llegadas tarde'"
  ></app-not-data>
</ng-template>
<ng-template #alertNoData>
  <div class="alert alert-info" role="alert">
    No hemos encontrado nada aquí.
  </div>
</ng-template>
<!--   <div class="col-md-12 col-xl-12">
    <div class="card text-white bg-info">
      <div class="card-body stats align-items-center d-flex">
        <div style="width: 30%">
          <i class="fa fa-percent"></i>
        </div>
        <div>
          <h4 class="text-white">{{ dataDiary.percentage }}</h4>
          <p>LLegadas Tarde</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
