<div class="card col-xl-4 col-lg-6 col-md-12 mx-auto">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <h4 class="text-primary">Base cálculos</h4>
    </div>
    <hr class="line" />

    <form #formP="ngForm" (submit)="guardar(formP)">
      <h6><b>Porcentajes</b></h6>
      <div class="input-group mb-2">
        <div class="input-group-prepend col-md-7 px-0">
          <span class="input-group-text col-md-12">Administración</span>
        </div>
        <input
          class="form-control"
          [(ngModel)]="data.administration_percentage"
          #admin="ngModel"
          name="administration_percentage"
          currencyMask
          appInputPositionInitial
          [options]="masks.maskPorcentaje"
          placeholder="0"
          type="text"
          required
        />
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend col-md-7 px-0">
          <span class="input-group-text col-md-12">Imprevistos</span>
        </div>
        <input
          class="form-control"
          [(ngModel)]="data.unforeseen_percentage"
          name="unforeseen_percentage"
          placeholder="0"
          type="text"
          currencyMask
          appInputPositionInitial
          [options]="masks.maskPorcentaje"
          required
        />
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend col-md-7 px-0">
          <span class="input-group-text col-md-12">Utilidad</span>
        </div>
        <input
          class="form-control"
          [(ngModel)]="data.utility_percentage"
          name="utility_percentage"
          placeholder="0"
          type="text"
          currencyMask
          appInputPositionInitial
          [options]="masks.maskPorcentaje"
          required
        />
      </div>
      <h6 class="mt-3"><b>Valores</b></h6>
      <div class="input-group mb-2">
        <div class="input-group-prepend col-md-7 px-0">
          <span class="input-group-text col-md-12">TRM</span>
        </div>
        <input
          class="form-control"
          [(ngModel)]="data.trm"
          name="trm"
          placeholder="0"
          type="text"
          currencyMask
          appInputPosition
          [options]="masks.maskCOP"
          required
        />
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend col-md-7 px-0">
          <span class="input-group-text col-md-12">Minuto de corte láser</span>
        </div>
        <input
          class="form-control"
          [(ngModel)]="data.laser_cut_minute_value"
          name="laser_cut_minute_value"
          placeholder="0"
          type="text"
          currencyMask
          appInputPosition
          [options]="masks.maskCOP"
          required
        />
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend col-md-7 px-0">
          <span class="input-group-text col-md-12">Minuto de corte agua</span>
        </div>
        <input
          class="form-control"
          [(ngModel)]="data.warer_cut_minute_value"
          name="warer_cut_minute_value"
          placeholder="0"
          type="text"
          currencyMask
          appInputPosition
          [options]="masks.maskCOP"
          required
        />
      </div>
      <button
        [disabled]="formP.invalid"
        class="mt-3 btn btn-primary btn-block"
        type="submit"
      >
        Guardar
      </button>
    </form>
  </div>
</div>
