::ng-deep .mat-form-field-infix {
    height: 40px;
    font-size: smaller;
 }
 
 ::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
 }

 ::ng-deep .mat-form-field.pb-0 .mat-form-field-wrapper {
   padding-bottom: 0;
}

::ng-deep .mat-form-field.textarea .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix{
   height: auto;
}

::ng-deep .ck-editor__editable {
   min-height: 50px !important;
 }