::ng-deep .mat-form-field-infix {
  height: 40px;
  font-size: smaller;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
}

::ng-deep .mat-form-field.pb-0 .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep mat-paginator .mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0.5rem;
}

::ng-deep .mat-form-field.textarea .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
  height: auto;
}

::ng-deep .ck-editor__editable {
  min-height: 6rem !important;
  line-height: 1;

  p {
    margin-top: 0;
    margin-bottom: 0.1rem;
  }
}

::ng-deep .ck.ck-editor__editable_inline {
  border: 1px solid #E0E0E0;
}

::ng-deep .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
  border: 1px solid #A5C11F !important;
}

::ng-deep select.swal2-select {
  option:disabled {
    display: none;
  }
}

::ng-deep .mat-badge-small .mat-badge-content {
  font-size: 10px;
}
