<div class="page-body">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-8 mt-2">
              <h5>Subcategorías</h5>
              <span>Todas las Subcategorías Registradas</span>
            </div>
            <div class="col-md-4 mt-2">
              <button
                type="button"
                class="float-right btn btn-primary"
                (click)="modal.show()"
              >
                <i class="fa fa-plus"></i>
                Agregar Nueva Subcategoría
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped" style="font-size: 13px">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th style="max-width: 90px">¿Es Separable?</th>
                    <th style="max-width: 100px; width: 100px !important">
                      Acciones
                    </th>
                    <!-- <th style="max-width: 70px; width: 70px !important;">Acciones</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="Cargando">
                    <td colspan="3" class="text-center">
                      <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                      <span class="sr-only">Cargando...</span>
                      <h4>Cargando Subcategorías...</h4>
                    </td>
                  </tr>
                  <tr *ngIf="Sucategories.length == 0 && !Cargando">
                    <td colspan="3" class="text-center">
                      <i class="fa fa-exclamation-circle fa-5x"></i>
                      <h4>No Existen Subcategorías para mostar</h4>
                      <a
                        (click)="modalNuevoEgreso.show()"
                        class="btn btn-primary btn-sm"
                        ><i class="fa fa-plus"></i> Cree Una Acá</a
                      >
                    </td>
                  </tr>
                  <tr *ngFor="let item of Sucategories">
                    <td>
                      {{ item.Nombre }}
                    </td>
                    <td>
                      {{ item.Separable }}
                    </td>
                    <td>
                      <div ngbDropdown container="body" class="dropdown-primary">
                        <button
                          ngbDropdownToggle
                          class="btn btn-primary btn-sm  waves-light"
                          type="button"
                        >
                          <i class="mdi mdi-chevron-down"></i>
                        </button>
                        <div ngbDropdownMenu>
                          <a
                            class="dropdown-item waves-light "
                            (click)="EditSubcategory(item); modal.show()"
                          >
                            <i class="fas fa-user-edit mr-1"></i>Editar
                          </a>
                          <a
                            class="dropdown-item waves-light "
                            [swal]="{
                              title: '¿Está Seguro?',
                              text: 'Se dispone a Eliminar esta Subcategoria, esta acción no se puede revertir',
                              type: 'warning',
                              showCancelButton: true,
                              confirmButtonText: 'Si, Eliminar',
                              cancelButtonText: 'No, Dejame Comprobar!'
                            }"
                            (confirm)="deleteSubcategory(item.Id_subcategoria)"
                          >
                            <i class="far fa-trash-alt mr-1"></i>Eliminar</a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-basic #modal [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close basic-close" (click)="CerrarModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="form">
<!-- <input
      name="company_id"
      type="hidden"
      placeholder=""
      class="form-control"
      [(ngModel)]="company_id"
    />
-->

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Nombre </label>
            <input
              type="text"
              placeholder=""
              class="form-control form-control-sm"
              formControlName="Nombre"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>¿Es separable?</label>
            <select
              class="form-control form-control-sm"
              formControlName="Separable"
            >
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
      </div>

      <h5 class="modal-title">Campos Subcategoria</h5>
      <hr />
      <div class="row" formArrayName="dynamic">
        <ng-container *ngIf="fieldDinamic.controls.length; else sinDatos">
          <ng-container
            *ngFor="let item of fieldDinamic.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="col-md-4">
              <div class="form-group">
                <label>Nombre </label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="label"
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Tipo </label>
                <select
                  class="form-control form-control-sm"
                  formControlName="type"
                >
                  <option value="number">Number</option>
                  <option value="text">Text</option>
                  <option value="date">Date</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label>¿Requerido?</label>
                <select
                  class="form-control form-control-sm"
                  formControlName="required"
                >
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div class="col-md-1 mt-3">
              <!-- <button style="float: right;" class="btn btn-danger btn-sm " placement="bottom" type="button" ngbTooltip="Borrar" (click)="deleteField(i)">
                            <i class="fas fa-trash-alt"></i> -->

              <button
                class="btn btn-danger btn-sm"
                [swal]="{
                  title: '¿Está Seguro?',
                  text: 'Se dispone a Eliminar este campo, esta acción no se puede revertir',
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonText: 'Si, Eliminar',
                  cancelButtonText: 'No, Dejame Comprobar!'
                }"
                (confirm)="deleteField(i, item)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>

              <!-- </button> -->
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class class="row">
        <div class="col-12">
          <div class="text-right">
            <button
              class="col-md-1 btn btn-sm btn-outline-success"
              style="width: 95px"
              placement="left"
              ngbTooltip="Añadir"
              (click)="newField()"
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="app-modal-footer">
    <div class="text-right">
      <button
        type="button"
        class="btn btn-default btn-sm"
        (click)="CerrarModal()"
      >
        Cancelar
      </button>
      <button
        type="submit"
        [disabled]="!form.valid"
        class="btn btn-primary btn-sm"
        (click)="SaveSubcategory()"
      >
        Guardar
      </button>
    </div>
  </div>
</app-modal-basic>

<swal #confirmacionSwal title="" text="" type=""></swal>
<ng-template #rt1 let-r="result" let-t="term">
  <span class="f-9">{{ r.Codigo }} </span>
</ng-template>

<ng-template #sinDatos>
  <table class="table table-striped">
    <tr class="bg-light">
      <td colspan="100%" class="text-center">
        <p
          class="mt-3"
          style="font-size: 20px; font-family: 'Noto Sans Display', sans-serif"
        >
          Sin datos agregados
        </p>
      </td>
    </tr>
  </table>
</ng-template>
