#imageOutput {
    width: 175px;
    height: 175px;
    object-fit: cover;
}
input.numberInput::-webkit-outer-spin-button,
input.numberInput::-webkit-inner-spin-button {
  display: none;
}

input.numberInput {
  -moz-appearance: textfield;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    height: 20px;
    width: 20px;
}