input[type='file'] {
    display: none;
}

.subir-archivo {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
}

.subir-archivo {
    color: #7a7e7e;
}

fieldset legend {
    font-size: 1.2rem;
}

#imageOutput {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}