#imageOutput {
  width: 175px;
  height: 175px;
  object-fit: cover;
}

input.numberInput::-webkit-outer-spin-button,
input.numberInput::-webkit-inner-spin-button {
  display: none;
}

input.numberInput {
  -moz-appearance: textfield;
}

.custom-file-label::after {
  content: "Buscar";
}