hr.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #95c11f, #95c11f, #f0f0f0);
}

@media (max-width:320px) {
    aw-wizard ::ng-deep .horizontal ul.steps-indicator li a .label {
        display: none;
    }
}

@media (max-width:481px) {
    aw-wizard ::ng-deep .horizontal ul.steps-indicator li a .label {
        display: none;
    }
}

@media (max-width:641px) {
    aw-wizard ::ng-deep .horizontal ul.steps-indicator li a .label {
        display: none;
    }
}