<table class="table" style="max-height:400px;">
    <thead>
        <tr class="thead-default">

            <th> Factura</th>
            <th>Total</th>
            <th>Pagado</th>
            <th>Gravado</th>
            <th>Iva</th>
            <th> Excenta</th>
            <th> Por Pagar</th>
            <th>Descuentos</th>
            <th>Mayor a Pagar</th>
            <th>Retenciones </th>
            <th>Valor Recibido </th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let F of Facturas; let i = index" id="fila{{i}}">
            <td>{{F.Codigo}} </td>
            <td class="text-rigth">{{F.Total_Compra | currency}} </td>
            <td class="text-rigth">{{F.Pagado | currency}} </td>
            <td class="text-rigth">{{F.Gravada | currency}} </td>
            <td class="text-rigth">{{F.Iva | currency}} </td>
            <td class="text-rigth">{{F.Exenta | currency}} </td>
            <td class="text-rigth">{{F.Por_Pagar | currency}} </td>

            <td>
                <div *ngIf="F.DescuentosFactura.length>0" class="row">
                    <div class="col-md-6"> <label>Cuenta</label></div>
                    <div class="col-md-6 text-right"><label>Valor</label></div>
                </div>
                <div *ngFor="let item of F.DescuentosFactura" class="row">
                    <div class="col-md-6">

                        {{item.Cuenta}}

                    </div>
                    <div class="col-md-6 text-right">

                        {{item.ValorDescuento | currency}}


                    </div>
                </div>
            </td>
            <td>
                <div class="row" *ngIf="F.Cuenta_Mayor_Pagar!=''">
                    <div class="col-md-6">
                        <div class="form group">
                            <label>Cuenta</label> <br> {{F.Cuenta_Mayor_Pagar}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Valor</label> <br> {{F.ValorMayorPagar | currency}}
                        </div>

                    </div>
                </div>
                <div *ngIf="F.Cuenta_Mayor_Pagar==''" class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Valor</label> <br> {{F.ValorMayorPagar | currency}}
                        </div>

                    </div>
                </div>

            </td>
            <td>
                <div *ngIf="F.RetencionesFacturas.length>0" class="row">
                    <div class="col-md-6"> <label>Cuenta</label></div>
                    <div class="col-md-6 text-right"><label>Valor</label></div>
                </div>
                <div *ngFor="let item of F.RetencionesFacturas" class="row">
                    <div class="col-md-6 ">

                        {{item.Cuenta}}

                    </div>
                    <div class="col-md-6 text-right">
                        {{item.Valor | currency}}
                    </div>
                </div>
            </td>
            <td class="text-right">
                {{F.ValorIngresado | currency}}
            </td>
        </tr>
    </tbody>
</table>