<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Almuerzos</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button
            class="btn btn-sm btn-primary"
            (click)="openConfirm(add, 'md')"
          >
            <i class="fa fa-plus"></i> Agregar
          </button>
          <button class="btn btn-success btn-sm" (click)="Download()">
            <span *ngIf="!donwloading; else status">
              <i class="fas fa-file-download"></i> Descargar</span
            >
            <ng-template #status>
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              Generando...
            </ng-template>
          </button>
          <button class="btn btn-warning btn-sm" (click)="openValues(valores)">
            <i class="fas fa-money-bill"></i> Valores
          </button>
          <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <div class="row">
          <div class="col-md-4 mb-4">
            <ng-select
              [(ngModel)]="filtro.person"
              (change)="getLunches()"
              [items]="peopleFill"
              bindLabel="text"
              bindValue="value"
              appearance="outline"
              [appendTo]="'body'"
              placeholder="Funcionario"
              loadingText="loading "
              ngDefaultControl
            >
            </ng-select>
          </div>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Fecha de inicio</mat-label>
            <input
              matInput
              type="date"
              [(ngModel)]="filtro.date_start"
              (change)="getLunches()"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Fecha de fin</mat-label>
            <input
              matInput
              type="date"
              [(ngModel)]="filtro.date_end"
              (change)="getLunches()"
            />
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="!loading && lunches.length > 0; else notData"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th scope="col">Funcionario</th>
            <th scope="col">Func. Creó</th>
            <th scope="col">Valor</th>
            <th scope="col">¿Aplica?</th>
            <th scope="col">Fecha</th>
            <th scope="col"><i class="mdi mdi-chevron-down"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let lunch of lunches"
            class="text-center"
            [ngClass]="{
              'text-danger font-weight-bold': lunch.state == 'Inactivo'
            }"
          >
            <td class="align-middle">
              {{ lunch.first_name | titlecase }}
              {{ lunch.first_surname | titlecase }}
            </td>
            <td class="align-middle">{{ lunch.user }}</td>
            <td class="align-middle">{{ lunch.value | currency }}</td>
            <ng-container *ngIf="lunch.apply == null; else elseTemplate">
              <td class="align-middle">Sin Validar</td>
            </ng-container>
            <ng-template #elseTemplate>
              <td class="align-middle">{{ lunch.apply }}</td>
            </ng-template>
            <td class="align-middle">
              {{ lunch.created_at | date: "longDate" }}
            </td>
            <td class="align-middle">
              <div ngbDropdown container="body" class="dropdown-primary">
                <button
                  ngbDropdownToggle
                  class="btn btn-primary btn-sm waves-light"
                  type="button"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a
                    (click)="getLunchValu(lunch); openConfirm(edit, 'sm')"
                    href="javascript:void(0)"
                    class="dropdown-item waves-light text-info caja-botones"
                  >
                    <i class="far fa-edit"></i> Editar
                  </a>
                  <a
                    *ngIf="lunch.state == 'Activo'"
                    (click)="activateOrInactivate(lunch.id, 'Inactivo')"
                    href="javascript:void(0)"
                    class="dropdown-item waves-light text-danger caja-botones"
                  >
                    <i class="far fa-trash-alt"></i> Anular
                  </a>
                  <a
                    *ngIf="lunch.state == 'Inactivo'"
                    (click)="activateOrInactivate(lunch.id, 'Activo')"
                    href="javascript:void(0)"
                    class="dropdown-item waves-light text-success caja-botones"
                  >
                    <i class="fas fa-check"></i> Activar
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="pagination.collectionSize"
      [pageSize]="pagination.pageSize"
      [(page)]="pagination.page"
      (pageChange)="getLunches($event)"
      aria-label="Default pagination"
      maxSize="5"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
    >
    </ngb-pagination>
  </div>
</div>

<ng-template #valores let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Valores de almuerzos</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="_modal.close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-valor-almuerzos></app-valor-almuerzos>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="_modal.close()">
      Cerrar
    </button>
    <!-- <button type="button" class="btn btn-primary">Guardar</button> -->
  </div>
</ng-template>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Nuevo almuerzo</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Grupo</mat-label>
          <mat-select
            (selectionChange)="getDependencies($event.value)"
            formControlName="group_id"
            required
          >
            <mat-option *ngFor="let item of groups" [value]="item.value"
              >{{ item.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Dependencia</mat-label>
          <mat-select
            (selectionChange)="Dependencia_Cargo($event.value)"
            formControlName="dependency_id"
            required
          >
            <mat-option *ngFor="let item of dependencies" [value]="item.value"
              >{{ item.text }}
            </mat-option>

          </mat-select>
          <mat-hint>Selecciona un grupo</mat-hint>
        </mat-form-field>

        <div class="col-md-12 mb-4">
          <ng-select
            formControlName="people_id"
            [ngClass]="'ng-select'"
            name="days"
            [items]="people"
            bindLabel="text"
            bindValue="value"
            appearance="outline"
            [appendTo]="'body'"
            placeholder="Funcionario *"
            [closeOnSelect]="false"
            [multiple]="true"
          >
          </ng-select>
        </div>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Valor del almuerzo</mat-label>
          <mat-select formControlName="value" required>
            <mat-option *ngFor="let item of lunchvalues" [value]="item.value"
              >${{ item.value | currency: "":"" }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="createLunch()"
      [disabled]="!form.valid"
    >
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #edit let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Editar valor</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6 class="text-center">Funcionario</h6>
    <h5 class="text-center text-primary">{{ person }}</h5>
    <div class="row">
      <div class="col-md-12">
        <ng-select
          appearance="outline"
          [searchable]="false"
          [clearable]="false"
          appearance="outline"
          [appendTo]="'body'"
          placeholder="Valor del almuerzo"
          labelForId="value"
          [(ngModel)]="value"
        >
          <ng-option *ngFor="let item of lunchvalues" [value]="item.value">
            {{ item.value | currency: "COP" }}
          </ng-option>
        </ng-select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button type="submit" class="btn btn-primary" (click)="editLunchValue()">
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #notData>
  <app-not-data
    [loading]="loading"
    [text]="
      'No existen datos para las fechas ' +
      filtro.date_start +
      ' - ' +
      filtro.date_end
    "
  ></app-not-data>
</ng-template>
<!-- <input
  formControlName="fill_person"
  #box
  class="form-control form-control-sm"
  [ngbTypeahead]="search"
  [inputFormatter]="inputFormatBandListValue"
  [resultFormatter]="resultFormatBandListValue"
  (change)="createPerson(); box.value = ''"
/> -->
<!-- <input
  type="number"
  formControlName="value"
  class="form-control form-control-sm"
  readonly
/> -->
<!-- <input
  type="number"
  formControlName="value"
  class="form-control form-control-sm"
  readonly
/> -->
<!-- <div class="form-group col-12" *ngIf="personList.controls.length > 0">
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-sm table-borderless table-striped">
      <thead class="bg-light stay">
        <tr>
          <th colspan="2" class="text-center">Funcionarios Seleccionados</th>
        </tr>
      </thead>
      <tbody>
        <tr
          formArrayName="persons"
          *ngFor="let item of personList.controls; let i = index"
        >
          <td [formGroupName]="i">
            <input
              type="text"
              formControlName="name"
              class="form-control form-control-plaintext form-control-sm"
              style="background-color: transparent"
              readonly
            />
          </td>
          <td [formGroupName]="i">
            <div class="text-center">
              <button
                class="btn btn-outline-danger btn-sm"
                type="button"
                (click)="deletePerson(i)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
