hr {
  height: 50%;
  width: 1px;
  color: #919bae;
  background-color: #919bae;
  margin-top: 10px !important;
}



::ng-deep .p-menubar-root-list>.p-menuitem>.p-menuitem-link {
  padding: 0.5rem !important;
  color: #495057;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  -webkit-user-select: none;
  user-select: none;
}

.menu-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}