hr.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #232247, #232247, #f0f0f0);
}

.values {
    padding: 5px 0px;
}

.fa,
.fas,
.far {
    cursor: pointer;
}

.detachable {
    cursor: pointer;
}

.form-control-plaintext {
    background-color: transparent;
}

$principal: #232247;
.header-item {
    background-color: rgb(255, 255, 255);
    color: $principal;
}

.card {
     ::-webkit-scrollbar {
        height: 15px;
    }
     ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 5px;
    }
     ::-webkit-scrollbar-thumb {
        background: $principal;
        border-radius: 5px;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: #1d1c3a;
    }
}