<div class="card">
  <ng-container *ngIf="!loading; else notDataL">
    <div class="card-body">
      <app-cabecera [datosCabecera]="datosCabecera"></app-cabecera>
      <hr class="line" />
      <div class="d-flex justify-content-end">
        <div class="btn-group rounded w-sm-100">
          <button
            class="btn btn-info btn-sm"
            type="button"
            [routerLink]="['/crm/apu/editar-apu-servicio/', data.id]"
          >
            <i class="fas fa-edit"></i> Editar
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="rounded-top table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <th scope="row">Nombre</th>
                  <td>{{ data.name }}</td>
                </tr>
                <tr>
                  <th scope="row">Destino</th>
                  <td>{{ data.city.name }}</td>
                </tr>
                <tr>
                  <th scope="row">Quién elabora</th>
                  <td>
                    {{ data.person.name }}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Fecha</th>
                  <td>
                    {{ data.created_at | date : "EEEE, MMMM d, y" | titlecase }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rounded-top table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <th scope="row">Cliente</th>
                  <td>
                    {{ data.thirdparty.name }}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Línea</th>
                  <td>{{ data.line }}</td>
                </tr>
                <tr>
                  <th scope="row">Observaciones</th>
                  <td>
                    {{ data.observation }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <ng-container *ngIf="data.dimensional_validation.length > 0">
        <hr />
        <h5 class="mt-2 text-center">Validación dimensional</h5>
        <hr />
        <h6>Cálculo de mano de obra</h6>
        <app-validacion-dimensional
          [data]="data.dimensional_validation"
        ></app-validacion-dimensional>
        <div class="row d-flex justify-content-end">
          <div class="col-md-6">
            <div class="d-flex justify-content-between">
              <div class="rounded-top table-responsive">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <td>SUBTOTAL MANO DE OBRA</td>
                      <td class="text-right">
                        ${{ data.subtotal_labor | currency : "" : "" }}
                      </td>
                    </tr>
                    <tr>
                      <td>SUBTOTAL VIÁTICOS</td>
                      <td class="text-right">
                        ${{ data.subtotal_travel_expense | currency : "" : "" }}
                      </td>
                    </tr>
                    <tr>
                      <td>SUBTOTAL VALID DIMENSIONAL</td>
                      <td class="text-right">
                        ${{
                          data.subtotal_dimensional_validation
                            | currency : "" : ""
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="data.assemblies_start_up.length > 0">
        <hr />
        <h5 class="text-center">Montaje y puesta en marcha</h5>
        <hr />
        <h6>Cálculo de mano de obra</h6>
        <app-montaje-puesta-marcha
          [data]="data.assemblies_start_up"
        ></app-montaje-puesta-marcha>
        <div class="row d-flex justify-content-end">
          <div class="col-md-6">
            <div class="d-flex justify-content-between">
              <div class="rounded-top table-responsive">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <td>SUBTOTAL MANO DE OBRA</td>
                      <td class="text-right">
                        ${{ data.subtotal_labor_mpm | currency : "" : "" }}
                      </td>
                    </tr>
                    <tr>
                      <td>SUBTOTAL VIÁTICOS</td>
                      <td class="text-right">
                        ${{
                          data.subtotal_travel_expense_mpm | currency : "" : ""
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td>SUBTOTAL MONTAJE Y PUESTA EN MARCHA</td>
                      <td class="text-right">
                        ${{
                          data.subtotal_assembly_commissioning
                            | currency : "" : ""
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td>SUBTOTAL GENERAL VIÁTICOS + MANO DE OBRA</td>
                      <td class="text-right">
                        ${{
                          data.general_subtotal_travel_expense_labor
                            | currency : "" : ""
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <hr />
      <h4 class="text-center">AIU</h4>
      <hr />
      <div class="d-flex justify-content-center">
        <div class="rounded-top table-responsive">
          <table
            class="table table-bordered table-striped table-sm text-center"
          >
            <tbody>
              <tr>
                <td class="text-left">Administrativos</td>
                <td>{{ data.administrative_percentage }}%</td>
                <td>${{ data.administrative_value | currency : "" : "" }}</td>
              </tr>
              <tr>
                <td class="text-left">Imprevistos</td>
                <td>{{ data.unforeseen_percentage }}%</td>
                <td>${{ data.unforeseen_value | currency : "" : "" }}</td>
              </tr>
              <tr>
                <td class="text-left" colspan="2">Subtotal A + I</td>
                <td>
                  ${{
                    data.subtotal_administrative_unforeseen | currency : "" : ""
                  }}
                </td>
              </tr>
              <tr>
                <td class="text-left" colspan="2">Utilidad</td>
                <td>{{ data.utility_percentage }}%</td>
              </tr>
              <tr>
                <td class="text-left" colspan="2">SubTotal A + I + U</td>
                <td>
                  ${{
                    data.subtotal_administrative_unforeseen_utility
                      | currency : "" : ""
                  }}
                </td>
              </tr>
              <tr>
                <td class="text-left" colspan="2">
                  Precio venta COP incluye retención
                </td>
                <td>
                  ${{
                    data.sale_price_cop_withholding_total | currency : "" : ""
                  }}
                </td>
              </tr>
              <tr>
                <td class="text-left" colspan="2">TRM</td>
                <td>${{ data.trm | currency : "" : "" }}</td>
              </tr>
              <tr>
                <td class="text-left" colspan="2">
                  Precio venta USD incluye retención
                </td>
                <td>${{ data.sale_price_usd_withholding_total | currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button (click)="download()" class="btn btn-primary btn-block">
        <span
          ><i
            class="fas"
            [class]="!donwloading ? 'fa-file-download' : 'fa-spinner fa-spin'"
          ></i>
          {{ !donwloading ? "Descargar" : "Descargando" }}</span
        >
      </button>
    </div>
  </ng-container>
</div>

<ng-template #notDataL>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
<ng-template #notData>
  <tr class="bg-light">
    <td colspan="100%" class="text-center">
      <p class="text-dark">Sin datos agregados</p>
    </td>
  </tr>
</ng-template>
