.card-header-custom,
.custom-panel-header {
  //background-color: #e5e5e5 !important;
  border-radius: 12px 12px 0 0 !important;
  text-align: center;
  color: black;
}

.border-radius-panel {
  border-radius: 12px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  margin-bottom: 24px;
}


::ng-deep .mat-expansion-panel-content {
  line-height: normal;
}
