<form [formGroup]="formDotation" (ngSubmit)="save()">
  <div class="row">
    <mat-form-field class="col-md-4" appearance="outline">
      <mat-label>Talla de camisa</mat-label>
      <mat-select formControlName="shirt_size">
        <mat-option *ngFor="let shirt of shirtSize" [value]="shirt.value">
          {{ shirt.text }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="shirt_size_invalid"> Campo obligatorio </mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-4" appearance="outline">
      <mat-label>Talla de pantalón</mat-label>
      <mat-select formControlName="pants_size">
        <mat-option *ngFor="let pant of pantSizes" [value]="pant.value">
          {{ pant.text }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="pants_size_invalid">Campo obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-4" appearance="outline">
      <mat-label>Talla de calzado</mat-label>
      <mat-select v-model="dotacion.talla_botas" formControlName="shue_size">
        <mat-option *ngFor="let shue of shueSizes" [value]="shue.value">
          {{ shue.text }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="shue_size_invalid">Campo obligatorio</mat-error>
    </mat-form-field>
    <div class="col-md-12">
      <div class="d-flex justify-content-between">
        <button
          type="button"
          class="btn btn-lg btn-primary"
          [disabled]="saving"
          (click)="previus()"
        >
          Anterior
        </button>
        <!--  <button type="submit" class="btn btn-sm btn-primary"> Siguiente</button> -->

        <button
          type="submit"
          [disabled]="saving"
          class="btn btn-primary btn-lg"
        >
          <span *ngIf="saving" Class="spinner-border spinner-border-sm"> </span>
          {{ saving ? " Creando funcionario..." : "Crear funcionario" }}
        </button>
      </div>
    </div>
  </div>
</form>
