p small {
    font-size: 12.5px;
  }
  .bold {
    font-weight: bold;
  }
  table thead,
  tbody {
    font-size: 0.93rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.9;
  }
  p i {
    font-size: 26px;
  }