.table {
    thead {
        th {
            padding: 2px;
            .input-sm,
            .input-sm:focus {
                font-size: 10px;
                height: auto !important;
                padding: 2px 5px;
                line-height: 1 !important;
                border: 0 !important;
                outline: none !important;
            }
        }
        .tabla-filtro {
            padding: 0 !important;
        }
    }
    font-size: 10px;
    td {
        padding: 0.5rem;
        vertical-align: middle;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
    }
}