<div class="card">
  <div class="card-body">
    <div
      class="row card-title d-flex justify-content-between"
    >
      <div class="col-md-6 px-0">
        <h4 class="text-primary">
          Pago de prima
        </h4>
      </div>

      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button [routerLink]="['crear']" class="btn btn-success btn-sm">
            <i class="far fa-file-excel"></i> Reporte
          </button>
          <!-- <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button> -->
        </div>
      </div>
    </div>

    <hr class="line" />

    <ng-container
      *ngIf="!loading && empleados.empleados.length > 0; else notData"
    >
      <div class="rounded-top table-responsive">
        <table class="table table-bordered table-striped table-sm mb-0">
          <thead class="bg-light">
            <tr class="text-center text-uppercase">
              <th>Foto</th>
              <th>Persona</th>
              <th>Salario</th>
              <th>Días Trabajados</th>
              <th>Monto</th>
              <th>Ver</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let empleado of empleados.empleados"
              class="text-center text-uppercase"
            >
              <td class="align-middle px-0 py-0">
                <div>
                  <img
                    [src]="empleado.image | image"
                    onerror="this.src='../../../../assets/images/noprofile.png'"
                    class="rounded-circle mx-auto img-fluid header-profile-user"
                  />
                </div>
              </td>
              <td class="text-left">
                {{ empleado.first_name }} {{ empleado.second_name }}
                {{ empleado.first_surname }} {{ empleado.second_surname }}
              </td>
              <td class="text-right">
                {{ empleado.avg_salary | currency: "":"" }}
              </td>
              <td class="text-center">{{ empleado.worked_days }}</td>
              <td class="text-right">{{ empleado.bonus | currency: "":"" }}</td>
              <td class="align-middle">
                <button type="button" class="btn btn-primary btn-sm">
                  <i class="fas fa-eye"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td class="text-right">
                  <b>Total Prima:</b> {{ empleados.total_primas | currency }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
    <mat-paginator
      *ngIf="paginacion"
      [length]="paginacion.total"
      [pageSize]="paginacion.per_page"
      [pageIndex]="paginacion.current_page - 1"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    ></mat-paginator>
    <button class="btn btn-primary btn-block">Pagar</button>
  </div>
</div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
