.img-rounded {
    width: 120px;
    height: 120px;
    border-radius: 150px;
}

.datos {
    margin: 20px 20px 50px;
}

salary-vacations-item,
vacations-item {
    font-size: 1.28rem;
    font-weight: 700;
}

#employee-salary {
    font-size: 1.28rem;
    font-weight: 700;
}

.edit {
    font-size: 1.1rem;
    color: #2a93d5;
    font-weight: bold;
}

.edit:hover {
    text-decoration: none;
    color: #4eb4f8;
}

.item-subtitle {
    text-align: right;
    color: #275c9c;
}

.item-subtitle2 {
    color: #275c9c;
}

.item-data p {
    font-size: 0.8rem;
}

.img-rounded {
    width: 120px;
    height: 120px;
    border-radius: 150px;
}

.subir-archivo {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
}

.subir-archivo {
    color: #7a7e7e;
}

input[type='file'] {
    display: none;
}