<ng-template #restoreModal let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Nueva contraseña</h4>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger text-center" role="alert">
      ¡Cambia la contraseña!
    </div>
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Nueva contraseña</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Ingresa una nueva contraseña"
            formControlName="newPassword"
            autocomplete="off"
            required
          />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>
            Ingresa la contraseña (min 6 caracteres)
          </mat-error>
        </mat-form-field>
        <!-- <mat-form-field class="col" appearance="outline">
          <mat-label>Confirmar contraseña</mat-label>
          <input
            matInput
            type="password"
            placeholder="Ingresa nuevamente la contraseña"
            formControlName="confirmPassword"
            autocomplete="off"
            required
          />
          <mat-error *ngIf="form.get('confirmPassword').errors.confirmPasswordValidator">
            Passwords do not match
          </mat-error>
        </mat-form-field> -->
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      *ngIf="canExit"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      (click)="changePassword()"
      [disabled]="!form.valid"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>
