<h4 class="card-title mb-4">Cesantías</h4>

<ul class="list-unstyled activity-wid">
  <li class="activity-list" *ngFor="let item of cesantias">
    <div class="activity-icon">
      <img
        src="{{ item.image | image: 'users' }}"
        class="img-thumbnail rounded-circle header-profile-user mx-auto d-block"
        [title]="item.first_name + item.first_surname"
        onerror="this.src='../../../../../assets/images/noprofile.png'"
      />
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <div class="card-title font-weight-bold">
          {{ item.first_name }}
          {{ item.first_surname }}
        </div>

        <div class="card-text">
          {{ item.created_at | date: "longDate" }}
          <small class="text-muted"
            >{{ item.created_at | date: "HH:mm" }}
          </small>
        </div>
        <span class="text-muted">{{ item.description }}</span>
        <br>
        <strong
          [ngClass]="{
            'text-danger': item.state == 'Rechazada',
            'text-warning': item.state == 'Pendiente',
            'text-success': item.state == 'Aprobada'
          }"
        >
          {{ item.state }}
        </strong>
      </div>
      <div>
        <i
          *ngIf="item.state == 'Aprobada'"
          title="Descargar Comprobante"
          role="button"
          class="fa fa-cloud-download-alt text-info h3 mx-1"
        ></i>

        <i
          role="button"
          title="Descargar soportes"
          class="fa fa-file-download text-primary h3 mx-1"
        ></i>
        <span *ngIf="item.state == 'Pendiente'">
          <i
            role="button"
            title="Rechazar"
            (click)="setState(item, 'Rechazado')"
            class="fa fa-times text-danger h3 mx-1"
          ></i>

          <i
            role="button"
            title="Aprobar"
            (click)="setState(item, 'Aprobado')"
            class="fa fa-check text-success h3 mx-1"
          ></i>
        </span>
      </div>
    </div>
  </li>
</ul>