<table
  class="table table-bordered table-responsive-lg table-striped table-sm"
  style="font-size: small"
>
  <thead class="thead-dark">
    <th colspan="4"></th>
    <th colspan="5" class="text-center">Desplazamiento</th>
    <th colspan="5" class="text-center">Ordinarias</th>
    <th colspan="6" class="text-center">Festivas</th>
    <th></th>
  </thead>
  <thead class="bg-light">
    <tr class="text-center text-uppercase">
      <th class="align-middle">Item</th>
      <th class="align-middle">Perfil</th>
      <th class="align-middle">Tipo Desplaza</th>
      <th class="align-middle">N. Persona</th>
      <th class="align-middle">N. Días</th>
      <th class="align-middle">Jornada</th>
      <th class="align-middle">Horas</th>
      <th class="align-middle">Valor Horas</th>
      <th class="align-middle">Valor Total</th>
      <th class="align-middle">N. Días</th>
      <th class="align-middle">Jornada</th>
      <th class="align-middle">Horas</th>
      <th class="align-middle">Valor Hora</th>
      <th class="align-middle">Valor Total</th>
      <th class="align-middle">N. Días</th>
      <th class="align-middle">Jornada</th>
      <th class="align-middle">Horas</th>
      <th class="align-middle">Valor Hora</th>
      <th class="align-middle">Valor Total</th>
      <th class="align-middle">Valor Salarial</th>
      <th class="align-middle">Acc.</th>
    </tr>
  </thead>
  <ng-container *ngFor="let item of dimensional_validation; let i = index">
    <tbody>
      <tr class="text-center">
        <td class="align-middle">
          {{ i + 1 }}
        </td>
        <td class="align-middle">
          {{ item.profiles.profile }}
        </td>
        <td class="align-middle">
          {{ item.displacement_type }}
        </td>
        <td class="align-middle">
          {{ item.people_number }}
        </td>
        <td class="align-middle">
          {{ item.days_number_displacement }}
        </td>
        <td class="align-middle">
          {{ item.workind_day_displacement }}
        </td>
        <td class="align-middle">
          {{ item.hours_displacement }}
        </td>
        <td class="align-middle">
          {{ item.hours_value_displacement }}
        </td>
        <td class="align-middle">
          {{ item.total_value_displacement }}
        </td>
        <td class="align-middle">
          {{ item.days_number_ordinary }}
        </td>
        <td class="align-middle">
          {{ item.working_day_ordinary }}
        </td>
        <td class="align-middle">
          {{ item.hours_ordinary }}
        </td>
        <td class="align-middle">
          {{ item.hours_value_ordinary }}
        </td>
        <td class="align-middle">
          {{ item.total_value_ordinary }}
        </td>
        <td class="align-middle">
          {{ item.days_number_festive }}
        </td>
        <td class="align-middle">
          {{ item.working_day_festive }}
        </td>
        <td class="align-middle">
          {{ item.hours_festive }}
        </td>
        <td class="align-middle">
          {{ item.hours_value_festive }}
        </td>
        <td class="align-middle">
          {{ item.total_value_festive }}
        </td>
        <td class="align-middle">
          {{ item.salary_value }}
        </td>
        <td class="align-middle">
          <button
            class="btn btn-outline-success btn-sm"
            placement="top"
            type="button"
            ngbTooltip="Est. Viáticos"
            (click)="collapsed[i] = !collapsed[i]"
            [attr.aria-expanded]="!collapsed"
            aria-controls="collapseExample2"
          >
            <i class="fas fa-eye"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="100%">
          <table
            [ngbCollapse]="collapsed[i]"
            class="table table-bordered table-responsive-lg table-striped table-sm w-50"
            style="font-size: small"
          >
            <thead class="thead-dark">
              <tr>
                <th class="text-center">Perfil</th>
                <th colspan="4" class="text-center">Viáticos</th>
                <th></th>
              </tr>
            </thead>
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th colspan="2">Descripción</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>Valor Unitario</th>
                <th>Valor Total</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="text-center"
                *ngFor="
                  let itemx of item.travel_estimation_dimensional_validations;
                  let j = index
                "
              >
                <td class="align-middle" colspan="2">
                  {{ itemx.description }}
                </td>
                <td class="align-middle">
                  {{ itemx.unit }}
                </td>
                <td class="align-middle">
                  {{ itemx.amount }}
                </td>
                <td class="align-middle">
                  {{ itemx.unit_value }}
                </td>
                <td class="align-middle">
                  {{ itemx.total_value }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" class="text-right text-uppercase">
                  <label><b>Subtotal</b></label>
                </td>
                <td colspan="6" class="text-center">
                  {{ item.subtotal }}
                </td>
              </tr>
            </tfoot>
          </table>
        </td>
      </tr>
    </tbody>
  </ng-container>  
</table>

<!-- <tfoot>
    <tr>
      <td colspan="3"></td>
      <td>
        <input
          type="number"
          class="form-control form-control-sm"
          style="width: 100px"
        />
      </td>
      <td>
        <input
          type="number"
          class="form-control form-control-sm"
          style="width: 100px"
        />
      </td>
      <td colspan="3"></td>
      <td>
        <input
          type="number"
          class="form-control form-control-sm"
          style="width: 100px"
        />
      </td>
      <td>
        <input
          type="number"
          class="form-control form-control-sm"
          style="width: 100px"
        />
      </td>
      <td colspan="3"></td>
      <td>
        <input
          type="number"
          class="form-control form-control-sm"
          style="width: 100px"
        />
      </td>
      <td>
        <input
          type="number"
          class="form-control form-control-sm"
          style="width: 100px"
        />
      </td>
      <td colspan="3"></td>
      <td>
        <input
          type="number"
          class="form-control form-control-sm"
          style="width: 100px"
        />
      </td>
    </tr>
  </tfoot> -->
