<div class="card">
  <ng-container *ngIf="!loading && quotation; else notData">
    <div class="card-body" #printPDF>
      <app-cabecera [datosCabecera]="headerData"></app-cabecera>
      <hr class="line" />
      <h5 class="card-title">Señores:</h5>
      <p class="card-text">
        {{
          quotation.client.social_reason
            ? quotation.client.social_reason
            : quotation.client.full_name
        }}
        <br />
        {{ quotation.municipality.name }}
      </p>
      <div class="alert alert-info" role="alert">
        <i class="fas fa-cogs"></i> {{ quotation.line }} {{ quotation.project }}
      </div>
      <div class="rounded-top table-responsive">
        <table class="table table-bordered table-striped table-sm">
          <thead class="bg-light">
            <tr class="text-center text-uppercase">
              <th>#</th>
              <th>Descripción</th>
              <th>Cantidad</th>
              <th>Valor unitario</th>
              <th>Valor total</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of quotation.items; let i = index"
              class="text-center"
            >
              <td>{{ i + 1 }}</td>
              <td class="text-left">
                <b>{{ item.name }}</b>
                <p>Comprende:</p>
                <ul class="mb-0">
                  <ng-container *ngFor="let sub_item of item.sub_items">
                    <li>{{ sub_item.description }}</li>
                  </ng-container>
                </ul>
              </td>
              <td>{{ item.cuantity }}</td>
              <ng-container *ngIf="quotation.money_type == 'cop'; else usd">
                <td>${{ item.value_cop | currency : "COP" }}</td>
                <td>${{ item.total_cop | currency : "COP" }}</td>
              </ng-container>
              <ng-template #usd>
                <td>{{ item.value_usd | currency }}</td>
                <td>{{ item.total_usd | currency }}</td>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-end">
        <ng-container *ngIf="quotation.money_type == 'cop'; else usd_total">
          <h5>TOTAL: ${{ quotation.total_cop | currency : "COP" }}</h5>
        </ng-container>
        <ng-template #usd_total>
          <h5>TOTAL: {{ quotation.total_usd | currency }}</h5>
        </ng-template>
      </div>
      <div class="alert alert-warning alert-custom-quotation" role="alert">
        <b>CONDICIONES COMERCIALES:</b><br />
        *LOS PRECIOS ANTERIORES NO INCLUYEN I.V.A. <br />
        *Tiempo de entrega: 10 semanas <br />
        *Forma de pago: 30 días fecha factura <br />
        *Validez de la oferta: 30 días <br />
        *Garantía: 1 año por defectos de fabricación <br />
        *OFERTAS Y DOCUMENTOS: Todos los documentos técnicos continúan siendo
        propiedad intelectual de MAQUINADOS Y MONTAJES S.A.S. Cada uso de estos
        documentos, incluyendo su emisión, copia y divulgación quedan prohibidas
        sin el consentimiento explícito por escrito, en caso de violación de
        estos deberes, el cliente asume la plena responsabilidad en virtud de
        los dispositivos de la Ley. <br />
        *PRECIOS: En el evento en que trascurridos más de 3 meses calendario
        luego de realizar la entrega formal del material, herramienta, repuesto
        y/o cualquier otro elemento vendido por MAQUINADOS Y MONTAJES S.A.S. y
        que por razones imputables al cliente no se haga posible su instalación
        en el término señalado, facultara a MAQUINADOS Y MONTAJES S.A.S. para el
        replanteo de los precios de instalación los cuales serán evaluados por
        el cliente para su aprobación. El valor estipulado en la cotización se
        mantendrá al cliente por un término máximo de 30 días. Cualquier cambio,
        solicitud adicional, variación de medidas, que afecten el alcance
        estipulado en la cotización inicial ameritará una nueva cotización, la
        cual respecto al precio se convendrá entre las partes. <br />
        *ADICIONALES: El trabajo adicional a lo estipulado dentro de la
        cotización que se llegase a solicitar por el cliente será calculado
        aparte y su precio se convendrá entre las partes de común acuerdo.
        <br />
        *ENTREGA: El cliente debe revisar y recibir la mercancía inmediatamente
        después de que esta haya llegado al lugar del recibo. Si el comprador
        explícita o silenciosamente haya desistido de revisar la mercancía a la
        hora del recibo, se considera que la mercancía ha sido suministrada y
        debidamente recibida según las condiciones contractuales. <br />
        *PENALIDAD POR RETRACTACIÓN: En el evento en que luego de emitida la
        orden de compra por parte del cliente y este llegase a retractarse
        encontrándose MAQUINADOS Y MONTAJES S.A.S. en producción de los
        elementos solicitados, estos facturaran al cliente en el mismo
        porcentaje en que se encuentren al momento de la retractación. En caso
        tal de no haberse iniciado la producción el cliente asumirá una
        penalidad del 10% sobre el valor de la orden de compra. <br />
        *RESERVA DE DOMINIO: MAQUINADOS Y MONTAJES S.A.S. se reserva el dominio
        de propiedad sobre todas las mercancías suministradas, incluyendo las
        piezas de repuesto y sustitución e incluso cuando estas hayan sido
        montadas sobre el equipamiento del cliente, hasta el momento del pago
        definitivo por parte del cliente. Mientras tanto, para mayor brevedad
        estas mercancías se llamarán en este documento mercancías de reserva. El
        comprador tiene el deber de guardar el valor de la mercancía de reserva
        y se compromete informar inmediatamente a MAQUINADOS Y MONTAJES S.A.S.
        en el caso de pretensiones presentadas por terceros hacia la mercancía.
        El comprador se compromete informar a sus clientes de que todas las
        mercancías suministradas por MAQUINADOS Y MONTAJES S.A.S. continúan
        siendo propiedad de esta y que la propiedad no puede ser transferida a
        los clientes antes del pago definitivo de las cuantías que se adeuden.
      </div>
      <div class="btn-group btn-block" role="group" aria-label="Button group">
        <button type="button" class="btn btn-success" (click)="print()">
          Imprimir
        </button>
        <button type="button" class="btn btn-info">Enviar</button>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
