.alert-custom-quotation {
  font-size: 10px;
  line-height: 1 !important;
  text-align: justify;
}

.card-body-edit {
  max-height: 30rem;
  overflow-y: auto;
}

.img-firma {
  height: 5rem;
  object-fit: cover;
}