<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Estimación de viáticos</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button
            class="btn btn-sm btn-primary"
            (click)="openConfirm(add, 'Nueva estimación de viáticos')"
          >
            <i class="fa fa-plus"></i> Agregar
          </button>
          <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Descripción</mat-label>
            <input (input)="getEstimations()" [(ngModel)]="filtro.description" type="text" matInput placeholder="Busca por descripción" />
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <hr class="line" />
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="!loading && estimations.length > 0; else notData"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Descripción</th>
            <th>Unidad</th>
            <th>Cantidad</th>
            <th>Valor unitario</th>
            <th>Fecha Creación</th>
            <th ><i class="mdi mdi-chevron-down"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of estimations" class="text-center">
            <td class="align-middle">{{ item.description }}</td>
            <td class="align-middle">{{ item.unit }}</td>
            <td class="align-middle">{{ item.amount }}</td>
            <td class="align-middle">
              {{ item.unit_value | currency: "COP" }}
            </td>
            <td class="align-middle">
              {{ item.created_at | date: "longDate" }}
            </td>
            <td class="align-middle">
              <div ngbDropdown container="body" class="dropdown-primary">
                <button
                  ngbDropdownToggle
                  class="btn btn-primary btn-sm waves-light"
                  type="button"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a
                    class="dropdown-item waves-light text-info caja-botones"
                    href="javascript:void(0)"
                    (click)="
                      getEstimation(item);
                      openConfirm(add, 'Actualizar estimación de viáticos')
                    "
                  >
                    <i class="far fa-edit"></i> Editar
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="pagination.collectionSize"
      (pageChange)="getEstimations($event)"
      maxSize="5"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
      [pageSize]="pagination.pageSize"
      [(page)]="pagination.page"
      aria-label="Default pagination"
    >
    </ngb-pagination>
  </div>
</div>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">{{ title }}</h4>
    <button
      type="button"
      class="btn btn-sm btn-flash-border-primary ri-close-fill"
      aria-label="Close"
      (click)="modal.dismiss('Cross click'); form.reset()"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field class="col" appearance="outline">
          <mat-label>Descripción</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa la descripción"
            formControlName="description"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Unidad</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa la unidad"
            formControlName="unit"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Cantidad</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ingresa la cantidad"
            formControlName="amount"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Valor unitario</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ingresa el valor unitario"
            formControlName="unit_value"
            autocomplete="off"
            required
          />
        </mat-form-field>
        <div class="col-md-12">
          <h6 class="text-center">Variables</h6>
          <hr />
        </div>
        <div class="form-group col-lg-4 mb-0" *ngFor="let item of variables">
          <label> {{ item.label }} </label>
          <p class="text-info">{{ "{" + item.var + "}" }}</p>
        </div>
        <mat-form-field
          class="col-md-6 mat-form-field-no-padding textarea"
          appearance="outline"
        >
          <mat-label>Fórmula de cantidad</mat-label>
          <textarea
            matInput
            placeholder="Ingresa la fórmula de cantidad"
            rows="5"
            formControlName="formula_amount"
            name="formula"
            [cdkTextareaAutosize]="true"
            required
          ></textarea>
        </mat-form-field>
        <mat-form-field
          class="col-md-6 mat-form-field-no-padding textarea"
          appearance="outline"
        >
          <mat-label>Fórmula de valor total</mat-label>
          <textarea
            matInput
            placeholder="Ingresa la fórmula de valor total"
            rows="5"
            formControlName="formula_total_value"
            name="formula"
            [cdkTextareaAutosize]="true"
            required
          ></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click'); form.reset()"
    >
      Cancelar
    </button>
    <button
      type="button"
      [disabled]="!form.valid"
      (click)="save()"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
