<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h5 class="text-primary">Seguimiento orden de compra</h5>
        </div>
        <hr class="line" />
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item px-0"
            *ngFor="let Actividad of Actividades"
          >
            <div class="d-flex w-100 justify-content-between">
              <h6>
                <span
                  class="mb-1 badge {{
                    Actividad.Estado == 'Creacion' ? 'badge-info' : ''
                  }} {{
                    Actividad.Estado == 'Edicion' ? 'badge-warning' : ''
                  }}{{
                    Actividad.Estado == 'Anulada' ||
                    Actividad.Estado == 'Rechazada'
                      ? 'badge-danger'
                      : ''
                  }}{{ Actividad.Estado == 'Recepcion' ? 'badge-dark' : '' }} {{
                    Actividad.Estado == 'Aprobacion' ? 'badge-success ' : ''
                  }}"
                >
                  {{ Actividad.Estado }}</span
                >
              </h6>
              <img
                class="d-block img-thumbnail rounded-circle img-fluid header-profile-user"
                [src]="Actividad.Imagen"
                href="javascript:"
                onerror="this.src='../../../../../assets/images/nofound.png'"
              />
            </div>
            <p class="mb-1">{{ Actividad.Detalles }}</p>
            <small>{{ Actividad.Fecha }}</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="row card-title d-flex justify-content-between">
          <div class="col-md-6 px-0">
            <img src="assets/images/logo2.png" alt="" height="45" />
          </div>
          <div class="col-md-6 px-0 text-md-right text-center">
            <h4 class="text-primary">
              {{ Compra.Codigo }} - {{ Compra.Estado }}
            </h4>
            <h6>{{ Fecha | date: "longDate" }}</h6>
          </div>
        </div>
        <hr class="line" />
        <div class="rounded-top table-responsive">
          <table
            class="table table-bordered table-striped table-sm"
            
          >
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th style="text-align: center">Proveedor</th>
                <th style="text-align: center">Bodega</th>
                <th style="text-align: center">Fecha de Compra</th>
                <th style="text-align: center">Fecha Probable de Entrega</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td>
                  {{ Compra.Proveedor }}
                </td>
                <td>
                  {{ Compra.Bodega }}
                </td>
                <td>
                  {{ Compra.Fecha_Compra | date: "dd/MM/yyyy" }}
                </td>
                <td>
                  {{ Compra.Fecha_Probable }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="clearfix"></div>
        <hr />
        <div class="rounded-top table-responsive">
          <table
            class="table table-bordered table-striped table-sm"
            
          >
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th colspan="100%" class="bg-light">Observaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td colspan="100%">{{ Compra.Observaciones }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr />
        <div class="rounded-top table-responsive">
          <table
            class="table table-bordered table-striped table-sm"
            
          >
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th>#</th>
                <th>Producto</th>
                <th>Embalaje</th>
                <th>Cantidad</th>
                <th>Costo</th>
                <th>IVA</th>
                <th>SubTotal</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let Producto of Productos; let i = index"
                class="text-center"
                id="fila{{ i }}"
              >
                <td class="align-middle">
                  <strong>{{ i + 1 }}</strong>
                </td>
                <td class="align-middle">
                  <strong>{{ Producto.Nombre_Comercial }}</strong>
                  <span>
                    {{ Producto.Nombre_Producto }}
                  </span>
                </td>
                <td class="align-middle">
                  <span class="text-muted">
                    {{ Producto.Embalaje }}
                  </span>
                </td>
                <td class="align-middle">
                  {{ Producto.Cantidad | number | puntos }}
                </td>
                <td class="align-middle">
                  {{ Producto.Costo | currency: "COP" }}
                </td>
                <td class="align-middle">{{ Producto.Iva }}%</td>
                <td class="align-middle">
                  {{ Producto.Total | currency: "COP" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr class="line" />
        <div class="d-flex justify-content-end">
          <table class="table table-hover">
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th>SubTotal :</th>
                <th>Iva :</th>
                <th>Total :</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td>$ {{ SubTotalFinal }}</td>
                <td>$ {{ IvaFinal }}</td>
                <td>$ {{ TotalFinal }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- TODO APROBAR COMPRA -->
        <div
          class="btn-group btn-block"
          role="group"
          aria-label="Button group"
          *ngIf="permiso && Compra.Aprobacion == 'Pendiente'"
        >
          <button
            class="btn btn-danger"
            [swal]="{
              title: '¿Está Seguro?',
              text: 'Se dispone a rechazar esta Orden de Compra, por favor seleccione un motivo',
              icon: 'warning',
              input: 'select',
              inputOptions: Lista_Rechazo,
              inputPlaceholder: 'Seleccione un Motivo',
              showCancelButton: true,
              confirmButtonText: 'Si, Rechazar',
              cancelButtonText: 'No, Dejame Comprobar!'
            }"
            (confirm)="EstadoAprobacion($event, 'Rechazada')"
            type="button"
          >
            <i class="fa fa-thumbs-down"></i> Rechazar
          </button>
          <button
            class="btn btn-primary rounded-right"
            [swal]="{
              title: '¿Está Seguro?',
              text: 'Se dispone a aprobar esta Orden de Compra para Proceder a Solicitarla',
              icon: 'warning',
              showCancelButton: true,
              confirmButtonText: 'Si, Aprobar',
              cancelButtonText: 'No, Dejame Comprobar!'
            }"
            (confirm)="EstadoAprobacion('', 'Aprobada')"
            type="button"
          >
            <i class="fa fa-thumbs-up"></i> Aprobar y proceder
          </button>
        </div>

        <!-- TODO PENDIENTE IMPRIMIR -->
        <!-- <a href="{{environment.ruta}}php/comprasnacionales/descarga_pdf.php?tipo=Orden_Compra_Nacional&id={{id}}" target="_blank" class="btn btn-success btn-sm m-l-5 pull-right" style="margin-right: 10px;">
              <i class="fa fa-print"></i> IMPRIMIR DOCUMENTO</a> -->
      </div>
    </div>
  </div>
</div>

<swal #confirmacionSwal title="" text="" icon=""></swal>
