<div class="card">
  <div class="card-body">
    <div
      class="row card-title d-flex justify-content-between"
      *ngIf="paginacion"
    >
      <div class="col-md-6 px-0">
        <h4 class="text-primary">
          Vacantes
          <span style="font-size: smaller">
            <small class="pb-2 text-secondary text-muted">
              pág. {{ paginacion.current_page }}
            </small>
          </span>
        </h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            [routerLink]="['/rrhh/vacantes-crear']"
          >
            <i class="fa fa-plus"></i> Agregar
          </button>
          <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
          <button class="btn btn-secondary btn-sm" (click)="openClose2()">
            <i class="fas fa-eye"></i>
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion multi #firstAccordion="matAccordion">
      <mat-expansion-panel class="mat-elevation-z0">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Publicación</mat-label>
            <input
              matInput
              type="date"
              [(ngModel)]="filtros.fecha"
              (change)="getJobs()"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Fecha de inicio</mat-label>
            <input
              matInput
              type="date"
              [(ngModel)]="filtros.fecha_Inicio"
              (change)="getJobs()"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Fecha de fin</mat-label>
            <input
              matInput
              type="date"
              [(ngModel)]="filtros.fecha_Fin"
              (change)="getJobs()"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Título</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="filtros.titulo"
              (input)="getJobs()"
              placeholder="Busca por título"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Dependencia</mat-label>
            <mat-select
              [(ngModel)]="filtros.dependencia"
              (selectionChange)="getJobs()"
            >
              <mat-option
                *ngFor="let item of dependencies"
                [value]="item.value"
                >{{ item.text }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Cargo</mat-label>
            <mat-select
              [(ngModel)]="filtros.cargo"
              (selectionChange)="getJobs()"
            >
              <mat-option *ngFor="let item of positions" [value]="item.value">{{
                item.text
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Departamento</mat-label>
            <mat-select
              [(ngModel)]="filtros.departamento"
              (selectionChange)="getJobs()"
            >
              <mat-option
                *ngFor="let item of department"
                [value]="item.value"
                >{{ item.text }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Municipio</mat-label>
            <mat-select
              [(ngModel)]="filtros.municipio"
              (selectionChange)="getJobs()"
            >
              <mat-option
                *ngFor="let item of municipalities"
                [value]="item.value"
                >{{ item.text }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion multi #secondAccordion="matAccordion">
      <mat-expansion-panel class="mat-elevation-z0">
        <section class="d-flex justify-content-between mx-1">
          <mat-checkbox color="primary" [(ngModel)]="checkCodigo"
            >Código</mat-checkbox
          >
          <mat-checkbox color="primary" [(ngModel)]="checkPublicacion"
            >Publicación</mat-checkbox
          >
          <mat-checkbox color="primary" [(ngModel)]="checkInicio"
            >Inicio</mat-checkbox
          >
          <mat-checkbox color="primary" [(ngModel)]="checkFin"
            >Fin</mat-checkbox
          >
          <mat-checkbox color="primary" [(ngModel)]="checkTitulo"
            >Título</mat-checkbox
          >
          <mat-checkbox color="primary" [(ngModel)]="checkDependencia"
            >Dependencia</mat-checkbox
          >
          <mat-checkbox color="primary" [(ngModel)]="checkCargo"
            >Cargo</mat-checkbox
          >
          <mat-checkbox color="primary" [(ngModel)]="checkDepartamento"
            >Departamento</mat-checkbox
          >
          <mat-checkbox color="primary" [(ngModel)]="checkMunicipio"
            >Municipio</mat-checkbox
          >
          <mat-checkbox color="primary" [(ngModel)]="checkEstado"
            >Estado</mat-checkbox
          >
        </section>
      </mat-expansion-panel>
    </mat-accordion>
    <div>
      <!-- <select [(ngModel)]="filtros.estado" class="form-control input-sm">
                <option value="">Todos</option>
                <option value="Activo">Activo</option>
                <option value="Anulada">Anulada</option>
            </select> -->
    </div>
    <div class="alert alert-info" *ngIf="filtrosActivos" role="alert">
      <strong>
        Hay filtros de búsqueda activos, para mostrar todos los resultados haz
        click
      </strong>
      <a href="javascript: void(0)" (click)="resetFiltros()" class="alert-link">
        aquí
      </a>
    </div>
    <table
      class="table table-bordered table-striped table-sm table-responsive-lg mb-0"
      style="font-size: small"
      *ngIf="!loading && jobs.length > 0; else notData"
    >
      <thead class="bg-light">
        <tr class="text-center text-uppercase">
          <th *ngIf="checkCodigo">Código</th>
          <th *ngIf="checkPublicacion">Publicación</th>
          <th *ngIf="checkInicio">Inicio</th>
          <th *ngIf="checkFin">Fin</th>
          <th *ngIf="checkTitulo">Título</th>
          <th *ngIf="checkDependencia">Dependencia</th>
          <th *ngIf="checkCargo">Cargo</th>
          <th *ngIf="checkDepartamento">Departamento</th>
          <th *ngIf="checkMunicipio">Municipio</th>
          <th *ngIf="checkEstado">Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let job of jobs"
          class="text-center"
          class="{{ job.state == 'Cancelada' ? 'bg-danger text-white' : '' }}"
        >
          <td class="align-middle" *ngIf="checkCodigo">{{ job.code }}</td>
          <td class="align-middle" *ngIf="checkPublicacion">
            {{ job.created_at | date: "dd/M/yyyy" }}
          </td>
          <td class="align-middle" *ngIf="checkInicio">
            {{ job.date_start | date: "dd/M/yyyy" }}
          </td>
          <td class="align-middle" *ngIf="checkFin">
            {{ job.date_end | date: "dd/M/yyyy" }}
          </td>
          <td class="align-middle" *ngIf="checkTitulo">
            {{ job.title }}
          </td>
          <td class="align-middle" *ngIf="checkDependencia">
            {{ job.position.dependency.name }}
          </td>
          <td class="align-middle" *ngIf="checkCargo">
            {{ job.position.name }}
          </td>
          <td class="align-middle" *ngIf="checkDependencia">
            {{ job.municipality.department.name }}
          </td>
          <td class="align-middle" *ngIf="checkMunicipio">
            {{ job.municipality.name }}
          </td>
          <td class="align-middle" *ngIf="checkEstado">
            <div class="text-center">
              <span
                class="label {{
                  job.status == 'Activo' ? 'label-success' : 'label-primary'
                }}"
                >{{ job.state }}
              </span>
            </div>
          </td>
          <td class="align-middle">
            <div ngbDropdown container="body" class="dropdown-primary">
              <button
                ngbDropdownToggle
                class="btn btn-primary btn-sm  waves-light"
                type="button"
              >
                <i class="mdi mdi-chevron-down"></i>
              </button>
              <div ngbDropdownMenu>
                <!--  <a *ngIf="job.state!='Cancelada'"
                                            class="dropdown-item waves-light  caja-botones" href=""
                                            [routerLink]="['/vacanteseditar',job.id]">
                                            <i class="ti-pencil"></i> Editar</a> -->
                <a
                  class="dropdown-item text-info waves-light  caja-botones"
                  [routerLink]="['/rrhh/vacantes-ver', job.id]"
                >
                  <i class="fas fa-eye"></i> Ver</a
                >
                <a
                  *ngIf="job.state != 'Cancelada'"
                  class="dropdown-item text-danger waves-light  caja-botones"
                  (click)="cancelar(job.id)"
                >
                  <i class="fa fa-times"></i> Anular</a
                >
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator
      *ngIf="paginacion"
      [length]="paginacion.total"
      [pageSize]="paginacion.per_page"
      [pageIndex]="paginacion.current_page - 1"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
