<div class="card">
    <div class="card-body">
        <div class="card-title">
            <button class="btn btn-primary btn-sm" style="float: right;" (click)="openModal()">Agregar nueva EPS</button>
            <h5>EPS</h5>
            <p>EPS resgistradas en la base de datos</p>
        </div>
        <div class="row">
            <div class="col d-flex">
                <input type="text" placeholder="Buscar por EPS" class="form-control form-control-sm col-sm-2 mr-4" (change)="getAllEps()" [(ngModel)]="filtros.name" name="name" autocomplete="off">
                <input type="text" placeholder="Buscar código EPS" class="form-control form-control-sm col-sm-2" (change)="getAllEps()" [(ngModel)]="filtros.code" name="code" autocomplete="off">
            </div>
        </div>
        <table class="table table-striped" *ngIf="!loading && epss.length > 0; else notData">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Código EPS</th>
                    <th scope="col">Nit EPS</th>
                    <th scope="col" style="width: 50px;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eps of epss" [ngClass]="{'bg-danger text-white': (eps.status === 'Inactivo' )}">
                    <td scope="row"> {{ eps.name }} </td>
                    <td> {{ eps.code }} </td>
                    <td> {{ eps.nit }} </td>
                    <td>
                        <div class="text-center">
                            <div ngbDropdown class="dropdown-primary ">
                                <button ngbDropdownToggle class="btn btn-primary btn-sm waves-effect waves-light " type="button">
                                    <i class="mdi mdi-chevron-down"></i>
                                </button>
                                <div ngbDropdownMenu>
                                    <a class="dropdown-item waves-light waves-effect caja-botones" target="_blank" (click)="getEps(eps); modal.show()">
                                        <i class="fa fa-file-pdf-o"></i>Editar</a>
                                    <a *ngIf="eps.status === 'Activo'" class="dropdown-item waves-light waves-effect caja-botones" (click)="anularOActivar(eps, 'Inactivo')">
                                        <i class="fa fa-pencil"></i>Inactivar</a>
                                    <a *ngIf="eps.status === 'Inactivo'" class="dropdown-item waves-light waves-effect caja-botones" (click)="anularOActivar(eps, 'Activo')">
                                        <i class="fa fa-pencil"></i>Activar</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination class="d-flex justify-content-center pagination-rounded pagination-sm" [collectionSize]="pagination.collectionSize" (pageChange)="getAllEps($event)" [pageSize]="pagination.pageSize" [(page)]="pagination.page" aria-label="Default pagination"
            maxSize="5" rotate="true" ellipses="false" boundaryLinks="true">
        </ngb-pagination>
    </div>
</div>
<app-modal-basic #modal [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <div class="row">
            <h5 class=" text text-center justify-content-center modal-title p-1">Nueva EPS</h5>
        </div>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="form" (ngSubmit)="createNewEps()">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="custom-label" for="funcionario_id">Nombre de EPS</label>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="eps.name" [class.is-invalid]="name_eps_valid" formControlName="name" required>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="name_eps_valid"> Es necesario el nombre de la EPS 
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="custom-label" for="funcionario_id">Código de la EPS</label>
                    <input type="number" class="form-control form-control-sm" [(ngModel)]="eps.code" [class.is-invalid]="code_eps_valid" formControlName="code" required>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="code_eps_valid"> Es necesario el código de la EPS 
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="custom-label" for="funcionario_id">Nit de la EPS</label>
                    <input type="number" class="form-control form-control-sm" [(ngModel)]="eps.nit" [class.is-invalid]="nit_eps_valid" formControlName="nit" required>
                    <div class="col-md-7 offset-4">
                        <small class="invalid text-danger" *ngIf="nit_eps_valid"> Es necesario el Nit de la EPS 
                        </small>
                    </div>
                </div>
                <div class="form-group text-right">
                    <button (click)="modal.hide()" type="button" class="btn btn-danger raised mr-2 btn-sm">Cerrar</button>
                    <button type="submit" class="btn btn-primary btn-sm raised">Guardar EPS</button>
                </div>
            </div>
        </form>
    </div>
</app-modal-basic>
<ng-template #notData>
    <app-not-data [loading]="loading"></app-not-data>
</ng-template>