<div class="rounded-top table-responsive">
  <table class="table table-bordered table-striped table-sm mt-2">
    <thead class="bg-light">
      <tr class="text-center text-uppercase">
        <th>Fecha</th>
        <th>Entrada 1</th>
        <th>Salida 1</th>
        <th>Entrada 2</th>
        <th>Salida 2</th>
        <th>Horas trabaj.</th>
        <ng-container *ngIf="permissions.permissions.modify_hours">
          <th>Editar</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let horario of horarios" class="text-center">
        <td>{{ horario.date }}</td>
        <td>
          <span
            [ngbPopover]="entradaUno"
            [popoverTitle]="popTitle"
            class="custom-label text-info"
            role="button"
            triggers="mouseenter:mouseleave"
            >{{ horario.entry_time_one | time }}
          </span>
          <ng-template #entradaUno>
            <div>
              <img [src]="horario.img_one" class="img-fluid" />
            </div>
          </ng-template>
          <a
            class="btn btn-link p-0"
            *ngIf="horario.temp_one && horario.temp_one != '0.0'"
          >
            <i class="iconsmind-Celsius font-weight-bold"></i>
            - {{ horario.temp_one }}
          </a>
        </td>
        <td>
          <div
            *ngIf="
              horario.leave_time_one && horario.leave_time_one != '00:00:00';
              else notHour2
            "
          >
            <span
              [ngbPopover]="salidaUno"
              [popoverTitle]="popTitle"
              class="custom-label text-info"
              role="button"
              triggers="mouseenter:mouseleave"
              ><i
                *ngIf="!horario.img_two"
                class="fas fa-exclamation-circle text-warning"
              ></i>
              {{ horario.leave_time_one | time }}
            </span>
            <ng-template #salidaUno>
              <div *ngIf="horario.img_two; else noImage">
                <img [src]="horario.img_two" class="img-fluid" />
              </div>
            </ng-template>
            <a
              class="btn btn-link p-0"
              *ngIf="horario.temp_two && horario.temp_two != '0.0'"
            >
              <i class="iconsmind-Celsius font-weight-bold"></i>
              - {{ horario.temp_two }}
            </a>
          </div>
        </td>
        <td>
          <section
            *ngIf="
              horario.entry_time_two && horario.entry_time_two != '00:00:00';
              else notHour2
            "
          >
            <span
              [ngbPopover]="entradaDos"
              [popoverTitle]="popTitle"
              class="custom-label text-info"
              role="button"
              triggers="mouseenter:mouseleave"
            >
              <i
                *ngIf="!horario.img_three"
                class="fas fa-exclamation-circle text-warning"
              ></i>
              {{ horario.entry_time_two | time }}
            </span>
            <ng-template #entradaDos>
              <div *ngIf="horario.img_three; else noImage">
                <img [src]="horario.img_three" class="img-fluid" />
              </div>
            </ng-template>
            <a
              class="btn btn-link p-0"
              *ngIf="horario.temp_three && horario.temp_three != '0.0'"
            >
              <i class="iconsmind-Celsius font-weight-bold"></i>
              - {{ horario.temp_three }}
            </a>
          </section>
        </td>
        <td>
          <section
            *ngIf="
              horario.leave_time_two && horario.leave_time_two != '00:00:00';
              else notHour2
            "
          >
            <span
              [ngbPopover]="salidaDos"
              [popoverTitle]="popTitle"
              class="custom-label text-info"
              role="button"
              triggers="mouseenter:mouseleave"
            >
              <i
                *ngIf="!horario.img_four"
                class="fas fa-exclamation-circle text-warning"
              ></i>
              {{ horario.leave_time_two | time }}
            </span>
            <ng-template #salidaDos>
              <div *ngIf="horario.img_four; else noImage">
                <img [src]="horario.img_four" class="img-fluid" />
              </div>
            </ng-template>
            <a
              class="btn btn-link p-0"
              *ngIf="horario.temp_four && horario.temp_four != '0.0'"
            >
              <i class="iconsmind-Celsius font-weight-bold"></i>
              - {{ horario.temp_four }}
            </a>
          </section>
        </td>
        <td *ngIf="!horario.edit; else inputEdit">
          <div
            *ngIf="
              horario.working_hours && horario.working_hours != '00:00:00';
              else notHour2
            "
          >
            <!-- <span class="dot" [class]="horario.colors.leave"></span> -->
            <span class="custom-label"
              >{{ convertHours(horario.working_hours) }}
            </span>
          </div>
        </td>
        <ng-template #inputEdit>
          <td class="d-flex justify-content-end">
            <input
              class="form-control form-control-sm"
              style="max-width: 4rem"
              currencyMask
              [options]="mask.maskNumbers2Decimal"
              appInputPositionInitial
              [(ngModel)]="horario.working_hours"
            />
          </td>
        </ng-template>
        <td *ngIf="!horario.edit; else saveButton">
          <button class="btn btn-sm btn-info" (click)="horario.edit = true">
            <i class="fas fa-edit"></i>
          </button>
        </td>
        <ng-template #saveButton>
          <td>
            <button class="btn btn-sm btn-primary" (click)="update(horario)">
              <i class="fas fa-save"></i>
            </button>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
<div class="alert alert-info text-center" role="alert">
  Total horas trabajadas: {{ convertHours(horas) }}
</div>

<ng-template #notHour2>
  <span>Sin reportar</span>
</ng-template>
<ng-template #popTitle>Foto</ng-template>
<ng-template #noImage>
  Esta hora se ha generado automaticamente con la información del turno porque
  el funcionario no marcó.
</ng-template>
