<div class="table-responsive">
  <table
    class="table table-bordered table-striped table-sm mt-2"
    style="font-size: small"
  >
    <thead class="bg-light">
      <tr class="text-center text-uppercase">
        <th>Fecha</th>
        <th>Entrada 1</th>
        <th>Salida 1</th>
        <th>Entrada 2</th>
        <th>Salida 2</th>
        <th>Horas trabaj.</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let horario of horarios" class="text-center">
        <td>{{ horario.date }}</td>
        <td>{{ horario.entry_time_one | time }}
          <a
            class="btn btn-link p-0"
            *ngIf="horario.temp_one && horario.temp_one != '0.0'"
          >
            <i class="iconsmind-Celsius font-weight-bold"></i>
            - {{ horario.temp_one }}
          </a>
        </td>
        <td>
          <div
            *ngIf="
              horario.leave_time_one && horario.leave_time_one != '00:00:00';
              else notHour2
            "
          >
            <span class="custom-label">{{ horario.leave_time_one | time }} </span>
            <a
              class="btn btn-link p-0"
              *ngIf="horario.temp_two && horario.temp_two != '0.0'"
            >
              <i class="iconsmind-Celsius font-weight-bold"></i>
              - {{ horario.temp_two }}
            </a>
          </div>
        </td>
        <td>
          <section
            *ngIf="
              horario.entry_time_two && horario.entry_time_two != '00:00:00';
              else notHour2
            "
          >
            <span class="custom-label">{{ horario.entry_time_two | time }} </span>
            <a
              class="btn btn-link p-0"
              *ngIf="horario.temp_three && horario.temp_three != '0.0'"
            >
              <i class="iconsmind-Celsius font-weight-bold"></i>
              - {{ horario.temp_three }}
            </a>
          </section>
        </td>
        <td>
          <section
            *ngIf="
              horario.leave_time_two && horario.leave_time_two != '00:00:00';
              else notHour2
            "
          >
            <span class="custom-label">{{ horario.leave_time_two | time }} </span>
            <a
              class="btn btn-link p-0"
              *ngIf="horario.temp_four && horario.temp_four != '0.0'"
            >
              <i class="iconsmind-Celsius font-weight-bold"></i>
              - {{ horario.temp_four }}
            </a>
          </section>
        </td>
        <td>
          <div
            *ngIf="
              horario.working_hours && horario.working_hours != '00:00:00';
              else notHour2
            "
          >
            <!-- <span class="dot" [class]="horario.colors.leave"></span> -->
            <span class="custom-label">{{ horario.working_hours }} Hrs </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="mt-2">
  <div class="text-right text-muted font-weight-bold">
    Total horas trabajadas:
    {{ horas }}
  </div>
</div>

<ng-template #notHour2>
  <span>Sin Reportar</span>
</ng-template>
