.img-product {
  height: auto;
  width: 3rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.color-transparent {
  background-color: transparent;
}

::ng-deep .mat-checkbox-layout {
  margin-bottom: 0;
}