::ng-deep .mat-tooltip.tooltip-custom {
  font-size: 15px !important;
}

#table-wrapper {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.fixed-column {
  position: sticky;
  right: 0;
  z-index: 1;
}

.vertical-text {
  writing-mode: vertical-lr;
  text-orientation: sideways;
  white-space: pre-wrap;
  transform: rotate(180deg);
}

.p-th-0 th {
  font-size: 9px;
  padding: 2px !important
}

.dynamic-colspan {
  padding: 0;
}

.btn-custom-dynamic-colspan {
  /* width: 1px;
  padding: 0; */
  height: 46px;
}
