<div class="page-body">
  <div class="row">
    <div class="col-md-12">
      <h5 class="m-b-20">Próximos Pagos</h5>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-block text-center">
              <i class="fa fa-money text-c-blue d-block f-40"></i>
              <h4 class="m-t-20">$ {{TotalSueldos | number }}</h4>
              <p class="m-b-20">Total Sueldos</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-block text-center">
              <i class="fa fa-money text-c-yellow d-block f-40"></i>
              <h4 class="m-t-20">$ {{TotalAuxilio | number }}</h4>
              <p class="m-b-20">Total Auxilios No Salariales</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-block text-center">
              <i class="fa fa-money text-c-pink d-block f-40"></i>
              <h4 class="m-t-20">$ {{TotalDeducciones | number }}</h4>
              <p class="m-b-20">Total Deducciones</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-block text-center">
              <i class="fa fa-money text-c-green d-block f-40"></i>
              <h4 class="m-t-20">$
                  {{TotalSueldos+TotalAuxilio-TotalDeducciones | number }}</h4>
              <p class="m-b-20">Pago Total de Nómina</p>
            </div>
          </div>
        </div>
      </div>
      <h5 class="m-b-20">Semáforo</h5>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Concepto</th>
                    <th style="width:150px; text-align: center;">{{meses_tabla.mes1}}</th>
                    <th style="width:150px; text-align: center;">{{meses_tabla.mes2}}</th>
                    <th style="width:100px;">Variación</th>
                    <th style="width:50px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Número de Personas</td>
                    <td class="text-right">{{datos_tabla_semaforo.personas.anterior}}</td>
                    <td class="text-right">{{datos_tabla_semaforo.personas.actual}}</td>
                    <td class="text-center"><label class="label" [ngClass]="{'label-success':datos_tabla_semaforo.personas.resultado == 'positivo', 'label-danger':datos_tabla_semaforo.personas.resultado == 'negativo'}">{{datos_tabla_semaforo.personas.variacion}}%</label></td>
                    <td><i class="fa" [ngClass]="{'fa-arrow-up text-success':datos_tabla_semaforo.personas.resultado == 'positivo', 'fa-arrow-down text-danger':datos_tabla_semaforo.personas.resultado == 'negativo'}"></i></td>
                  </tr>
                  <tr>
                    <td>Salarios</td>
                    <td class="text-right">{{datos_tabla_semaforo.salarios.anterior}}</td>
                    <td class="text-right">{{datos_tabla_semaforo.salarios.actual}}</td>
                    <td class="text-center"><label class="label" [ngClass]="{'label-success':datos_tabla_semaforo.salarios.resultado == 'positivo', 'label-danger':datos_tabla_semaforo.salarios.resultado == 'negativo'}">{{datos_tabla_semaforo.salarios.variacion}}%</label></td>
                    <td><i class="fa" [ngClass]="{'fa-arrow-up text-success':datos_tabla_semaforo.salarios.resultado == 'positivo', 'fa-arrow-down text-danger':datos_tabla_semaforo.salarios.resultado == 'negativo'}"></i></td>
                  </tr>
                  <!--<tr>
                    <td>Seguridad Social</td>
                    <td class="text-right">{{datos_tabla_semaforo.personas.anterior}}</td>
                    <td class="text-right">{{datos_tabla_semaforo.personas.actual}}</td>
                    <td class="text-center"><label class="label label-danger">{{datos_tabla_semaforo.personas.variacion}}%</label></td>
                    <td><i class="fa fa-arrow-up"></i></td>
                  </tr>-->
                  <tr>
                    <td>Extras y Recargos</td>
                    <td class="text-right">{{datos_tabla_semaforo.extras_recargos.anterior}}</td>
                    <td class="text-right">{{datos_tabla_semaforo.extras_recargos.actual}}</td>
                    <td class="text-center"><label class="label" [ngClass]="{'label-success':datos_tabla_semaforo.extras_recargos.resultado == 'positivo', 'label-danger':datos_tabla_semaforo.extras_recargos.resultado == 'negativo'}">{{datos_tabla_semaforo.extras_recargos.variacion}}%</label></td>
                    <td><i class="fa" [ngClass]="{'fa-arrow-up text-success':datos_tabla_semaforo.extras_recargos.resultado == 'positivo', 'fa-arrow-down text-danger':datos_tabla_semaforo.extras_recargos.resultado == 'negativo'}"></i></td>
                  </tr>
                  <tr>
                    <td>Vacaciones</td>
                    <td class="text-right">{{datos_tabla_semaforo.vacaciones.anterior}}</td>
                    <td class="text-right">{{datos_tabla_semaforo.vacaciones.actual}}</td>
                    <td class="text-center"><label class="label" [ngClass]="{'label-success':datos_tabla_semaforo.vacaciones.resultado == 'positivo', 'label-danger':datos_tabla_semaforo.vacaciones.resultado == 'negativo'}">{{datos_tabla_semaforo.vacaciones.variacion}}%</label></td>
                    <td><i class="fa" [ngClass]="{'fa-arrow-up text-success':datos_tabla_semaforo.vacaciones.resultado == 'positivo', 'fa-arrow-down text-danger':datos_tabla_semaforo.vacaciones.resultado == 'negativo'}"></i></td>
                  </tr>
                  <tr>
                    <td>Incapacidades</td>
                    <td class="text-right">{{datos_tabla_semaforo.incapacidades.anterior}}</td>
                    <td class="text-right">{{datos_tabla_semaforo.incapacidades.actual}}</td>
                    <td class="text-center"><label class="label" [ngClass]="{'label-success':datos_tabla_semaforo.incapacidades.resultado == 'positivo', 'label-danger':datos_tabla_semaforo.incapacidades.resultado == 'negativo'}">{{datos_tabla_semaforo.incapacidades.variacion}}%</label></td>
                    <td><i class="fa" [ngClass]="{'fa-arrow-up text-success':datos_tabla_semaforo.incapacidades.resultado == 'positivo', 'fa-arrow-down text-danger':datos_tabla_semaforo.incapacidades.resultado == 'negativo'}"></i></td>
                  </tr>
                  <tr>
                    <td>Ingresos Constitutivos de Salario</td>
                    <td class="text-right">{{datos_tabla_semaforo.ingresos_constitutivos.anterior}}</td>
                    <td class="text-right">{{datos_tabla_semaforo.ingresos_constitutivos.actual}}</td>
                    <td class="text-center"><label class="label" [ngClass]="{'label-success':datos_tabla_semaforo.ingresos_constitutivos.resultado == 'positivo', 'label-danger':datos_tabla_semaforo.ingresos_constitutivos.resultado == 'negativo'}">{{datos_tabla_semaforo.ingresos_constitutivos.variacion}}%</label></td>
                    <td><i class="fa" [ngClass]="{'fa-arrow-up text-success':datos_tabla_semaforo.ingresos_constitutivos.resultado == 'positivo', 'fa-arrow-down text-danger':datos_tabla_semaforo.ingresos_constitutivos.resultado == 'negativo'}"></i></td>
                  </tr>
                  <tr>
                    <td>Ingresos No Constitutivos de Salario</td>
                    <td class="text-right">{{datos_tabla_semaforo.ingresos_no_constitutivos.anterior}}</td>
                    <td class="text-right">{{datos_tabla_semaforo.ingresos_no_constitutivos.actual}}</td>
                    <td class="text-center"><label class="label" [ngClass]="{'label-success':datos_tabla_semaforo.ingresos_no_constitutivos.resultado == 'positivo', 'label-danger':datos_tabla_semaforo.ingresos_no_constitutivos.resultado == 'negativo'}">{{datos_tabla_semaforo.ingresos_no_constitutivos.variacion}}%</label></td>
                    <td><i class="fa" [ngClass]="{'fa-arrow-up text-success':datos_tabla_semaforo.ingresos_no_constitutivos.resultado == 'positivo', 'fa-arrow-down text-danger':datos_tabla_semaforo.ingresos_no_constitutivos.resultado == 'negativo'}"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <h5 class="m-b-20">Costos Nómina</h5>
      <div class="row">
        <div class="col-md-6">
            <div class="card">
              <div class="card-block">
                <div #costosNominaChart>
                    <chart id="costos_nomina_chart" [type]="'line'" [data]="costosNominaChartData" [options]="costoNominaChartOption" style="height:300px;"></chart>
                </div>
              </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
              <div class="card-header"><h6>Costos y Gastos Personal</h6></div>
              <div class="card-block text-center">
                  <div #costosGastosChart>
                    <chart id="costos_gastos_chart" [type]="'doughnut'" [data]="costosGastosFeedbackData" [options]="costosGastosFeedbackOptions"></chart>
                  </div>
              </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
              <div class="card-header"><h6>Costos por Centros de Costos</h6></div>
              <div class="card-block text-center">
                <div #costosGastosGrupoChart>
                  <chart id="costos_gastos_grupo_chart" [type]="'doughnut'" [data]="costosGastosGrupoData" [options]="costosGastosGrupoOptions"></chart>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header"><h6>Costos por Áreas</h6></div>
            <div class="card-block text-center">
              <div #costosGastosChart>
                <chart id="costos_gastos_dependencia_chart" [type]="'doughnut'" [data]="costosGastosDependenciaData" [options]="costosGastosDependenciaOptions"></chart>
              </div>
            </div>
          </div>
        </div>   
      </div>
    </div>
  </div>
</div>