<div class="rounded-top table-responsive">
  <table class="table table-bordered table-striped table-sm">
    <thead class="bg-light">
      <tr class="text-center text-uppercase">
        <th>Observaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ data.observation || "Sin observaciones" }}</td>
      </tr>
    </tbody>
  </table>
</div>
<hr />
<div class="rounded-top table-responsive">
  <table class="table table-bordered table-striped table-sm">
    <thead class="bg-light">
      <tr class="text-center text-uppercase">
        <th>Item</th>
        <th>Dolares</th>
        <th>Pesos</th>
        <th>Item</th>
        <th>Dolares</th>
        <th>Pesos</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <th class="align-middle">Hospedaje</th>
        <td class="text-right">
          USD {{ data.total_hotels_usd | number : "1.2-2" }}
        </td>
        <td class="text-right">
          ${{ data.total_hotels_cop | number : "1.2-2" }}
        </td>
        <th class="align-middle">Transporte Terrestre</th>
        <td></td>
        <td class="text-right">
          ${{ data.total_transports_cop | number : "1.2-2" }}
        </td>
      </tr>
      <tr class="text-center">
        <th class="align-middle">Taxis</th>
        <td class="text-right">
          USD {{ data.total_taxis_usd | number : "1.2-2" }}
        </td>
        <td class="text-right">
          ${{ data.total_taxis_cop | number : "1.2-2" }}
        </td>
        <th class="align-middle">Alimentación</th>
        <td class="text-right">
          USD {{ data.total_feedings_usd | number : "1.2-2" }}
        </td>
        <td class="text-right">
          ${{ data.total_feedings_cop | number : "1.2-2" }}
        </td>
      </tr>
      <tr class="text-center">
        <th class="align-middle">Lavanderia</th>
        <td class="text-right">
          USD {{ data.total_laundry_usd | number : "1.2-2" }}
        </td>
        <td class="text-right">
          ${{ data.total_laundry_cop | number : "1.2-2" }}
        </td>
        <th class="align-middle">Sobre Equipaje</th>
        <td class="text-right">
          USD {{ data.baggage_usd | number : "1.2-2" }}
        </td>
        <td class="text-right">${{ data.baggage_cop | number : "1.2-2" }}</td>
      </tr>
      <tr class="text-center">
        <th class="align-middle">Otros Gastos</th>
        <td class="text-right">
          USD {{ data.other_expenses_usd | number : "1.2-2" }}
        </td>
        <td class="text-right">
          ${{ data.other_expenses_cop | number : "1.2-2" }}
        </td>
        <th class="align-middle">Total</th>
        <td class="text-right">USD {{ data.total_usd | number : "1.2-2" }}</td>
        <td class="text-right">${{ data.total_cop | number : "1.2-2" }}</td>
      </tr>
    </tbody>
  </table>
</div>
