<select
  class="form-control form-control-sm"
  [(ngModel)]="turno"
  [ngStyle]="{ 'background-color': withColor, color: '#FFF' }"
  (change)="changeColor($event.target.value)"
>
  <option value="seleccione">Seleccione</option>
  <option value="0" [ngStyle]="{ 'background-color': '#000', color: '#FFF' }">
    Descanso
  </option>
  <option
    *ngFor="let turn of turnos"
    [value]="turn.id"
    [ngStyle]="{ 'background-color': turn.color, color: '#FFF' }"
  >
    {{ turn.name }} ({{ turn.entry_time }} {{ turn.leave_time }})
  </option>
</select>

<!-- <mat-form-field class="col-md-12" appearance="outline">
  <mat-label>Turnos</mat-label>
  <mat-select
    [(ngModel)]="turno"
    [ngStyle]="{ 'background-color': withColor, color: '#FFF' }"
    (selectionChange)="changeColor($event.target.value)"
  >
    <mat-option value="seleccione">Seleccione</mat-option>
    <mat-option
      value="0"
      [ngStyle]="{ 'background-color': '#000', color: '#FFF' }"
    >
      Descanso</mat-option
    >
    <mat-option
      *ngFor="let turn of turnos"
      [value]="turn.id"
      [ngStyle]="{ 'background-color': turn.color, color: '#FFF' }"
    >
      {{ turn.name }} ({{ turn.entry_time }} {{ turn.leave_time }})</mat-option
    >
  </mat-select>
</mat-form-field> -->
