<div class="card">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <h4 class="text-primary">Prestamos y Libranzas</h4>
      <div class="btn-group rounded">
        <button class="btn btn-primary btn-sm pull-right" (click)="abrirModalPrestamo()">
          <i class="fa fa-plus"></i> Realizar prestamo
        </button>
      </div>
    </div>
    <hr class="line">
    <div class="container mt-4">
      <table class="table table-bordered table-striped table-responsive-sm table-sm" style="font-size: small;"
        *ngIf="!loading && Prestamos.length > 0; else notData">
        <thead>
          <tr>
            <th></th>
            <th class="text-center">Funcionario</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">Valor Prestamo</th>
            <th class="text-center">Tipo Pago</th>
            <th class="text-center">No. Cuotas</th>
            <th class="text-center">Cuotas Pagas</th>
            <th class="text-center">Valor Cuota</th>
            <th class="text-center">% Intereses</th>
            <th class="text-center">Saldo</th>
            <th class="text-center col-1">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Prestamos">
            <td class="text-center">
              <img class="img-thumbnail rounded-circle header-profile-user mx-auto d-block"
                src="{{ item.person.image | image: 'users' }}" />
            </td>
            <td>
              <strong> {{ item.person.identifier }}</strong> <br />
              <strong>{{ item.person.first_name }}
                {{ item.person.second_name }}</strong>
            </td>
            <td>{{ item.date | date: "dd/MM/yyyy" }}</td>
            <td class="text-right">{{ item.value | currency }}</td>
            <td class="text-center">{{ item.payment_type }}</td>
            <td class="text-center">{{ item.fees.length }}</td>
            <td class="text-center">0</td>
            <td class="text-right">{{ item.monthly_fee | currency }}</td>
            <td class="text-center">{{ item.interest }}%</td>
            <td class="text-right">{{ item.value | currency }}</td>
            <td class="text-center">
              <div class="text-center">
                <div ngbDropdown class="dropdown-primary">
                  <button ngbDropdownToggle class="
                            btn btn-primary btn-sm
                            waves-effect waves-light
                          " type="button">
                    <i class="mdi mdi-chevron-down "></i>
                  </button>
                  <div ngbDropdownMenu>
                    <a class="
                              dropdown-item
                              waves-light waves-effect
                              caja-botones
                            " (click)="download(item.id)" target="_blank">
                      <i class="fa fa-file-pdf-o text-danger"></i> Descargar
                      Proyeccion PDF</a>
                    <a class="
                              dropdown-item
                              waves-light waves-effect
                              caja-botones
                            " target="_blank">
                      <i class="fa fa-table text-success"></i> Descargar
                      Proyeccion EXCEL</a>
                    <a *ngIf="item.value == 0" class="
                              dropdown-item
                              waves-light waves-effect
                              caja-botones
                            " href="{{
                              globales.ruta
                            }}/php/prestamoylibranza/pazysalvo.php?id={{
                              item.Id_Prestamo
                            }}" target="_blank">
                      <i class="fa fa-file-pdf-o text-success"></i>
                      Descargar Paz y Salvo
                    </a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-modalprestamoylibranzacrear [abrirModal]="abrirModalPrestamoCrear.asObservable()"
  (recargarLista)="listaPrestamo()"></app-modalprestamoylibranzacrear>


<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>