<div class="card">
  <div class="card-body" *ngIf="!loading && processSelected; else notData">
    <div class="card-title d-flex justify-content-between">
      <h4 class="text-primary">Seguimiento del proceso disciplinario</h4>
      <div *ngIf="!loading && processSelected.length > 0">
        <div
          *ngIf="
            permission.permissions.close && processSelected.status != 'Cerrado'
          "
        >
          <button class="btn btn-danger btn-sm" (click)="closeProccess()">
            Cerrar
          </button>
        </div>
        <div
          *ngIf="
            processSelected.status == 'Cerrado' && permission.permissions.open
          "
        >
          <button class="btn btn-success btn-sm" (click)="openProccess()">
            Abrir
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <div class="rounded-top table-responsive">
      <table
        class="table table-light table-sm"
        
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Funcionario responsable</th>
            <th>Fecha de inicio</th>
            <th *ngIf="processSelected.status == 'Cerrado'">Fecha final</th>
            <th>Descripción</th>
            <th>Descargar</th>
            <th *ngIf="processSelected.status == 'Cerrado'">
              Observación del cierre
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td class="align-middle">{{ fullNameSelected }}</td>
            <td class="align-middle">{{ processSelected.date_of_admission }}</td>
            <td class="align-middle" *ngIf="processSelected.status == 'Cerrado'">
              {{ processSelected.date_end }}
            </td>
            <td class="align-middle">{{ processSelected.process_description }}</td>
            <td class="align-middle">
              <button
                class="btn btn-primary btn-sm"
                *ngIf="file"
                (click)="download(file, fileType)"
              >
                <i class="far fa-arrow-alt-circle-down"></i> Descargar evidencia
              </button>
            </td>
            <th *ngIf="processSelected.status == 'Cerrado'">
              {{ processSelected.close_description }}
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />
    <div *ngIf="anotaciones.length > 0">
      <div class="card-title d-flex justify-content-between">
        <h5>Anotaciones</h5>
        <button
          *ngIf="processSelected.status != 'Cerrado'"
          class="btn btn-primary btn-sm"
          (click)="openModal()"
        >
          Agregar
        </button>
      </div>
      <div class="rounded-top table-responsive">
        <table
          class="table table-light table-sm"
          
          *ngFor="let anotacion of anotaciones; let i = index"
        >
          <thead class="bg-light">
            <tr class="text-center text-uppercase">
              <th>Creador</th>
              <th>Involucrado</th>
              <th>Memorandos</th>
              <th>Observaciones</th>
              <th>Fecha de creación</th>
              <th *ngIf="anotacion.file"><i class="fas fa-file-download"></i></th>
              <th *ngIf="processSelected.status != 'Cerrado'">Anular</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td class="align-middle">
                {{
                  anotacion.user.person.first_name +
                    " " +
                    anotacion.user.person.first_surname
                }}
              </td>
              <td class="align-middle">
                {{ anotacion.person.first_name }}
                {{ anotacion.person.first_surname }}
              </td>
              <td class="align-middle">
                <button
                  class="btn btn-sm btn-link shadow-none"
                  type="button"
                  (click)="collapsed[i] = !collapsed[i]"
                  [attr.aria-expanded]="!collapsed"
                  aria-controls="collapseExample2"
                >
                  <i class="fas fa-angle-down text-info" *ngIf="!collapsed[i]"></i>
                  <i class="fas fa-angle-up text-info" *ngIf="collapsed[i]"></i>
                </button>
              </td>
              <td class="align-middle">
                {{ anotacion.observation }}
              </td>
              <td class="align-middle">{{ anotacion.created_at | date }}</td>
              <td class="align-middle" *ngIf="anotacion.file">
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  (click)="download(anotacion.file, anotacion.fileType)"
                >
                  <h5><i class="fas fa-file-download text-success"></i></h5>
                </button>
              </td>
              <td class="align-middle" *ngIf="processSelected.status != 'Cerrado'">
                <button
                  class="btn btn-outline-danger btn-sm"
                  type="button"
                  (click)="cancelAnnotation(anotacion.id)"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <tr [ngbCollapse]="!collapsed[i]">
              <ng-container
                *ngIf="anotacion.memorandum_involved.length > 0; else notM"
              >
                <td class="align-middle" colspan="100%">
                  <div class="rounded-top table-responsive">
                    <table
                      class="table table-light table-sm"
                      
                    >
                      <ng-container
                        *ngIf="anotacion.memorandum_involved.length > 0; else notM"
                      >
                        <thead class="bg-light">
                          <tr class="text-center text-uppercase">
                            <th>Motivo</th>
                            <th>Detalle</th>
                            <th>Fecha de creación</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            class="text-center"
                            *ngFor="let item of anotacion.memorandum_involved"
                          >
                            <td class="align-middle">{{ item.memorandum.memorandumtype.name }}</td>
                            <td class="align-middle">{{ item.memorandum.details }}</td>
                            <td class="align-middle">{{ item.memorandum.created_at | date }}</td>
                          </tr>
                        </tbody>
                      </ng-container>
                    </table>
                  </div>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-title d-flex justify-content-between">
      <h5 *ngIf="legalDocuments.length > 0">Documentos</h5>
    </div>
    <div class="row">
      <ng-container *ngFor="let item of legalDocuments">
        <div class="col-md-2 d-flex align-items-stretch">
          <div class="card card-file w-100 border border-3 border-light">
            <div class="card-title">
              <button
                type="button"
                *ngIf="processSelected.status != 'Cerrado'"
                placement="top"
                ngbTooltip="Eliminar"
                class="btn btn-sm btn-link shadow-none float-right"
                (click)="deleteDocument(item)"
              >
                <span aria-hidden="true">
                  <i class="fas fa-times text-danger"></i>
                </span>
              </button>
            </div>
            <div
              class="card-body pt-1"
              (click)="downloadDocument(item)"
              placement="left"
              ngbTooltip="Descargar"
            >
              <h6 class="file-title text-center">
                {{ item.name }}
              </h6>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div *ngIf="processSelected">
      <ng-container *ngIf="processSelected.status != 'Cerrado'">
        <button
          class="btn btn-primary btn-block"
          (click)="modalDocuments.show()"
        >
          Agregar documentos
        </button>
      </ng-container>
    </div>
  </div>
</div>

<app-modal-basic #modal [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title">Agregar involucrados</h5>
    <button type="button" class="close basic-close" (click)="closeModal()">
      <span aria-hidden="true">
        <i class="fas fa-times" (click)="closeModal()"></i>
      </span>
    </button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="formSeguimiento">
      <div class="form-row">
        <div class="col-6">
          <div class="form-group">
            <div class="col-12">
              <label class="custom-label" for="funcionario_id"
                >Funcionario</label
              >
              <input
                id="typeahead"
                type="text"
                class="form-control form-control-sm"
                placeholder="Funcionario..."
                formControlName="person"
                (change)="getHistory()"
                [ngbTypeahead]="search"
                [inputFormatter]="inputFormatBandListValue"
                [resultFormatter]="resultFormatBandListValue"
                [editable]="false"
              />
              <ng-container *ngIf="person_id_valid">
                <small
                  *ngFor="
                    let item of formSeguimiento.get('person').errors
                      | ObjToArrayPipe
                  "
                  class="text-danger"
                >
                  {{ item?.msj }}
                </small>
              </ng-container>
            </div>
          </div>
          <div class="form-group">
            <div class="col-12">
              <label for="">Observaciones</label>
              <textarea
                class="form-control form-control-sm"
                name="ob"
                id="obervaciones"
                rows="3"
                formControlName="observation"
              ></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-12">
              <label for="importFile">Evidencia</label>
              <input
                #inputFile
                type="file"
                id="importFileP"
                (change)="onFileChanged($event)"
                accept=".pdf, .png, .jpg, .jpeg"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6 panel">
          <div class="panel-body">
            <div class="ml-4">
              <div
                class="mt-5 text-center"
                *ngIf="!formSeguimiento.get('person').value"
              >
                <i class="fa fa-exclamation-circle fa-3x"></i>
                <h4>Seleccione un funcionario</h4>
              </div>
              <div class="mt-5 text-center" *ngIf="historyInfo.length < 0">
                <i class="fas fa-cloud"></i>
                <h4>Sin Memorandos</h4>
              </div>
              <div class="mt-4">
                <div *ngFor="let historyInf of historyInfo; let i = index">
                  <input
                    class="mr-2"
                    type="checkbox"
                    [value]="historyInf.details"
                    [id]="historyInf.id"
                    [date]="historyInf.created_at_memorandum"
                    (change)="onSelectOption($event, i)"
                    [name]="historyInf.memorandumType"
                  />
                  <label for="checkbox" class="ml-3">
                    <b lass="fs-3">
                      Memorando |
                      <i styles="color:gray;">
                        {{
                          historyInf.created_at_memorandum | date: "MM-dd-yy"
                        }}
                      </i> </b
                    ><br />
                    <strong>Categoria:</strong>
                    <b>
                      {{
                        historyInf.activity != ""
                          ? historyInf.memorandumType
                          : "Sin Categoria"
                      }}
                    </b>
                    <br />
                    <label>Detalle: {{ historyInf.details }} </label>
                  </label>
                  <hr />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="form-group text-right">
      <button
        (click)="closeModal()"
        type="button"
        class="btn btn-danger raised mr-2 btn-sm"
        (click)="closeModal()"
      >
        Cerrar
      </button>
      <button
        type="submit"
        class="btn btn-primary btn-sm raised"
        (click)="agregarAnotacion(); inputFile.value = ''"
      >
        Guardar
      </button>
    </div>
  </div>
</app-modal-basic>

<app-modal-basic #modalClose [dialogClass]="'modal-sm'">
  <div class="app-modal-header">
    <h5 class="modal-title">Cerrar proceso</h5>
    <button type="button" class="close basic-close" (click)="modalClose.hide()">
      <span aria-hidden="true">
        <i class="fas fa-times" (click)="modalClose.hide()"></i>
      </span>
    </button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="formSeguimiento">
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <label for="">Descripción</label>
            <textarea class="form-control form-control-sm" rows="3"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="form-group text-right">
      <button
        (click)="modalClose.hide()"
        type="button"
        class="btn btn-danger raised mr-2 btn-sm"
      >
        Cancelar
      </button>
      <button type="submit" class="btn btn-primary btn-sm raised">
        Cerrar
      </button>
    </div>
  </div>
</app-modal-basic>
<app-modal-basic #modalDocuments [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title">Agregar Documentos</h5>
    <button
      type="button"
      class="close basic-close"
      (click)="hideModalDocuments()"
    >
      <span aria-hidden="true">
        <i class="fas fa-times" (click)="hideModalDocuments()"></i>
      </span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="col-12">
      <label for="">Documentos</label>
      <div class="col">
        <ngx-dropzone class="drop-zone" (change)="onSelect($event)">
          <ngx-dropzone-label>
            <span><i class="fas fa-cloud-download-alt"></i></span> Arrastre y
            suelte el archivo
          </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngFor="let f of files"
            [removable]="true"
            (removed)="onRemove(f)"
          >
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <div class="form-group text-right">
      <button
        (click)="hideModalDocuments()"
        type="button"
        class="btn btn-danger raised mr-2 btn-sm"
      >
        Cerrar
      </button>
      <button
        type="submit"
        class="btn btn-primary btn-sm raised"
        (click)="saveDocuments()"
      >
        Guardar Documentos
      </button>
    </div>
  </div>
</app-modal-basic>

<ng-template #notM>
  <tr class="bg-light">
    <td class="align-middle" colspan="3" class="text-center">
      <p class="text-dark">Sin memorandos agregados</p>
    </td>
  </tr>
</ng-template>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
