<div class="card">
  <div class="card-body" *ngIf="!loading && processSelected; else notData">
    <div class="card-title d-flex justify-content-between">
      <h4 class="text-primary">Seguimiento del proceso disciplinario</h4>
      <div *ngIf="!loading && processSelected.length > 0">
        <div
          *ngIf="
            permission.permissions.close && processSelected.status != 'Cerrado'
          "
        >
          <button class="btn btn-danger btn-sm" (click)="closeProccess()">
            Cerrar
          </button>
        </div>
        <div
          *ngIf="
            processSelected.status == 'Cerrado' && permission.permissions.open
          "
        >
          <button class="btn btn-success btn-sm" (click)="openProccess()">
            Abrir
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <div class="rounded-top table-responsive">
      <table class="table table-light table-sm">
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Funcionario responsable</th>
            <th>Fecha de inicio</th>
            <th *ngIf="processSelected.status == 'Cerrado'">Fecha final</th>
            <th>Descripción</th>
            <th>Archivo</th>
            <th *ngIf="processSelected.status == 'Cerrado'">
              Observación del cierre
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td class="align-middle">{{ fullNameSelected }}</td>
            <td class="align-middle">
              {{ processSelected.date_of_admission }}
            </td>
            <td
              class="align-middle"
              *ngIf="processSelected.status == 'Cerrado'"
            >
              {{ processSelected.date_end }}
            </td>
            <td class="align-middle">
              {{ processSelected.process_description }}
            </td>
            <td class="align-middle">
              <button
                class="btn btn-success btn-sm"
                *ngIf="file"
                (click)="download(file, fileType)"
              >
                Descargar
              </button>
            </td>
            <th *ngIf="processSelected.status == 'Cerrado'">
              {{ processSelected.close_description }}
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />
    <div *ngIf="anotaciones.length > 0">
      <div class="card-title d-flex justify-content-between">
        <h5>Involucrados</h5>
        <button
          *ngIf="processSelected.status != 'Cerrado'"
          class="btn btn-primary btn-sm"
          (click)="openConfirm(add)"
        >
          Agregar
        </button>
      </div>
      <div class="rounded-top table-responsive">
        <table
          class="table table-light table-sm"
          *ngFor="let anotacion of anotaciones; let i = index"
        >
          <thead class="bg-light">
            <tr class="text-center text-uppercase">
              <th>Creador</th>
              <th>Involucrado</th>
              <th>Memorandos</th>
              <th>Observaciones</th>
              <th>Fecha de creación</th>
              <th *ngIf="anotacion.file">Archivo</th>
              <th *ngIf="processSelected.status != 'Cerrado'">Anular</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td class="align-middle">
                {{
                  anotacion.user.person.first_name +
                    " " +
                    anotacion.user.person.first_surname
                }}
              </td>
              <td class="align-middle">
                {{ anotacion.person.first_name }}
                {{ anotacion.person.first_surname }}
              </td>
              <td class="align-middle">
                <i
                  [ngClass]="collapsed[i] ? 'fa-angle-up' : 'fa-angle-down'"
                  class="fas text-primary"
                  role="button"
                  (click)="collapsed[i] = !collapsed[i]"
                ></i>
              </td>
              <td class="align-middle">
                {{ anotacion.observation }}
              </td>
              <td class="align-middle">{{ anotacion.created_at | date }}</td>
              <td class="align-middle" *ngIf="anotacion.file">
                <button
                  type="button"
                  class="btn btn-success btn-sm"
                  (click)="download(anotacion.file, anotacion.fileType)"
                >
                  Descargar
                </button>
              </td>
              <td
                class="align-middle"
                *ngIf="processSelected.status != 'Cerrado'"
              >
                <button
                  class="btn btn-outline-danger btn-sm"
                  type="button"
                  (click)="cancelAnnotation(anotacion.id)"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="collapsed[i]">
              <ng-container
                *ngIf="anotacion.memorandum_involved.length > 0; else notM"
              >
                <td class="align-middle" colspan="100%">
                  <div class="rounded-top table-responsive">
                    <table class="table table-light table-sm">
                      <ng-container
                        *ngIf="
                          anotacion.memorandum_involved.length > 0;
                          else notM
                        "
                      >
                        <thead class="bg-light">
                          <tr class="text-center text-uppercase">
                            <th>Motivo</th>
                            <th>Detalle</th>
                            <th>Fecha de creación</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            class="text-center"
                            *ngFor="let item of anotacion.memorandum_involved"
                          >
                            <td class="align-middle">
                              {{ item.memorandum.memorandumtype.name }}
                            </td>
                            <td class="align-middle">
                              {{ item.memorandum.details }}
                            </td>
                            <td class="align-middle">
                              {{ item.memorandum.created_at | date }}
                            </td>
                          </tr>
                        </tbody>
                      </ng-container>
                    </table>
                  </div>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-title d-flex justify-content-between">
      <h5 *ngIf="legalDocuments.length > 0">Documentos</h5>
    </div>
    <div class="row">
      <ng-container *ngFor="let item of legalDocuments">
        <div class="col-md-2 d-flex align-items-stretch">
          <div class="card card-file w-100 border border-3 border-light">
            <div class="card-title">
              <button
                type="button"
                *ngIf="processSelected.status != 'Cerrado'"
                placement="top"
                ngbTooltip="Eliminar"
                class="btn btn-sm btn-link shadow-none float-right"
                (click)="deleteDocument(item)"
              >
                <span aria-hidden="true">
                  <i class="fas fa-times text-danger"></i>
                </span>
              </button>
            </div>
            <div
              class="card-body pt-1"
              (click)="downloadDocument(item)"
              placement="left"
              ngbTooltip="Descargar"
            >
              <h6 class="file-title text-center">
                {{ item.name }}
              </h6>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div *ngIf="processSelected">
      <ng-container *ngIf="processSelected.status != 'Cerrado'">
        <button
          class="btn btn-primary btn-block"
          (click)="openConfirm(addDocuments)"
        >
          Agregar documentos
        </button>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Agregar involucrados</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="formSeguimiento">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="col-md-12" appearance="outline">
            <mat-label>Funcionario</mat-label>
            <input
              matInput
              id="typeahead"
              type="text"
              placeholder="Busca el nombre del funcionario"
              formControlName="person"
              (change)="getHistory()"
              [ngbTypeahead]="search"
              [inputFormatter]="inputFormatBandListValue"
              [resultFormatter]="resultFormatBandListValue"
              [editable]="false"
              required
              autocomplete="off"
            />
            <mat-error *ngIf="person_id_valid">
              <span
                *ngFor="
                  let item of formInvolved.get('person').errors | ObjToArrayPipe
                "
                class="text-danger"
              >
                {{ item?.msj }}
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field
            class="col-md-12 mat-form-field-no-padding textarea"
            appearance="outline"
          >
            <mat-label>Observaciones</mat-label>
            <textarea
              matInput
              placeholder="Ingrese las observaciones"
              rows="5"
              formControlName="observation"
              name="ob"
              required
              id="obervaciones"
              [cdkTextareaAutosize]="true"
            ></textarea>
          </mat-form-field>
          <div class="col-md-12">
            <div class="form-group text-center">
              <div class="custom-input-file col-md-12">
                <input
                  type="file"
                  #fileInvolved
                  id="importFileP"
                  class="input-file"
                  (change)="onFileChanged($event)"
                  accept=".pdf, .png, .jpg, .jpeg"
                />
                Cargar evidencia
              </div>
              <div class="col-md-12 text-center">
                <small *ngIf="fileAnotacion" class="text-success"
                  >Evidencia cargada</small
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 panel">
          <div class="panel-body">
            <div
              class="mt-3 text-center"
              *ngIf="formSeguimiento.get('person').value == ''"
            >
              <h1>
                <i class="fa fa-exclamation-circle fa-3x text-warning"></i>
              </h1>
              <h6>Seleccione un usuario</h6>
            </div>
            <div
              class="mt-3 text-center"
              *ngIf="
                historyInfo.length == 0 &&
                formSeguimiento.get('person').value != ''
              "
            >
              <h1><i class="fas fa-cloud fa-3x text-info"></i></h1>
              <h6>Sin memorandos</h6>
            </div>
            <div *ngFor="let historyInf of historyInfo; let i = index">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-1">
                      <input
                        class="form-check-input ml-1"
                        type="checkbox"
                        [value]="historyInf.details"
                        [id]="historyInf.id"
                        [date]="historyInf.created_at_memorandum"
                        (change)="onSelectOption($event, i)"
                        [name]="historyInf.memorandumType"
                      />
                    </div>
                    <div class="col">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Memorando</h5>
                        <small>{{
                          historyInf.created_at_memorandum | date: "MM-dd-yy"
                        }}</small>
                      </div>
                      <p class="mb-1">
                        Categoría:
                        {{
                          historyInf.activity != ""
                            ? historyInf.memorandumType
                            : "Sin categoria"
                        }}
                      </p>
                      <small>Detalle: {{ historyInf.details }} </small>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">
      Cancelar
    </button>
    <button
      type="button"
      (click)="agregarAnotacion(); inputFile.value = ''"
      class="btn btn-primary"
      [disabled]="!formSeguimiento.valid"
    >
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #addDocuments let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Agregar documentos</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <mat-form-field class="col" appearance="outline">
        <mat-label>Motivo(en desarrollo)</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ingresa el motivo"
          required
          autocomplete="off"
        />
      </mat-form-field>
    </div>
    <h6 class="text-center">Documentos</h6>
    <ngx-dropzone class="drop-zone" (change)="onSelect($event)">
      <ngx-dropzone-label>
        <span><i class="fas fa-cloud-download-alt"></i></span> Arrastre y suelte
        el archivo
      </ngx-dropzone-label>
      <ngx-dropzone-preview
        *ngFor="let f of files"
        [removable]="true"
        (removed)="onRemove(f)"
      >
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">
      Cancelar
    </button>
    <button type="submit" class="btn btn-primary" (click)="saveDocuments()">
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #notM>
  <tr class="bg-light">
    <td class="align-middle" colspan="3" class="text-center">
      <p class="text-dark">Sin memorandos agregados</p>
    </td>
  </tr>
</ng-template>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>

<!-- <app-modal-basic #modalClose [dialogClass]="'modal-sm'">
  <div class="app-modal-header">
    <h5 class="modal-title">Cerrar proceso</h5>
    <button type="button" class="close basic-close" (click)="modalClose.hide()">
      <span aria-hidden="true">
        <i class="fas fa-times" (click)="modalClose.hide()"></i>
      </span>
    </button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="formSeguimiento">
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <label for="">Descripción</label>
            <textarea class="form-control form-control-sm" rows="3"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="form-group text-right">
      <button
        (click)="modalClose.hide()"
        type="button"
        class="btn btn-danger raised mr-2 btn-sm"
      >
        Cancelar
      </button>
      <button type="submit" class="btn btn-primary btn-sm raised">
        Cerrar
      </button>
    </div>
  </div>
</app-modal-basic> -->
