.panel-anotaciones {
    width: 100%;
    overflow-x: unset;
}

.form-control-sm {
    margin-bottom: 5px;
}

.card-anotation {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // box-shadow: 10px 10px 3px #f1f5f7;
}

.card-link {
    cursor: pointer;
}

.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #95c11f, #95c11f, #f0f0f0);
}