<hr class="bg-secondary">
<div class="row">
    <div class="col">
        <div class="title mt-3">
            <h5>Procesos Internos</h5>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <label class="col-form-label col-form-label-sm" for="">Item</label>
                            </th>
                            <th>
                                <label class="col-form-label col-form-label-sm" for="descripcion_proceso_interno">Descripción</label>
                            </th>
                            <th>
                                <label class="col-form-label col-form-label-sm" for="unidad_proceso_interno">Unidad</label>
                            </th>
                            <th>
                                <label class="col-form-label col-form-label-sm" for="q_unitaria_proceso_interno">Cantidad</label>
                            </th>
                            <th>
                                <label class="col-form-label col-form-label-sm" for="costo_unitario_proceso_interno">Costo Unitario</label>
                            </th>
                            <th>
                                <label class="col-form-label col-form-label-sm" for="total_proceso_interno">Total</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="internal.length">
                            <ng-container *ngFor="let item of internal; let i = index">
                                <tr>
                                    <td> {{ i + 1 }} </td>
                                    <td>
                                        {{ item.description }}
                                    </td>
                                    <td>
                                        {{ item.unit }}
                                    </td>
                                    <td>
                                        {{ item.amount }}
                                    </td>
                                    <td>
                                        {{ item.unit_cost }}
                                    </td>
                                    <td>
                                        {{ item.total }}
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8">
                                <div class="row" style="float: right">
                                    <div class="col-6 text-right">
                                        <label for="" class="mt-1">SubTotal: </label>
                                    </div>
                                    <div class="col-6">
                                        {{ internal_processes_subtotal }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>