<div class="row">
    <div class="col">
        <div class="title mt-3">
            <h5>Calculo de materia prima</h5>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <ng-container *ngIf="rawMateria.length">
                        <ng-container *ngFor="let item of rawMateria; let i = index">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="col-form-label col-form-label-sm" for="">Item</label>
                                    </th>
                                    <th>
                                        <label class="col-form-label col-form-label-sm" for="geometria_calculo">Geometria</label>
                                    </th>
                                    <th>
                                        <label for=""></label>
                                    </th>
                                    <th>
                                        <label class="col-form-label col-form-label-sm" for="material_calculo">Material</label>
                                    </th>
                                    <th *ngFor="let item of item.measures">
                                        <label class="col-form-label col-form-label-sm" for="">{{ item.name }}</label>
                                    </th>
                                    <th>
                                        <label class="col-form-label col-form-label-sm" for="peso_kg_calculo">Peso KG</label>
                                    </th>
                                    <th>
                                        <label class="col-form-label col-form-label-sm" for="q_calculo">Q</label>
                                    </th>
                                    <th>
                                        <label class="col-form-label col-form-label-sm" for="peso_total_calculo">Peso Total</label>
                                    </th>
                                    <th>
                                        <label class="col-form-label col-form-label-sm" for="valor_kg_calculo">Valor KG</label>
                                    </th>
                                    <th>
                                        <label class="col-form-label col-form-label-sm" for="valor_total_calculo">Valor Total</label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{ i + 1 }}
                                    </td>
                                    <td>
                                        {{ item.geometry.name }}
                                    </td>
                                    <td>
                                        <img [src]="item.geometry.image | image">
                                    </td>
                                    <td>
                                        {{ item.material.name }}
                                    </td>
                                    <ng-container *ngFor="let item of item.measures; let j = index">
                                        <td>
                                            {{ item.value }}
                                        </td>
                                    </ng-container>
                                    <td>
                                        {{ item.weight_kg }}
                                    </td>
                                    <td>
                                        {{ item.q }}
                                    </td>
                                    <td>
                                        {{ item.weight_total }}
                                    </td>
                                    <td>
                                        {{ item.value_kg }}
                                    </td>
                                    <td>
                                        {{ item.total_value }}
                                    </td>
                                </tr>
                            </tbody>
                        </ng-container>
                    </ng-container>
                </table>
                <table style="float: right;">
                    <tr>
                        <td>
                            <label for="" class="mr-3 mt-2">SubTotal: </label>
                        </td>
                        <td>
                            <div class="row">
                                {{ subtotal_raw_material }}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<hr class="bg-secondary">