<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h5>Productos</h5>
        <span>Listado de Productos registrados en nuestras bases de datos</span>
      </div>
      <div class="col-md-6 text-right">
        <button
          type="button"
          *ngIf="type == 'Medicamento'"
          class="btn btn-primary"
          [routerLink]="['crear']"
        >
          <i class="fa fa-plus"></i> Agregar Nuevo Medicamento
        </button>
        <button
          type="button"
          *ngIf="type == 'Material'"
          class="btn btn-warning"
          (click)="modalMaterial.show()"
        >
          <i class="fa fa-plus"></i> Agregar Nuevo Material
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <br />

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped" style="font-size: 10px">
          <thead>
            <tr>
              <th style="width: 50px !important; max-width: 50px !important">
                Foto
              </th>
              <th style="width: 75px !important; max-width: 75px !important">
                Cum
              </th>
              <th style="width: 130px !important; max-width: 380px !important">
                Nombre
              </th>
              <th style="width: 130px !important; max-width: 130px !important">
                Nom. Comercial
              </th>
              <th style="width: 100px !important; max-width: 100px !important">
                Lab. Generico
              </th>
              <th style="width: 100px !important; max-width: 100px !important">
                Lab. General
              </th>
              <th style="width: 70px !important; max-width: 70px !important">
                Invima
              </th>
              <th style="width: 70px !important; max-width: 70px !important">
                Tipo
              </th>
              <th
                style="
                  width: 100px !important;
                  max-width: 100px !important;
                  text-align: center;
                "
              >
                Acciones
              </th>
            </tr>
            <!-- Filtros -->
            <tr>
              <th class="tabla-filtros"></th>
              <th class="tabla-filtros">
                <input
                  type="text"
                  class="form-control input-sm"
                  [(ngModel)]="filtro_cum"
                  placeholder="Filtro CUM"
                />
              </th>
              <th class="tabla-filtros">
                <input
                  type="text"
                  class="form-control input-sm"
                  [(ngModel)]="filtro_nombre"
                  placeholder="Filtro Nombre"
                />
              </th>
              <th class="tabla-filtros">
                <input
                  type="text"
                  class="form-control input-sm"
                  [(ngModel)]="filtro_nom_com"
                  placeholder="Filtro Nom.Comercial"
                />
              </th>
              <th class="tabla-filtros">
                <input
                  type="text"
                  class="form-control input-sm"
                  [(ngModel)]="filtro_lab"
                  placeholder="Filtro Lab."
                />
              </th>
              <th class="tabla-filtros">
                <input
                  type="text"
                  class="form-control input-sm"
                  [(ngModel)]="filtro_lab_gral"
                  placeholder="Filtro Lab. Gral"
                />
              </th>
              <th class="tabla-filtros">
                <input
                  type="text"
                  class="form-control input-sm"
                  [(ngModel)]="filtro_inv"
                  placeholder="Filtro Invima"
                />
              </th>
              <th class="tabla-filtros">
                <select [(ngModel)]="filtro_tipo" class="form-control input-sm">
                  <option value="" selected>Todos</option>
                  <option value="Material">Material</option>
                  <option value="Medicamento">Medicamento</option>
                  <option value="Medicamento">Generico</option>
                </select>
              </th>
              <th class="tabla-filtros">
                <div class="text-center">
                  <button
                    class="btn btn-primary btn-sm"
                    style="
                      margin-top: 0 !important;
                      border-radius: 100%;
                      padding: 5px !important;
                    "
                    (click)="filtro()"
                    title="Filtrar"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </th>
            </tr>
            <!-- Fin Filtros -->
          </thead>
          <tbody>
            <tr
              *ngFor="let producto of Productos"
              [ngClass]="{ 'bg-danger': producto.Estado == 'Inactivo' }"
            >
              <td style="width: 50px !important; max-width: 50px !important">
                <div class="text-center">
                  <!-- TODO Funcionar Imagenes -->
                  <img
                    *ngIf="producto.Foto == ''"
                    class="thumb-img img-40 img-circle img-thumbnail img-responsive"
                    src="assets/images/product.png"
                    alt=""
                  />
                  <!--   <img *ngIf="producto.Foto != ''" class="thumb-img img-40 img-circle img-thumbnail img-responsive" src="{{environment.ruta}}IMAGENES/PRODUCTOS/{{producto.Foto}}" alt="" style="width:40px; height:40px;"> -->
                </div>
              </td>
              <td style="width: 75px !important; max-width: 75px !important">
                {{ producto.Cum }}
              </td>
              <td
                *ngIf="producto.Tipo == 'Generico'"
                style="
                  white-space: normal !important;
                  min-width: 450px;
                  max-width: 450px;
                "
              >
                {{ producto.Principio_Activo }}
              </td>
              <td
                *ngIf="producto.Tipo != 'Generico'"
                style="
                  white-space: normal !important;
                  min-width: 450px;
                  max-width: 450px;
                "
              >
                {{ producto.Nombre }}
              </td>
              <td style="width: 100px !important; max-width: 100px !important">
                <span class="mytooltip tooltip-effect-2"
                  ><span class="tooltip-item2">
                    <p style="font-size: 11px">
                      <i class="fa fa-info-circle"></i> Nom. Comercial
                    </p>
                  </span>
                  <span class="tooltip-content4 clearfix">
                    <span class="tooltip-text2">{{
                      producto.Nombre_Comercial
                    }}</span>
                  </span>
                </span>
              </td>
              <td style="width: 100px !important; max-width: 100px !important">
                {{ producto.Generico }}
              </td>
              <td style="width: 100px !important; max-width: 100px !important">
                {{ producto.Comercial }}
              </td>
              <td style="width: 70px !important; max-width: 70px !important">
                {{ producto.Invima }}
              </td>
              <td style="width: 70px !important; max-width: 70px !important">
                {{ producto.Tipo }}
              </td>
              <td style="width: 100px !important; max-width: 100px !important">
                <div class="text-center" [ngSwitch]="producto.Tipo_Catalogo">
                  <div
                    *ngSwitchCase="Medicamento"
                    class="btn-group"
                    role="group"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title=".btn-mini"
                  >
                    <div ngbDropdown class="dropdown-primary">
                      <button
                        ngbDropdownToggle
                        class="btn btn-secondary btn-mini waves-effect waves-light"
                        type="button"
                      >
                        Acciones
                      </button>
                      <div ngbDropdownMenu>
                        <a
                          class="dropdown-item waves-light waves-effect caja-botones"
                          [routerLink]="['editar', producto.Id_Producto]"
                        >
                          <i class="ti-pencil"></i>Editar</a
                        >

                        <a
                          class="dropdown-item waves-light waves-effect caja-botones"
                          [routerLink]="['ver', producto.Id_Producto]"
                        >
                          <i class="ti-eye"></i>Ver</a
                        >
                        <a
                          *ngIf="producto.Estado == 'Activo'"
                          class="dropdown-item waves-light waves-effect caja-botones"
                          [swal]="{
                            title: '¿Está Seguro?',
                            text: 'Se dispone a Inactivar este Producto',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Si, Inactivar',
                            cancelButtonText: 'No,Dejame Comprobar!'
                          }"
                          (confirm)="
                            CambiarEstadoProducto(
                              'Inactivo',
                              producto.Id_Producto
                            )
                          "
                        >
                          <i class="ti-close"></i>Inactivar</a
                        >
                        <a
                          *ngIf="producto.Estado == 'Inactivo'"
                          [swal]="{
                            title: '¿Está Seguro?',
                            text: 'Se dispone a Activar este Producto',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Si, Activar',
                            cancelButtonText: 'No,Dejame Comprobar!'
                          }"
                          (confirm)="
                            CambiarEstadoProducto(
                              'Activo',
                              producto.Id_Producto
                            )
                          "
                          class="dropdown-item waves-light waves-effect caja-botones"
                        >
                          <i class="ti-check"></i>Activar</a
                        >
                      </div>
                    </div>
                  </div>

                  <div
                    *ngSwitchCase="Generico"
                    class="btn-group"
                    role="group"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title=".btn-mini"
                  >
                    <div ngbDropdown class="dropdown-primary">
                      <button
                        ngbDropdownToggle
                        class="btn btn-secondary btn-mini waves-effect waves-light"
                        type="button"
                      >
                        Acciones
                      </button>
                      <div ngbDropdownMenu>
                        <a
                          class="dropdown-item waves-light waves-effect caja-botones"
                          (click)="editGeneric(producto)"
                        >
                          <i class="ti-pencil"></i>Editar</a
                        >
                      </div>
                    </div>
                  </div>

                  <div
                    *ngSwitchDefault
                    class="btn-group"
                    role="group"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title=".btn-mini"
                  >
                    <div ngbDropdown class="dropdown-primary">
                      <button
                        ngbDropdownToggle
                        class="btn btn-secondary btn-mini waves-effect waves-light"
                        type="button"
                      >
                        Acciones
                      </button>
                      <div ngbDropdownMenu>
                        <a
                          class="dropdown-item waves-light waves-effect caja-botones"
                          (click)="EditarProducto(producto.Id_Producto)"
                        >
                          <i class="ti-pencil"></i>Editar</a
                        >

                        <a
                          class="dropdown-item waves-light waves-effect caja-botones"
                          [routerLink]="['ver', producto.Id_Producto]"
                        >
                          <i class="ti-eye"></i>Ver</a
                        >
                        <a
                          *ngIf="producto.Estado == 'Activo'"
                          class="dropdown-item waves-light waves-effect caja-botones"
                          [swal]="{
                            title: '¿Está Seguro?',
                            text: 'Se dispone a Inactivar este Producto',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Si, Inactivar',
                            cancelButtonText: 'No,Dejame Comprobar!'
                          }"
                          (confirm)="
                            CambiarEstadoProducto(
                              'Inactivo',
                              producto.Id_Producto
                            )
                          "
                        >
                          <i class="ti-close"></i>Inactivar</a
                        >
                        <a
                          *ngIf="producto.Estado == 'Inactivo'"
                          [swal]="{
                            title: '¿Está Seguro?',
                            text: 'Se dispone a Activar este Producto',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Si, Activar',
                            cancelButtonText: 'No,Dejame Comprobar!'
                          }"
                          (confirm)="
                            CambiarEstadoProducto(
                              'Activo',
                              producto.Id_Producto
                            )
                          "
                          class="dropdown-item waves-light waves-effect caja-botones"
                        >
                          <i class="ti-check"></i>Activar</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ngb-pagination
      class="pull-right"
      [collectionSize]="TotalItems"
      [(page)]="page"
      [maxSize]="maxSize"
      size="sm"
      (pageChange)="paginacion()"
      [boundaryLinks]="true"
    ></ngb-pagination>
  </div>
</div>

<app-modal-basic #modalGenerico [dialogClass]="'modal-xl'">
  <div class="app-modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close basic-close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body modal-lg">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nombre</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Principio_Activo"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Codigo de Barras</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Codigo_Barras"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Descripcion</label>
                    <textarea
                      type="text"
                      class="form-control"
                      formControlName="Descripcion_ATC"
                    ></textarea>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>Invima</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Invima"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Categoria</label>
                    <ng-select
                      formControlName="Id_Categoria"
                      [items]="Categorias"
                      bindLabel="text"
                      (change)="getSubCategories($event.value)"
                      bindValue="value"
                      loadingText="loading"
                      ngDefaultControl
                    >
                    </ng-select>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>Subcategoría</label>
                    <ng-select
                      formControlName="Id_Subcategoria"
                      [items]="SubCategorias"
                      bindLabel="text"
                      (change)="getDinamicField($event.value)"
                      bindValue="value"
                      loadingText="loading"
                      ngDefaultControl
                    >
                    </ng-select>
                  </div>
                </div>

                <ng-container formArrayName="dynamic">
                  <ng-container
                    *ngFor="let item of fieldDinamic.controls; let i = index"
                  >
                    <div class="col-md-3" [formGroupName]="i">
                      <label for="">{{
                        item["controls"]["label"]["value"] | titlecase
                      }}</label>
                      <input
                        class="form-control form-control-sm"
                        [type]="item['controls']['type']['value']"
                        formControlName="valor"
                      />
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="text-right">
      <button
        type="button"
        class="btn btn-default btn-sm"
        (click)="closeModal()"
      >
        Cancelar
      </button>
      <button
        type="button"
        class="btn btn-primary btn-sm"
        [swal]="{
          title: '¿Está Seguro?',
          text: 'Se dispone a Guardar este Generico',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Si, Guardar',
          cancelButtonText: 'No,Dejame Comprobar!'
        }"
        (confirm)="saveGeneric()"
      >
        Guardar
      </button>
    </div>
  </div>
</app-modal-basic>

<app-modal-basic #modalMaterial [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Nuevo Material</h4>
    <button
      type="button"
      class="close basic-close"
      (click)="modalMaterial.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <form #FormMaterial="ngForm">
      <input
        name="company_id"
        type="hidden"
        placeholder=""
        class="form-control"
        [(ngModel)]="company_id"
      />
      <input
        name="Tipo"
        type="hidden"
        placeholder=""
        class="form-control"
        [(ngModel)]="Material"
      />
      <div class="row">
        <div class="col-md-3">
          <div style="text-align: center" class="form-group">
            <label style="display: block" for="FotoN">
              <img
                src="assets/images/product.png"
                style="
                  -moz-border-radius: 50px;
                  border-radius: 36px;
                  height: 120px;
                  max-width: 100%;
                "
                id="foto_visual"
              />
            </label>
            <div class="col-md-6">
              <input
                name="Foto"
                id="FotoN"
                ngModel
                type="file"
                accept="image/png, image/jpeg"
                class="form-control form-control-sm text-right f-9"
                style="display: none"
                (change)="CargaFoto($event)"
              />
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Código Expediente</label>
                <input
                  name="Codigo_Cum"
                  type="text"
                  placeholder=""
                  class="form-control"
                  ngModel
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Referencia</label>
                <input
                  name="Referencia"
                  type="text"
                  placeholder=""
                  class="form-control"
                  ngModel
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Presentación</label>
                <input
                  name="Presentacion"
                  type="text"
                  placeholder=""
                  class="form-control"
                  ngModel
                  required
                  [readonly]="Si"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Código de barras</label>
                <input
                  name="Codigo_Barras"
                  [(ngModel)]="Codigo_Barras"
                  (change)="ValidarCodigo()"
                  type="text"
                  placeholder=""
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Embalaje</label>
            <input
              name="Embalaje"
              type="text"
              placeholder=""
              class="form-control"
              ngModel
              required
              [readonly]="Si"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Nombre Inglés</label>
            <input
              name="Nombre_Listado"
              type="text"
              placeholder=""
              class="form-control"
              ngModel
              required
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Nombre Invima</label>
            <input
              name="Nombre_Comercial"
              type="text"
              placeholder=""
              class="form-control"
              ngModel
              [readonly]="Si"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Unidad de Empaque</label>
            <input
              name="Unidad_Empaque"
              type="text"
              placeholder=""
              class="form-control"
              ngModel
              required
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>% Arancel</label>
            <input
              name="Porcentaje_Arancel"
              type="number"
              placeholder=""
              class="form-control"
              ngModel
              required
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Laboratorio </label>
            <input
              name="Laboratorio_Comercial"
              type="text"
              placeholder=""
              class="form-control"
              ngModel
              required
              [readonly]="Si"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Invima</label>
            <input
              name="Invima"
              type="text"
              placeholder=""
              class="form-control"
              ngModel
              [readonly]="Si"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Cantidad</label>
            <input
              name="Cantidad"
              type="number"
              placeholder=""
              class="form-control"
              ngModel
              required
              [readonly]="Si"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Unidad De Medida</label>
            <input
              name="Unidad_Medida"
              type="text"
              placeholder=""
              class="form-control"
              ngModel
              required
              [readonly]="Si"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Via De Administracion</label>
            <input
              name="Via_Administracion"
              type="text"
              placeholder=""
              class="form-control"
              ngModel
              required
              [readonly]="Si"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Cant. Min</label>
            <input
              name="Cantidad_Minima"
              type="number"
              placeholder=""
              class="form-control"
              ngModel
              required
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Cant. Max</label>
            <input
              name="Cantidad_Maxima"
              type="number"
              placeholder=""
              class="form-control"
              ngModel
              required
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Precio Min</label>
            <input
              name="Precio_Minimo"
              type="number"
              placeholder=""
              class="form-control"
              ngModel
              required
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Precio Max</label>
            <input
              name="Precio_Maximo"
              type="number"
              placeholder=""
              class="form-control"
              ngModel
              required
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Tipo Regulación</label>
            <select
              class="form-control"
              name="Tipo_Regulacion"
              ngModel
              required
            >
              <option value="">Seleccione un tipo</option>
              <option value="Regulado">Regulado</option>
              <option value="No Regulado">No Regulado</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Tipo POS</label>
            <select class="form-control" name="Tipo_Pos" ngModel required>
              <option value="">Seleccione un tipo</option>
              <option value="POS">POS</option>
              <option value="NO POS">NO POS</option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Subcategoria</label>
            <select
              class="form-control form-control-sm"
              name="Id_Subcategoria"
              ngModel
              required
              (change)="getVariablesDinamic($event.target.value)"
            >
              <option value="">Seleccione</option>
              <option
                *ngFor="let subcategoria of Subcategorias"
                [value]="subcategoria.Id_Subcategoria"
              >
                {{ subcategoria.Nombre }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Gravado</label>
            <select
              class="form-control form-control-sm"
              name="Gravado"
              ngModel
              required
            >
              <option value="">Seleccione</option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Aplica Rotativo Clientes</label>
            <select
              class="form-control form-control-sm"
              name="RotativoC"
              ngModel
              required
            >
              <option value="">Seleccione</option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Aplica Rotativo Dispensación</label>
            <select
              class="form-control form-control-sm"
              name="RotativoD"
              ngModel
              required
            >
              <option value="">Seleccione</option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div
          class="col-md-2"
          *ngFor="let item of fieldDinamicMaterial; let i = index"
        >
          <label for="">{{ item.label | titlecase }}</label>
          <input
            class="form-control form-control-sm"
            [type]="item.type"
            (change)="saveVariablesDinamic($event.target.value, item, i)"
          />
        </div>
      </div>

      <hr />
      <div class="row">
        <div
          *ngFor="let f of Lista; let i = index"
          id="fila{{ i }}"
          class="col-md-2"
        >
          <div class="form-group">
            <label for="">{{ f.Nombre }}</label>
            <input
              type="number"
              class="form-control form-control-sm"
              name="Precio{{ i }}"
              [(ngModel)]="f.Precio"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="text-right">
      <button
        type="button"
        class="btn btn-default btn-sm"
        (click)="modalMaterial.hide()"
      >
        Cancelar
      </button>
      <button
        type="button"
        [disabled]="!FormMaterial.valid"
        class="btn btn-primary btn-sm"
        [swal]="{
          title: '¿Está Seguro?',
          text: 'Se dispone a Guardar este Material',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Si, Guardar',
          cancelButtonText: 'No,Dejame Comprobar!'
        }"
        (confirm)="GuardarProducto(FormMaterial, modalMaterial)"
      >
        Guardar
      </button>
    </div>
  </div>
</app-modal-basic>

<app-modal-basic #modalMaterialEditar [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Editar Productos</h4>
    <button
      type="button"
      class="close basic-close"
      (click)="modalMaterialEditar.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <form #FormMaterialEditar="ngForm">
      <input type="hidden" name="id" ngModel="{{ IdProductos }}" />
      <div class="row">
        <div class="col-md-3">
          <div style="text-align: center" class="form-group">
            <label style="display: block" for="Foto">
              <img
                src="assets/images/producto.png"
                style="
                  -moz-border-radius: 50px;
                  border-radius: 36px;
                  height: 120px;
                  max-width: 100%;
                "
                id="foto_visualE"
              />

              <!-- <img *ngIf="Imagen != ''" src="{{environment.ruta}}IMAGENES/PRODUCTOS/{{Imagen}}" style="-moz-border-radius: 50px;border-radius: 36px;height: 120px; max-width: 100%;"
                                id="foto_visualE"> -->
            </label>
            <div class="col-md-6">
              <input
                name="Foto"
                id="Foto"
                ngModel
                type="file"
                accept="image/png, image/jpeg"
                class="form-control form-control-sm text-right f-9"
                style="display: none"
                (change)="CargaFotoEditar($event)"
              />
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Código Expediente</label>
                <input
                  name="Codigo_Cum"
                  type="text"
                  placeholder=""
                  class="form-control"
                  ngModel="{{ Datos.Codigo_Cum }}"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Presentación</label>
                <input
                  name="Presentacion"
                  type="text"
                  placeholder=""
                  class="form-control"
                  ngModel="{{ Datos.Presentacion }}"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Referencia</label>
                <input
                  name="Referencia"
                  type="text"
                  placeholder=""
                  class="form-control"
                  ngModel="{{ Datos.Referencia }}"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Código de barras</label>
                <input
                  name="Codigo_Barras"
                  type="text"
                  placeholder=""
                  class="form-control"
                  [(ngModel)]="Codigo_Barras"
                  (change)="ValidarCodigo()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Embalaje</label>
            <input
              name="Embalaje"
              type="text"
              placeholder=""
              class="form-control"
              ngModel="{{ Datos.Embalaje }}"
              required
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Cant. Presentación</label>
            <input
              name="Cantidad_Presentacion"
              type="text"
              placeholder=""
              class="form-control"
              ngModel="{{ Datos.CantidadPresentacion }}"
              required
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Nombre Inglés</label>
            <input
              name="Nombre_Listado"
              type="text"
              placeholder=""
              class="form-control"
              ngModel="{{ Datos.NombreListado }}"
              required
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Nombre Invima</label>
            <input
              name="Nombre_Comercial"
              type="text"
              placeholder=""
              class="form-control"
              [(ngModel)]="Datos.NombreComercial"
              [readonly]="Si"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Unidad de Empaque</label>
            <input
              name="Unidad_Empaque"
              type="text"
              placeholder=""
              class="form-control"
              [(ngModel)]="Datos.Unidad_Empaque"
              required
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>% Arancel</label>
            <input
              name="Porcentaje_Arancel"
              type="number"
              placeholder=""
              class="form-control"
              [(ngModel)]="Datos.Porcentaje_Arancel"
              required
            />
          </div>
        </div>
        <!-- <div class="col-md-4">
                    <div class="form-group">
                        <label>Registro Sanitario</label>
                        <input name="Registro_Sanitario" type="text" placeholder="" class="form-control" [(ngModel)]="Datos.Registro_Sanitario"
                            required>
                    </div>
                </div> -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Laboratorio</label>
            <input
              name="Laboratorio_Comercial"
              type="text"
              placeholder=""
              class="form-control"
              ngModel="{{ Datos.LaboratorioComercial }}"
              required
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Invima</label>
            <input
              name="Invima"
              type="text"
              placeholder=""
              class="form-control"
              ngModel="{{ Datos.Invima }}"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Cantidad</label>
            <input
              name="Cantidad"
              type="text"
              placeholder=""
              class="form-control"
              ngModel="{{ Datos.Cantidad }}"
              required
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Unidad De Medida</label>
            <input
              name="Unidad_Medida"
              type="text"
              placeholder=""
              class="form-control"
              ngModel="{{ Datos.UnidadMedida }}"
              required
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Via De Administracion</label>
            <input
              name="Via_Administracion"
              type="text"
              placeholder=""
              class="form-control"
              ngModel="{{ Datos.ViaAdministracion }}"
              required
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Cant. Min</label>
            <input
              name="Cantidad_Minima"
              type="number"
              placeholder=""
              class="form-control"
              ngModel="{{ Datos.CantidadMinima }}"
              required
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Cant. Max</label>
            <input
              name="Cantidad_Maxima"
              type="number"
              placeholder=""
              class="form-control"
              ngModel="{{ Datos.CantidadMaxima }}"
              required
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Precio Min</label>
            <input
              name="Precio_Minimo"
              type="number"
              placeholder=""
              class="form-control"
              ngModel="{{ Datos.PrecioMinimo }}"
              required
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Precio Max</label>
            <input
              name="Precio_Maximo"
              type="number"
              placeholder=""
              class="form-control"
              ngModel="{{ Datos.PrecioMaximo }}"
              required
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Tipo Regulación</label>
            <select
              class="form-control"
              name="Tipo_Regulacion"
              ngModel="{{ Datos.TipoRegulacion }}"
              required
            >
              <option value="Regulado">Regulado</option>
              <option value="No Regulado">No Regulado</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Tipo POS</label>
            <select
              class="form-control"
              name="Tipo_Pos"
              ngModel="{{ Datos.TipoPos }}"
              required
            >
              <option value="POS">POS</option>
              <option value="NO POS">NO POS</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Subcategoria</label>
            <select
              class="form-control form-control-sm"
              name="Id_Subcategoria"
              (change)="getDinamicVariables($event.target.value, Datos)"
              ngModel="{{ Datos.IdSubcategoria }}"
              required
            >
              <option value="">Seleccione Subcategoria</option>
              <option
                *ngFor="let subcategoria of Subcategorias"
                [value]="subcategoria.Id_Subcategoria"
              >
                {{ subcategoria.Nombre }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Gravado</label>
            <select
              class="form-control form-control-sm"
              name="Gravado"
              ngModel="{{ Datos.Gravado }}"
              required
            >
              <option value="">Seleccione</option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Aplica Rotativo CLientes</label>
            <select
              class="form-control form-control-sm"
              name="RotativoC"
              ngModel="{{ Datos.RotativoC }}"
              required
            >
              <option value="">Seleccione</option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Aplica Rotativo Dispensacion</label>
            <select
              class="form-control form-control-sm"
              name="RotativoD"
              ngModel="{{ Datos.RotativoD }}"
              required
            >
              <option value="">Seleccione</option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div
          class="col-md-3"
          *ngFor="let item of fieldDinamicMaterial; let i = index"
          id="fila{{ i }}"
        >
          <label for="">{{ item.label | titlecase }}</label>
          <input
            class="form-control form-control-sm"
            [type]="item.type"
            name="Value{{ i }}"
            ngModel="{{ item.valor }}"
            (change)="editVariablesDinamic($event.target.value, item, i)"
          />
        </div>
      </div>

      <hr />
      <div class="row">
        <div
          *ngFor="let f of Lista; let i = index"
          id="fila{{ i }}"
          class="col-md-2"
        >
          <div class="form-group">
            <label for="">{{ f.Nombre }}</label>
            <input
              type="number"
              class="form-control form-control-sm"
              name="Precio{{ i }}"
              [(ngModel)]="f.Precio"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="text-right">
      <button
        type="button"
        class="btn btn-default btn-sm"
        (click)="modalMaterialEditar.hide()"
      >
        Cancelar
      </button>
      <button
        type="button"
        class="btn btn-primary btn-sm"
        [disabled]="!FormMaterialEditar.valid"
        [swal]="{
          title: '¿Está Seguro?',
          text: 'Se dispone a Guardar este Producto',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Si, Guardar',
          cancelButtonText: 'No,Dejame Comprobar!'
        }"
        (confirm)="GuardarProducto(FormMaterialEditar, modalMaterialEditar)"
      >
        Guardar
      </button>
    </div>
  </div>
</app-modal-basic>

<app-modal-basic #modalMaterialVer [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Detalle del Material</h4>
    <button
      type="button"
      class="close basic-close"
      (click)="modalMaterialVer.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <input type="hidden" name="id" ngModel="{{ IdProductos }}" />
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div style="text-align: center" class="form-group">
              <img
                src="assets/images/producto.png"
                style="
                  -moz-border-radius: 50px;
                  border-radius: 36px;
                  height: 143px;
                  max-width: 100%;
                "
              />
              <!-- <img *ngIf="Imagen != ''" src="{{environment.ruta}}IMAGENES/PRODUCTOS/{{Imagen}}" style="-moz-border-radius: 50px;border-radius: 36px;height: 120px; max-width: 100%;"> -->
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="invoice-detail-table table-ver">
                    <tbody>
                      <tr>
                        <td>
                          <strong>Código Expediente</strong>
                          <p>{{ Datos.Codigo_Cum }}</p>
                          <!-- <p *ngIf="Codigo_Cum==''"> No Tiene Registro</p> -->
                        </td>
                        <td>
                          <strong>Presentación</strong>
                          <p>{{ Datos.Presentacion }}</p>
                          <!-- <p *ngIf="Presentacion==''"> No Tiene Registro</p> -->
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Referencia</strong>
                          <p>{{ Datos.Referencia }}</p>
                          <!-- <p *ngIf="Referencia==''"> No Tiene Registro</p> -->
                        </td>
                        <td>
                          <strong>Código de barras</strong>
                          <p>{{ Datos.CodigoBarras }}</p>
                          <!-- <p *ngIf="CodigoBarras==''"> No Tiene Registro</p> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="width: 100%">
        <div class="table-responsive">
          <table class="invoice-detail-table table-ver">
            <tbody>
              <tr>
                <td colspan="4">
                  <strong>Nombre Invima</strong>
                  <p>{{ Datos.NombreComercial }}</p>
                  <p *ngIf="Datos.NombreComercial == ''">No Tiene Registro</p>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Invima</strong>
                  <p>{{ Datos.Invima }}</p>
                  <p *ngIf="Datos.Invima == ''">No Tiene Registro</p>
                </td>
                <td>
                  <strong>Embalaje</strong>
                  <p>{{ Datos.Embalaje }}</p>
                  <p *ngIf="Datos.Embalaje == ''">No Tiene Registro</p>
                </td>
                <td>
                  <strong>Nombre Inglés</strong>
                  <p>{{ Datos.NombreListado }}</p>
                  <p *ngIf="Datos.NombreListado == ''">No Tiene Registro</p>
                </td>
                <td>
                  <strong>Laboratorio</strong>
                  <p>{{ Datos.LaboratorioComercial }}</p>
                  <p *ngIf="Datos.LaboratorioComercial == ''">
                    No Tiene Registro
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Cantidad</strong>
                  <p>{{ Datos.Cantidad }}</p>
                  <p *ngIf="Datos.Cantidad == ''">No Tiene Registro</p>
                </td>
                <td>
                  <strong>Unidad De Medida</strong>
                  <p>{{ Datos.UnidadMedida }}</p>
                  <p *ngIf="Datos.UnidadMedida == ''">No Tiene Registro</p>
                </td>
                <td colspan="2">
                  <strong>Via De Administracion</strong>
                  <p>{{ Datos.ViaAdministracion }}</p>
                  <p *ngIf="Datos.ViaAdministracion == ''">No Tiene Registro</p>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Cant. Min</strong>
                  <p>{{ Datos.CantidadMinima }}</p>
                  <p *ngIf="Datos.CantidadMinima == ''">No Tiene Registro</p>
                </td>
                <td>
                  <strong>Cant. Max</strong>
                  <p>{{ Datos.CantidadMaxima }}</p>
                  <p *ngIf="Datos.CantidadMaxima == ''">No Tiene Registro</p>
                </td>
                <td>
                  <strong>Precio Min</strong>
                  <p>{{ Datos.PrecioMinimo }}</p>
                  <p *ngIf="Datos.PrecioMinimo == ''">No Tiene Registro</p>
                </td>
                <td>
                  <strong>Precio Max</strong>
                  <p>{{ Datos.PrecioMaximo }}</p>
                  <p *ngIf="Datos.PrecioMaximo == ''">No Tiene Registro</p>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Tipo Regulación</strong>
                  <p>{{ Datos.TipoRegulacion }}</p>
                  <p *ngIf="Datos.TipoRegulacion == ''">No Tiene Registro</p>
                </td>
                <td>
                  <strong>Tipo POS</strong>
                  <p>{{ Datos.TipoPos }}</p>
                  <p *ngIf="Datos.TipoPos == ''">No Tiene Registro</p>
                </td>
                <td colspan="2">
                  <strong>Subcategoria</strong>
                  <p>{{ Datos.Subcategoria }}</p>
                  <p *ngIf="Datos.Subcategoria == ''">No Tiene Registro</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal-basic>

<swal #confirmacionSwal title="" text="" html="" icon=""></swal>
<swal
  #deleteSwal
  title="Producto Eliminado"
  text="Se ha Eliminado Correctamente el Producto"
  icon="success"
>
</swal>
