<div class="container" *ngIf="mostrarCalculo; else notData">

    <app-resumen-provisiones [provisionesDatos]="provisionesDatos"></app-resumen-provisiones>

    <p *ngIf="funcionario.contractultimate.transport_subsidy">
        <small>Se incluye el Subsidio de transporte en la Base para cesantías y prima,
            ya que el empleado tiene configurado este auxilio y su salario es menor
            de 2MMLV.</small>
    </p>

    <app-base-calculo [funcionario]="funcionario" [base]="provisionesDatos.base_cesantias"
        [title]="'Cálculo Base cesantías,intereses a las cesantías'" [icon]="'iconsmind-Coins-3'">
    </app-base-calculo>

    <app-base-calculo [funcionario]="funcionario" [base]="provisionesDatos.base_prima" [title]="'Cálculo Base prima'"
        [icon]="'iconsmind-Christmas-Tree'">
    </app-base-calculo>

    <app-base-calculo [funcionario]="funcionario" [base]="provisionesDatos.base_vacaciones"
        [title]="'Cálculo Base vacaciones'" [icon]="'iconsmind-Palm-Tree'">
    </app-base-calculo>

    <app-dias-vacaciones [diasVacaciones]="provisionesDatos.dias_vacaciones"></app-dias-vacaciones>
</div>

<ng-template #notData>
    <app-not-data [loading]="!mostrarCalculo" [text]="'Sin Datos'"></app-not-data>
</ng-template>