p small {
    font-size: 13px;
    font-weight: bold;
    color: rgba(31, 29, 29, 0.911);
  }
  .fila-total {
    background-color: #eeeeee;
    font-weight: bold;
    color: #1b1a1a;
  }
  .fila-vacia {
    height: 1.5rem;
  }
  p i {
    font-size: 26px;
  }