<app-modal-basic #modalGenerico [dialogClass]="'modal-xl'">
  <div class="app-modal-header">
    <h4 class="modal-title">Activo Fijo</h4>
    <button type="button" class="close basic-close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="form">
      <!-- <input type="hidden" class="form-control"> -->

      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label>Nombre</label>
            <input
              type="text"
              class="form-control"
              formControlName="Nombre_Comercial"
            />
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Codigo de Barras</label>
            <input
              type="text"
              class="form-control"
              formControlName="Codigo_Barras"
            />
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Tipo Activo</label>

            <select
              class="form-control"
              required
              formControlName="Id_Tipo_Activo_Fijo"
            >
              <option value="" selected>Seleccione tipo</option>
              <option
                *ngFor="let ta of TipoActivos"
                [value]="ta.Id_Tipo_Activo_Fijo"
              >
                {{ ta.Nombre_Tipo_Activo }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Referencia</label>
            <input
              type="text"
              class="form-control"
              formControlName="Referencia"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Categoria</label>
            <ng-select
              formControlName="Id_Categoria"
              [items]="Categorias"
              bindLabel="text"
              (change)="getSubCategories($event.value)"
              bindValue="value"
              loadingText="loading"
              ngDefaultControl
            >
            </ng-select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Subcategoría</label>NULL
            <ng-select
              formControlName="Id_Subcategoria"
              [items]="SubCategorias"
              bindLabel="text"
              (change)="getDinamicField($event.value)"
              bindValue="value"
              loadingText="loading"
              ngDefaultControl
            >
            </ng-select>
          </div>
        </div>

        <ng-container formArrayName="dynamic">
          <ng-container
            *ngFor="let item of fieldDinamic.controls; let i = index"
          >
            <div class="col-md-3" [formGroupName]="i">
              <label for="">{{
                item["controls"]["label"]["value"] | titlecase
              }}</label>
              <input
                class="form-control form-control-sm"
                [type]="item['controls']['type']['value']"
                formControlName="valor"
              />
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Descripcion</label>
            <textarea
              type="text"
              class="form-control"
              formControlName="Descripcion_ATC"
            ></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="text-right">
      <button
        type="button"
        class="btn btn-default btn-sm"
        (click)="closeModal()"
      >
        Cancelar
      </button>
      <button
        type="button"
        class="btn btn-primary btn-sm"
        [swal]="{
          title: '¿Está Seguro?',
          text: 'Se dispone a Guardar este Generico',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Si, Guardar',
          cancelButtonText: 'No,Dejame Comprobar!'
        }"
        (confirm)="saveGeneric()"
      >
        Guardar
      </button>
    </div>
  </div>
</app-modal-basic>

<div class="row mt-2">
  <div class="col-12">
    <div class="card">
      <div class="card-header text-right">
        <button
          type="button"
          class="pull-right btn btn-success btn-sm"
          (click)="modalGenerico.show()"
          style="margin-right: 5px !important"
        >
          <i class="fa fa-plus"></i> Agregar Activo Fijo
        </button>
      </div>
      <div class="card-body">
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Codigo de Barras</th>
              <th>Referencia</th>
              <th>Categoria</th>
              <th>Subcategoría</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="actives.length && !loading; else notData">
              <tr *ngFor="let active of actives">
                <td>{{ active.Nombre }}</td>
                <td>{{ active.Codigo_Barras }}</td>
                <td>{{ active.Codigo_Barras }}</td>
                <td>{{ active.Categoria }}</td>
                <td>{{ active.Subcategoria }}</td>
                <td>
                  <i
                    (click)="editGeneric(active)"
                    class="fa fa-eye text-primary"
                  ></i>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <ngb-pagination
          class="d-flex justify-content-center pagination-rounded pagination-sm"
          [collectionSize]="pagination.collectionSize"
          (pageChange)="getActives($event)"
          [pageSize]="pagination.pageSize"
          [(page)]="pagination.page"
          aria-label="Default pagination"
          maxSize="5"
          rotate="true"
          ellipses="false"
          boundaryLinks="true"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>

<ng-template #notData>
  <tr>
    <td colspan="100%">
      <app-not-data [loading]="loading"></app-not-data>
    </td>
  </tr>
</ng-template>
