<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Tipos de documento</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button
            class="btn btn-primary btn-sm"
            (click)="openConfirm(add, 'Nuevo tipo de documento')"
          >
            <i class="fa fa-plus"></i> Agregar
          </button>
          <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input
              type="text"
              matInput
              [(ngModel)]="filtro.name"
              (input)="getDocumentTypes()"
              name="name"
              autocomplete="off"
              placeholder="Busca por nombre"
            />
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="!loading && documents.length > 0; else notData"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Código</th>
            <th>Nombre</th>
            <th>Código DIAN</th>
            <th><i class="mdi mdi-chevron-down"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let document of documents"
            [ngClass]="{
              'text-danger font-weight-bold': document.status === 'Inactivo'
            }"
          >
            <td class="align-middle">{{ document.code }}</td>
            <td class="align-middle">{{ document.name }}</td>
            <td class="align-middle">{{ document.dian_code }}</td>
            <td class="align-middle">
              <div ngbDropdown container="body" class="dropdown-primary">
                <button
                  ngbDropdownToggle
                  class="btn btn-primary btn-sm"
                  type="button"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a
                    class="dropdown-item text-info"
                    href="javascript: void(0);"
                    (click)="
                      getData(document);
                      openConfirm(add, 'Actualizar tipo de documento')
                    "
                    ><i class="fas fa-edit"></i> Editar</a
                  >
                  <a
                    *ngIf="document.status == 'Activo'"
                    href="javascript: void(0);"
                    class="dropdown-item text-danger"
                    (click)="activateOrInactivate(document, 'Inactivo')"
                  >
                    <i class="fas fa-trash-alt"></i> Anular</a
                  >
                  <a
                    *ngIf="document.status == 'Inactivo'"
                    href="javascript: void(0);"
                    class="dropdown-item text-success"
                    (click)="activateOrInactivate(document, 'Activo')"
                  >
                    <i class="fas fa-check"></i> Activar</a
                  >
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ngb-pagination
    class="d-flex justify-content-center pagination-rounded pagination-sm"
    [collectionSize]="pagination.collectionSize"
    [pageSize]="pagination.pageSize"
    [(page)]="pagination.page"
    (pageChange)="getDocumentTypes($event)"
    aria-label="Default pagination"
    maxSize="5"
    rotate="true"
    ellipses="false"
    boundaryLinks="true"
    rotate="true"
    ellipses="false"
    boundaryLinks="true"
  >
  </ngb-pagination>
</div>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">{{ selected }}</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field appearance="outline" class="col">
          <mat-label>Cógido</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa el código"
            formControlName="code"
            name="name"
            maxlength="5"
            autocomplete="off"
            required
          />
          <mat-error *ngIf="code_invalid">Es necesario el código</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col">
          <mat-label>Código DIAN</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ingresa el código DIAN"
            maxlength="5"
            formControlName="dian_code"
            autocomplete="off"
            required
          />
          <mat-error *ngIf="dian_code_invalid"> Campo obligatorio </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa el nombre"
            formControlName="name"
            name="name"
            autocomplete="off"
            required
          />
          <mat-error *ngIf="name_invalid">Es necesario el nombre</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      [disabled]="!form.valid"
      (click)="createNewDocument()"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
