<div class="card">
    <div class="card-body">
        <div class="card-title d-flex justify-content-between">
            <h4 class="text-primary">APU's</h4>
            <div class="btn-group rounded">
                <button class="btn btn-primary btn-sm" type="button" style="float: right;"
                    [routerLink]="['/crm/apu/crear-apu-pieza']">
                    <i class="fa fa-plus"></i> Pieza
                </button>
                <button class="btn btn-primary btn-sm" type="button" style="float: right;"
                    [routerLink]="['/crm/apu/crear-apu-conjunto']">
                    <i class="fa fa-plus"></i> Conjunto
                </button>
                <button class="btn btn-primary btn-sm" type="button" style="float: right;"
                    [routerLink]="['/crm/apu/crear-apu-servicio']">
                    <i class="fa fa-plus"></i> Servicio
                </button>
                <button class="btn btn-secondary btn-sm" style="float: right;" (click)="openClose()">
                    <i class="fas fa-eye"></i>
                </button>
            </div>
        </div>
        <hr class="line">
        <mat-accordion multi #firstAccordion="matAccordion">
            <mat-expansion-panel class="mat-elevation-z0">
                <section class="d-flex justify-content-between mx-1">
                    <mat-checkbox color="primary" [(ngModel)]="checkTipo">Tipo</mat-checkbox>
                    <mat-checkbox color="primary" [(ngModel)]="checkNombre">Nombre</mat-checkbox>
                    <mat-checkbox color="primary" [(ngModel)]="checkCliente">Cliente</mat-checkbox>
                    <mat-checkbox color="primary" [(ngModel)]="checkDestino">Destino</mat-checkbox>
                    <mat-checkbox color="primary" [(ngModel)]="checkLinea">Linea</mat-checkbox>
                    <mat-checkbox color="primary" [(ngModel)]="checkQuien">Quien elabora</mat-checkbox>
                    <mat-checkbox color="primary" [(ngModel)]="checkFecha">Fecha</mat-checkbox>
                </section>
            </mat-expansion-panel>
        </mat-accordion>
        <table class="table table-bordered table-striped table-sm" style="font-size: small;"
            *ngIf="!loading && apus.length > 0; else notData">
            <thead>
                <tr class="text-center text-uppercase">
                    <th *ngIf="checkTipo">Tipo</th>
                    <th *ngIf="checkNombre">Nombre</th>
                    <th *ngIf="checkCliente">Cliente</th>
                    <th *ngIf="checkDestino">Destino</th>
                    <th *ngIf="checkLinea">Linea</th>
                    <th *ngIf="checkQuien">Quien Elabora</th>
                    <th *ngIf="checkFecha">Fecha de Creación</th>
                    <th class="col-md-1">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of apus" class="text-center">
                    <td class="align-middle" *ngIf="checkTipo"> {{ item.type_name }} </td>
                    <td class="align-middle" *ngIf="checkNombre"> {{ item.name }} </td>
                    <td class="align-middle" *ngIf="checkCliente"> {{ item.custumer }} </td>
                    <td class="align-middle" *ngIf="checkDestino"> {{ item.city }} </td>
                    <td class="align-middle" *ngIf="checkLinea"> {{ item.line }} </td>
                    <td class="align-middle" *ngIf="checkQuien"> {{ item.person }} </td>
                    <td class="align-middle" *ngIf="checkFecha"> {{ item.created_at | date: 'longDate' }} </td>
                    <td class="align-middle">
                        <div class="text-center">
                            <div ngbDropdown class="dropdown-primary">
                                <button ngbDropdownToggle class="btn btn-primary btn-sm waves-effect waves-light "
                                    type="button">
                                    <i class="mdi mdi-chevron-down"></i>
                                </button>
                                <div ngbDropdownMenu>
                                    <a *ngIf="item.type == 'S'"
                                        class="dropdown-item waves-light text-dark waves-effect caja-botones"
                                        [routerLink]="['/crm/apu/ver-apu-servicio', item.apu_id]">
                                        <i class="far fa-eye"></i> Ver
                                    </a>
                                    <a *ngIf="item.type == 'P'"
                                        class="dropdown-item waves-light text-dark waves-effect caja-botones"
                                        [routerLink]="['/crm/apu/ver-apu-pieza', item.apu_id]">
                                        <i class="far fa-eye"></i> Ver
                                    </a>
                                    <a *ngIf="item.type == 'C'"
                                        class="dropdown-item waves-light text-dark waves-effect caja-botones"
                                        [routerLink]="['/crm/apu/ver-apu-conjunto', item.apu_id]">
                                        <i class="far fa-eye"></i> Ver
                                    </a>
                                    <a *ngIf="item.type == 'S'"
                                        class="dropdown-item waves-light text-info waves-effect caja-botones"
                                        [routerLink]="['/crm/apu/editar-apu-servicio', item.apu_id]">
                                        <i class="far fa-edit"></i> Editar
                                    </a>
                                    <a *ngIf="item.type == 'P'"
                                        class="dropdown-item waves-light text-info waves-effect caja-botones"
                                        [routerLink]="['/crm/apu/editar-apu-pieza', item.apu_id]">
                                        <i class="far fa-edit"></i> Editar
                                    </a>
                                    <a *ngIf="item.type == 'C'"
                                        class="dropdown-item waves-light text-info waves-effect caja-botones"
                                        [routerLink]="['/crm/apu/editar-apu-conjunto', item.apu_id]">
                                        <i class="far fa-edit"></i> Editar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination class="d-flex justify-content-center pagination-rounded pagination-sm"
            [collectionSize]="pagination.collectionSize" (pageChange)="getApus($event)" maxSize="5" rotate="true"
            ellipses="false" boundaryLinks="true" [pageSize]="pagination.pageSize" [(page)]="pagination.page"
            aria-label="Default pagination">
        </ngb-pagination>
    </div>
</div>
<ng-template #notData>
    <app-not-data [loading]="loading"></app-not-data>
</ng-template>