<tbody>
  <tr class="text-center" [ngClass]="{ extra: validada }">
    <td class="col-3 text-left">
      <div class="text-primary font-weight-bold">
        {{ diario.day | uppercase }} - {{ diario.date | date:'longDate' }}
      </div>
      <div
        *ngIf="
          diario.entry_time_one != '' && diario.entry_time_one != undefined
        "
      >
        Turno:
        <b>
          {{ diario.entry_time_one | time }} -
          {{ diario.leave_time_two | time }}
        </b>
      </div>
      <div>
        Real:
        <b *ngIf="hasDay; else descanso">
          {{ diario["0"]["day"].entry_time_one | time }} -
          {{ diario["0"]["day"].leave_time_two | time }}
        </b>
        <ng-template #descanso>
          <b>Descanso</b>
        </ng-template>
      </div>
      <div *ngIf="diario[0] != '' && diario[0] != undefined">
        <img
          src="{{ diario[0].day.img_one | image : 'users' }}"
          onerror="this.src='../../../../assets/images/noprofile.png'"
          class="rounded-circle mx-auto header-profile-user"
        />
        <img
          src="{{ diario[0].day.img_four | image : 'users' }}"
          onerror="this.src='../../../../assets/images/noprofile.png'"
          class="rounded-circle mx-auto header-profile-user"
        />
      </div>
    </td>
    <td class="col-1">
      <div *ngIf="lista.horasTrabajadas != '' && lista.horasTrabajadas != undefined">
        Turno: <b>{{ lista.horasTurno }}</b> horas
        <br />
        Real: <b>{{ lista.horasTrabajadas }}</b> horas
        <br />
        <!-- <a *ngIf="diario.entry_time_one" (click)="modal.show()" title="Editar">
          <i class="fa fa-pencil-alt"></i>
        </a> -->
      </div>
    </td>
    <td class="col-1">
      <input
        type="number"
        min="0"
        name="horas"
        class="form-control"
        placeholder="HED"
        [(ngModel)]="lista.horasExtrasDiurnas"
        disabled="{{validada}}"
      />
    </td>
    <td class="col-1">
      <input
        type="number"
        min="0"
        name="horasExtrasNocturnas"
        class="form-control"
        placeholder="HEN"
        [(ngModel)]="lista.horasExtrasNocturnas"
        disabled="{{validada}}"
      />
    </td>
    <td class="col-1">
      <input
        type="number"
        min="0"
        class="form-control"
        name="recargosNocturnos"
        placeholder="HRN"
        [(ngModel)]="lista.recargosNocturnos"
        disabled="{{validada}}"
      />
    </td>
    <td class="col-1">
      <input
        type="number"
        min="0"
        class="form-control"
        name="horasExtrasDiurnasFestivasDom"
        placeholder="HEDDF"
        [(ngModel)]="lista.horasExtrasDiurnasFestivasDom"
        disabled="{{validada}}"
      />
    </td>
    <td class="col-1">
      <input
        type="number"
        min="0"
        name="recargosFestivos"
        class="form-control"
        placeholder="HRDDF"
        [(ngModel)]="lista.recargosFestivos"
        disabled="{{validada}}"
      />
    </td>
    <td class="col-1">
      <input
        type="number"
        min="0"
        name="horasExtrasNocturnasFestivasDom"
        class="form-control"
        placeholder="HENDF"
        [(ngModel)]="lista.horasExtrasDiurnasFestivasDom"
        disabled="{{validada}}"
      />
    </td>
    <td class="col-1">
      <input
        type="number"
        min="0"
        name="recargosFestivos"
        class="form-control"
        placeholder="HRNDF"
        [(ngModel)]="lista.recargosNocturnosFestivos"
        disabled="{{validada}}"
      />
    </td>
    <td class="col-1">
      <a (click)="guardarReporteDeExtras()" class="toCheck" title="Validar" *ngIf="!validada">
        <i class="fa fa-check-circle"></i>
      </a>
      <div class="text-success font-weight-bold text-muted" *ngIf="validada">
        Validada
      </div>
    </td>
  </tr>
</tbody>

<app-edit-diario-fixed
  (saved)="saved()"
  [diario]="hasDay"
  #modal
></app-edit-diario-fixed>

<!-- <div class="col-md-3">
    <p class="text-primary font-weight-bold m-0 p-0">

      {{ diario.day | uppercase }}
    </p>
    <p
      class="m-0 p-0"
      *ngIf="diario.entry_time_one != '' && diario.entry_time_one != undefined"
    >
      Turno:
      <b>
        {{ diario.entry_time_one | time }} - {{ diario.leave_time_two | time }}
      </b>
    </p>
    <p class="m-0 p-0">
      Real:
      <b *ngIf="hasDay; else descanso">
        {{ diario["0"]["day"].entry_time_one | time }} -
        {{ diario["0"]["day"].leave_time_two | time }}
      </b>
      <ng-template #descanso>
        <b>Descanso</b>
      </ng-template>
    </p>
  </div>
  <div class="col-md-1 text-left">
    <a *ngIf="hasDay" (click)="modal.show()" title="Editar">
      <i class="fa fa-pencil-alt"></i>
    </a>
  </div>
  <div class="col-md-1">
    <p class="pl-4 pt-2">{{ lista.horasTrabajadas }}</p>
  </div>
  <div class="col-md-1">
    <input
      type="number"
      min="0"
      name="horas"
      class="form-control custom-control"
      [(ngModel)]="lista.horasExtrasDiurnas"
    />
  </div>
  <div class="col-md-1">
    <input
      type="number"
      min="0"
      name="horasExtrasNocturnas"
      class="form-control custom-control"
      [(ngModel)]="lista.horasExtrasNocturnas"
    />
  </div>
  <div class="col-md-1">
    <input
      type="number"
      min="0"
      class="form-control custom-control"
      name="horasExtrasDiurnasFestivasDom"
      [(ngModel)]="lista.horasExtrasDiurnasFestivasDom"
    />
  </div>
  <div class="col-md-1">
    <input
      type="number"
      min="0"
      name="horasExtrasNocturnasFestivasDom"
      class="form-control custom-control"
      [(ngModel)]="lista.horasExtrasNocturnasFestivasDom"
    />
  </div>
  <div class="col-md-1">
    <input
      type="number"
      min="0"
      class="form-control custom-control"
      name="recargosNocturnos"
      [(ngModel)]="lista.recargosNocturnos"
    />
  </div>
  <div class="col-md-1">
    <input
      type="number"
      min="0"
      name="recargosFestivos"
      class="form-control custom-control"
      [(ngModel)]="lista.recargosFestivos"
    />
  </div>

  <div class="col-md-1 pr-4 pl-0">
    <a (click)="guardarReporteDeExtras()" class="toCheck" title="Validar">
      <i class="fa fa-check-circle"></i>
    </a>
    <p class="text-success font-weight-bold text-muted" *ngIf="validada">
      Validada
    </p>
  </div> -->
