<div class="card">
  <div class="card-body" *ngIf="!loading && data; else notData">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Ver viático</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <a [routerLink]="['/manufactura/ordenes-produccion/ver/', data.work_order_id]">{{data.work_order?.code}}</a>
      </div>
    </div>
    <hr class="line" />
    <div *ngIf="!loading">
      <app-viaticos-viaje [data]="data"></app-viaticos-viaje>
      <app-hospedaje *ngIf="data.hotels.length"></app-hospedaje>
      <app-transporte-terrestre
        *ngIf="data.transports.length"
      ></app-transporte-terrestre>

      <app-viaticos-taxis
        *ngIf="data.expense_taxi_cities.length"
      ></app-viaticos-taxis>
      <app-viaticos-alimentacion
        *ngIf="data.feedings.length"
        [feedings]="data.feedings"
      ></app-viaticos-alimentacion>
      <app-viaticos-totales [data]="data"></app-viaticos-totales>
    </div>
    <button (click)="download()" class="btn btn-primary btn-block">
      <i class="fas fa-file-download"></i> Descargar
    </button>
  </div>
</div>
<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
