<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a href="/" class="logo">
          <span class="logo-sm">
            <img src="assets/images/logo.png" alt="" height="45" />
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo.png" alt="" height="40" />
          </span>
        </a>
      </div>

      <button
        type="button"
        class="btn btn-sm px-3 font-size-24 d-lg-none header-item"
        (click)="toggleMenubar()"
      >
        <i class="ri-menu-2-line align-middle"></i>
      </button>
    </div>

    <div class="d-flex">
      <!-- Files -->
      <div class="dropdown d-inline-block" ngbDropdown *ngIf="view_folder">
        <button
          type="button"
          ngbDropdownToggle
          class="btn header-item noti-icon waves-effect iconClass"
          id="page-header-notifications-dropdown"
          [routerLink]="['/sst/documentos-gestion/' + folder_permission]"
        >
          <i class="fas fa-folder"></i>
        </button>
      </div>
      <!--Notifications-->
      <div class="dropdown d-inline-block" ngbDropdown>
        <button
          type="button"
          ngbDropdownToggle
          class="btn header-item noti-icon waves-effect iconClass"
          id="page-header-notifications-dropdown"
          (click)="getAlerts()"
        >
          <i class="fas fa-bell"> </i>
          <span class="badge badge-pill badge-danger" *ngIf="count > 0">{{
            count
          }}</span>
        </button>
        <div
          class="dropdown-menu dropdown-menu-lg dropdown-menu-right border border-light"
          ngbDropdownMenu
          aria-labelledby="page-header-notifications-dropdown"
        >
          <div class="card-title">
            <h6 class="text-center text-primary mt-2">Notificaciones</h6>
          </div>
          <div style="max-height: 65vh; overflow-y: auto">
            <ng-container *ngIf="!loading && alerts.length > 0; else notData">
              <div class="list-group list-group-flush">
                <a
                  *ngFor="let notification of alerts"
                  (click)="read(notification)"
                  [routerLink]="notification.url"
                  href="javascript:void(0)"
                  class="list-group-item list-group-item-action flex-column align-items-start"
                  [class]="
                    notification.read_boolean == 0 ? 'active-border' : ''
                  "
                >
                  <div class="d-flex justify-content-between">
                    <div>
                      <i [class]="notification.icon"></i>
                      <b> {{ notification.type }}</b>
                      <div>
                        <small>
                          {{ notification.description }}
                        </small>
                      </div>
                    </div>
                    <img
                      [src]="notification.transmitter.image"
                      alt=""
                      onerror="this.src='../../../../assets/images/noprofile.png'"
                      class="rounded-circle img-fluid header-profile-user"
                    />
                  </div>
                  <div class="d-flex w-100 justify-content-between">
                    <small>{{
                      notification.transmitter.full_names | titlecase
                    }}</small>
                    <small>{{ notification.created_at | date }}</small>
                  </div>
                </a>
              </div>
            </ng-container>
          </div>
          <div class="p-2 border-top">
            <a
              class="btn btn-sm btn-link font-size-14 btn-block text-center"
              href="javascript:void(0)"
              [routerLink]="['/rrhh/alertas-comun', user.person.id]"
            >
              <i class="mdi mdi-arrow-right-circle mr-1"></i> Ver todas
            </a>
          </div>
        </div>
      </div>

      <!--USER-->
      <div class="dropdown d-inline-block user-dropdown" ngbDropdown>
        <button
          type="button"
          ngbDropdownToggle
          class="btn header-item waves-effect"
          id="page-header-user-dropdown"
        >
          <img
            class="rounded-circle header-profile-user"
            onerror="this.src='../../../../assets/images/noprofile.png'"
            [src]="imageProfile"
            alt="Header Avatar"
          />
          <span class="d-none d-xl-inline-block ml-1"
            >{{ user.person.first_name }} {{ user.person.first_surname }}</span
          >
          <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
          <!-- item-->
          <a class="dropdown-item" href="javascript: void(0);"
            ><i class="ri-user-line align-middle mr-1"></i> Perfil</a
          >

          <div class="dropdown-divider"></div>
          <a role="button" class="dropdown-item text-danger" (click)="logout()"
            ><i class="ri-shut-down-line align-middle mr-1 text-danger"></i>
            Cerrar sesión
          </a>
        </div>
      </div>

      <div class="dropdown d-inline-block">
        <button
          type="button"
          class="btn header-item noti-icon right-bar-toggle waves-effect"
          (click)="onSettingsButtonClicked()"
        >
          <i class="fas fa-tasks"></i>
        </button>
      </div>
    </div>
  </div>
</header>

<app-rightsidebar #sideBar></app-rightsidebar>

<ng-template #notData>
  <app-not-data
    [loading]="loading"
    [text]="'Sin notificaciones'"
  ></app-not-data>
</ng-template>

<app-modal-alert #modalAlert> </app-modal-alert>

<!-- <a href="/" class="logo logo-dark">
  <span class="logo-sm">
    <img src="assets/images/logo-sm-dark.svg" alt="" height="40" />
  </span>
  <span class="logo-lg">
    <img src="assets/images/logo-dark.svg" alt="" height="45" />
  </span>
</a> -->

<!-- <a href="/" class="logo logo-light">
  <span class="logo-sm">
    <img src="assets/images/logo-sm-light.svg" alt="" height="45" />
  </span>
  <span class="logo-lg">
    <img src="assets/images/logo-light.svg" alt="" height="40" />
  </span>
</a> -->
<!-- FULL SCREEM

<div class="dropdown d-none d-lg-inline-block ml-1">
  <button
    type="button"
    class="btn header-item noti-icon waves-effect"
    data-toggle="fullscreen"
    (click)="fullscreen()"
  >
    <i class="ri-fullscreen-line"></i>
  </button>
</div>
 -->
