.notification-item {
  cursor: pointer;
}

.iconClass {
  position: relative;
}

.iconClass span {
  position: absolute;
  top: 10px;
  right: 0px;
  display: block;
}

.logo-sm img {
  max-width: 6.5rem;
  object-fit: contain;
}
