.notification-item {
  cursor: pointer;
}

.iconClass {
  position: relative;
}

.iconClass span {
  position: absolute;
  top: 10px;
  right: 0px;
  display: block;
}

.logo-sm img {
  max-width: 6.5rem;
  object-fit: contain;
}

.circular-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #7CA01A;
}

.active-border {
  border-left: green 4px solid;
}