@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/scss/material.scss";

hr.line {
   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, #f0f0f0, #95c11f, #95c11f, #f0f0f0);
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
   z-index: 99999 !important;
}

.cdk-overlay-connected-position-bounding-box {
   z-index: 99999 !important;
}
/* 
.card-horizontal {
   display: flex;
   flex: 1 1 auto;
 } */
