@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/scss/material.scss";

hr.line {
   border: 0;
   height: 1px;
   margin-top: 0px;
   background-image: linear-gradient(to right, #f0f0f0, #95c11f, #95c11f, #f0f0f0);
  }

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
   z-index: 99999 !important;
}

.cdk-overlay-connected-position-bounding-box {
   z-index: 99999 !important;
}

@media (max-width: 800px) {
   .w-sm-100 {
      display: inline-flex;
      width: 100%;
   }
}

* {
   scrollbar-width: thin;
   scrollbar-color: #CBCBCB #FFF;
 }

::-webkit-scrollbar {
   -webkit-appearance: none;
   position: absolute;
}

::-webkit-scrollbar:vertical {
   width: 10px;
}

::-webkit-scrollbar:horizontal {
   height: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: #FFF;
}

::-webkit-scrollbar-thumb {
   background-color: #CBCBCB;
   outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background-color: #909090;
}
.custom-input-file {
   background-color: #24a0ed;
   color: #fff;
   cursor: pointer;
   margin: 0 auto 0;
   min-height: 15px;
   overflow: hidden;
   padding: 10px;
   position: relative;
   text-align: center;
   border-radius: 10px;
}

.custom-input-file .input-file {
  
   cursor: pointer;
   font-size: 10000px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
   right: -1000px;
   top: -1000px;
}