@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');
@import "~bootstrap-select/sass/bootstrap-select.scss";
@import "assets/scss/material.scss";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-layouts/styles/material.css";
@import "../node_modules/@syncfusion/ej2-grids/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-filemanager/styles/material.css";
@import "~saturn-datepicker/bundle.css";
@import "dhtmlx-gantt/codebase/dhtmlxgantt.css";

hr.line {
  border: 0;
  height: 1px;
  margin-top: 0px;
  background-image: linear-gradient(to right, #f0f0f0, #95c11f, #95c11f, #f0f0f0);
}

.mat-filter {
  padding: 0.5rem !important;
  border-bottom: 0px !important;
}

.title-board {
  font-family: 'Kanit', sans-serif;
  text-decoration: underline;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

.cdk-overlay-connected-position-bounding-box {
  z-index: 99999 !important;
}

@media (max-width: 800px) {
  .w-sm-100 {
    display: inline-flex;
    width: 100%;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #CBCBCB #FFF;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  position: absolute;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #FFF;
}

::-webkit-scrollbar-thumb {
  background-color: #CBCBCB;
  outline: 2px solid #FFF;
  outline-offset: -2px;
  border: .1px solid #B7B7B7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}

.custom-input-file {
  background-color: #24a0ed;
  color: #fff;
  cursor: pointer;
  margin: 0 auto 0;
  min-height: 15px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  border-radius: 10px;
}

.custom-input-file .input-file {

  cursor: pointer;
  font-size: 10000px;
  margin: 0;
  opacity: 0;
  outline: 0 none;
  padding: 0;
  position: absolute;
  right: -1000px;
  top: -1000px;
}

.accordion-custom .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  background-color: currentcolor;
  opacity: 0.5;
}

.placeholder.btn::before {
  display: inline-block;
  content: "";
}

.placeholder-xs {
  min-height: 0.6em;
}

.placeholder-sm {
  min-height: 0.8em;
}

.placeholder-lg {
  min-height: 1.2em;
}

.placeholder-xl {
  min-height: 2em;
}

.placeholder-text-area {
  min-height: 8em;
}

.placeholder-glow .placeholder {
  animation: placeholder-glow 2s ease-in-out infinite;
}

@keyframes placeholder-glow {
  50% {
    opacity: 0.2;
  }
}

.placeholder-wave {
  -webkit-mask-image: linear-gradient(130deg,
      #000 55%,
      rgba(0, 0, 0, 0.8) 75%,
      #000 95%);
  mask-image: linear-gradient(130deg,
      #000 55%,
      rgba(0, 0, 0, 0.8) 75%,
      #000 95%);
  -webkit-mask-size: 200% 100%;
  mask-size: 200% 100%;
  animation: placeholder-wave 2s linear infinite;
}

@keyframes placeholder-wave {
  100% {
    -webkit-mask-position: -200% 0%;
    mask-position: -200% 0%;
  }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  height: 15px;
  width: 15px;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  height: 15px;
  width: 15px;
}
