

.b {
    margin-top: 50px;
}
hr.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #95c11f, #95c11f, #f0f0f0);
}
::ng-deep .mat-step-header .mat-step-icon {
    color: white !important;
}