.rounded-circle{
    width: 100px !important;
    height: 100px !important;
}

.info-calculo-general {
    border: 1px solid #b9b3b3;
  }
  /*table {
    border: 1px solid #b9b3b3;
  }*/
  .tab-button {
    padding: 6px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #fff;
    margin-bottom: -1px;
    margin-right: -1px;
    font-weight: 600;
    color: #09151ddf;
  }
  .tab-button:hover {
    background: #e0e0e0;
  }
  .tab-button.active {
    background: #2a93d5;
    color: #f0f0f0;
    font-weight: bold;
  }
  .tab {
    border: 1px solid #ccc;
    padding: 10px;
  }
  #img-funcionario {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #f5f4f4;
  }
  .cargo-funcionario {
    color: #2a93d5;
  }