img {
    width: 100px;
    height: 100px;
    border-radius: 150px;
}

.names {
    font-size: 13px;
}
hr.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #95c11f, #95c11f, #f0f0f0);
}