<div [ngClass]="{ 'display-none': !person.selected }" class="text-center">
  <div class="table-responsive">
    <table
      class="table table-bordered table-striped table-sm mt-2"
      style="font-size: small"
    >
      <thead class="bg-light">
        <tr class="text-center text-uppercase">
          <td class="text-center"><strong>Fecha</strong></td>
          <td class="text-center"><strong>Entrada Turno</strong></td>
          <td class="text-center"><strong>Entrada real</strong></td>
          <td class="text-center"><strong>Tiempo retraso</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let late of person.late_arrivals" class="text-center">
          <td class="text-center">
            <strong>{{ late.created_at | date }}</strong>
          </td>
          <!--        <td class="text-center">
                      <strong>{{late.disability_leave.concept}}</strong>
                  </td> -->
          <!-- <td class="text-center"><strong>{{late.observation}}</strong></td> -->
          <td class="text-center">
            <strong>{{ late.entry }}</strong>
          </td>
          <td class="text-center">
            <strong>{{ late.real_entry }}</strong>
          </td>
          <td class="text-center">
            <strong>{{ late.entry_diff }}</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
