.perfilImage {
    width: 100px;
    height: 100px;
    border-radius: 150px;
}

.iconV {
    font-size: 12px;
}

.botones {
    margin-left: 250px;
}

.ng-select .ng-select-container {
    min-height: 20px;
}

.ng-select.ng-select-single .ng-select-container {
    height: 20px;
}

.names {
    font-size: 13px;
}