<div class="row">
  <div class="col-lg-9">
    <div class="card">
      <div class="card-body">
        <div
          class="row card-title d-flex justify-content-between"
          *ngIf="paginacion"
        >
          <div class="col-md-6 px-0">
            <h4 class="text-primary">
              Contratos<span style="font-size: smaller">
                <small class="pb-2 text-secondary text-muted">
                  pág. {{ paginacion.current_page }}
                </small>
              </span>
            </h4>
          </div>
          <div class="col-md-6 px-0 text-right">
            <div class="btn-group rounded w-sm-100">
              <button class="btn btn-info btn-sm" (click)="openClose()">
                <i class="fas fa-sliders-h"></i> Filtros
              </button>
            </div>
          </div>
        </div>
        <hr class="line" />
        <mat-accordion multi>
          <mat-expansion-panel class="mat-elevation-z0">
            <div class="row">
              <mat-form-field
                class="col"
                appearance="outline"
                *ngIf="companies.length > 1"
              >
                <mat-label>Empresa</mat-label>
                <mat-select
                  [(ngModel)]="filtros.company"
                  (selectionChange)="getAllContracts()"
                  name="empresa"
                >
                  <mat-option
                    *ngFor="let item of companies"
                    [value]="item.value"
                    >{{ item.text }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col" appearance="outline">
                <mat-label>Funcionario</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="filtros.person"
                  (input)="getAllContracts()"
                  name="funcionario"
                  autocomplete="off"
                  placeholder="Busca por funcionario"
                />
              </mat-form-field>
              <mat-form-field class="col" appearance="outline">
                <mat-label>Grupos</mat-label>
                <mat-select
                  [(ngModel)]="filtros.group"
                  (selectionChange)="getAllContracts()"
                  name="group"
                >
                  <mat-option value="">Todos</mat-option>
                  <mat-option
                    *ngFor="let item of groups"
                    [value]="item.value"
                    >{{ item.text }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col" appearance="outline">
                <mat-label>Dependencias</mat-label>
                <mat-select
                  [(ngModel)]="filtros.dependency"
                  (selectionChange)="getAllContracts()"
                  name="dependency"
                >
                  <mat-option value="">Todas</mat-option>
                  <mat-option
                    *ngFor="let item of dependencies"
                    [value]="item.value"
                    >{{ item.text }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col" appearance="outline">
                <mat-label>Cargo</mat-label>
                <mat-select
                  [(ngModel)]="filtros.position"
                  (selectionChange)="getAllContracts()"
                  name="position"
                >
                  <mat-option value="">Todos</mat-option>
                  <mat-option
                    *ngFor="let item of positions"
                    [value]="item.value"
                    >{{ item.text }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="alert alert-info" *ngIf="filtrosActivos" role="alert">
          <strong>
            Hay filtros de búsqueda activos, para mostrar todos los resultados
            haz click
          </strong>
          <a
            href="javascript: void(0)"
            (click)="resetFiltros()"
            class="alert-link"
          >
            aquí
          </a>
        </div>
        <div class="rounded-top table-responsive">
          <table
            class="table table-bordered table-striped table-sm mb-0"
            style="font-size: smaller"
            *ngIf="!loading && contracts.length > 0; else notData"
          >
            <thead class="bg-light">
              <tr class="text-center text-uppercase">
                <th>Código</th>
                <th>Funcionario</th>
                <th>Documento</th>
                <!--  <th>Cargo</th> -->
                <th>Tipo</th>
                <th>F. Inicio</th>
                <th>F. Fin</th>
                <th>F. Fin prueba</th>
                <th>F. Notific.</th>
                <th>Acc</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contract of contracts; let i = index" class="text-center">
                <td class="align-middle">{{ contract.code }}</td>
                <td class="align-middle">
                  <strong>
                    {{ contract.first_name | titlecase }}
                    {{ contract.first_surname | titlecase }}
                  </strong>
                </td>
                <td class="align-middle">
                  {{ contract.identifier }}
                </td>
                <!-- <td>
                  <img
                    alt=""
                    class="rounded-circle avatar-sm"
                    src="{{ contract.image | image: 'users' }}"
                    alt=""
                  />
                </td> -->
                <!--  <td>{{ contract.position }}</td> -->
                <td class="align-middle">{{ contract.work_contract_type }}</td>
                <td class="align-middle">{{ contract.date_of_admission }}</td>
                <td class="align-middle">
                  <span *ngIf="contract.date_end; else notConlcude">
                    {{ contract.date_end }}
                  </span>
                </td>
                <td class="align-middle">
                  <span *ngIf="contract.date_trial; else notConlcude"
                    >{{ contract.date_trial }}
                  </span>
                </td>
                <td class="align-middle">
                  <span *ngIf="contract.date_of_notify; else notConlcude">
                    {{ contract.date_of_notify }}
                  </span>
                </td>
                <td class="align-middle">
                  <div ngbDropdown container="body" class="dropdown-primary">
                    <button
                      ngbDropdownToggle
                      class="btn btn-primary btn-sm waves-light"
                      type="button"
                    >
                      <i class="mdi mdi-chevron-down"></i>
                    </button>
                    <div ngbDropdownMenu>
                      <!--  <a
                          [routerLink]="['/nomina/ver-viatico', item.id]"
                          class="
                            dropdown-item
                            waves-light
                            caja-botones
                          "
                        >
                          <i class="far fa-eye"></i> Ver</a
                        > -->
                      <a
                        type="button"
                        class="dropdown-item text-success waves-light"
                        (click)="download(contract.id, contract)"
                      >
                        <i class="fas fa-download"></i> Descargar
                      </a>
                      <a
                        type="button"
                        class="dropdown-item text-info waves-light"
                        [routerLink]="[
                          '/ajustes/informacion-base/funcionario/',
                          contract.id
                        ]"
                      >
                        <i class="fas fa-address-card"></i> Ver perfil
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          *ngIf="paginacion"
          [length]="paginacion.total"
          [pageSize]="paginacion.per_page"
          [pageIndex]="paginacion.current_page - 1"
          (page)="handlePageEvent($event)"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body px-0">
        <h5 class="text-center text-primary">Por vencer</h5>
        <hr class="line" />
        <div
          *ngIf="
            !contractData && contractsToExpire.length > 0;
            else notDataPorVencer
          "
        >
          <div class="list-group list-group-flush rounded">
            <a
              *ngFor="let contractToExpire of contractsToExpire"
              href="javascript:void(0)"
              class="list-group-item list-group-item-action flex-column align-items-start"
            >
              <div class="d-flex w-100 justify-content-between">
                <div class="mb-1">
                  {{ contractToExpire.first_name }}
                  {{ contractToExpire.first_surname }}
                </div>
                <div>
                  <img
                    [src]="contractToExpire.image | image"
                    onerror="this.src='../../../../assets/images/noprofile.png'"
                    class="rounded-circle mx-auto img-fluid header-profile-user"
                  />
                </div>
              </div>
              <small class="text-muted">{{ contractToExpire.date_end }}</small>
            </a>
          </div>
        </div>
        <mat-paginator
          *ngIf="paginacion2 && !contractData && contractsToExpire.length > 0"
          [length]="paginacion2.total"
          [pageSize]="paginacion2.per_page"
          hidePageSize="true"
          [pageIndex]="paginacion2.current_page - 1"
          (page)="handlePageEvent2($event)"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
    <!--   <div class="card">
      <div class="card-body">
        <h6 class="text-center">Periodo de prueba</h6>
        <table>
          <div class="row mt-3 mb-3">
            <td
              class="mt-3 mb-3"
              *ngFor="let contractTrial of contractsTrialPeriod"
            >
              <p class="w-40 w-xs-100 mb-0 d-flex align-items-center">
                <span class="font-weight-bold ml-2" style="height: 40px">
                  {{ contractTrial.names }}<br />
                  <small>
                    {{ contractTrial.dates }}
                  </small>
                </span>
              </p>
            </td>
          </div>
        </table>
      </div>
    </div> -->
  </div>
</div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
<ng-template #notDataPorVencer>
  <app-not-data [loading]="contractData"></app-not-data>
</ng-template>
<ng-template #image>
  <img width="100%" src="../../../../assets/images/contratos.png" alt="" />
</ng-template>
<ng-template #notConlcude>
  <span>No aplica</span>
</ng-template>
