<ng-container *ngIf="!loading; else notData">
  <div class="row card-title d-flex justify-content-between">
    <div class="col-md-6 px-0">
      <h5 class="text-primary">Listado de entregas de dotación y EPP</h5>
    </div>
    <div class="col-md-6 px-0 text-right">
      <div class="btn-group rounded w-sm-100">
        <button
          class="btn btn-primary btn-sm"
          (click)="configEntrega('Dotacion')"
        >
          <!-- ;openConfirm(add, 'Dotacion') ;openConfirm(add,'EPP')-->
          <i class="fa fa-plus"></i> Dotación
        </button>
        <button class="btn btn-primary btn-sm" (click)="configEntrega('EPP')">
          <i class="fa fa-plus"></i> EPP
        </button>
        <button class="btn btn-sm btn-primary" (click)="downloadDeliveries()">
          <i class="fas fa-file-download"></i>
          <span *ngIf="!donwloading; else status"> Descargar</span>
          <ng-template #status>
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Generando...
          </ng-template>
        </button>
        <button class="btn btn-info btn-sm" (click)="openClose()">
          <i class="fas fa-sliders-h"></i> Filtros
        </button>
      </div>
    </div>
  </div>
  <hr class="line" />
  <mat-accordion multi>
    <mat-expansion-panel class="mat-elevation-z0">
      <div class="row">
        <div class="col-md-3 mb-4">
          <ng-select
            [items]="people"
            [(ngModel)]="people_id"
            name="Person"
            id="person"
            appearance="outline"
            [appendTo]="'body'"
            placeholder="Funcionario entrega"
            bindLabel="text"
            bindValue="value"
            ngDefaultControl
          >
          </ng-select>
        </div>
        <div class="col-md-3 mb-4">
          <ng-select
            [items]="people"
            [(ngModel)]="people_id_two"
            name="PersonTwo"
            id="persontwo"
            bindLabel="text"
            bindValue="value"
            appearance="outline"
            [appendTo]="'body'"
            placeholder="Funcionario recibe"
            ngDefaultControl
          >
          </ng-select>
        </div>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Código</mat-label>
          <input
            matInput
            type="text"
            placeholder="Busca por código"
            [(ngModel)]="cod"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Tipo</mat-label>
          <mat-select name="Tipo" id="tipo" [(ngModel)]="type" required>
            <mat-option value="">Todos</mat-option>
            <mat-option value="Dotacion">Dotacion</mat-option>
            <mat-option value="EPP">EPP</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select name="Estado" id="estado" [(ngModel)]="delivery" required>
            <mat-option value="">Todos</mat-option>
            <mat-option value="Pendiente">Pendiente</mat-option>
            <mat-option value="Anulado">Anulado</mat-option>
            <mat-option value="Aprobado">Aprobado</mat-option>
            <mat-option value="Entregado">Entregado</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Fecha de inicio</mat-label>
          <input
            matInput
            type="date"
            [(ngModel)]="firstDay"
            id="Fecha_Inicio"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Fecha de fin</mat-label>
          <input
            matInput
            type="date"
            [(ngModel)]="lastDay"
            id="Fecha_Fin"
            autocomplete="off"
          />
        </mat-form-field>
        <div class="col-md-12 mb-2">
          <button
            class="btn btn-sm btn-primary btn-block"
            (click)="ListarDotaciones(); listarTotales(); Graficar()"
          >
            <i class="fas fa-search"></i>
            Buscar
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="rounded-top table-responsive">
    <table
      class="table table-bordered table-striped table-sm"
      
      *ngIf="!loading && Lista_Dotaciones.length > 0; else notDataTable"
    >
      <thead class="bg-light">
        <tr class="text-center text-uppercase">
          <th class="align-middle">Código</th>
          <th class="align-middle">Tipo</th>
          <th class="align-middle">Fecha</th>
          <th class="align-middle">Funcionario Entrega</th>
          <th class="align-middle">Funcionario Recibe</th>
          <th class="align-middle">Detalles</th>
          <th class="align-middle">Artículos</th>
          <th class="align-middle">Valor</th>
          <th class="align-middle">Estado</th>
          <th class="align-middle">Estado Entrega</th>
          <th class="align-middle">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of Lista_Dotaciones"
          class="text-center"
          [ngClass]="{
            'text-danger font-weight-bold': item.state == 'Anulada'
          }"
        >
          <td class="align-middle">{{ item.delivery_code }}</td>
          <td class="align-middle">{{ item.type }}</td>
          <td class="align-middle">{{ item.created_at | date: "dd/MM/yyyy" }}</td>
          <td class="align-middle">{{ item.entrega }}</td>
          <td class="align-middle">{{ item.recibe }}</td>
          <td class="align-middle">{{ item.description }}</td>
          <td class="align-middle">
            <div class="articulos-table">
              {{ item.product_name }}
            </div>
          </td>
          <td class="align-middle">${{ item.total | number | puntos }}</td>
          <td class="align-middle">
            <span>{{ item.state }}</span>
          </td>
          <td class="align-middle">
            <span>{{ item.delivery_state }}</span>
          </td>
          <td class="align-middle">
            <div ngbDropdown container="body" class="dropdown-primary">
              <button
                ngbDropdownToggle
                class="btn btn-primary btn-sm waves-light"
                type="button"
              >
                <i class="mdi mdi-chevron-down"></i>
              </button>
              <div ngbDropdownMenu>
                <a
                  *ngIf="item.state != 'Anulada'"
                  class="dropdown-item text-danger waves-light caja-botones"
                  (click)="anularDotacion(item.id)"
                >
                  <i class="fa fa-times"></i> Anular
                </a>
                <a
                  *ngIf="item.delivery_state == 'Pendiente'"
                  class="dropdown-item text-success waves-light caja-botones"
                  (click)="aprobarDotacion(item.id)"
                >
                  <i class="far fa-thumbs-up"></i> Aprobar
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ngb-pagination
    maxSize="5"
    [collectionSize]="pagination.collectionSize"
    (pageChange)="ListarDotaciones($event)"
    [pageSize]="pagination.pageSize"
    class="d-flex justify-content-center pagination-rounded pagination-sm"
    [(page)]="pagination.page"
    aria-label="Default pagination "
  >
  </ngb-pagination>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h5 class="text-center text-primary">Montos totales</h5>
      <div class="row text-center mt-2">
        <div class="col-md-6 costo">
          <i class="fas fa-dollar-sign"></i>
          <p class="card-text mb-0">Costos total</p>
          <h5 class="mb-1">$ {{ Totales | number | puntos }}</h5>
        </div>
        <div class="col-md-6 costo">
          <i class="fas fa-hand-holding-heart"></i>
          <p class="card-text mb-0"># Entregas realizadas</p>
          <h5>{{ CantidadTotal | number | puntos }}</h5>
        </div>
      </div>
      <div class="row text-center mt-2">
        <div class="col-md-6 costo">
          <i class="fas fa-street-view"></i>
          <p class="card-text mb-0"># Dotaciones totales</p>
          <h5 class="mb-1">{{ TotalesDotaciones | number | puntos }}</h5>
        </div>

        <div class="col-md-6 costo">
          <i class="fas fa-user-shield"></i>
          <p class="card-text mb-0"># EPP totales</p>
          <h5>{{ totalEpp | number | puntos }}</h5>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h5 class="text-center text-primary">Dotación y EPP's por categorías</h5>
      <div #dotacion_chart>
        <canvas
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        >
        </canvas>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #notDataTable>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title"></h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-table-stock
      #tablestock
      [name]="nombre"
      [type]="flagDotacionApp"
      [entrega]="true"
      [find]="false"
      (closeModal)="closeModal()"
    ></app-table-stock>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-default"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
  </div>
</ng-template>

<app-modal-basic #modalEntrega [dialogClass]="'modal-lg'">
  <div class="app-modal-body">
    <div class="row">
      <div class="col-md-12">
        <app-table-stock
          #tablestock
          [name]="nombre"
          [type]="flagDotacionApp"
          [entrega]="true"
          [find]="false"
          (closeModal)="closeModal()"
        ></app-table-stock>
      </div>
    </div>
  </div>
</app-modal-basic>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>

<!-- <tr>
  <th class="align-middle" class="tabla-filtro">
    <input
      style="height: 36px"
      type="text"
      [(ngModel)]="filtros.cod"
      (change)="ListarDotaciones()"
      class="form-control form-control-sm"
      placeholder="Filtro Cod."
    />
  </th>
  <th class="align-middle" class="tabla-filtro">
    <select
      style="height: 36px"
      name="Tipo"
      id="tipo"
      (change)="ListarDotaciones()"
      class="form-control form-control-sm"
      [(ngModel)]="filtros.type"
      required
    >
      <option value="" disabled selected>Seleccionar</option>
      <option value="">Todos</option>
      <option value="Dotacion">Dotacion</option>
      <option value="EPP">EPP</option>
    </select>
  </th>

  <th class="align-middle" class="tabla-filtro" style="max-width: 100px; width: 200px !important">
    <my-date-range-picker
      name="mydaterange"
      [options]="myDateRangePickerOptions"
      (dateRangeChanged)="dateRangeChanged($event)"
      placeholder="Filtro Fechas"
    ></my-date-range-picker>
  </th>

  <th class="align-middle">
    <ng-select
      [items]="people"
      [(ngModel)]="filtros.entrega"
      (change)="ListarDotaciones()"
      bindLabel="text"
      bindValue="value"
    >
    </ng-select>
  </th>

  <th class="align-middle">
    <ng-select
      [items]="people"
      [(ngModel)]="filtros.recibe"
      (change)="ListarDotaciones()"
      bindLabel="text"
      bindValue="value"
    >
    </ng-select>
  </th>

  <th class="align-middle">
    <input
      style="height: 36px"
      type="text"
      [(ngModel)]="filtros.description"
      (change)="ListarDotaciones()"
      class="form-control form-control-sm"
      placeholder="Filtro Detalles"
    />
  </th>

  <th class="align-middle">
    <input
      style="height: 36px"
      type="text"
      [(ngModel)]="filtros.name"
      (change)="ListarDotaciones()"
      class="form-control form-control-sm"
      placeholder="Filtro Art."
    />
  </th>

  <th class="align-middle"></th>
  <th class="align-middle"></th>
  <th class="align-middle" class="tabla-filtro">
    <select
      style="height: 36px"
      name="Tipo"
      id="tipo"
      (change)="ListarDotaciones()"
      class="form-control form-control-sm"
      [(ngModel)]="filtros.delivery"
      required
    >
      <option value="" disabled selected>Seleccionar</option>
      <option value="">Todos</option>
      <option value="Pendiente">Pendiente</option>
      <option value="Anulado">Anulado</option>
      <option value="Aprobado">Aprobado</option>
      <option value="Entregado">Entregado</option>
    </select>
  </th>
</tr>
 -->

<!-- <div class="col-md-2">
  <div class="form-group">
    <label class="custom-label">Articulo</label>
    <input
      style="height: 36px"
      type="text"
      name="Art"
      id="art"
      [(ngModel)]="art"
      class="form-control form-control-sm"
      placeholder="Filtro Art."
    />
  </div>
</div>
 -->
