hr.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #232247, #232247, #f0f0f0);
}

.display-none {
    display: none;
}

.costo i {
    font-size: 60px;
    line-height: 66px;
    color: #2a93d5;
}