<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Asignación de horarios</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button
            class="btn btn-primary btn-sm"
            (click)="openModal(historyModal)"
          >
            <i class="fas fa-history"></i> Historial
          </button>
          <button class="btn btn-info btn-sm" (click)="matPanel.toggle()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion>
      <mat-expansion-panel #matPanel class="mat-elevation-z0">
        <form [formGroup]="formFilters" (ngSubmit)="makeRequestBySemana()">
          <div class="row">
            <mat-form-field class="col" appearance="outline">
              <mat-label>Grupo</mat-label>
              <mat-select
                formControlName="group_id"
                (selectionChange)="makeRequestBySemana()"
              >
                <mat-option
                  *ngFor="let group of groupList"
                  [value]="group.value"
                >
                  {{ group.text }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col" appearance="outline">
              <mat-label>Dependencia</mat-label>
              <mat-select
                formControlName="dependency_id"
                (selectionChange)="makeRequestBySemana()"
              >
                <mat-option
                  *ngFor="let dependency of dependencyList"
                  [value]="dependency.value"
                >
                  {{ dependency.text }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col" appearance="outline">
              <mat-label>Funcionario</mat-label>
              <input
                matInput
                type="text"
                placeholder="Busca por funcionario"
                formControlName="person"
                (input)="makeRequestBySemana()"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="col">
              <mat-label>Semana</mat-label>
              <input
                matInput
                [satDatepicker]="pickerDate"
                [value]="date"
                (dateChange)="selectedDate($event)"
                name="daterange"
                autocomplete="off"
              />
              <sat-datepicker #pickerDate [rangeMode]="true"></sat-datepicker>
              <sat-datepicker-toggle
                matSuffix
                [for]="pickerDate"
              ></sat-datepicker-toggle>
            </mat-form-field>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
    <h5>
      <span class="badge badge-pill badge-warning"
        >Semana del {{ startWeek | date }} al {{ endWeek | date }}</span
      >
    </h5>
    <ng-container *ngIf="datosGenerales.length > 0 && !loading; else notData">
      <ng-container *ngFor="let company of datosGenerales">
        <ng-container *ngFor="let group of company.groups">
          <ng-container *ngFor="let dependency of group.dependencies">
            <h6 class="text-center text-uppercase text-primary">
              {{ group.name }} - {{ dependency.name }}
            </h6>
            <app-semana-turno
              [people]="dependency.people"
              [turnosRotativos]="turns"
              [diaInicial]="diaInicialSemana"
              [changeWeek]="changeWeek"
              [diaFinal]="diaFinalSemana"
            ></app-semana-turno>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>

<ng-template #historyModal let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Historial de cambios</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="_modal.close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="rounded-top table-responsive">
      <table
        class="table table-sm"
        *ngIf="!loadingHistory && history?.length > 0; else notDataHistory"
      >
        <tbody>
          <ng-container *ngFor="let item of history; let i = index">
            <tr
              class="text-center"
              role="button"
              (click)="item.show = !item.show"
            >
              <td>{{ item?.created_at | date : "MMM d, y, h:mm:ss a" }}</td>
              <td>{{ item?.person.full_names | uppercase }}</td>
              <td class="col-1">
                <i
                  [ngClass]="item.show ? 'fa-angle-up' : 'fa-angle-down'"
                  class="fas text-primary"
                  role="button"
                ></i>
              </td>
            </tr>
            <ng-container *ngIf="item.show">
              <tr>
                <td colspan="100%">
                  <div class="rounded-top table-responsive">
                    <table
                      class="table table-bordered table-striped table-sm mt-2"
                    >
                      <thead class="bg-light">
                        <tr class="text-center text-uppercase">
                          <th>Funcionario</th>
                          <th>Acción</th>
                          <th>Turno asignado</th>
                          <th>Día del turno</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let element of item.elements"
                          class="text-center"
                        >
                          <td>
                            {{
                              element?.rotating_turn_hour?.person?.full_names
                                | uppercase
                            }}
                          </td>
                          <td>
                            {{
                              element.action == "create"
                                ? "Creación"
                                : "Edición"
                            }}
                          </td>
                          <td>
                            {{
                              element?.rotating_turn_hour?.turno_rotativo?.name
                                | uppercase
                            }}
                          </td>
                          <td>
                            {{ element?.rotating_turn_hour?.date | date }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
    <mat-paginator
      *ngIf="paginationMaterial"
      [length]="paginationMaterial?.total"
      [pageSize]="paginationMaterial?.per_page"
      [pageIndex]="paginationMaterial?.current_page - 1"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="_modal.close()">
      Cerrar
    </button>
  </div>
</ng-template>

<ng-template #notDataHistory>
  <app-not-data [loading]="loadingHistory"></app-not-data>
</ng-template>
