<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Asignación de horarios</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <form [formGroup]="formFilters" (ngSubmit)="makeRequestBySemana()">
          <div class="row">
            <mat-form-field class="col" appearance="outline">
              <mat-label>Grupo</mat-label>
              <mat-select
                formControlName="group_id"
                (selectionChange)="makeRequestBySemana()"
              >
                <mat-option
                  *ngFor="let group of groupList"
                  [value]="group.value"
                >
                  {{ group.text }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col" appearance="outline">
              <mat-label>Dependencia</mat-label>
              <mat-select
                formControlName="dependency_id"
                (selectionChange)="makeRequestBySemana()"
              >
                <mat-option
                  *ngFor="let dependency of dependencyList"
                  [value]="dependency.value"
                >
                  {{ dependency.text }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col" appearance="outline">
              <mat-label>Funcionario</mat-label>
              <input
                matInput
                type="text"
                placeholder="Busca por funcionario"
                formControlName="person"
                [readonly]="false"
                (input)="makeRequestBySemana()"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="col">
              <mat-label>Semana</mat-label>
              <input
                matInput
                [satDatepicker]="pickerDate"
                [value]="date"
                (dateChange)="selectedDate($event)"
                name="daterange"
                autocomplete="off"
              />
              <sat-datepicker #pickerDate [rangeMode]="true"></sat-datepicker>
              <sat-datepicker-toggle
                matSuffix
                [for]="pickerDate"
              ></sat-datepicker-toggle>
            </mat-form-field>

            <!-- <mat-form-field class="col" appearance="outline">
              <mat-label>Semana</mat-label>
              <input
                matInput
                type="week"
                (change)="makeRequestBySemana()"
                formControlName="week"
                required
              />
            </mat-form-field> -->
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
    <h5><span class="badge badge-pill badge-warning">Semana del {{startWeek | date}} al {{endWeek | date}}</span></h5>
    <ng-container *ngIf="datosGenerales.length > 0 && !loading; else notData">
      <ng-container *ngFor="let company of datosGenerales">
        <ng-container *ngFor="let group of company.groups">
          <ng-container *ngFor="let dependency of group.dependencies">
            <h6 class="text-center text-uppercase text-primary">
              {{ group.name }} - {{ dependency.name }}
            </h6>
            <app-semana-turno
              [people]="dependency.people"
              [turnosRotativos]="turns"
              [diaInicial]="diaInicialSemana"
              [changeWeek]="changeWeek"
              [diaFinal]="diaFinalSemana"
            ></app-semana-turno>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
<!--
<div class="alert alert-secondary" >
  <p class="font-weight-bold text-center">
    Aún no existen centros de costos, puede agregarlos desde el menú
    "Configuración"
  </p>
</div> -->
<!-- <button
                *ngIf="datosGenerales.length"
                title="descargar"
                class="btn btn-info btn-sm ml-2"
                (click)="descargarInformeTurnos(group.id)"
              >
                <i class="fa fa-download"></i> Descargar
              </button> -->
