<div class="card">
  <div class="card-body">
    <div
      class="row card-title d-flex justify-content-between d-flex align-items-center"
    >
      <div class="col-md-6">
        <div class="row d-flex align-items-center">
          <div class="col-md-6 text-center">
            <img
              [src]="funcionario.image | image"
              class="img-rounded img-thumbnail rounded-circle mx-auto img-fluid"
              alt=""
              onerror="this.src='../../../../../../../assets/images/noprofile.png'"
            />
          </div>
          <div class="col-md-6 text-center">
            <h5 class="text-primary">
              {{ funcionario.first_name }} {{ funcionario.second_name }}
              {{ funcionario.first_surname }} {{ funcionario.second_surname }}
            </h5>
            <strong *ngIf="funcionario.title != 'null'">
              {{ funcionario.title }}
            </strong>
            <strong>
              {{ funcionario.signature }}
            </strong>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <!-- <img
            src="../../../../../../../assets/images/coin-icon.svg"
            height="80"
            alt=""
          /> -->
        <h5 class="text-primary">Salario base</h5>
        <strong>${{ funcionario.salary | currency: "":"" }}</strong>
      </div>
      <div class="col-md-3 text-center">
        <!-- <img
            height="80"
            src="../../../../../../../assets/images/vacations-icon.svg"
            alt=""
          /> -->
        <h5 class="text-primary">Vaciones acumuladas</h5>
        <strong>en desarrollo</strong>
      </div>
    </div>
    <hr class="line" />
    <div class="d-flex justify-content-end">
      <div class="btn-group rounded w-sm-100">
        <button
          type="button"
          class="btn btn-danger btn-sm"
          (click)="liquidar('PreLiquidado')"
        >
          Preliquidar
        </button>
        <button
          *ngIf="user?.state == 'Activo'"
          type="button"
          class="btn btn-secondary btn-sm"
          (click)="bloquear('Inactivo')"
        >
          <i class="fas fa-ban"></i> Bloquear
        </button>
        <button
          *ngIf="user?.state == 'Inactivo'"
          type="button"
          class="btn btn-success btn-sm"
          (click)="bloquear('Activo')"
        >
          <i class="fas fa-check"></i> Activar
        </button>
        <div ngbDropdown container="body" class="dropdown-primary">
          <button
            style="border-top-left-radius: 0px; border-bottom-left-radius: 0px"
            ngbDropdownToggle
            class="btn btn-primary btn-sm rounded-right"
            type="button"
          >
            <i class="mdi mdi-chevron-down"></i>
          </button>
          <div ngbDropdownMenu>
            <a
              href="javascript:void(0)"
              class="dropdown-item text-info waves-light caja-botones"
              (click)="verComponent('informacion')"
            >
              <i class="fas fa-user"></i> Información personal</a
            >
            <a
              href="javascript:void(0)"
              class="dropdown-item text-primary waves-light caja-botones"
              (click)="verComponent('documentos')"
            >
              <i class="fas fa-book"></i> Documentos</a
            >
            <a
              href="javascript:void(0)"
              class="dropdown-item text-warning waves-light caja-botones"
              (click)="verComponent('privilegios')"
            >
              <i class="fas fa-lock"></i> Privilegios</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <app-ver-funcionario
        *ngIf="components === 'informacion'"
      ></app-ver-funcionario>
      <app-permissions *ngIf="components === 'privilegios'"></app-permissions>
    </div>
  </div>
</div>
