<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h5 class="text-primary">Seguimiento</h5>
        </div>
        <hr class="line" />
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item px-0"
            *ngFor="let Actividad of ActividadesActa"
          >
            <div class="card-title d-flex justify-content-between">
              <h6>
                <span [class]="AsignarClaseLabel(Actividad.Estado)">{{
                  Actividad.Estado
                }}</span>
              </h6>
              <a *ngIf="Actividad.Imagen != ''" href="javascript:">
                <!-- TODO Images -->
                <!--   <img class="img-radius img-40" src="{{globales.ruta}}/IMAGENES/FUNCIONARIOS/{{Actividad.Imagen}}" alt=""> -->
              </a>
              <a *ngIf="Actividad.Imagen == ''" href="javascript:">
                <!--    <img class="img-radius img-40" src="assets/images/user.jpg" alt="chat-user"> -->
              </a>
            </div>

            <p>
              {{ Actividad.Detalles }} <br />
              <small class="text-muted"> {{ Actividad.Fecha }}</small>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="card-title d-flex justify-content-between">
          <div class="card m-0 p-0 border-0 shadow-none col-md-6">
            <div class="card-horizontal">
              <div class="img-square-wrapper">
                <img src="assets/images/logo2.png" alt="" height="45" />
              </div>
              <div class="card-body p-0 m-0">
                <span class="card-text" style="font-size: x-small">
                  {{ userF.person.company_worked.name }} • NIT
                  {{ userF.person.company_worked.document_number }} •
                  {{ userF.person.company_worked.address }} •
                  {{ userF.person.company_worked.phone }}
                </span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <h4>
              <span class="badge badge-primary">{{ Datos.Codigo }}</span>
            </h4>
            <h6>{{ Datos.Fecha_Creacion | date: "longDate" }}</h6>
            <div class="col-md-3">
              <img
                *ngIf="Datos.Codigo_Qr != ''"
                src="{{ envi.ruta }}IMAGENES/QR/{{ Datos.Codigo_Qr }}"
                class="img-fluid"
                height="30"
                onerror="this.src='../../../../../assets/images/nofound.png'"
              />
              <img
                *ngIf="Datos.Codigo_Qr == ''"
                src="assets/images/sinqr.png"
                height="30"
                class="img-fluid"
                onerror="this.src='../../../../../assets/images/nofound.png'"
              />
            </div>
          </div>

          <!-- <div class="row text-right" style="margin: 0">
            , P.
            <div class="col-sm-12">
              <h4>Acta de Recepción</h4>
              <div class="clearfix"></div>
              <h5>{{ Datos.Codigo }}</h5>
              <h6 style="font-weight: normal">
                Fecha: {{ Fecha | date: "dd/MM/yyyy" }}
              </h6>
              <h6 style="font-weight: normal">Prov.: {{ Datos.Proveedor }}</h6>
              <h6 style="font-weight: normal">
                Compra: {{ Datos.Codigo_Compra }}
              </h6>
            </div>
          </div> -->
        </div>
        <hr class="line" />
        <table
          class="table table-bordered table-responsive-lg table-sm"
          style="font-size: small"
        >
          <thead class="bg-light">
            <tr class="text-center text-uppercase">
              <th>Compra</th>
              <th *ngIf="Tipo == 'Bodega'">Bodega</th>
              <th *ngIf="Tipo == 'Punto_Dispensacion'">Punto</th>
              <th>Productos Ingresados</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td>{{ Datos.Codigo_Compra }}</td>
              <td *ngIf="Tipo == 'Bodega'">{{ Datos.Nombre_Bodega }}</td>
              <td *ngIf="Tipo == 'Punto_Dispensacion'">
                {{ Datos.Nombre_Bodega }}
              </td>
              <td>
                {{ Datos.ConteoProductos }} Producto{{
                  Datos.ConteoProductos > 1 ? "s" : ""
                }}
                Diferente{{ Datos.ConteoProductos > 1 ? "s" : "" }}
              </td>
            </tr>
          </tbody>
        </table>
        <hr />
        <table
          class="table table-bordered table-responsive-lg table-sm"
          style="font-size: small"
        >
          <thead class="bg-light">
            <tr class="text-center text-uppercase">
              <th>Proveedor</th>
              <th>Dirección</th>
              <th>Teléfono</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td>{{ Datos.NombreProveedor }}</td>
              <td>{{ Datos.DireccionProveedor }}</td>
              <td>{{ Datos.TelefonoProveedor }}</td>
            </tr>
          </tbody>
        </table>
        <hr />
        <table
          class="table table-bordered table-responsive-lg table-sm"
          style="font-size: small"
        >
          <thead class="bg-light">
            <tr class="text-center text-uppercase">
              <th>#</th>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Archivo</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of Facturas; let i = index"
              class="text-center"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ item.Factura }}</td>
              <td>{{ item.Fecha_Factura }}</td>
              <td>
                <a
                  href="{{ envi.ruta }}ARCHIVOS/FACTURAS_COMPRA/{{
                    item.Archivo_Factura
                  }}"
                  target="_blank"
                  title="Descargar Archivo"
                  ><i class="fas fa-file-pdf"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
        <hr />
        <table
          class="table table-bordered table-responsive-lg table-sm"
          style="font-size: small"
        >
          <thead class="bg-light">
            <tr class="text-center text-uppercase">
              <th>Observaciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td>{{ Datos.Observaciones }}</td>
            </tr>
          </tbody>
        </table>
        <hr />
        <table
          class="table table-bordered table-responsive-lg table-sm"
          style="font-size: small"
        >
          <thead class="bg-light">
            <tr class="text-center text-uppercase">
              <th>#</th>
              <th>Producto</th>
              <th>Solicitadas</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of Productos; let i = index"
              id="fila{{ i }}"
              class="text-center"
            >
              <td class="align-middle">
                {{ i + 1 }}
              </td>
              <td class="align-middle">
                <strong>{{ item.Nombre_Comercial }}</strong>
                <span class="text-muted" style="font-size: smaller">
                  {{ item.Nombre_Producto }}
                </span>
              </td>
              <td class="align-middle">
                {{ item.Cantidad_Solicitada | number | puntos }}
              </td>
              <td class="align-middle" colspan="6">
                <table
                  class="table table-bordered table-responsive-lg table-sm"
                  style="font-size: small"
                >
                  <thead class="bg-light">
                    <tr class="text-center text-uppercase">
                      <th>Cantidad</th>
                      <th>Lote</th>
                      <th>FV</th>
                      <th>Precio</th>
                      <th>Iva</th>
                      <th>Subtotal</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let lote of item.Lotes" class="text-center">
                      <td class="align-middle">
                        {{ lote.Cantidad | number | puntos }}
                      </td>
                      <td class="align-middle">
                        {{ lote.Lote }}
                      </td>
                      <td class="align-middle">
                        {{ lote.Fecha_Vencimiento }}
                      </td>
                      <td class="align-middle">
                        {{ lote.Precio | currency: "COP" }}
                      </td>
                      <td class="align-middle">{{ lote.Impuesto }}%</td>
                      <td class="align-middle">
                        {{ lote.Precio * lote.Cantidad | currency: "COP" }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>

              <!-- <td class="text-center">{{item.Precio}} </td>
                        <td class="text-center">{{item.Lote}} </td>
                        <td class="text-center">{{item.Fecha_Vencimiento}} </td> -->
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-end">
          <table
            class="table table-hover table-sm col-md-4"
            style="font-size: small"
          >
            <tbody>
              <tr>
                <th>(=) SubTotal :</th>
                <td class="text-right">
                  {{ Datos.Subtotal | currency: "COP" }}
                </td>
              </tr>
              <tr>
                <th>(+) Iva :</th>
                <td class="text-right">
                  {{ Datos.Impuesto | currency: "COP" }}
                </td>
              </tr>
              <tr>
                <th>(=) Total :</th>
                <td class="text-right">{{ Datos.Total | currency: "COP" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button
          *ngIf="permiso && Datos.Estado == 'Pendiente'"
          [swal]="{
            title: '¿Está Seguro?',
            text: 'Se dispone a aprobar el acta de recepción ',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Si, aprobar',
            cancelButtonText: 'No, déjame comprobar'
          }"
          (confirm)="
            aprobarActa(Datos.Id_Acta_Recepcion, Datos.Id_Bodega_Nuevo)
          "
          type="button"
          class="btn btn-primary btn-block"
        >
          Aprobar acta
        </button>
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="float-right">
              <button
                *ngIf="Tipo == 'Bodega'"
                type="button"
                [routerLink]="['/inventario/acta-recepcion']"
                class="btn btn-primary btn-sm btn-block"
              >
                Volver
              </button>
              <button
                *ngIf="Tipo == 'Punto_Dispensacion'"
                type="button"
                [routerLink]="['/inventario/acta-recepcion']"
                class="btn btn-primary btn-sm btn-block"
              >
                Volver
              </button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<swal #confirmacionSwal title="" text="" type=""></swal>
