<div class="card">
  <div class="card-body">
    <h4 class="text-primary">Responsables</h4>
    <hr class="line" />
    <ul class="list-group list-group-flush">
      <ng-container *ngFor="let responsible of responsibles">
        <li
          class="list-group-item d-flex justify-content-between align-items-center px-0"
        >
          {{ responsible.name }}
          <p-dropdown
            [options]="people"
            optionLabel="text"
            [filter]="true"
            class="col-6 px-0 w-100"
            filterBy="text"
            appendTo="body"
            (onChange)="changeResponsible($event.value, responsible.id)"
            optionDisabled="disabled"
            [(ngModel)]="responsible.person_id"
            optionValue="value"
          ></p-dropdown>
          <!-- <ng-select
            [items]="people"
            bindLabel="text"
            bindValue="value"
            appearance="outline"
            [appendTo]="'body'"
            placeholder="Funcionario"
          >
          </ng-select> -->
        </li>
      </ng-container>
    </ul>
  </div>
</div>
