<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Funcionarios</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button [routerLink]="['crear']" class="btn btn-primary btn-sm">
            <i class="fa fa-user-plus"></i> Nuevo
          </button>
          <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="selectedStatus" multiple>
              <mat-option
                (click)="stat.selected = !stat.selected; getPeople()"
                *ngFor="let stat of status; let i = index"
                [value]="stat.id"
                >{{ stat.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Dependencias</mat-label>
            <mat-select [(ngModel)]="selectedDependencies" multiple>
              <mat-option
                (click)="dependency.selected = !dependency.selected; getPeople()"
                *ngFor="let dependency of dependencies; let i = index"
                [value]="dependency.value"
                >{{ dependency.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- <section>
          <h6>Estado</h6>
          <mat-checkbox
            color="primary"
            *ngFor="let stat of status; let i = index"
            (change)="stat.selected = !stat.selected; getPeople()"
            [checked]="stat.selected"
            class="mx-2"
            >{{ stat.name }}</mat-checkbox
          >
        </section> -->
        <!-- <section>
          <h6>Dependencias</h6>
          <mat-checkbox
            color="primary"
            *ngFor="let dependency of dependencies; let i = index"
            (change)="dependency.selected = !dependency.selected; getPeople()"
            [checked]="dependency.selected"
            class="mx-2"
            >{{ dependency.text }}</mat-checkbox
          >
        </section> -->
      </mat-expansion-panel>
    </mat-accordion>
    <div class="row">
      <mat-form-field class="col pb-0" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          type="text"
          placeholder="Busca por nombre"
          (input)="getPeople(1, $event.target.value)"
          name="name"
          autocomplete="off"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        
        *ngIf="!loading && people.length > 0; else notData"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Foto</th>
            <th>Nombre</th>
            <th>N. identificación</th>
            <th>Dependencia</th>
            <th>Cargo</th>
            <th>Estado</th>
            <th>Ver</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of people" class="text-center text-uppercase">
            <td class="align-middle">
              <div>
                <img
                  [src]="item.image | image"
                  onerror="this.src='../../../../assets/images/noprofile.png'"
                  class="rounded-circle mx-auto img-fluid header-profile-user"
                />
              </div>
            </td>
            <td class="align-middle">
              {{ item.first_name }} {{ item.first_surname }}
            </td>
            <td class="align-middle">{{ item.identifier }}</td>
            <td class="align-middle">{{ item.dependency }}</td>
            <td class="align-middle">{{ item.position }}</td>
            <td class="align-middle">{{ item.status }}</td>
            <td class="align-middle">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                [routerLink]="[
                  '/ajustes/informacion-base/funcionario',
                  item.id
                ]"
              >
                <i class="fas fa-eye"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="pagination.collectionSize"
      (pageChange)="getPeople($event)"
      [pageSize]="pagination.pageSize"
      [(page)]="pagination.page"
      maxSize="5"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
    ></ngb-pagination>
    <!-- <div>
      <div
        *ngIf="!loading && people.length > 0; else notData"
        class="row no-gutters text-center"
      >
        <div
          class="col-xl-3 p-2 col-sm-6 d-flex align-items-stretch"
          *ngFor="let person of people"
        >
          <div
            role="button"
            class="card pointer border border-light"
            [routerLink]="['/ajustes/informacion-base/funcionario', person.id]"
          >
            <span class="badge badge-primary">{{ person.status }}</span>
            <img
              class="card-img-top"
              src="{{ person.image | image: 'users' }}"
              onerror="this.src='../../../../../assets/images/nofound.png'"
              alt="Card image cap"
            />
            <div class="card-body">
              <p class="card-text">{{ person.company }}</p>
              <h6 class="card-title">
                {{ person.first_name }} {{ person.first_surname }}
              </h6>
              <p class="card-text">{{ person.dependency }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-12"></div>
      </div>
    </div> -->
  </div>
</div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
