.product-box {
    padding: 0 !important;
    margin: 3px !important;

    .product-ribbon {
        left: 0 !important;
    }
}




.badge {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
}