.product-box {
    padding: 0 !important;
    margin: 3px !important;
    .product-ribbon {
        left: 0 !important;
    }
}

.img-fluid {
    height: 250px;
    width: 250px;
}
hr.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #95c11f, #95c11f, #f0f0f0);
}
.badge {
    position:absolute;
    top:0px;
    left:0px;
    padding:5px;
  }

  img{
    object-fit: cover;
  }

