<div class="card">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <h4 class="text-primary">Pago de vacaciones</h4>
    </div>
    <hr class="line" />
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="!loading && vacations.length > 0; else notData"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Foto</th>
            <th>Funcionario</th>
            <th>Dependencia</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
            <th><i class="mdi mdi-chevron-down"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vacation of vacations" class="text-center">
            <td class="text-center p-0">
              <img
                src="{{ vacation.person.image | image : 'users' }}"
                onerror="this.src='../../../../assets/images/noprofile.png'"
                class="img-thumbnail rounded-circle header-profile-user mx-auto d-block"
              />
            </td>
            <td>
              {{ vacation.person.full_name | titlecase }}
            </td>
            <td>
              {{ vacation.person.contractultimate.position.dependency.name }}
            </td>
            <td>
              {{ vacation.date_start | date : "longDate" }}
            </td>
            <td>
              {{ vacation.date_end | date : "longDate" }}
            </td>
            <td>
              <span
                class="badge"
                [ngClass]="{
                  'badge-success': vacation.pay_vacations.length > 0,
                  'badge-danger': vacation.pay_vacations.length == 0
                }"
                >{{
                  vacation.pay_vacations.length > 0 ? "Pagada" : "Pendiente"
                }}</span
              >
            </td>
            <td>
              <div ngbDropdown container="body" class="dropdown-primary">
                <button
                  ngbDropdownToggle
                  class="btn btn-primary btn-sm"
                  type="button"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <button
                    class="dropdown-item"
                    [ngClass]="{
                      'text-info': vacation.pay_vacations.length > 0,
                      'text-success': vacation.pay_vacations.length == 0
                    }"
                    (click)="openConfirm(add); vacationData(vacation)"
                  >
                    <i
                      class="fas"
                      [ngClass]="{
                        'fa-eye': vacation.pay_vacations.length > 0,
                        'fa-money-bill': vacation.pay_vacations.length == 0
                      }"
                    ></i>
                    {{ vacation.pay_vacations.length > 0 ? "Ver" : "Pagar" }}
                  </button>
                  <button
                    class="dropdown-item text-danger"
                    *ngIf="vacation.pay_vacations.length > 0"
                    (click)="download(vacation)"
                  >
                    <span *ngIf="!donwloading; else status"
                      ><i class="fas fa-file-pdf"></i> Descargar</span
                    >
                    <ng-template #status>
                      <div
                        class="spinner-border spinner-border-sm"
                        role="status"
                      >
                        <span class="sr-only">Loading...</span>
                      </div>
                      Descargando
                    </ng-template>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="pagination.collectionSize"
      [pageSize]="pagination.pageSize"
      (pageChange)="getVacations($event)"
      [(page)]="pagination.page"
      aria-label="Default pagination"
      maxSize="5"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
    >
    </ngb-pagination>
  </div>
</div>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Detalle de vacaciones</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="rounded-top table-responsive">
      <table class="table table-bordered table-striped table-sm">
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Salario</th>
            <th>Días</th>
            <th>Formula = Salario Promedio * Días / 30 Días</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>
              {{ vacation.person.contractultimate.salary | currency : "COP" }}
            </td>
            <td>{{ daysDiference }}</td>
            <td>
              {{ vacation.person.contractultimate.salary }} *
              {{ daysDiference }} / 30
            </td>
            <td class="text-primary">${{ valor | currency : "COP" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="alert alert-info text-center"
      *ngIf="vacation.pay_vacations.length > 0"
      role="alert"
    >
      Estas vacaciones ya han sido pagadas
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      *ngIf="vacation.pay_vacations.length == 0"
      (click)="saveInformation('Pago')"
    >
      Pagar
    </button>
  </div>
</ng-template>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
