<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">Inventario</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button class="btn btn-danger btn-sm" (click)="DescargaExcel()">
            <i class="fas fa-file-pdf"></i> Descargar
          </button>
          <button class="btn btn-info btn-sm" (click)="matPanel.toggle()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion>
      <mat-expansion-panel #matPanel class="mat-elevation-z0">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Nombre del producto</mat-label>
            <input
              matInput
              type="text"
              placeholder="Busca por nombre del producto"
              [(ngModel)]="filtro_nom"
              (input)="filtro()"
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Grupo estiba</mat-label>
            <input
              matInput
              type="text"
              placeholder="Busca por grupo estiba"
              [(ngModel)]="filtro_grupo"
              (input)="filtro()"
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Cantidad disponisble</mat-label>
            <input
              matInput
              type="text"
              placeholder="Busca por cantidad disponible"
              [(ngModel)]="filtro_cant"
              (input)="filtro()"
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Cantidad apartada</mat-label>
            <input
              matInput
              type="text"
              placeholder="Busca por cantidad apartada"
              [(ngModel)]="filtro_cant_apar"
              (input)="filtro()"
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Cantidad seleccionada</mat-label>
            <input
              matInput
              type="text"
              placeholder="Busca por cantidad apartada"
              [(ngModel)]="filtro_cant_sel"
              (input)="filtro()"
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>IVA</mat-label>
            <mat-select
              name="Iva"
              id="Iva"
              [(ngModel)]="filtro_iva"
              (selectionChange)="filtro()"
            >
              <mat-option value="">Todos</mat-option>
              <mat-option value="Si">Sí</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field appearance="outline" class="col">
            <mat-label>Fechas de vencimiento</mat-label>
            <input
              matInput
              [satDatepicker]="picker"
              [value]="date"
              (dateChange)="selectedDate($event)"
              (dateInput)="selectedDate($event)"
              name="daterange"
              autocomplete="off"
              required
            />
            <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
            <sat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></sat-datepicker-toggle>
          </mat-form-field> -->
          <mat-form-field class="col" appearance="outline">
            <mat-label>Bodega</mat-label>
            <mat-select
              [(ngModel)]="bodega_selected"
              (selectionChange)="buscar_categorias($event.value)"
            >
              <mat-option value="">Todas</mat-option>
              <mat-option
                *ngFor="let item of bodegas_nuevo"
                [value]="item.Id_Bodega_Nuevo"
                >{{ item.Nombre }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Categoría</mat-label>
            <mat-select [(ngModel)]="subtipo_punto">
              <mat-option value="">Todas</mat-option>
              <mat-option
                *ngFor="let item of categorias_nuevas"
                [value]="item.Id_Categoria_Nueva"
                >{{ item.Nombre }}</mat-option
              >
            </mat-select>
            <button
              matSuffix
              mat-icon-button
              color="primary"
              (click)="buscar_productos()"
            >
              <mat-icon aria-label="Example icon-button with a heart icon"
                >search</mat-icon
              >
            </button>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Lista de informe</mat-label>
            <mat-select
              [(ngModel)]="lista_informe"
              (selectionChange)="filtro()"
            >
              <mat-option value="">Productos sin lista</mat-option>
              <mat-option
                *ngFor="let item of listas"
                [value]="item.Id_Lista_Ganancia"
                >{{ item.Nombre }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <div class="col mt-3">
            <input
              type="checkbox"
              checked
              color="primary"
              name="sin-inventario"
              id="sin-inventario"
              (change)="filtro()"
            />
            Sin inventario
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- <! TODO Descar lista inventario -->
    <!-- <a href="{{globales.ruta}}php/archivos/descarga_lista_nuevo.php?id={{lista_informe}}" target="_blank" class="btn btn-success btn-sm btn-block" style="line-height: 0 !important; margin-top: 0 !important">
                                              <i class="fa fa-download"></i> Descarga Lista
                                          </a> -->
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="!Cargando_Tabla && Inventarios.length > 0; else notData"
      >
        <!--  -->
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th class="align-middle">Categoría</th>
            <th class="align-middle">Producto</th>
            <th class="align-middle">Embalaje</th>
            <th class="align-middle">Estiba</th>
            <th class="align-middle">Grupo</th>
            <th class="align-middle" *ngIf="permiso">Costo</th>
            <th class="align-middle" *ngIf="!permiso && lista_informe != 0">
              Precio Venta
            </th>
            <th class="align-middle">Cant. Disp</th>
            <th class="align-middle">Cant. Apar</th>
            <th class="align-middle">Cant. Selecc</th>
            <th class="align-middle">Cant. Contra</th>
            <th class="align-middle">Iva</th>
            <th class="align-middle"><i class="mdi mdi-chevron-down"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let inventario of Inventarios; let i = index"
            class="text-center"
          >
            <input
              type="hidden"
              id="NombreProducto{{ i }}"
              [value]="inventario.Nombre_Comercial"
            />
            <td class="align-middle td-edit">
              <strong>{{ inventario.Nombre_Categoria }}</strong>
            </td>
            <td class="align-middle td-edit">
              <strong>{{ inventario.Nombre_Comercial }}</strong
              ><br /><span style="font-size: smaller" class="text-muted">{{
                inventario.Nombre_Producto
              }}</span>
            </td>
            <td class="align-middle td-edit">{{ inventario.Embalaje }}</td>
            <td class="align-middle td-edit">{{ inventario.Nombre_Estiba }}</td>
            <td class="align-middle td-edit">{{ inventario.Nombre_Grupo }}</td>
            <td class="text-right align-middle td-edit" *ngIf="permiso">
              <span
                *ngIf="inventario.Costo"
                style="color: red"
                role="button"
                (click)="verCompras(inventario.Id_Producto, i, addCompras)"
                >{{ inventario.Costo | currency : "COP" }}</span
              >
              <br /><span style="color: rgb(17, 43, 129)">{{
                inventario.Precio_Lista | currency : "COP"
              }}</span>
            </td>
            <td
              class="text-right align-middle td-edit"
              *ngIf="!permiso && lista_informe != 0"
            >
              <span style="color: rgb(17, 43, 129)">{{
                inventario.Precio_Lista | currency : "COP"
              }}</span>
            </td>
            <td class="align-middle td-edit">
              {{
                inventario.Cantidad_Disponible - inventario.cantidadContrato
                  | number : "1.0-0"
              }}
            </td>
            <td class="align-middle td-edit">
              {{ inventario.Cantidad_Apartada | number : "1.0-0" }}
            </td>
            <td class="align-middle td-edit">
              {{ inventario.Cantidad_Seleccionada | number : "1.0-0" }}
            </td>
            <td
              class="align-middle td-edit"
              [ngClass]="{
                'text-danger': inventario.cantidadContrato > 0,
                'text-dark': inventario.cantidadContrato <= 0
              }"
            >
              {{ inventario.cantidadContrato }}
            </td>
            <!-- <td></td> -->
            <td
              class="align-middle td-edit"
              [ngClass]="{
                'text-danger': inventario.Gravado == 'Si',
                'text-success': inventario.Gravado == 'No'
              }"
            >
              {{ inventario.Gravado }}
            </td>
            <!-- <td style="max-width: 100px">{{ inventario.Nombre_Bodega }}</td> -->
            <td class="align-middle">
              <div ngbDropdown container="body" class="dropdown-primary">
                <button
                  ngbDropdownToggle
                  class="btn btn-primary btn-sm"
                  type="button"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <!-- TODO Imprimir etiqueta -->
                  <a
                    class="dropdown-item text-success"
                    target="_blank"
                    role="button"
                  >
                    <i class="fa fa-print"></i> Imprimir etiqueta</a
                  >
                  <a
                    *ngIf="inventario.Cantidad_Apartada > 0"
                    class="dropdown-item text-info"
                    href="javascript:void(0)"
                    (click)="
                      verApartadas(
                        inventario.Id_Inventario_Nuevo,
                        i,
                        addApartadas
                      )
                    "
                  >
                    <i class="fa fa-cart-arrow-down"></i> Ver apartadas</a
                  >
                  <a
                    *ngIf="inventario.Cantidad_Seleccionada > 0"
                    class="dropdown-item text-info"
                    href="javascript:void(0)"
                    (click)="verSeleccionadas(inventario, i, addSeleccionadas)"
                  >
                    <i class="fa fa-cart-arrow-down"></i> Ver seleccionadas</a
                  >
                  <a
                    *ngIf="inventario.cantidadContrato > 0"
                    class="dropdown-item text-info"
                    href="javascript:void(0)"
                    (click)="
                      verContrato(
                        inventario.Id_Inventario_Nuevo,
                        i,
                        addContrato
                      )
                    "
                  >
                    <i class="fa fa-eye"></i> Ver contrato</a
                  >
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="TotalItems"
      [(page)]="page"
      [pageSize]="pageSize"
      [maxSize]="maxSize"
      size="sm"
      (pageChange)="paginacion()"
      [boundaryLinks]="true"
    ></ngb-pagination>
  </div>
</div>

<ng-template #notData>
  <app-not-data [loading]="Cargando_Tabla"></app-not-data>
</ng-template>

<ng-template #addContrato let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Cantidad contrato</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="
          !CargandoDetalleContrato && DetalleContrato.length > 0;
          else notDataContrato
        "
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Nombre Contrato</th>
            <th>Tipo Contrato</th>
            <th>Cantidad</th>
            <th>Cantidad Apartada</th>
            <th>Cantidad Selccionada</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of DetalleContrato" class="text-center">
            <td>{{ item.Nombre_Contrato }}</td>
            <td>{{ item.Tipo_Contrato }}</td>
            <td>{{ item.cantidadContrato }}</td>
            <td>{{ item.Cantidad_Apartada }}</td>
            <td>{{ item.Cantidad_Seleccionada }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cerrar
    </button>
  </div>
</ng-template>

<ng-template #notDataContrato>
  <app-not-data [loading]="CargandoDetalleContrato"></app-not-data>
</ng-template>

<ng-template #addApartadas let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">
      Remisiones que apartaron el producto
    </h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="rounded-top table-responsive">
      <table class="table table-bordered table-striped table-sm">
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Nombre</th>
            <th>Lote</th>
            <th>Fecha de vencimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>{{ nombre_producto }}</td>
            <td>{{ lote_producto }}</td>
            <td>{{ fecha_venc_producto | date : "dd/MM/yyyy" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="
          !Cargando_Apartadas && Apartadas.length > 0;
          else notDataApartadas
        "
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Código</th>
            <th>Fecha</th>
            <th>Identificación Funcionario</th>
            <th>Destino</th>
            <th>Cantidad</th>
            <th>Fase</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Apartadas" class="text-center">
            <td>
              <a
                [routerLink]="[
                  '/inventario/remisiones/remision/',
                  item.Id_Remision
                ]"
                (click)="modal.dismiss('Cross click')"
                >{{ item.Codigo }}</a
              >
            </td>
            <td>{{ item.Fecha | date : "dd/MM/yyyy" }}</td>
            <td>{{ item.Identificacion_Funcionario }}</td>
            <td>{{ item.Destino }}</td>
            <td>{{ item.Cantidad }}</td>
            <td>{{ item.Fase }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cerrar
    </button>
  </div>
</ng-template>

<ng-template #notDataApartadas>
  <app-not-data [loading]="Cargando_Apartadas"></app-not-data>
</ng-template>

<ng-template #addSeleccionadas let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">
      Borradores que seleccionaron el producto
    </h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="rounded-top table-responsive">
      <table class="table table-bordered table-striped table-sm">
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Nombre</th>
            <th>Lote</th>
            <th>Fecha de vencimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>{{ nombre_producto }}</td>
            <td>{{ lote_producto }}</td>
            <td>{{ fecha_venc_producto | date : "dd/MM/yyyy" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="
          !Cargando_Seleccionados && Seleccionados.length > 0;
          else notDataSeleccionadas
        "
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Código</th>
            <th>Fecha</th>
            <th>Identificación Funcionario</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Cantidad</th>
            <th>Lote</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Seleccionados" class="text-center">
            <td>
              {{ item.Codigo }}
            </td>
            <td>{{ item.Fecha | date : "dd/MM/yyyy" }}</td>
            <td>{{ item.Identificacion_Funcionario }}</td>
            <td>{{ item.Nombre_Origen }}</td>
            <td>{{ item.Nombre_Destino }}</td>
            <td>{{ item.Cantidad_Seleccionada }}</td>
            <td>{{ item.Lote }}</td>
            <td>{{ item.Tipo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cerrar
    </button>
  </div>
</ng-template>

<ng-template #notDataSeleccionadas>
  <app-not-data [loading]="Cargando_Seleccionados"></app-not-data>
</ng-template>

<ng-template #addCompras let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Compras realizadas del producto</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="rounded-top table-responsive">
      <table class="table table-bordered table-striped table-sm">
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>{{ nombre_producto }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="!Cargando_Compras && Compras.length > 0; else notDataCompras"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Compra</th>
            <th>Acta Recepcion</th>
            <th>Fecha</th>
            <th>Funcionario Recibió</th>
            <th>Proveedor</th>
            <th>Cantidad</th>
            <th>Costo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Compras" class="text-center">
            <td>
              <a
                *ngIf="item.Id_Compra_N != ''"
                (click)="modal.dismiss('Cross click')"
                [routerLink]="['/compras/ver-nacional', item.Id_Compra_N]"
                >{{ item.Codigo_Compra_N }}</a
              >
              <a
                *ngIf="item.Id_Compra_I != ''"
                (click)="modal.dismiss('Cross click')"
                [routerLink]="['/comprainternacional', item.Id_Compra_I]"
                >{{ item.Codigo_Compra_I }}</a
              >
            </td>
            <td>
              <a
                (click)="modal.dismiss('Cross click')"
                [routerLink]="['/inventario/acta-recepcion/ver', item.Id_Acta]"
                >{{ item.Codigo_Acta }}</a
              >
            </td>
            <td>{{ item.Fecha | date : "dd/MM/yyyy" }}</td>
            <td>{{ item.Funcionario }}</td>
            <td>{{ item.Proveedor }}</td>
            <td>{{ item.Cantidad }}</td>
            <td class="text-right">{{ item.Precio | currency : "COP" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cerrar
    </button>
  </div>
</ng-template>

<ng-template #notDataCompras>
  <app-not-data [loading]="Cargando_Compras"></app-not-data>
</ng-template>

<swal
  #confirmacionSwal
  title="Seleccione Opción"
  text="Debes seleccionar la Bodega"
  html=""
  icon="warning"
></swal>
