<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Crear o editar novedad</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="row">
        <div class="col-md-4" [ngClass]="person_id_invalid ? 'mb-0' : 'mb-4'">
          <ng-select
            formControlName="person_id"
            [items]="people"
            bindLabel="text"
            bindValue="value"
            placeholder="Funcionario"
            appearance="outline"
            [appendTo]="'body'"
            loadingText="loading"
            ngDefaultControl
            required
          >
          </ng-select>
          <span class="ml-2" *ngIf="person_id_invalid">
            <small class="text-danger"><b> Campo obligatorio </b></small>
          </span>
        </div>
        <div
          class="col-md-4"
          [ngClass]="disability_leave_id_invalid ? 'mb-0' : 'mb-4'"
        >
          <ng-select
            formControlName="disability_leave_id"
            [items]="disabilityLeaves"
            bindLabel="text"
            (change)="obtenerTipoNovedad($event.value)"
            bindValue="value"
            appearance="outline"
            [appendTo]="'body'"
            placeholder="Novedad"
            loadingText="loading"
            ngDefaultControl
            required
          >
          </ng-select>
          <span class="ml-2" *ngIf="disability_leave_id_invalid">
            <small class="text-danger"><b> Campo obligatorio </b></small>
          </span>
        </div>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Tipo de novedad</mat-label>
          <input
            matInput
            type="text"
            name="tipo"
            placeholder="Ingresa el tipo de novedad"
            formControlName="disability_type"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Fecha de inicio</mat-label>
          <input matInput type="date" formControlName="date_start" required />
          <mat-error *ngIf="date_start_invalid">Campo obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label># días</mat-label>
          <input
            matInput
            type="number"
            formControlName="number_days"
            required
          />
          <mat-error *ngIf="number_days_invalid">Campo obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field class="col" appearance="outline">
          <mat-label>Fecha de fin</mat-label>
          <input matInput type="date" formControlName="date_end" readonly />
          <mat-error *ngIf="date_end_invalid">Campo obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field
          class="col"
          appearance="outline"
          *ngIf="vacationSelected == true"
        >
          <mat-label>Fecha de reintegro</mat-label>
          <input
            matInput
            type="date"
            name="fecha_reintegro"
            formControlName="payback_date"
            required
          />
        </mat-form-field>
        <mat-form-field
          class="col-md-12 mat-form-field-no-padding textarea"
          appearance="outline"
        >
          <mat-label>Observación</mat-label>
          <textarea
            matInput
            placeholder="Ingrese la observación"
            rows="5"
            formControlName="observation"
            name="observación"
            required
            [cdkTextareaAutosize]="true"
          ></textarea>
          <mat-error *ngIf="observation_invalid">Campo obligatorio</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-default"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="submit"
      (click)="save()"
      [disabled]="!form.valid"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>
