.text-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.stay {
    position: sticky;
    top: 0;
    z-index: 10;
}
hr.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #95c11f, #95c11f, #f0f0f0);
}