<div class="card">
    <div class="card-body">
        <div class="card-title d-flex justify-content-between">
            <h4 class="text-primary">Depreciaciones</h4>
            <div class="btn-group rounded">
                <button style="float: right;" class="btn btn-sm btn-primary"
                    [routerLink]="['/contabilidad/depreciacion']">
                    <i class="fa fa-plus"></i> Agregar
                </button>
                <button class="btn btn-info btn-sm" style="float: right;" (click)="openClose()">
                    <i class="fas fa-sliders-h"></i> Filtros
                </button>
            </div>
        </div>
        <hr class="line">
        <mat-accordion multi>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-form-field class="col-lg-2 col-md-3 col-sm-4 pl-0" appearance="outline">
                    <mat-label>Fecha de inicio</mat-label>
                    <input matInput type="date" [(ngModel)]="fechita" (input)="fechitaF($event)" autocomplete="off"
                        placeholder="Busca por fecha">
                </mat-form-field>
                <mat-form-field class="col-lg-2 col-md-3 col-sm-4 pl-0" appearance="outline">
                    <mat-label>Fecha de fin</mat-label>
                    <input matInput type="date" [(ngModel)]="fechita2" (input)="fechitaF2($event)" autocomplete="off"
                        placeholder="Busca por fecha">
                </mat-form-field>
                <mat-form-field class="col-lg-2 col-md-3 col-sm-4 pl-0" appearance="outline">
                    <mat-label>Código</mat-label>
                    <input matInput type="text" placeholder="Busca por código" [(ngModel)]="Filtros.codigo_orden"
                        (input)="ConsultaFiltrada()">
                </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
        <table class="table table-bordered table-striped table-sm" style="font-size: small;"
            *ngIf="!Cargando && Depreciaciones.length > 0; else notData">
            <thead>
                <tr class="thead-default">
                    <th>Fecha Creación</th>
                    <th>Codigo</th>
                    <th>Funcionario</th>
                    <th>Año </th>
                    <th>Mes</th>
                    <th class="text-center col-1">Estado</th>
                    <th class="text-center col-1">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ai of Depreciaciones; let i = index" id="fila{{i}}">
                    <td>
                        {{ ai.Fecha_Registro | date:'longDate'}}
                    </td>
                    <td><strong>{{ ai.Codigo }}</strong></td>
                    <td> {{ ai.Funcionario}} </td>
                    <td><strong>{{ ai.Anio }}</strong></td>
                    <td> {{ ai.Nombre_Mes}} </td>
                    <td class="text-center"> <span
                            [ngClass]="ai.Estado!='Anulada' ? 'badge badge-primary':'badge badge-danger'">
                            {{ ai.Estado }}</span> </td>
                    <td>
                        <div class="text-center">
                            <div ngbDropdown class="dropdown-primary">
                                <button ngbDropdownToggle class="btn btn-primary btn-sm waves-effect waves-light "
                                    type="button">
                                    <i class="mdi mdi-chevron-down"></i>
                                </button>
                                <div ngbDropdownMenu>
                                    <a class="dropdown-item text-info waves-light waves-effect caja-botones"
                                        href="{{enviromen.ruta}}php/contabilidad/movimientoscontables/movimientos_depreciacion_pdf.php?id_registro={{ai.Id_Depreciacion}}&id_funcionario_elabora={{1}}"
                                        target="_blank">
                                        <i class="fa fa-print"></i> Ver PCGA </a>
                                    <a class="dropdown-item text-info waves-light waves-effect caja-botones"
                                        href="{{enviromen.ruta}}php/contabilidad/movimientoscontables/movimientos_depreciacion_pdf.php?id_registro={{ai.Id_Depreciacion}}&id_funcionario_elabora={{1}}&tipo_valor=Niif"
                                        target="_blank">
                                        <i class="fa fa-print"></i> Ver NIIF </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination class="d-flex justify-content-center pagination-rounded pagination-sm"
            [collectionSize]="TotalItems" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize" size="sm"
            (pageChange)="ConsultaFiltrada(true)" [boundaryLinks]="true">
        </ngb-pagination>
        <div class="d-flex justify-content-center">
            <small>
                {{InformacionPaginacion.desde}} - {{InformacionPaginacion.hasta}} de {{
                        InformacionPaginacion.total }}
            </small>
        </div>
        <!-- <div id="paginacion-container" *ngIf="Depreciaciones.length > 0">
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-8">
                                    </div>
                                </div>
                            </div> -->
    </div>
</div>

<ng-template #notData>
    <app-not-data [loading]="Cargando"></app-not-data>
</ng-template>